[2021-01-24 19:41] brianrufgsa opened #819 "Documentation Update: Control Representations in SSP"
# User Story:

As an OSCAL SSP author, I need to understand options for representing controls that meet various organizational needs and circumstances, such as representing control responses for a whole control compared to representing content for individual statements within a control.

## Goals:

- Identify scenarios for control representation
- Provide diagrams, examples, and explanations for e

[2021-01-24 19:59] brian-ruf opened #820 "Control Syntax Renaming Investigation (Catalog and SSP)"
# User Story:

When considering different scenarios for OSCAL usage as well as industry terminology it may be prudent to rename OSCAL syntax related to controls.

## Goals:

- Re-evaluate syntax naming choices in the context of recent requests and conversations.
- Adjust any syntax if it provides added value.
- Make any adjustments before the next release candidate.

## Dependencies:

None.

## Ac

[2021-02-02 18:39] cbashioum opened #821 "Add recommended test to component description"
# User Story:

As an OSCAL component description implementer, I would like to add the ability to identify recommended ways of testing how my component or capability implements a given control

## Goals:

I would like to be able to have a sub-element of the implemented-requirement element that allows me to identify in narrative form potential ways to test that the conrol is successfullly implemente

[2021-02-02 19:34] cbashioum opened #822 "Guidance for granularity of component definition"
# User Story:

As an OSCAL component description implementer, I would like to have some "rule of thumb" or other guidance/recommendations on what would be a reasonable granularity of the component

## Goals:

Whether I am a vendor or capability provider (e.g., a Government PMO), I would like some guidance on how to approach identifying a reasonable granularity of component.  In some cases, I may b

[2021-02-11 18:31] david-waltermire-nist commented on #771
This issue looks like it was addressed.

[2021-02-11 18:31] #771 closed

[2021-02-11 18:36] david-waltermire-nist commented on #615
I think this was done in the PRs leading up to RC1. Need to verify.

[2021-02-11 20:39] wendellpiez opened #829 "Metaschema enhancements for OSCAL (empty elements)"
# User Story:

New Metaschema enhancements will permit improvements in the OSCAL models. We need to review and manage these feature requests, staging them for implementation.

This is a tracking issue for them, to be accompanied (for testing) by the revisions to the OSCAL metaschemas.

Issues to be considered are here (bearing on empty elements):

- [x] usnistgov/metaschema#66
- [x] usnistgov/meta

[2021-02-11 21:27] #818 closed

[2021-02-12 18:51] wendellpiez commented on #615
@david-waltermire-nist if you like we could add this to the Metaschema Schematron.

Probably we would test for title case by tokenizing and examining the tokens for capitalization, accommodating for any known exceptions.

To save anyone's having to look it up: the XPath for these in a metascheme is `//formal-name`.

[2021-02-12 20:03] sunstonesecure-robert commented on #590
this is what we are going with for now

[2021-02-12 20:10] ohsh6o commented on #590
@sunstonesecure-robert, is this how you are addressing cncf/sig-security#423?

[2021-02-12 20:29] wendellpiez commented on #590
@david-waltermire-nist perhaps it would be opportune to re-open the question of which elements should be permissible at the root? Currently I believe the XSD and JSON Schema generators behave correctly (keying off `define-assembly/root-name` in the composed metaschema); however the OSCAL metaschemas do not take much advantage of this feature.

There is a small risk that more extensive use of `root

[2021-02-12 22:22] sunstonesecure-robert commented on #590
@ohsh6o no, sig-security/423 is a different thing - the CNCF Policy WG effort is for producing output from a kubernetes (or other CNCF project) system as oscal-compatible output - likely not natively oscal (certainly not xml) but at least have all the right properties to allow some kubernetes "operator" (code not human) to easily map each field in the PolicyReport output to oscal.

it does however

[2021-02-12 22:46] brianrufgsa commented on #590
@sunstonesecure-robert as I understand it FedRAMP will take fully compliant OSCAL with appropriate FedRAMP extensions. We are still ramping up our tool set so we aren't quite pushing for OSCAL yet.

That said, **I have always maintained that there needs to be a way to deliver inventory without having to deliver the entire SSP.**

I don't really care how that happens as long as it can be a consiste

[2021-02-15 07:44] avdouglas-nist opened #830 "Rewrite CI/CD Pipeline Validate OSCAL Content Script"
# User Story:
As an OSCAL developer, I need to rewrite the existing Continuous Integration (CI) and Continuous Deployment (CD) script for validating oscal content, in Typescript.
## Purpose:
The module validates OSCAL content in the oscal-content/src repository against the content's respective OSCAL model and format.
## Goals:
- [ ] To improve code design, structure, and/or implementation of the C

[2021-02-15 20:42] avdouglas-nist opened #831 "Rewrite CI/CD Pipeline Validate OSCAL Content Script"
# User Story:
As an OSCAL developer, I need to rewrite the existing Continuous Integration (CI) and Continuous Deployment (CD) script for validating oscal content, in Typescript.
## Purpose:
The module validates OSCAL content in the oscal-content/src repository against the content's respective OSCAL model and format.
## Goals:
- [ ] To improve code design, structure, and/or implementation of the C

[2021-02-15 22:35] david-waltermire-nist commented on #830
This issue has been replaced with #831.

[2021-02-15 22:35] #830 closed

[2021-02-16 14:27] wendellpiez commented on #590
Should we promote this Issue or spin off a new Issue from it? What is the requirement here and has it (not) been addressed via the Metaschema `define-assembly/root-name` feature? Are there particular elements that are now (not) permitted to be roots, but should (not) be?

The goal of the Issue was to "define a way to validate OSCAL file fragments", while the term 'fragment' was also not defined. H

[2021-02-16 18:32] brian-ruf opened #832 "Profile Resolver Not Removing Specified Content"
# Describe the bug

Content is not being removed as expected by the profile resolver transform when using the `modify/alter/remove` directive,

Specifically, when using the `@name-ref` attribute to remove a `prop`, `part`, or `annotation` with an `@name` attribute matching the identified `@name-ref` value.

# Who is the bug affecting?

Anyone using the profile resolver transform to resolve a profi

[2021-02-16 18:38] brian-ruf opened #833 "Profile Remove Statement Support for @ns"
# User Story:

When using the remove statement, in an OSCAL profile, it may be necessary to ensure the removal of content based on the value of `@ns` on a `prop`, `part`, or `annotation`.

The absence of the `@ns` reference on a `remove` directive should be interpreted as only performing the remove on OSCAL syntax falling within the NIST OSCAL namespace itself.

Along with this, the functionality

[2021-02-17 20:02] #813 closed

[2021-02-21 01:56] brianrufgsa opened #837 "AP/AR/POA&M Local Definitions and Meatadata Party/Location Require a Link to Corrected Content"
# User Story:

**When a local definition is a correction, a mechanism is required to link the corrected content to the original content.**

We intend for the the AP, AR, and POA&M to reference content in the SSP when present and accurate (and for the AR to reference content in the AP as appropriate).

We say that whenever content is missing or inaccurate in the SSP (or AP when appropriate), the mi

[2021-02-21 02:04] brianrufgsa commented on #837
I recommend establishing a "corrects-uuid" property in:
- /assessment-plan/metadata/party
- /assessment-plan/metadata/location
- /assessment-plan/local-definitions/component
- /assessment-plan/local-definitions/inventory-item
- /assessment-plan/local-definitions/user
- /assessment-results/metadata/party
- /assessment-results/metadata/location
- /assessment-results/result/local-definitions/componen

[2021-02-22 14:17] wendellpiez commented on #792
I have lately confirmed that ANY remains to be implemented (on both JSON and XML sides).

Unlike other elements where `ANY` is stipulated, however, `biblio` is just a stub - this is why it is presently unusable as Chris describes. (Because we shouldn't have included it at all until we had confirmed all our questions about the ANY feature.)

In other words, as soon as `ANY` is enabled we should tes

[2021-02-22 15:32] iMichaela commented on #837
@brianrufgsa If the latest, accurate information is permitted to be scattered in all places under `local definitions` (for `component`, `inventory-item`, `user` and `control-objective`), is there a danger to not be able to identify what is correct/accurate for a system, despite the `corrects-uuid` added artifact, especially that the AP, AR and POA&M are authored not by the system owner? Is it poss

[2021-02-22 15:52] brianrufgsa commented on #837
@iMichaela The SSP is authored by the system owner. The AP and AR are authored by the assessor.

The assessor must never modify SSP content. They may ask the system-owner to do so, but when that is not practical, the assessor needs a way to add missing information and update inaccurate information. This approach is already part of the design and it outside the scope of this issue.

This issue only

[2021-02-22 16:49] wendellpiez commented on #814
At one point there was a filter that removed definitions that are not descended from assemblies defined with `root-name`, i.e. designated to be valid roots. It was disabled due to conflicts with the 'local' definition feature (since resolved). So it is related to usnistgov/metaschema#31.

This filter needs to be restored and tested. This work is happening with usnistgov/metaschema#117 and other Me

[2021-02-22 16:56] iMichaela commented on #837
@brianrufgsa - I am very well aware of the documents' ownership and hence the comment. I like very much the local 'update' solution, put I wonder it there is a direct way of collecting this information and pushing it back to the system owner (using maybe the POA&M to collect it and convey it in one package)? Because today the page with the ATO signature is attached to the SSP in front, as a cover

[2021-02-22 17:24] brianrufgsa commented on #837
The POA&M is also a system-owner authorized document. The assessor may update it on behalf of the system owner.

In theory, anything the assessor added or corrected is in `local-definitions`, so it could be as easy as a summary of that content, which is what we said in the workshop and what we are saying in the FedRAMP guides.

[2021-02-22 17:42] iMichaela commented on #837
@brianrufgsa - yes, that was the thought I had - assessors could use the POA&M and their right to update it, to convey or gather the `local-definitions` information in one place (POA&M) so the 'errata' is made easily available to the system owner.
 I like the sound of : "so it could be as easy as a summary of that content" coming form you because it is what I think too. Should I understand that PO

[2021-02-22 17:56] brianrufgsa commented on #837
Yes. That is the intention; however, the thought is that since both are typically authored by the system owner, the local-definitions will not be used as extensively.

Some of the POA&M use cases might include:
- adding a scanning tool to the local-definitions of the POA&M since scanning tools are often not defined in the SSP.
- Keeping a component or inventory-item in the POA&M when it is no long

[2021-02-22 21:01] wendellpiez commented on #814
We have re-introduced the filter (mentioned above) to be more assertive in removing unused definitions from both XSD and JSON Schemas. Next, testing to see whether this actually addresses the problems here.

[2021-02-26 23:11] wendellpiez opened #839 "Metaschema check for OSCAL metaschemas"
# User Story:

There are a few specific checks for OSCAL metaschemas specific to OSCAL metaschemas, not any metaschema in general, which should be maintained with OSCAL.

A Schematron can provide for this.

One rule is "warn if group-as is not set to ARRAY" since we want this is the preferred value (over the Metaschema default 'singleton-or-array').

## Goals:

Implement a Schematron 'style checke

[2021-03-01 18:26] david-waltermire-nist opened #840 "Add documentation explaining use of a component definition in an SSP"
# User Story:

As an OSCAL user, I need to understand how a component in an OSCAL component definition can be used in an OSCAL SSP.

The [content](https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/component/) on the OSCAL website is a bit sparse on this topic.

## Goals:

Need to build a diagram similar to the [one](https://files.gitter.im/5c098e9fd73408ce4fb130f4/flRt/OSCAL-C

[2021-03-02 22:11] wendellpiez commented on #805
Relatively lightweight ways to deal with this in the interim:

* Use `matches` constraints in a Metatron implementation for this
* Introduce a new 'charstring' datatype (for example) and call it where wanted
* Refine `markup-line` and `markup-line` with extra constraints (over what is currently enforced).

NB there are other validations one might want such as `matches(.,'\w')`: it is hard to know

[2021-03-04 20:44] #792 closed

[2021-03-04 20:44] #814 closed

[2021-03-05 12:30] degenaro opened #841 "AssessmentResults findings with flexible results values"
# User Story:

As an OSCAL tool developer, I would like AssessmentResults `findings` to have results values beyond the `target.status` allowed values `{ satisfied, not satisfied }`.

## Goals:

In earlier versions of the OSCAL schema, each `finding` had
[code]

This was desirable since valid values were flexible in accordance with a specified system. To align with _XCCDF_, for example, see [xccdf

[2021-03-05 14:30] degenaro opened #842 "Add optional remarks to Property."
# User Story:

As an OSCAL tool developer, I would like to be able to compose remarks about Properties.

## Goals:

One can imagine a Property as essential data element and an Annotation as a non-essential but useful meta-data element. Both would benefit from the ability to make remarks about the entity. Only Annotation allows for remarks presently.

Example: a Property x may have be assigned the

[2021-03-05 19:32] GaryGapinski opened #843 "Profile: identifier specificity when multiple catalogs are imported"
The `<set-parameter>` element of a Profile `<modify>` has a `param-id` attribute which presumably has as its target a Catalog `<control> <param> id` attribute.

How would duplicate parameter IDs in multiple imported Catalogs be differentiated? The other `<set-parameter>` attributes and subordinate elements do not appear to support such distinction.

Consider as an example a Profile which imports t

[2021-03-08 17:39] iMichaela commented on #843
@GaryGapinski In your proposed solution of making  <modify> a child of <import> , how would you then resolve a situation when Control C1 of Catalog K-A is almost identical to Control Cx of catalog K-B, and the profile's author decides to create Profile P-AB with a control C1x that combines C1 and Cx. It is doable by <import> (ing) first C1 from K-A and manually <modify> (ing)  C1 to make it C1x an

[2021-03-08 19:56] david-waltermire-nist commented on #205
Closing this issue due to inactivity.

[2021-03-08 19:56] #205 closed

[2021-03-08 19:58] david-waltermire-nist commented on #307
OSCAL has supported the use of the same field and flag names since adopting the Metaschema M4 toolchain.

[2021-03-08 19:58] #307 closed

[2021-03-09 14:43] tcorsa opened #844 "Name missing from property of select-objective-by-id"
# Describe the bug
The name is missing from the only property of select-objective-by-id. This manifests in two JSON schemas.
Assessment Plan Model: JSON Schema at line 1570 https://github.com/usnistgov/OSCAL/blob/master/json/schema/oscal_assessment-plan_schema.json#L1570
Assessment Results Model: JSON Schema at line 1604 https://github.com/usnistgov/OSCAL/blob/master/json/schema/oscal_assessment-r

[2021-03-09 16:27] GaryGapinski commented on #843
@iMichaela I have not yet progressed to a point at which I can understand your example of control synthesis (one control manufactured from two accompanied by control provenance). I will try to get to that point at some time over the next week or so. An example with XML for K-A, K-B, and P-AB would help.

What I observe at this time is that

- A Catalog can have only a single `<metadata>` element a

[2021-03-10 15:56] wendellpiez commented on #805
Attached is an XSLT (zipped for handling) that produces a breakout listing of all fields and flags, by assigned type, or "[string]" (in brackets) if a string type by default. It polls all the metaschema documents in a collection (line 9). To run, place the XSLT next to a pile of metaschema documents and apply it to itself. The XSLT could be enhanced to give more info (now it only produces plain te

[2021-03-10 16:01] wendellpiez commented on #805
To save a step: here is the result of running against the metaschemas in OSCAL/src/metaschema.

[metaschema-field-types.txt](https://github.com/usnistgov/OSCAL/files/6117185/metaschema-field-types.txt)

[2021-03-10 20:27] wendellpiez opened #845 "Consistency with Boolean fields or empty assemblies in OSCAL models"
# Describe the bug

In the assessment-common metaschema, there are definitions for two assemblies `include-all`, one in `control-objective-selection` and one in `assessment-subject`. (These might be consolidated.) They are empty assemblies - no contents are permitted.

In the profile model, in contrast, there is the semantically similar (identical) element `all`, except this is a Boolean value.

S

[2021-03-10 20:28] wendellpiez commented on #845
BTW this is a breaking change in data instances.

[2021-03-10 22:53] butler54 opened #846 "As a developer using OSCAL 1.0.0rc1 I would like to understand what the update strategy is."
Looking at the current website it appears that is is tracking the master branch in github, and not the tagged releases.

The way I have interpreted this is until we reach 1.0.0 I should be considering the schema in continuous flux. (with the rc's being capability milestones).

My assumption would be that when we hit 1.0.0 - the website would support a stable version as well as the current dev work

[2021-03-10 23:51] david-waltermire-nist commented on #846
Yes. That's correct. We will continue to tag releases [as we have been](https://github.com/usnistgov/OSCAL/releases). These are referenced on the website under [releases](https://pages.nist.gov/OSCAL/contribute/roadmap/).

Starting with 1.0.0, we will start to maintain release and hotfix branches, perhaps using [this strategy](https://nvie.com/posts/a-successful-git-branching-model/).

[2021-03-11 17:20] canb227 opened #847 "Missing "prose" field in XML Outline"
# Describe the bug

Catalog->Control->Part is missing the "prose" element in the XML Outline

Outline:
![image](https://user-images.githubusercontent.com/23513519/110825680-4f134180-8262-11eb-89d3-7f905762d620.png)
https://pages.nist.gov/OSCAL/documentation/schema/catalog-layer/catalog/xml-model-map/
<br/>
<br/>
<br/>
Metaschema:
![image](https://user-images.githubusercontent.com/23513519/11082665

[2021-03-11 17:25] canb227 opened #848 "Misleading or incorrect recursion indicators in XML Format Outline"
# Describe the bug

The XML Format Outline uses the `<tagname/> [0 to inf]` format to describe a recursive element, but this format leads the reader to believe that the recursed elements have no children (they do).

Example (See part and control tags):
![image](https://user-images.githubusercontent.com/23513519/110827883-7e2ab280-8264-11eb-9cd6-38f988522745.png)

# What is affected by this bug?

D

[2021-03-11 17:34] canb227 opened #849 "XML Reference not correctly importing globally defined allowed-values"
# Describe the bug

"Reference" is an allowed-value of "ref" in the globally defined link (defined in metadata), but does not appear in the reference page for link (except where locally defined in control.

XML Reference:
![image](https://user-images.githubusercontent.com/23513519/110828510-17f25f80-8265-11eb-9655-7243ba8fe967.png)
https://pages.nist.gov/OSCAL/documentation/schema/catalog-layer/ca

[2021-03-11 19:57] david-waltermire-nist opened #850 "Consider combining prop and annotation"
# User Story:

As an OSCAL content creator or tool, it is difficult to determine when prop or annotation is appropriate. They have similar models. It would be simpler if these concepts were combined into a single prop object.

## Goals:

1. Discuss with the community a proposal to combine prop and annotation, gaining consensus on the way forward.
2. Make the necessary metaschema changes.
3. Develo

[2021-03-11 20:11] brian-ruf commented on #850
Regardless of whether these are combined or not, I think it is also worth considering in this conversation whether to separate the extension functionality from the prop or annotation, to eliminate `@ns` confusion.

In other words, I think the cleanest approach is:
- eliminate `annotation`
- expand `prop` to include an `@value` flag and `remarks` child (effectively giving it the same ability as `an

[2021-03-11 20:33] ohsh6o commented on #850
Not that I have a definitive opinion yet of which approach might be preferrable to me, but I have received a Ruf cut by way of observation: Brian is correct, I am one such XSLT author who had to learn this the hard way and why I asked so many clarifying questions in the March 5th OSCAL Model Review meeting about proposed extension work.

[2021-03-11 20:34] david-waltermire-nist commented on #851
This is a duplicate of #831.

[2021-03-11 20:34] #851 closed

[2021-03-11 22:20] wendellpiez commented on #842
This concept related to the "consolidate prop and annotation" idea, but seeks to maintain a semantic distinction between properties (of controls or in other contexts), and annotations. However, it may be difficult in practice either to define, or to enforce, a meaningful distinction there. (In the current model their semantics are effectively equivalent apart from `annotation` being annotatable, n

[2021-03-12 14:54] iMichaela opened #852 "ICS files for meetings with the OSCAL community are not downloaded by browsers"
# Describe the bug

OSCAL website provides ICS files for the meetings with our COI. Lately, neither of the two ICS files can be downloaded. They get opened on a separate tab.

# Who is the bug affecting?

All people interested in joining the OSCAL meetings.

# What is affected by this bug?
The community's participation to our meetings

# When does this occur?
When clicking on the ICS file

# How d

[2021-03-15 11:42] #846 closed

[2021-03-15 12:12] david-waltermire-nist opened #854 "Tutorial: Use of components vs capabilities in a component definition"
# User Story:

As an OSCAL content creator, I need guidance and examples of using components and capabilities within an OSCAL [component definition](https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/component/).

## Goals:

- Show how a component is to be used
- Show how a capability is to be used
- Identify the difference between components and capabilities
- Identify how com

[2021-03-15 12:15] david-waltermire-nist opened #855 "Tutorial: Including evidence in an assessment result"
# User Story:

As an OSCAL {stakeholder}, I need guidance on and examples of how to include assessment evidence in an OSCAL [assessment result](https://pages.nist.gov/OSCAL/documentation/schema/assessment-results-layer/assessment-results/) based on the assessment of a given control.

## Goals:

- Illustrate how to associate evidence as part of an observation in an OSCAL assessment result.

## Depe

[2021-03-15 12:28] david-waltermire-nist opened #856 "Support Application Level-Constraints"
# User Story:

As an OSCAL content creator, I need to be able to verify that all required fields are provided and that all values match those allowed by the OSCAL models. The XML and JSON schema does not sufficiently enforce all of these constraints.

This is a tracker issue for other issues in the [usnistgov/metaschema](https://github.com/usnistgov/metaschema) repo, and is continuing the unfinish

[2021-03-15 12:32] david-waltermire-nist commented on #633
Closing this issue based on work merged in December 2020. Continuing constraint work in #856.

[2021-03-15 12:32] #633 closed

[2021-03-15 12:35] david-waltermire-nist commented on #446
Further work on constraint checking will be addressed in #803, #805, and #856. Closing this issue in favor of these more specific issues.

[2021-03-15 12:35] #446 closed

[2021-03-15 12:36] david-waltermire-nist commented on #454
@wendellpiez Can you provide a status update on this issue? Also, can you create new issues in the appropriate repository for the work that needs to be done? Thanks!

[2021-03-15 12:38] david-waltermire-nist commented on #457
@wendellpiez Has this been done?

[2021-03-15 12:42] david-waltermire-nist commented on #525
@wendellpiez I'd like to discuss this with you in regards to any changes that might need to be made in RC2 to make this possible now or in the future. We need to consider making sure this change will not break backwards compatibility.

[2021-03-15 12:46] david-waltermire-nist opened #857 "Tutorial: Extension Mechanisms"
# User Story:

As an OSCAL content creator or consumer, I need guidance on how to use the various OSCAL extension points (i.e., property and links) to provide extended data.

This relates to a question posed in #542.

## Goals:

- Create a tutorial illustrating the use of the OSCAL extension mechanisms.

## Dependencies:

None.

## Acceptance Criteria

- [ ] All [OSCAL website](https://pages.nist.

[2021-03-15 12:47] david-waltermire-nist commented on #542
This question will be addressed by #857.

[2021-03-15 12:47] #542 closed

[2021-03-15 13:00] david-waltermire-nist commented on #597
The remaining work has either been pushed to a different release or has a dedicated issue. Closing.

[2021-03-15 14:37] wendellpiez commented on #454
Since this Issue was written there are several developments that bear on it:

* Creation of the [oscal-tools](https://github.com/usnistgov/oscal-tools) repository
* Likewise, the [oscal-content](https://github.com/usnistgov/oscal-tools) repository now has tooling specific to data sets (such as NIST SP 800-53)
* Consolidating profile resolution logic inside the OSCAL repo

This more dispersed arran

[2021-03-15 14:45] wendellpiez commented on #525
@david-waltermire-nist agreed. Allowing `include` to have `call*, match*` instead of `(call* | match*)`, for example, would be backward compatible as well as forward-compatible with an eventual `(call|match)*` model.

[2021-03-15 14:58] david-waltermire-nist opened #859 "Importing external definitions of parties"
# User Story:

As an OSCAL content creator, I need to import an external listing of parties into an OSCAL document. This allows the shared management of parties which can be reused across multiple documents.

## Goals:

- Provide a mechanism to define a listing of parties in a seperate document.
- Provide an import mechanism, to import externally defined parties.

This relates to issue #590.

## D

[2021-03-15 15:02] david-waltermire-nist opened #860 "Review identifier scoping and uniqueness documentation"
# User Story:

As an OSCAL content creator and consumer, I need clear guidance on the scope and uniqueness of identifiers used within the OSCAL models.

## Goals:

- [ ] Generate a list of identifiers used in the OSCAL models
- [ ] Review model documentation related to these identifiers to ensure their scoping and uniqueness is clearly stated.
- [ ] Add constraints to enforce uniqueness where poss

[2021-03-15 15:31] david-waltermire-nist opened #862 "Tutorial: SSP components"
# User Story:

As an OSCAL content creator, I need to understand how to use components in the OSCAL [SSP](https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/ssp/) model.

## Goals:

- Show how to create an [SSP](https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/ssp/) with multiple components.

Related to #654.

## Dependencies:

None.

## Acceptance Criteri

[2021-03-15 16:15] david-waltermire-nist commented on #843
I believe this relates to #538.

[2021-03-15 17:02] stephenbanghart opened #863 "Version Graph Construction with Links"
# User Story:

As an OSCAL stakeholder, I want to be able to link together OSCAL documents with the next or previous version of that document. RFC5829 provides a well-established mechanism for accomplishing this using the "link" element that already exists in OSCAL.

## Goals:

Support for the "rel" values as defined in [RFC5829](https://tools.ietf.org/html/rfc5829) in links that are children of <

[2021-03-15 17:08] stephenbanghart opened #864 "Reliable document-id mangement"
# User Story:

As an OSCAL stakeholder, I need to reliably track which "document" an OSCAL document is a version of. For example, if an update is released to an OSCAL document, the consumer needs to be aware of which OSCAL document it is replacing.

"document-id" is provided as a construct to accomplish this in OSCAL, but fails to provide this functionality if it is missing in the metadata.

Requi

[2021-03-15 19:50] david-waltermire-nist commented on #852
The server configuration has been updated to respond with the correct media type, which resolves this issue.

[2021-03-15 19:50] #852 closed

[2021-03-16 21:32] #844 closed

[2021-03-17 00:55] ohsh6o opened #866 "Docs Link in Implementation Layer Page to Obsolete Architecture Section"
# Describe the bug

The [rendered OSCAL implementation page](https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/) has a section with a deprecated link to the implementation layer.

# Who is the bug affecting?

Anyone trying to understand architecture references that are from previously existing version of the docs.

# What is affected by this bug?

Appears it is a leftover vest

[2021-03-17 12:20] degenaro commented on #842
Definitions from Websters:

property - a quality or trait belonging and especially peculiar to an individual or thing
annotation - a note added by way of comment or explanation

Clearly two different meanings. In OSCAL each has a value and name and each could benefit by allowing remarks.

[2021-03-17 12:47] degenaro opened #867 "Add set-paramaters to component-definition at components and control-implementations levels"
# User Story:

As an OSCAL tool developer, I would like to efficiently parameterize Component Definitions.

## Goals:

Depending on the parameters, these may be desirable at different levels of the `component-definition` hierarchy. In particular, parameters may apply at the `components` or `control-implementations` levels.

A `set-parameters [0 or 1] `should be added to both the `components` and `

[2021-03-17 13:34] degenaro opened #868 "Restore implementation-status to finding.objective-status in SAR"
# User Story:

As an OSCAL tool developer, I would like to have `implementation-status` restored to finding.objective-status in SAR.

## Goals:

The SSP has `implemented-requirements` with an `implementation-status`. In previous version(s) of OSCAL, the SAR `finding.objective-status` also had` implementation-status`. Having `implementation-status` in the finding is desirable to incorporate in the

[2021-03-17 13:36] wendellpiez commented on #842
:+1. The name 'annotation' is a bit of a kludge, and somewhat misleading (if not simply ambiguous). We are working on refactoring this.

[2021-03-17 21:28] wendellpiez commented on #847
![image](https://user-images.githubusercontent.com/1588228/111540711-dcb0ce80-8745-11eb-83c7-8fb6224a2363.png)

@stephenbanghart @david-waltermire-nist please feel free to suggest improved wording or style.

When the model repeats from an ancestor above the parent, it says "ancestor" (but not grandparent etc).

[2021-03-17 21:39] wendellpiez commented on #847
![image](https://user-images.githubusercontent.com/1588228/111541980-880e5300-8747-11eb-9e15-4e932d1ea6fe.png)

This is when we have an 'unwrapped' markup-multiline object in the XML ... if wrapped it looks like `param/remarks` and says only 'markup-multiline' (with a link).

Let me know what you think @stephenbanghart @david-waltermire-nist

[2021-03-17 21:43] wendellpiez commented on #848
New concept:

![image](https://user-images.githubusercontent.com/1588228/111542431-18e52e80-8748-11eb-9243-43f24ca4e318.png)

(It says 'parent' when it's a parent and 'ancestor' for a more distant ancestor.)

Comments welcome @stephenbanghart @david-waltermire-nist

[2021-03-18 16:18] wendellpiez commented on #670
Corrected in branch behind PR usnistgov/metaschema#127.

[2021-03-19 13:43] david-waltermire-nist commented on #868
This work will be completed in 1.0.0 RC2

[2021-03-19 13:47] david-waltermire-nist commented on #867
We are avoiding adding new features as much as possible during the 1.0.0 RC phase. We will need to work this issue after 1.0.0 is released, since this is a new feature.

[2021-03-19 13:52] david-waltermire-nist commented on #842
This relates to #850, which @wendellpiez is referencing above.

When annotation was added to OSCAL, it was added to allow a model to have a "property" like object that could have a remark. We didn't add remark to properties, because we wanted to have a model construct that didn't allow a remark. This is turning out to be less ideal as the boundary between what is a property and what is an annotati

[2021-03-19 13:54] david-waltermire-nist commented on #841
Can you provide definitions for: pass, fail, error, unknown, notapplicable, notchecked, notselected, informational, fixed?

[2021-03-19 14:32] david-waltermire-nist commented on #857
Also consider `part` in this tutorial.

[2021-03-22 14:00] degenaro commented on #841
re: definitions, see Table 26 on page 43 of [xccdf spec](https://csrc.nist.gov/CSRC/media/Publications/nistir/7275/rev-4/final/documents/nistir-7275r4_updated-march-2012_clean.pdf).
**Specification for the Extensible Configuration Checklist Description Format (XCCDF)Version 1.2**
David Waltermire
Charles Schmidt
Karen Scarfone
Neal Ziring.

[2021-03-23 19:18] david-waltermire-nist commented on #833
Talked with @wendellpiez, and we agreed to add `@ns-ref` to `remove`. I'll work on this change.

[2021-03-23 19:42] david-waltermire-nist commented on #843
Like issue #538, addressing this will involve adding new features to the profile model. Given that we are freezing new features in preparation of the 1.0.0 release, we should address this in OSCAL 1.1.

One way of addressing this is to support control and parameter identifier remapping within the context of a given import. This could be handled through a mapping declaration in the import statement

[2021-03-23 21:30] ohsh6o opened #870 "JSON Arrays with Size Range of 0 to Unbounded Items Require at Least 1 Item in Their Schemas"
# Describe the bug

Per previous conversation earlier in the week, documentation indicates many array constructs generated from `in-json` as `ARRAY` types with the default `minOccurs` when represented in the JSON Schema for validation.

# Who is the bug affecting?

Anyone trying to form objects with `minOccurs="0"` and `maxOccurs="unbounded"` as an empty array in JSON, to be explicit instead of re

[2021-03-24 13:58] wendellpiez commented on #829
This Issue can be closed.

Empty fields are now empty assemblies with these PRs: usnistgov/metaschema#119 #835

Modeling issues respecting `include/all` are being addressed in $845.

[2021-03-24 16:23] wendellpiez commented on #849
Correction is behind https://github.com/usnistgov/metaschema/pull/127 should be good ...

Currently the constraints are given in the order they appear in the composed metaschema, which is arbitrary from the point of view of the reference and not ideal. Thoughts?

![image](https://user-images.githubusercontent.com/1588228/112345631-973b5680-8c9b-11eb-87e0-10cf89bb749e.png)

[2021-03-24 17:24] wendellpiez commented on #839
This could detect when the same element is used with different effective name (`use-name`).

[2021-03-24 17:48] wendellpiez opened #871 ""subject" and/or "assessment-subject" ?"
In the assessment-plan schema, a single object "assessment-subject" is used three times, twice named **subject** (inside **task** and **associated-activity** ) and  once with the name (tag) **assessment-subject** (inside **assessment-plan**).

https://pages.nist.gov/OSCAL/documentation/schema/assessment-layer/assessment-plan/xml-schema/#global_assessment-subject_h2

This might not be a bug, as it'

[2021-03-24 18:10] brian-ruf commented on #871
In December, @david-waltermire-nist and I had a focused conversation on this as we refactored the assessment models.

In general, we tried to simplify to `subject`; however, I think we had some concerns with the root level assembly being simply `subject`. For that we settled on `assessment-subject`. This better also matched `assessment-assets` (for which where was a similar conversation).

I recom

[2021-03-24 20:56] wendellpiez commented on #871
@david-waltermire-nist @brian-ruf partly since this is a feature we have gone to some trouble to implement and test, I too think we should leave this as is -- the documentation is unwieldy, but we already knew that. Really what I think this shows is that the XML documentation as well as the JSON documentation needs to be reorganized to work cleanly from the user's point of view. (I am working on t

[2021-03-25 18:43] stephenbanghart opened #872 "More quickly finding elements in reference documentation"
# User Story:

As an OSCAL user, I want to be able to quickly look up the definitions of various OSCAL elements in the reference documentation. For example [SSP Reference](https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/ssp/xml-schema/)

The navigation sidebar on the left lists the issues but scrolling is currently broken (Firefox 88.0b2 (64-bit)). See left sidebar in image

[2021-03-25 19:53] iMichaela opened #874 "Easy access to OSCAL workshop recordings from the OSCAL pages"
# User Story:

As a new OSCAL user, I would benefit from having easy access to OSCAL recorded presentations.

## Goals:

Provide access to the latest recorded OSCAL presentations available here: [https://www.nist.gov/news-events/events/2021/02/2nd-open-security-controls-assessment-language-oscal-workshop](https://www.nist.gov/news-events/events/2021/02/2nd-open-security-controls-assessment-languag

[2021-03-25 19:54] #863 closed

[2021-03-25 19:54] #864 closed

[2021-03-25 20:53] wendellpiez opened #875 "Typos and glitches in metaschema sources"
# Describe the bug

Renovation of the docs with the new sources is helping to reveal small errors.

So far, here is a list:

## oscal_assessment-common_metaschema.xml

- `/METASCHEMA/define-assembly[7]/model[1]/define-assembly[2]/model/define-field[1]/formal-name` is **Control Ojectives Description**

## implementation-common-metaschema.xml

- `//*[formal-name='title field']` shows there are two *

[2021-03-26 17:53] david-waltermire-nist commented on #874
Currently the workshop is posted on the [related resources](https://pages.nist.gov/OSCAL/downloads/other-resources/#videos-and-presentations) page. We can add this to the tutorial pages as well.

[2021-03-26 17:54] david-waltermire-nist commented on #871
@wendellpiez and @brian-ruf I agree. Closing this issue.

[2021-03-26 17:54] #871 closed

[2021-03-26 21:47] wendellpiez opened #876 "Links to oscal-content repository?"
# User Story:

As an OSCAL user and developer I would naturally like to know about (and show off) the [oscal-content repository](https://github.com/usnistgov/oscal-content).

Somewhat surprisingly, there is no link to this repo currently on the OSCAL site.

One potential location would be the "Related Resources" page at http://localhost:1313/OSCAL/downloads/other-resources/

We might also wish to

[2021-03-27 00:13] iMichaela commented on #876
@wendellpiez would it make sense to have an OSCAL content tab near documentation tab? We could explain the content and, for exemplar,  highlight the specifics of privacy baseline. Later we might need to include additional information on this page.

[2021-03-29 13:27] wendellpiez commented on #876
@iMichaela I think the docs on the content repo should be kept there, and whatever the value of adding or rearranging tabs or menus, I think an easy short-term fix would be just to drop in the links. 🚀

[2021-03-29 13:35] iMichaela commented on #876
@wendellpiez -I agree that OSCAL content documentation needs to remain in the GitHub repo. I was proposing to have pages for the OSCAL content linked to the pages.nist.gov/OSCAL through a tab on top that redirects to the OSCAL-content pages. In this way they can be maintaining separately, but will appear to the public as connected.

[2021-03-29 13:45] wendellpiez commented on #876
Sure, not opposed to that idea! However, it requires a higher level of effort (significantly higher in my view).

[2021-03-29 19:15] iMichaela commented on #876
@wendellpiez - on the OSCAL-content site it needs a change in the settings , a nist-pages branch (or point the pages to the master branch) and an index.md file with the proper information. To keep the same style as OSCAL, might need more work. We can ask @david-waltermire-nist what he prefers. Anything is better than nothing.

[2021-03-29 20:07] david-waltermire-nist commented on #870
@wendellpiez I believe this is a JSON documentation bug,

The correct behavior we should see for `group-as in-json=ARRAY`:
- If the metaschema definition has a field or assembly with `min-occurs=0` then:
   -  the property should be optional
   - The array should require at least 1 item
- If the metaschema definition has a field or assembly with `min-occurs=x` (where X>0) then:
   -  the property

[2021-03-29 20:11] wendellpiez commented on #876
👍 Agreed. We might need two work items, one for oscal-contents repo, one for OSCAL site (pointing to it). I am not sure we wish to stand up Hugo for oscal-contents; there may also more lightweight options available.

[2021-03-29 21:46] wendellpiez commented on #870
@david-waltermire-nist have we confirmed that the JSON Schema (as opposed to the docs) does this correctly?

Either way I can add this to the PR in progress at usnistgov/metaschema#127

[2021-03-30 14:09] wendellpiez commented on #870
Nix the question I see @ohsh6o has shown us most of the relevant JSON Schema snip up higher.

[2021-03-30 15:53] #866 closed

[2021-03-30 15:57] #842 closed

[2021-03-30 15:57] #850 closed

[2021-03-30 17:36] #847 closed

[2021-03-30 17:36] #848 closed

[2021-03-30 17:36] #849 closed

[2021-03-30 17:36] #870 closed

[2021-03-31 18:17] wendellpiez commented on #746
This is an important feature, but it raises questions I am not sure I am ready to answer in the prototype. Be that as it may, it must also be specified and written up as to particulars. `@media-type` on the `rlink` could perhaps be used to indicate the type of resource at the other end of the `rlink`. Hard questions include whether the published profile resolver prototype continues to support only

[2021-03-31 20:07] david-waltermire-nist commented on #670
This was addressed in PR usnistgov/metaschema#127.

[2021-04-01 17:05] david-waltermire-nist commented on #525
This was slated for 1.1, but is going to be made possible based on the refactoring from #845. This means we  can address this in RC2.

[2021-04-01 18:14] david-waltermire-nist commented on #820
We need more specifics around which information elements to rename. This issue is not actionable as-is.

@brian-ruf If you could open new issues that identify specific changes, we can consider these before the 1.0.0 release.

[2021-04-01 18:14] #820 closed

[2021-04-02 00:44] iMichaela opened #883 "Wrong reference to 'profile' instead of POA&M"
# Describe the bug

A. In the OSCAL Documentation, the POA&M description, the statement describing PoA&M Organization refers to 'profile'. See: [https://pages.nist.gov/OSCAL/documentation/schema/assessment-results-layer/poam/](https://pages.nist.gov/OSCAL/documentation/schema/assessment-results-layer/poam/ )

The text reads:

## POA&M Organization
An OSCAL profile is organized as follows:
**Metada

[2021-04-02 14:10] david-waltermire-nist commented on #876
We have lots of links from the site to the oscal-content repo. I did a quick grep and found over 100 links.  I think based on this discussion we need to add a few new strategic links in a few places, to include the top navigation. I don't think creating a new site for content is worth it. Creating a site is a large amount of work for a small incremental amount of value.

[2021-04-02 15:46] degenaro opened #884 "Add type attribute to Property"
# User Story:

As an OSCAL tool developer, I would like Property to have an optional `type` attribute in order to describe the associated `value` attribute.

## Goals:

The `value` attribute's type cannot always be easily inferred. It may be an int, array, string, IP-address, etc.

## Dependencies:

N/A

## Acceptance Criteria

- [x] All [OSCAL website](https://pages.nist.gov/OSCAL) and readme doc

[2021-04-02 15:54] david-waltermire-nist commented on #582
Talked with the OSCAL [model review](https://pages.nist.gov/OSCAL/contribute/model-review/) community about this today. There was consensus on the call to simplify matching to support only a [glob wildcard](https://en.wikipedia.org/wiki/Glob_(programming) pattern.

We can consider adding a regex matching feature in the future, when we have more time to talk through the regex flavor to specify.

[2021-04-02 23:14] bradh commented on #884
Why does the type matter? Why not always treat it as a string?

Same question in another way: what is a consumer meant to do with the `type` information?

[2021-04-05 18:56] wendellpiez commented on #580
Currently, `metadata/last-modified` in the resolved catalog *is copied from the the source profile*. This is in the spirit of the semantics of `last-modified` if one respects the idea that it reflects the time of last (substantive) modification of a file's contents, which might (in the case of a baseline represented by an OSCAL profile), predate the creation of its representation in catalog format

[2021-04-05 21:45] david-waltermire-nist commented on #786
The following property names are present in the SSP component, but not the component-defintion component:
- **implementation-point:** Relative placement of component ('internal' or 'external') to the system.
- **inherited-uuid:** UUID of the component as it was assigned in the leveraged system's SSP.
- **leveraged-authorization-uuid:** UUID of the related leveraged-authorization assembly in this S

[2021-04-05 21:45] #786 closed

[2021-04-05 22:14] wendellpiez commented on #746
Currently working on an implementation that will read XML only (since this is an XSLT stack) from a (linked) `resource/rlink`, taking the first `rlink` available with either 'xml' in its `@media-type` or an `@href` ending with 'xml'. This is intended to cover almost every (XML) use case. We still have to develop guidelines regarding whether profile processors should approach this in general.

[2021-04-05 22:52] bradh commented on #580
@wendellpiez I live in the world where profiles might change less often than the source content. The Australian ISM (https://www.cyber.gov.au/acsc/view-all-content/ism) is issued monthly. My profiles (e.g. "Essential 8") are much slower to evolve.

[2021-04-06 13:22] david-waltermire-nist commented on #875
Addressed by [commit](https://github.com/usnistgov/OSCAL/commit/dc0bffcb5459b17dca047565bf3075af5028dad5).

[2021-04-06 13:22] #875 closed

[2021-04-06 13:43] wendellpiez commented on #580
We designed profiles with that use case in mind. In this case the timestamp of the resolved profile could indeed be earlier than the 'last-modified' date of a source catalog. Hm.

@david-waltermire-nist this points out to me there is actually a set of dates : the `last-modified` timestamp on the source profile and those on all its upstream sources including profiles and ultimate source catalog(s).

[2021-04-06 14:58] wendellpiez commented on #746
A small set of unit tests for this feature has been added (it appears to work).

[2021-04-06 14:59] Rene2mt commented on #860
The following are all the OSCAL model unique identifiers and their corresponding descriptions.  NOTE: there are a few typos (e.g. "refering" and "consistantly") that need to be fixed and some descriptions that may need to be expanded.

oscal\_assessment-common\_metaschema.xml
----------------------------------------

\[\] **Assessment Method Universally Unique Identifier** \- Uniquely identifies t

[2021-04-06 15:46] wendellpiez commented on #582
Profile resolution to be merged into branch #882 now supports glob syntax in `matching/@pattern`.

[2021-04-06 18:54] wendellpiez commented on #580
Discussing with @david-waltermire-nist we decided the simplest approach is to assign the time resolution is performed (creation of the resolution artifact) to `last-modified`, inasmuch as that is the "most correct" of the alternatives, plus also the simplest. The link to the source profile is retained for forensic analysis if wanted.

[2021-04-06 22:59] bradh commented on #580
Concur. I could also live with "if the profile was (re-)resolved but nothing changed, keep the old date".

That would be valid (and might be useful for caching) in the case where my profile is extracting a simple subset of a large catalog, and some of the catalog changed in this month's update, but nothing I'm extracting has changed.

[2021-04-07 00:17] wendellpiez commented on #580
That is an awesome idea but I suggest it should be a feature of a resolver, to notify if it finds no change in such a case. (After all, to detect no change entails identifying a copy for comparison.)

[2021-04-07 00:35] bradh commented on #580
Concur. Just want to make sure it is spec-compliant to do so. It might be annoying for the `last-modified` to be mandated to change on every unique resolution, rather than being an idempotent operation.

[2021-04-07 16:49] GaryGapinski commented on #884
A `type` attribute seems the same as imposing constraints on attribute tuples of `a <prop>`, particularly that of `value`. It would be informative, but normative would be a quite a stretch.

Strong typing (i.e., requiring "correct" combinations of `<prop>` attributes) is not possible in XML Schema. It might be possible in Schematron but only if inferred from the `name `× `ns `× `class` attributes

[2021-04-07 18:40] wendellpiez commented on #580
Yes. Also what the value is if no file is serialized. Etc.

From the point of view of resolution as a function (mapping a to b), adding a timestamp amounts to providing for an arbitrary value provided at runtime. The timestampiness of it is for us to make of and enforce however we can. Our guideline can say "you won't be lying if you provide the time when the resolution was invoked or its results

[2021-04-08 14:28] jasswalkjr opened #887 "What's the difference between leveraged-authorization-uuid and inherited-uuid props?"
In the oscal_leveraging-example_ssp.json document included with v1.0.0-rc1, components of type leveraged-system have two props:

1. leveraged-authorization-uuid, and
2. inherited-uuid

What is the difference between the two props? The description included in the component is a bit ambiguous.
[oscal_leveraging-example_ssp.zip](https://github.com/usnistgov/OSCAL/files/6279375/oscal_leveraging-exampl

[2021-04-08 14:42] #525 closed

[2021-04-08 14:42] #582 closed

[2021-04-08 14:42] #746 closed

[2021-04-08 14:42] #832 closed

[2021-04-08 14:42] #833 closed

[2021-04-08 14:42] #845 closed

[2021-04-08 14:42] #868 closed

[2021-04-08 14:42] #883 closed

[2021-04-08 14:43] david-waltermire-nist commented on #580
This was fixed in PR #882.

[2021-04-08 14:43] #580 closed

[2021-04-08 15:18] SilentEsper commented on #884
This seems like a good call, in some places I'm using a prop to store an array and I simply join all values with a delimiter. If other tools had a way of knowing that from the type parameter, it would make it easier for custom props to interop with each other.

[2021-04-09 00:25] wendellpiez opened #890 "Update oscal-tools XSLT preview to RC2"
# User Story:

There are just a few changes in the catalog model in RC2 that require changes in the generic XSLT preview, notably the redesign of `prop` and elimination of `annotation`.

## Goals:

Update the XSLT preview XSLTs to work gracefully with the RC2 catalog model (or planned 1.0.0 model as appropriate).

Simultaneously, acquire any enhancements from parallel work on (generic and NIST-emu

[2021-04-09 19:52] SilentEsper opened #893 "Consistent format usage in json schemas"
# User Story:

As an OSCAL application engineer, I would like consistency in the format parameter in the JSON schemas.

## Goals:

In some cases, for instance ("date-authorized" in Leveraged Authentications)
Schema definitions use a regex instead of the format parameter for "date" or "date-time"
While in other definitions format: "date-time" is used.
For consistency preferring adding a format para

[2021-04-13 09:04] david-waltermire-nist commented on #680
@wendellpiez We need to design an approach and discuss this with the model review.

We should consider bumping this to OSCAL 1.1, unless this can be handled completely using `link` and `prop`.

[2021-04-13 09:42] david-waltermire-nist commented on #841
@stephenbanghart I'd like you to organize this as a model review discussion topic.

[2021-04-13 09:45] #599 closed

[2021-04-13 09:50] david-waltermire-nist commented on #654
@Rene2mt We should discuss the way forward on this issue which outlines a few tutorials. Once we have a solid outline, I'd like to have you start working on a tutorial in this series.

[2021-04-13 09:58] david-waltermire-nist commented on #872
This relates to #787.

[2021-04-13 13:43] wendellpiez commented on #680
Agreed.

[2021-04-13 19:48] SilentEsper opened #896 "Standardize Accepted-Value Reference props for Implementation parameters"
# User Story:

As an OSCAL Application Developer, I would like a standard format to describe references to other assemblies in an implementation parameter

## Goals:
Something along these lines would suffice.
      {
              "statements": {
                  "ac-1-smt-a-1-a": {
                      "uuid": "c504f6c4-7a24-4e39-b8a3-590a04fe8847",
                      "by-components": {

[2021-04-14 20:23] fmasson-oracle opened #897 "Checking if the profile-resolution files provided take into account the merge/custom function"
I am checking if the resolver-pipeline transformation scenarios provided with OSCAL1.0.0 RC2 release should work with the sample code provided on the https://pages.nist.gov/OSCAL/documentation/processing/profile-resolution/ page where you describe how controls could be restructured using the Merge/Custom element?

The resolver-pipeline transformation does not work as I get this error while doing t

[2021-04-15 17:23] SilentEsper opened #898 "uuid-ref Consistency"
# User Story:

As an OSCAL Application developer, I would like consistency in the structure of fields named uuid-ref

## Goals:
_uuid-ref_  fields usually have a type associated. There are cases such as _select-subject-by-id_ where the type is contextual. The type is likely expecting only subject uuids, so I suggest this be renamed to subject-uuid-ref , subject-ref or _subject-uuid_  to be more cl

[2021-04-15 18:17] david-waltermire-nist commented on #659
This was completed a long time ago.

[2021-04-15 18:17] #659 closed

[2021-04-15 18:18] david-waltermire-nist commented on #688
This issue was completed long ago.

[2021-04-15 18:18] #688 closed

[2021-04-16 03:31] ohsh6o commented on #857
As a community member, I would love to contribute in whatever way you deem helpful on this effort.

[2021-04-16 14:19] alemos2611 opened #899 "Functional capabilities - How to enhance model usability"
For consideration - I would like to suggest that OSCAL model and documentation could evidence some functional capabilities that our teams could run to extract or consist data from the model.

As an example, assuming that OSCAL has  multiple data representation s (JSON, XML) for NIST SP800-53 catalog model and data, and users could build Profile views of that data and from combined catalogs,  one i

[2021-04-16 15:31] ohsh6o commented on #857
I have provided my ongoing work on an example component with an extension for security tool parameters in [the OSCAL discussion forum](https://github.com/usnistgov/OSCAL/discussions/900) and would love feedback and know how I can work with those assigned to further this effort, if this extension work will help.

[2021-04-16 17:26] degenaro opened #901 "Valid instance examples of schemas"
# User Story:

As an OSCAL tool/application developer, I would like to have handy example instances of the various schemas.

## Goals:

It is sometimes difficult to imagine from the schema and the documentation of the schema alone what a concrete instance might look like. A nonsensical but full example for each of the required and optional fields would be helpful. The values should be valid, but n

[2021-04-19 19:17] davaya opened #902 "JSON Schema base URI collision"
# Describe the bug

The JSON Schema files for multiple layers all have the same base URI (value of the root $id keyword).  This indicates a bug in the schema generation tools, since the URI is intended to (uniquely) identify schema resources.

# How do we replicate the issue?

Examine JSON schemas in:
* https://pages.nist.gov/OSCAL/documentation/schema/catalog-layer/catalog/
* https://pages.nist.g

[2021-04-20 03:59] ohsh6o opened #903 "System Inventory Use Cases and Examples"
# User Story:

As an OSCAL developer and SSP author, I would like examples and clearer guidance on how to model different kinds of system inventories.

## Goals:

As discussed in last week's model meeting, there is a large variety in information systems. NIST OSCAL guidance in the design of system inventories of a system security plan is limited. For conventional and more unconventional ephemeral

[2021-04-20 04:02] ohsh6o opened #904 "Can System Inventory Stored Outside of SSP?"
Per #903, it was not clear from discussion if you can in fact store the system inventory data outside the SSP model and reference it. Is that in fact allowed? It was suggested this was desirable, but not yet implemented. Perhaps I misunderstood you @david-waltermire-nist, so please correct me as appropriate.

[2021-04-21 16:06] david-waltermire-nist commented on #897
@fmasson-oracle Can you provide a small profile example that reproduces this bug?

[2021-04-21 19:20] fmasson-oracle commented on #897
Here is what will get resolved, but still results in getting the controls in the sequence they appear in the imported catalog:
` <import href="Oracle_SaaS_Oscal_Sample_catalog_V2.xml">
      <include-controls>
         <with-id>s1.1.1</with-id>
         <with-id>s1.1.3</with-id>
         <with-id>s1.1.4</with-id>
      </include-controls>
   </import>
   <merge>
      <custom>

         <insert-co

[2021-04-22 17:12] iMichaela opened #907 "OSCAL documentation wrong description for `entry` under `risk-log`"
# Describe the bug
In the OSCAL documentation, the `entry` under `risk-log` is described using the same statement from `entry` under `assessment-log`

The statement used is: "Identifies the result of a task that occurred as part of executing an assessment plan or an assessment event that occurred in producing the assessment results."

# Who is the bug affecting?
All users of the documentation

# W

[2021-04-22 17:17] iMichaela opened #908 "Extra files (images) in the nist-pages branch need to be removed"
# Describe the bug
The `nist-pages` branch has images like `hero.png` that should not be there. There are also many icons that might not be free and not being used in the OSCAL website. Identifying all unused images and icons (in particular if not free) would be strongly recommended.

# Who is the bug affecting?

# What is affected by this bug?

# When does this occur?

# How do we replicate the i

[2021-04-22 18:13] david-waltermire-nist commented on #872
PR #905 partially addresses this issue.

We are also working on an index page, and a list of common shared definitions, which will be submitted as separate PRs.

[2021-04-22 18:21] stephenbanghart opened #909 "Metadata Section Tutorial"
## User Story:

As an OSCAL content creator, I need to understand how to use the common Metadata Section.

## Goals:

Create a tutorial that explains the Metadata section and how to create/parse one.

Related to #654.

## Acceptance Criteria

- [ ] All [OSCAL website](https://pages.nist.gov/OSCAL) and readme documentation affected by the changes in this issue have been updated. Changes to the OSCA

[2021-04-22 18:29] david-waltermire-nist commented on #874
This was addressed in PR #906.

[2021-04-22 18:29] #874 closed

[2021-04-22 18:35] iMichaela opened #910 "OSCAL Models overall diagram"
# User Story:

As an OSCAL Models user, I would like to have access to an updated overall diagram providing sufficient details about each model.

## Goals:
 The diagram should represent the relation between models and provides enough information regarding the assemblies pertaining to each model.

A diagram like this has been used in the past but has not been updated to the latest release. Having s

[2021-04-22 19:05] GaryGapinski opened #911 "xs:NCName puzzler"
I have found that [NCNames](https://pages.nist.gov/OSCAL/documentation/schema/datatypes/#ncname) containing leading or trailing whitespace provoke no validation errors but cannot reliably be used in XPath references. The same problem is encountered even if these were constrained to xs:ID or xs:IDREF. xs:NCName, xs:ID, and xsd:IDREF all have "[whiteSpace](https://www.w3.org/TR/xmlschema11-2/#rf-whi

[2021-04-22 19:28] david-waltermire-nist commented on #908
There is only one file named [hero.png](https://github.com/usnistgov/OSCAL/blob/nist-pages/img/hero.png). This file is from the United States Web Design System (USWDS) [Hugo theme](https://github.com/usnistgov/hugo-uswds/blob/master/static/img/hero.png). The image is provided as [part](https://github.com/uswds/uswds/blob/develop/src/img/hero.png) of the USWDS distribution, which is licensed under

[2021-04-22 19:41] iMichaela opened #912 "OSCAL reference documentation - empty `Constraints`"
# Describe the bug

In the OSCAL reference documentation, there are empty `Constraints` with statements reading:
 _> Constraints that may apply to the data value of this element (in context):_
which expand to nothing, leaving the statement incomplete.

# Who is the bug affecting?

# What is affected by this bug?

# When does this occur?

# How do we replicate the issue?

Go to any 'reference' page

[2021-04-22 19:59] iMichaela opened #913 "Automatic cleanup of `nist-pages` branch"
# User Story:

The `nist-pages` branch has images like `hero.png` and others provided by the United States Web Design System (USWDS) [Hugo theme](https://github.com/usnistgov/hugo-uswds/blob/master/static/img/hero.png).

There are also many icons not used on OSCAL website and cleaning the repo of unused files would be desirable.

## Goals:

It would be beneficial to find an automatic way of paring

[2021-04-22 20:01] iMichaela commented on #908
@david-waltermire-nist . Created the feature request. I am glad the files spotted are not left from the first implementation of the website when we had contractual support. Closing this bug

[2021-04-22 20:01] #908 closed

[2021-04-22 20:42] rgauss opened #914 "Consistent Collections of Children Objects in JSON"
# User Story:

As an OSCAL developer working with JSON, I want to be able to consistently process collections of children objects as arrays so that I don't have to switch between parsing methods for different elements of the model.

## Goals:

Currently the modeling of collections of children objects is somewhat inconsistent throughout OSCAL.

For example, in the component definition the [`compone

[2021-04-30 13:33] david-waltermire-nist commented on #904
Not at the moment, but we can work on this for OSCAL 1.1. This has been discussed before in #590.

[2021-04-30 13:34] david-waltermire-nist commented on #903
We can work on this for OSCAL 1.1. This has been discussed before in #590.

[2021-04-30 13:38] david-waltermire-nist commented on #902
We are working to produce a single JSON and XML schema for all of OSCAL. This will address this issue once deployed.

[2021-04-30 13:40] david-waltermire-nist commented on #887
In a SSP the `leveraged-authorization-uuid` references the `leveraged-authorization` entry in the SSP. The `inherited-uuid` references the component in the SSP that represents the leveraged system for which implementation details are inherited from.

[2021-04-30 13:47] david-waltermire-nist commented on #901
@degenaro Agreed. We will work on these as soon as we can. I am slotting this for OSCAL 1.1 release, but I think we can complete this before the release. Also moving this to the content repo.

[2021-04-30 13:49] wendellpiez commented on #911
I suggest we replace or supplement NCName with a datatype along the lines of `tokenOnly` (appropriate string of characters, no whitespace). This would inhibit the introduction of "padded values" to begin with, thus forestalling the question of normalization.

Not relying on NCName at all (simple extending string) would also address the root of the problem since it would turn whitespace normalizati

[2021-04-30 13:50] david-waltermire-nist commented on #896
@SilentEsper Can you provide a list of the property names that are concerning you? A bit more detail will help us figure out how best to address this.

[2021-04-30 13:53] david-waltermire-nist commented on #787
This was addressed in PR #905.

[2021-04-30 13:53] #787 closed

[2021-04-30 20:43] rgauss commented on #474
As discussed in the OSCAL model review meeting today, I think using as many standards as possible, potentially referenced in a value type, to express the actual value representation will then allow easier interpretation of those values using common tools/libraries, and easier representation of things like [parameter-constraint](https://pages.nist.gov/OSCAL/documentation/schema/profile-layer/profil

[2021-05-03 14:05] degenaro opened #918 "Remove requirement to have at least one Assessment Results Finding"
# User Story:

As an OSCAL tool developer, I would like Assessment Results to have Findings be an optional value.

## Goals:

In one case during a first phase we accumulate Observations from validation points into a "partial" Assessment Results, meaning no Findings can be made with the data available. Later in a second phase we employ Assessment Plan and Security Plan to make Findings based on the

[2021-05-04 02:30] ohsh6o commented on #590
@wendellpiez, perhaps we can discuss this briefly in the following week? I want to understand this better as it pertains to GSA/fedramp-automation#35 and update and plan that work accordingly. Thanks!

[2021-05-04 03:28] ohsh6o opened #919 "No Binding for `predecessor-version` and `successor-version` on `/o:metadata/o:revision/o:link/@rel`"
# Describe the bug

The current OSCAL Metaschema definitions, or perhaps just the documentation, suggest that a developer can implement OSCAL model instances with `predecessor-version` and `successor-version` in `/o:metadata/o:link/@rel`, but not on `/o:metadata/o:revision/o:link/@rel`.

# Who is the bug affecting?

Developers who wish to follow [@stephenbanghart's  guidance in his document ID and

[2021-05-04 04:07] ohsh6o opened #920 "Add `version` property to Explicitly Version JSON Schemas like XML Schemas"
# User Story:

As an OSCAL tool developer, I would like the JSON Schema to add an additional `version` attribute in the schema prelude.

## Goals:

Like the OSCAL XML Schemas, it is useful to version the schema itself so tooling can introspect a component/SSP/SAP/SAR/POA&M model and the tooling knows a particular version it is processing to properly process and prevent conflicts between breaking c

[2021-05-04 04:12] ohsh6o commented on #920
There is no standard explicit meta-property like `$version` to match `$id` and using the latter for versioning is ill-advised, per ["deep" initial research](https://stackoverflow.com/questions/61077293/is-there-a-standard-for-specifying-a-version-for-json-schema). I defer to you all if there is a better solution or `$id` could be acceptable, but given how you currently use it, I doubt it.

[2021-05-04 12:46] wendellpiez commented on #920
This is related to #902.

It would be great to have a target design of what the JSON Schema property set looks like at the top. TMK we have not addressed this at all systematically. Both properties such as `version`, and top-level documentation, should be included.

Both these issues should be tied to ongoing work in the Metaschema pipelines. Maybe we need a tracker issue.

[2021-05-04 13:59] GaryGapinski commented on #474
[_W3C XML Schema Definition Language (XSD) 1.1 Part 2: Datatypes_](https://www.w3.org/TR/xmlschema11-2/) seems to be a good candidate for types (and extensions thereof).

[2021-05-04 18:17] david-waltermire-nist commented on #918
@degenaro I think this gets to a philosophical point about the OSCAL models that have usage implications.

In your view do the OSCAL schemas represent:

1. any valid interim state of information aligned with an OSCAL model. e.g., a less than complete assessment is ok,
2. A complete set of information aligned with an OSCAL model to satisfy the model's intended purpose. e.g., an assessment without a

[2021-05-04 18:39] degenaro commented on #918
I think 0 findings supports both cases. I think 0 observations does not. That is, how can you have a finding without an observation? Conversely, you can have observations without findings. For example, say you have 1 observation which is "not applicable". There would be no finding in that case, since neither satisfied nor not satisfied is known.

That said, the specific case I had in mind is indee

[2021-05-04 21:38] david-waltermire-nist commented on #919
@ohsh6o Checkout PR #922. I think this addresses this issue.

[2021-05-04 21:45] david-waltermire-nist commented on #918
@degenaro We are working on tooling that would allow for constraint-based schema customizations, which would provide a perfect solution here. It would allow an "OSCAL complete", which could check for at least one finding, and an "OSCAL lite" variant which could be more permissive. We are not quite ready for that yet though.

Regarding my previous breakdown (item 1 and 2), we need to decide as a co

[2021-05-04 22:46] david-waltermire-nist commented on #912
@iMichaela I did an XPath search of the metaschemas using `//(*:constraints|*:constraint)[not(*)][not(normalize-space())]`. I found 3 instances, which might be causing this, but its hard to tell without more specifics.

Can you provide a few specific examples of where you are seeing this?

[2021-05-05 15:39] degenaro commented on #918
Nevertheless, it seems "OSCAL complete" can comprise 0 findings. A request may be: give me SAR with AC-3 Finding for inventory item X, and the answer may be there is no such Finding.

[2021-05-05 18:26] iMichaela commented on #912
@david-waltermire-nist There are multiple instances of this error on each reference page for the XML formats (see bottom of the image below).

![image](https://user-images.githubusercontent.com/13984545/117189995-d71e4f00-adac-11eb-860a-e63e5bf0688e.png)

assessment results model: 16 instances (the first one is under `addr-line` - see above)
poa&m: 15 instances
assessment plan: 14
component defini

[2021-05-06 01:12] butler54 commented on #914
Fantastic idea :)

[2021-05-06 17:56] davaya commented on #920
SDF (https://datatracker.ietf.org/doc/draft-ietf-asdf-sdf/) has a "version" keyword:

[code]

There is value in having both a unique name of a document containing 2 or 3 levels of semver and a sequence number within that unique name.  I agree with adding a `version` keyword to the JSON schema to be a sequence number within `$id`.  https://json-schema.org/draft/2020-12/json-schema-core.html#rfc.sec

[2021-05-07 13:17] davaya commented on #902
At first glance restructuring OSCAL from modular to monolithic seems like a step in the wrong direction.  Loose coupling using namespaces would be the natural approach - is there a rationale or pros and cons for using a monolithic JSON and XML schema for all of OSCAL?

[2021-05-07 16:28] GaryGapinski commented on #902
I thought there was an aversion to using more than one namespace (if that is what @davaya means — i.e., one namespace per sub-schema).¹

At the moment, there are multiple OSCAL schemas each within the same namespace, which makes
- http://nvdl.org/ not possible
- https://www.oasis-open.org/committees/download.php/14809/xml-catalogs.html not possible

thus requiring the use of explicit schema associ

[2021-05-13 11:06] SParekh opened #925 "Why is "metadata/document-ids" represented in schema as an array"
As per the issue #864 and [Model review document](https://pages.nist.gov/OSCAL/contribute/model-review/document-id.pdf), "document-id" _"Provides identifier for the class(or “true identity”) of document."_

Questions:
1. As per the documentation if  “document-Id” provides identifier for the class(or “true identity”) of document, why is it an array and not an attribute ?
https://github.com/usnistgo

[2021-05-13 14:47] #919 closed

[2021-05-13 14:48] david-waltermire-nist commented on #914
PR #923 fully addresses this issue and is ready to review.

[2021-05-13 19:03] iMichaela commented on #910
## 5/12/2021

1- The Component definition documentation correctly indicates that `source` can point to catalog or profile but the diagram shows only a pointer to profiles.
1- In the Assessment Results model diagram, under Risk, the description "Enumerates and characterizes provides status for identified risks"  does not read well.

[2021-05-13 23:00] chris-day opened #926 "links in https://github.com/usnistgov/OSCAL/tree/main/src/metaschema#readme produce 404 errors"
# Describe the bug

The links in the readme.md here https://github.com/usnistgov/OSCAL/tree/main/src/metaschema#readme produce 404 errors in this section of the text

The Metaschema syntax (an XML application) is also described and constrained with its own schema, and with a Schematron constraints set. The latter is able to enforce some of the rules described below.

# Who is the bug affecting?
Th

[2021-05-14 13:57] wendellpiez commented on #912
@david-waltermire-nist is probably correct as to the upstream cause. However the data anomaly should be tolerated (and not produce the empty stub). Removing placeholders from the data then becomes an option.

Let's see to it this is corrected with usnistgov/metaschema#120.

[2021-05-17 14:53] #914 closed

[2021-05-17 17:10] david-waltermire-nist commented on #925
A given document may have multiple document identifiers. This can be due to a duplicate identifier assignment within the same system (e.g., old id/new id), or to provide document identifier in different systems (e.g., organization-specific series, DOI). For these reasons the document-id is an array to allow multiple document-ids to be provided.

We are currently thinking about an approach to do th

[2021-05-17 17:10] #925 closed

[2021-05-17 22:40] david-waltermire-nist commented on #897
@wendellpiez Can you look into this once you are done with the documentation. converter, and schema generation work?

[2021-05-18 13:05] david-waltermire-nist commented on #907
@iMichaela Can you give PR #927 a review?

[2021-05-18 13:06] david-waltermire-nist commented on #898
@SilentEsper Can you give PR #928 a review?

[2021-05-18 13:07] david-waltermire-nist commented on #926
@chris-day Can you give PR #930 a review?

[2021-05-18 13:25] david-waltermire-nist commented on #918
@degenaro Would you please review PR #931?

[2021-05-18 13:26] david-waltermire-nist commented on #926
Fixed by PR #930.

[2021-05-18 13:26] #926 closed

[2021-05-18 15:48] david-waltermire-nist commented on #898
Addressed by PR #928.

[2021-05-18 15:48] #898 closed

[2021-05-18 19:50] david-waltermire-nist commented on #920
Given that "$version" and "version" are not keywords recognized by [JSON Schema 07](https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-validation-01), I don't think we can add either property to the schema. Adding this will cause all kinds of mischief with various JSON schema validators.

I think we need to consider adding the version to "$id". Maybe something like:

[code]

Can we l

[2021-05-18 20:25] wendellpiez commented on #920
We determined we could not add an arbitrary property `version` nor a (reserved) property `$version` in a valid JSON Schema, so we are including the full (semantic) version info as a component in the schema `$id` property. This may address part of the need.

[2021-05-18 20:27] david-waltermire-nist commented on #893
It looks like "uuid" was added in JSON Schema [Draft 2019-09](https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-validation-02), which is one newer than [DRAFT 07](https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-validation-01). Since only DRAFT 07 is widely adopted, using the "uuid" format is problematic if it will cause errors in tools.

I poked around and couldn't

[2021-05-18 20:32] david-waltermire-nist commented on #803
This was addressed in work leading to the 1.0.0 RC2 release.

[2021-05-18 20:32] #803 closed

[2021-05-18 20:50] wendellpiez commented on #805
Do this with #911. Remove DTD-based datatype definitions and provide for defense against empty strings.

[2021-05-18 21:52] wendellpiez commented on #912
Provision to prevent the unwanted output for 'stub' content has been made in PR usnistgov/metaschema/#135.

[2021-05-19 17:39] avdouglas-nist opened #932 "Rewrite CI/CD Pipeline Copy and Convert Content Script"
# User Story:
As an OSCAL developer, I need to rewrite the existing Continuous Integration (CI) and Continuous Deployment (CD) script for copying and converting content, in Typescript.
## Purpose:
The module copies selective content from the src/content directory, and generates instance of this content in alternate OSCAL formats using the appropriate content converters.

Note: This script requires

[2021-05-19 17:42] rgauss opened #933 "JSON Schema References are Incorrect"
# Describe the bug

Many of the `$ref` values in the JSON schema seem to be incorrect.  As just one example, the catalog metadata revision property [specifies an array of items with type](https://github.com/usnistgov/OSCAL/blob/main/json/schema/oscal_catalog_schema.json#L200) `"$ref" : "#/definitions/oscal-metadata-revision"` but I believe the [definition has been renamed](https://github.com/usnis

[2021-05-19 18:51] degenaro commented on #918
Just did!  Thx.

Lou.

On Tue, May 18, 2021 at 9:25 AM David Waltermire ***@***.***>
wrote:

[2021-05-19 21:26] butler54 commented on #933
I just wanted to add a plus one on the object specific definitions - I understand the logic in that these are unique, however, I think referencing back to https://github.com/usnistgov/OSCAL/issues/731 it just spins the problem in a different way.

Today from a final data point of view is `oscal-metadata-version` consistent - yes. Is it defined 7 times with different labels yes.

This complexity ma

[2021-05-19 22:21] rgauss commented on #933
@butler54, OpenAPI is exactly one of the reasons we're pursing this.

We hope to put forward a proposal for the beginnings of an OSCAL REST OpenAPI definition (in a time frame closely aligned with OSCAL's 1.0 final release) that starts to explore how real world systems could map the relationships within and between the different OSCAL models.

As part of this discussion though, we need to have cle

[2021-05-19 23:19] butler54 commented on #933
If you are interested (or okay with) python this may be of interest (I won't claim it's perfect but we did get to an object model and at least you are able to build APIs quickly): https://github.com/IBM/compliance-trestle-flask-demo

(Could not help the little plug for https://github.com/IBM/compliance-trestle)

[2021-05-20 15:51] david-waltermire-nist commented on #918
This was addressed in PR #931.

[2021-05-20 15:51] #918 closed

[2021-05-20 15:53] david-waltermire-nist commented on #907
This has been addressed in PR #927. Some further refinement of the text may still occur.

[2021-05-20 15:53] #907 closed

[2021-05-21 16:49] wendellpiez commented on #911
This should also address usnistgov/metaschema#67 and usnistgov/metaschema#68 thanks @GaryGapinski very timely indeed.

[2021-05-21 23:24] Rene2mt commented on #860
Please see changes on my fork (https://github.com/Rene2mt/OSCAL/commit/92c7a957c7ab4c64078538f71e1e5c3480de3a14).  If all looks okay, I'll do a PR.

[2021-05-24 02:44] ohsh6o opened #938 "Request for Comment: Updates for Landing Page"
# User Story:

As a novice OSCAL user with limited background and no prior experience, in order to best understand how OSCAL applies to my current environment and practices to meet compliance and cybersecurity needs, I would like a revised landing page that better explains the upfront benefit.

## Goals:

Per last week's developer meeting, @david-waltermire-nist had requested an issue be created a

[2021-05-24 02:53] ohsh6o opened #939 "Request for Comment: Recommendations for Separation of High-Level and Technical Documentation"
# User Story:

As OSCAL users of varied background and experience, in order to best educate and evangelize OSCAL to new community members, I would like high-level documentation and technical data model documentation to more clearly split to not overwhelm users and more carefully control proper and meaningful versioning of the technical documentation (whereas it is less applicable to high-level doc

[2021-05-24 19:34] degenaro commented on #867
If the intent is to eventually add set-parameters to component-definition at components level, and the limits are 0-to infinite, then including in 1.0.0 RC phase will not impact those who don't need this new feature. On the flip side, some could really use this feature ASAP to avoid hack-ish alternatives.

[2021-05-25 18:20] Rene2mt commented on #654
SSP Tutorials Plan (Issue #654)
===

SSPs have a lot of content.  We'll want to develop a series of tutorials that incrementally walks readers through the process of developing and SSP in OSCAL without overwhelming them.  The following is a proposed series of SSP related tutorials (e.g., try to follow the [Model Overview & Key Concepts](https://pages.nist.gov/OSCAL/documentation/schema/implementat

[2021-05-28 14:56] ohsh6o opened #945 "Expliciting Linking Approach from PO&AM to SSP Models"
# User Story:

As an OSCAL user and security practitioner , in order to properly define risks during the categorization, selection, and implementation before a full implementation and a SAP is warranted, I want a consistent, recommended linking structure to define risks in a POA&M early on, throughout the lifecycle of an information system.

## Goals:

Based on previous conversation in OSCAL model

[2021-05-28 15:27] iMichaela commented on #945
@ohsh6o -- @david-waltermire-nist and I discussed the importance of documenting identified risks in the implementation layer, but the use of a POA&M model might not be appropriate. A similar model might be necessary to be developed or have the SSP expanded to support it. More research is necessary.

[2021-05-28 21:27] ohsh6o commented on #920
Sorry I never responded to this, let alone brought it up in today's model meeting (despite opening the issue). This "seems ok to me" but I relayed this feedback based on feedback from others I met in the user community for their particular use case. I will follow up and ask what their thoughts are on this topic.

[2021-06-02 16:36] davaya commented on #920
It "seems OK" to me too, but 1) I'd like to know if any JSON Schema validators reject a `version` keyword, and 2) if we rely on putting all versioning info in the package namespace `$id` then we'll need to be much more specific on how to parse it into "package X" + "newer version of package X".  Without that detail, and support for that kind of parsing in JSON Schema validators (which doesn't exis

[2021-06-02 17:10] wendellpiez commented on #920
@davaya @david-waltermire-nist as to (1) I can confirm that ajv does not like `$version` or `version` in a JSON Schema. There may be a setting to silence the error - I am not an AJV (or JSON Schema) expert.

As to (2) maybe we should consider using only the major version increment in the JSON Schema ID?

[code]

for any `1.0.x` OSCAL?

[2021-06-02 21:04] iMichaela opened #946 "OSCAL website - Component Definition page is referring to 'profile' instead of 'component definition'"
# Describe the bug

![Screen Shot 2021-06-02 at 5 01 23 PM](https://user-images.githubusercontent.com/13984545/120551841-7d696e80-c3c4-11eb-8938-d830c574d960.png)

# Who is the bug affecting?

# What is affected by this bug?

{Describe the impact the bug is having.}

# When does this occur?

{Describe the conditions under which the bug is occurring.}

# How do we replicate the issue?

{What are th

[2021-06-03 14:52] iMichaela opened #947 "OSCAL website - typos ( collection of typos found during website review)"
# Describe the bug

- [x] PAGE: https://pages.nist.gov/OSCAL/about/
in the Why OSCAL section, the text reads  _To address information security and privacy risks, the implementation of selected controls need to be verified_ and needs to read _To address information security and privacy risks, the implementation of selected controls **needs** to be verified_ (implementation ... needs)

- [x] PAGE: h

[2021-06-03 16:37] ohsh6o commented on #945
Will talk about this as one of the use cases in [the Gitter OSCAL/use-cases channel](https://gitter.im/usnistgov-OSCAL/oscal-use-cases) and continue fleshing out this issue later.

[2021-06-03 16:39] ohsh6o commented on #945
Also updated link per the guidance in the OSCAL Dev Lunch today.

[2021-06-03 18:05] davaya commented on #902
BLUF: Schema namespaces yes.  Data namespaces no.

After reading the OSCAL metaschema paper https://www.balisage.net/Proceedings/vol23/print/Piez01/BalisageVol23-Piez01.html the motivation for a single namespace becomes clearer.  But when discussing the "OSCALizable subset of XML", the distinction between schema and data namespaces is, or appears to be, lost.

JSON data has no namespaces but JSON

[2021-06-03 20:20] david-waltermire-nist commented on #902
@davaya JSON schema does not have a namespace. It has a [unique schema identifier](https://json-schema.org/draft/2020-12/json-schema-core.html#rfc.section.8.2.1) expressed as a canonical URI. This is not the same as a namespace.

We made an early decision that all of OSCAL will be in the same XML namespace, which I think at this point we need to keep for OSCAL v1. This allows us to reuse common in

[2021-06-04 13:48] wendellpiez commented on #902
Additional note: the Metaschema back end gives us a great deal of flexibility in this, for generating schemas (both XML and JSON) with specialized namespaces as well as with unified namespaces when/as appropriate. I am not sure everyone will regard this approach as a solution so much as (again) moving the problem. But it might offer options going forward.

[2021-06-04 16:17] davaya commented on #902
@david-waltermire-nist:
"A Package is a namespace for its members, which comprise those elements associated via packagedElement (which are
said to be owned or contained), and those imported."  -- https://www.omg.org/spec/UML/2.5.1/PDF Section 12.2.3.1

"Namespace is an abstract named element that contains (or owns) a set of named elements that can be identified by name. In other words, namespace i

[2021-06-04 16:47] david-waltermire-nist commented on #902
All name collisions within the OSCAL domain are handled by the Metaschema XML and JSON schema processing. The draft [JSON](https://github.com/usnistgov/OSCAL/blob/feature-documentation-redesign-2021-05/json/schema/oscal_complete_schema.json) and [XML](https://github.com/usnistgov/OSCAL/blob/feature-documentation-redesign-2021-05/xml/schema/oscal_complete_schema.xsd) schemas produced should not hav

[2021-06-07 03:26] david-waltermire-nist commented on #709
This was addressed in PR #748 and later commits.

[2021-06-07 03:26] #709 closed

[2021-06-07 03:26] david-waltermire-nist commented on #710
This was addressed in PR #748 and later commits.

[2021-06-07 03:26] #710 closed

[2021-06-07 03:29] david-waltermire-nist commented on #711
This was addressed in PR #748 and later commits.

[2021-06-07 03:29] #711 closed

[2021-06-07 03:29] david-waltermire-nist commented on #706
This was addressed in PR #748 and later commits.

[2021-06-07 03:29] #706 closed

[2021-06-07 03:32] david-waltermire-nist commented on #731
This was addressed by PR #948, which has added support for a combined XML and JSON schema, along with model specific schema views.

[2021-06-07 03:32] #731 closed

[2021-06-07 03:32] david-waltermire-nist commented on #933
This was addressed by PR #948, which has added support for a combined XML and JSON schema, along with model specific schema views.

[2021-06-07 03:32] #933 closed

[2021-06-07 03:34] david-waltermire-nist commented on #805
This was addressed by PR #936 (merged with PR #948), which refactored data typing to require non-empty values for appropriate data types..

[2021-06-07 03:34] #805 closed

[2021-06-07 03:35] david-waltermire-nist commented on #819
This will be addressed by the tutorials resulting from #654.

[2021-06-07 03:38] david-waltermire-nist commented on #822
This will be addressed by the tutorials related to #854.

[2021-06-07 03:39] #829 closed

[2021-06-07 03:41] david-waltermire-nist commented on #829
This was further addressed by #805.

[2021-06-07 03:46] david-waltermire-nist commented on #872
PR #948 adds an index to the documentation which will be posted to the website when 1.0.0 is released. This is a step towards addressing this issue. We need to look into search functionality next.

[2021-06-07 03:53] david-waltermire-nist commented on #876
The OSCAL site points to the the OSCAL content repository in the following locations:
- https://pages.nist.gov/OSCAL/downloads/#sources-of-oscal-content
- https://pages.nist.gov/OSCAL/documentation/schema/catalog-layer/catalog/#nist-sp-800-53-revision-4-annotated-example
- https://pages.nist.gov/OSCAL/documentation/schema/profile-layer/profile/#content-examples
- https://pages.nist.gov/OSCAL/docum

[2021-06-07 03:53] david-waltermire-nist commented on #909
This will be addressed by PR #940.

[2021-06-07 03:55] david-waltermire-nist commented on #841
This is addressed by PR #944 based on the conversations we have had during the OSCAL model review.

[2021-06-07 03:57] david-waltermire-nist commented on #860
This is addressed by PR #860, which still needs some work to get the text right.

[2021-06-07 04:00] david-waltermire-nist commented on #902
The "complete" XML and JSON schemas have been integrated in PR #948. These will be released in OSCAL 1.0.0.

[2021-06-07 04:00] #902 closed

[2021-06-07 04:01] david-waltermire-nist commented on #910
Updates are in the works. The website will be updated with these changes shortly after 1.0.0 is released.

[2021-06-07 04:02] david-waltermire-nist commented on #911
Changes to address this were integrated in PR #948. These changes will be released with OSCAL 1.0.0.

[2021-06-07 04:02] #911 closed

[2021-06-07 04:04] david-waltermire-nist commented on #912
The reference documentation on the website has been completely revamped. This new documentation will be released with OSCAL 1.0.0. This issue was addressed by PR #948.

[2021-06-07 04:04] #912 closed

[2021-06-07 04:06] david-waltermire-nist commented on #920
The JSON schemas will include the version in the $id field. See issue #902.

This change was integrated with PR #948 and will be released with OSCAL 1.0.0.

[2021-06-07 04:06] #920 closed

[2021-06-07 04:08] david-waltermire-nist commented on #920
@davaya Sorting out the JSON schema id will need to be handled programmatically. I wish I had a better answer.

[2021-06-07 04:14] david-waltermire-nist commented on #946
This is fixed in PR #950 and will be deployed with the OSCAL 1.0.0 website updates.

[2021-06-07 04:14] #946 closed

[2021-06-07 23:33] #872 closed

[2021-06-08 13:23] david-waltermire-nist commented on #841
Addressed by PR #951.

[2021-06-08 13:23] #841 closed

[2021-06-08 16:11] david-waltermire-nist opened #954 "EPIC: Update Profile Resolution Specification"
# Describe the bug

The OSCAL [profile resolution specitication](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/) is out of date and needs to be updated.

There are a few additional issues that relate to this:

- [ ] Checking if the profile-resolution files provided take into account the merge/custom function (#897)
- [ ] Profile: identifier specificity when multiple catalogs

[2021-06-08 16:13] david-waltermire-nist commented on #947
Issue #954 will address the profile resolution content.

[2021-06-08 17:42] #947 closed

[2021-06-08 18:35] david-waltermire-nist opened #956 "Properly encode high-order Unicode characters in schemas"
# Describe the bug
The XML (and maybe JSON) schemas currently contain high-order Unicode characters in the `token` data type.

The schema production pipeline should be enhanced to ensure that these characters are properly escaped.

# Who is the bug affecting?

Users of the schema.

# What is affected by this bug?

Requires parser support for these characters, which may complicate schema validation

[2021-06-09 11:08] rgauss commented on #933
While this fix looks correct after a quick 'manual' spot check of the changes it unfortunately won't solve our issue since `$ref` by `$id` rather than path [seems to only be supported in OpenAPI v3.1](https://spec.openapis.org/oas/v3.1.0#relative-references-in-uris) (and [Swagger UI hasn't caught up to that yet](https://github.com/swagger-api/swagger-ui/issues/5891)).

It would be nice if `$ref` i

[2021-06-09 13:34] wendellpiez commented on #933
@rgauss would you be able to open a new ticket in the [usnistgov/metaschema repo](https://github.com/usnistgov/metaschema/issues) for this, possibly with a (tiny) mockup? We would gladly consider options and feasibility. There is a possibility that the Metaschema design would preclude doing this, but alternatively, maybe it is actually super-easy or could be made to be. We have to look. Thanks!

[2021-06-09 21:10] rgauss commented on #933
@wendellpiez, submitted https://github.com/usnistgov/metaschema/issues/160.  Thanks!

[2021-06-10 00:51] ohsh6o opened #958 "Content Upgraders for Conversion from RC2 to 1.0.0 Do Not Upgrade Profile Flag Updates"
# Describe the bug

Key changes in flags OSCAL profile flags in usnistgov/OSCAL#928, as indicated in the 1.0.0 release notes converted `oscal:profile was not wrapped into the content upgrader transforms.

https://github.com/usnistgov/OSCAL/blob/367b23d97582a6a0aad7399da67974ffd1698a90/src/release/content-upgrade/oscal-rc2-v1-0-0-update.xsl

# Who is the bug affecting?

Anyone upgrading OSCAL profi

[2021-06-10 01:19] ohsh6o opened #959 "Missed Statement and Component Wrapping in Content Upgrades from M3 to RC to 1.0.0"
# Describe the bug

During the course of work in GSA/fedramp-automation#106 to complete GSA/fedramp-automation#105, subsequent content upgrades of SSP content from `v1.0.0-milestone3` to `v1.0.0-rc1` to `v1.0.0-rc2` to `v1.0.0`, changes from M3 to 1.0.0-rc1 in content-upgrades, as evidence in upgrades from RC2 to 1.0.0 [did not pick up in the M3 to RC1 conversion, although it should have according

[2021-06-10 14:22] #958 closed

[2021-06-11 00:56] ohsh6o opened #961 "Dataset Versioning in Catalogs"
# User Story:

As an OSCAL developer, I want to explicitly explain what dataset (NIST 800-53, ISO-27001 respectively) and which version of that dataset (respectively 4.0 and 5.1; ISO/IEC 27001:2013  and ISO/IEC 27001:2018) is the source of the catalog and resolved profile catalog without using human interpretation of semantic context, or externalized file and directory naming.

## Goals:

When pro

[2021-06-11 13:35] wendellpiez commented on #959
@ohsh6o any chance of sharing an example showing the bug? Artificial is okay as long as it shows the bad output for the good inputs. (This could also give us a start on defining possible better behavior for inputs that are not actually good.)

I can help make an anonymizing filter for you if it is helpful to make shareable samples.

[2021-06-11 13:50] egyptiankarim opened #962 "Incorporation of other "ontology" documents from the SP corpus."
# User Story:

As an OSCAL (and NIST) fan and cybersecurity professional, I regularly reference several other NIST SP documents in the course of working on security plans, control implementations, assessments, and so on. Specifically:

- [NIST SP 800-60, Guide for Mapping Types of Information and Information Systems to Security Categories](https://csrc.nist.gov/publications/detail/sp/800-60/vol-1-

[2021-06-11 15:53] ohsh6o commented on #959
@wendellpiez, let me finish the baseline upgrade tasks and then I will work through a repro for you.

[2021-06-11 16:23] ohsh6o commented on #961
We discussed this today in the model meeting and a few pieces of feedback or other impressions on this work came up.

- Is this a deficiency in the current Metadata model: yes, no, or maybe?
- Can we just add additional `prop` elements to metadata for `dataset-name` and `dataset-version` and the like?
- @rgauss had some interesting insights into potentially refining this further to match a Maven-l

[2021-06-11 18:47] GaryGapinski commented on #962
[This document](https://github.com/GSA/fedramp-automation/blob/master/resources/xml/information-types.xml) has a rather large portion of SP 800-62v2r1. It resembles but is not an OSCAL document. The `information-type` elements are partially modeled after [this](https://github.com/usnistgov/OSCAL/blob/v1.0.0/xml/schema/oscal_complete_schema.xsd#L3660-L3893).

[2021-06-12 14:22] sunstonesecure-robert commented on #962
I think this would put too much into OSCAL that is best managed by tooling.  as it is OSCAL is very large.  not everything needs to be in one schema IMO; just one opinion.

we (kubernetes policy wg) are for example trying to align policy elements to OSCAL for compatibility/integration, so adding even more requirements would make it cumbersome to support OSCAL - especially where those concepts are

[2021-06-12 16:01] egyptiankarim commented on #962
@sunstonesecure-robert I absolutely appreciate that perspective. I just can’t help but think a canonical NIST reference to the information in those key documents (in a format other than the PDFs 😋) would be incredibly useful. OSCAL seems as good a place as any.

[2021-06-12 16:24] sunstonesecure-robert commented on #962
could you use this to reference the doc by URL?

https://pages.nist.gov/OSCAL/reference/latest/catalog/xml-reference/#/catalog/back-matter

if you are worried the link would change and there's no publicly available NIST github repo (I've never thought to look), then maybe just check a copy into your public repo and use that version controlled URL?

[2021-06-12 17:36] egyptiankarim commented on #962
@sunstonesecure-robert those are useful resources, to be sure. But just to be clear, what I’m hoping for is the *content* from some of those other OSCAL-adjacent documents (e.g., 800-30 and 800-60) in a structured format like they’ve done with the control catalog. Right now the only way to review that content from a canonical source is with the PDFs. It’d be nice, as an example, to have all of the

[2021-06-14 12:56] rgauss opened #964 "Release Notes Reference Profile Remove Changes Twice"
# Describe the bug

In [Changes to Profile Model](https://pages.nist.gov/OSCAL/reference/release-notes/#changes-to-profile-model) the second bullet refers to 'the item remove' but should be 'the item add'.

[2021-06-14 16:31] wendellpiez opened #966 "(EPIC) OSCAL and Metaschema cleanup and declutter"
# User Story:

As an OSCAL developer and user, I need the OSCAL repository to be orderly, intelligible, documented accurately and comprehensively, and consistent.

## Goals:

The OSCAL repository needs to be comfortable and welcoming to visitors. This means not a lot of confusion, loose and unexplained resources, or out of date readmes.

This applies to the Metaschema and other OSCAL-related repos

[2021-06-14 20:51] #964 closed

[2021-06-14 20:58] #956 closed

[2021-06-15 20:52] david-waltermire-nist commented on #932
Talked withe @avdouglas-nist today about this work. Here are some notes.

## Copy or Convert

Applied to XML and JSON

Either:

1. Copy source if target format
1. Else convert source to target format using content converter

Then:

- validate produced content
- Apply post processing
- resolve profile as needed

## Post-process

### JSON

- sub mime types application/oscal+xml -> application/oscal+

[2021-06-15 22:51] ohsh6o commented on #959
OK as asked, I deliver, @wendellpiez. I did the following:

1. Took a clone of [usnistgov/OSCAL at commit `0858d4f`](https://github.com/usnistgov/OSCAL/commit/0858d4ff7ddc60db113628eab75e161ddc1fff10).
2. Cloned a copy of [GSA/fedramp-automation at commit `6ba6ed3`, when existing sample template SSP and other artifacts were stll at `1.0.0-milestone3`](https://github.com/GSA/fedramp-automation/tree

[2021-06-16 13:58] wendellpiez commented on #959
I examined the problem input and cannot validate it against any of the tagged schemas in the repository (for milestone3, rc1, rc2 or v1.0.0). Unfortunately this makes it out of scope since we can't easily model whatever "valid but exceptional" problem is underlying any transformation failures.

Suggest we close this ticket as a nothing-to-be-done (since the documents have all been upgraded in any

[2021-06-17 15:07] iMichaela opened #967 "OSCAL pages scrolling enhancement"
# User Story:

As an OSCAL user, I need an easier way to scroll up and down the large reference pages, in particular, the ALL models reference pages

## Goals:

A sticky widget allowing to jump to the top or to the bottom, or to scroll up/down skipping several pages at a time will be very useful.

## Dependencies:

none

## Acceptance Criteria

- [ ] All [OSCAL website](https://pages.nist.gov/OSCA

[2021-06-19 01:32] ohsh6o opened #968 "Links to Layers' Model Conceptual Overview Links Broken"
# Describe the bug

After separation between conceptual material and versioned reference material, the conceptual overview links in each layer model in Markdown have empty links (`- **[Conceptual Overview]():** ` in each respective model). This makes documentation difficult to grasp for newer OSCAL adopters. [This issue appears to be a repeat pattern in all layer docs](https://github.com/usnistgov

[2021-06-21 19:21] wendellpiez commented on #966
Notes on OSCAL repo cleanup:

- `build\metaschema` - metaschema submodule cf usnistgov/metaschema#164
- `content` - all autopopulated (?)
- `docs` - Hugo installation
- `json` - all autopopulated
- `xml` - ditto
- `src` ...
  - Leaving `specifications` for later
  - Leaving `release`
  - `content` directory - ? (only has a copy of oldish SP800-53 source)
  - `utils/schematron` - keep but clean up

[2021-06-21 21:53] wendellpiez commented on #562
Revamping this Schematron in working branch behind #970.

[2021-06-22 07:22] butler54 opened #971 "Roll back parameter substitution style in NIST 800-53 catalog to be similar to standard 'Moustache' approach"
# User Story:
As an OSCAL developer I want a consistent method to expand parameter substitutions in various pieces of prose. As the NIST 800-53 catalog was at `1.0.0-rc2` we would have prose similar to this:
`"prose": "Access authorizations (i.e., privileges) and {{ ac-2_prm_2 }} for each account;"`
Under that environment a `moustache` library (https://mustache.github.io/) can be used for paramete

[2021-06-23 18:17] wendellpiez commented on #562
See WIP cited above.

Also compare to this and possibly consolidate: https://github.com/wendellpiez/oscal-content/blob/master/src/nist.gov/SP800-53/rev5/xml/validate-profiles_SP800-53B-baselines.sch

[2021-06-24 15:33] david-waltermire-nist commented on #595
I am going to close this epic since the metaschema portions are completed. We will continue work on issue #590.

[2021-06-24 15:33] #595 closed

[2021-06-24 18:49] david-waltermire-nist commented on #959
@ohsh6o The SSP template you provided is not valid to either Milestone 3 or RC1, which means testing the converter is not possible to find and fix this bug. If you can provide a Milestone 3 valid OSCAL example that illustrates this bug, we will gladly fix any bugs in the converter. Until we have a valid OSCAL example to reproduce this bug, we cannot do anything more.

I am going to close this issu

[2021-06-24 18:49] #959 closed

[2021-06-24 23:31] david-waltermire-nist commented on #971
We changed this syntax [prior to the 1.0.0-rc2 release](https://pages.nist.gov/OSCAL/reference/release-notes/#changes-common-to-all-models) based on usnistgov/metaschema#130.

The documentation in https://pages.nist.gov/OSCAL/reference/datatypes/ does not correctly reflect the current syntax, which needs to be fixed.

We made this change to allow for scoping the type of information to insert, whic

[2021-06-25 05:07] butler54 opened #972 "include-all flag in OSCAL 1.0.0 unusual for most parser designs."
# Describe the bug
As a json (schema) user `include-all` has a counter intuitive structure, in that in theory there are many valid structures that could be achieved such as

[code]
would be valid, however, technically any value would be valid e.g.
[code]
[code]
This produces uncertainty in parser models which interpret profiles.

# Who is the bug affecting?
Json and yaml schema users.

# What is a

[2021-06-25 13:01] david-waltermire-nist commented on #972
The JSON schema fragment for this property is currently:

[code]

This means that the property can only ever be an empty object, because of the `"additionalProperties" : false`. This means that the following variants will not be allowed by a validating parser.

[code]
[code]

Are there concerns about having an empty object?

[2021-06-25 14:19] david-waltermire-nist commented on #972
We discussed this on the 6/25/2021 model review. There seems to be an emerging consensus that changing this to a boolean field with a required `true` value would be ideal; however, there was also some consensus that this change should be made in a 2.0 release. We discussed writing an issue to collect these types of changes for 2.0.

[2021-06-25 14:43] rgauss commented on #971
Not sure if it's useful, but here's a snippet of how we're currently handling this in JavaScript:
[code]
which currently only supports `param` inserts, but could easily be expanded for other types.

[2021-06-25 18:36] degenaro commented on #867
Here is a snippet from a comp-def where the `set-parameter` value has be set to `30` for the check `iam_account_owner_last_login`.

![image](https://user-images.githubusercontent.com/520029/123468770-3edc6380-d5c0-11eb-9b70-a96bffd353d0.png)

We can imagine a corresponding `parameters` that holds valid values { 30, 90 }. For the moment, we create a catalog just for holding them. Preferably these w

[2021-06-29 15:58] #968 closed

[2021-06-29 17:03] degenaro opened #974 "Add version attribute to Property"
# User Story:

As an OSCAL tool developer, I would like Property to have an optional version attribute in order to differentiate the associated name/value from other Properties.

## Goals:

There may be more than one instance of a Property with the same name, each comprising a different version.

## Dependencies:

N/A

## Acceptance Criteria

- [x] All [OSCAL website](https://pages.nist.gov/OSCAL)

[2021-06-30 13:17] Rene2mt opened #975 "Tutorial: SSP System Characteristics - Part 1 of 3"
# User Story:

As an OSCAL SSP author, I need to understand how to document system characteristics so that I can create well-formed OSCAL SSPs with the appropriate system attributes specified.

## Goals:

This tutorial should provide in-depth documentation showing how the following system characteristics properties are set and any constraints:
- system-id
- system-name and system-short-name
- desc

[2021-06-30 13:21] Rene2mt opened #976 "Tutorial: SSP System Characteristics - Part 2 of 3"
# User Story:

As an OSCAL SSP author, I need to understand how to document system characteristics so that I can create well-formed OSCAL SSPs with the appropriate system attributes specified.

## Goals:

This tutorial (part 2 of 3) should provide in-depth documentation showing how the following system characteristics properties are set and any constraints:
- security-sensitivity-level
- system-in

[2021-06-30 13:22] Rene2mt opened #977 "Tutorial: SSP System Characteristics - Part 3 of 3"
# User Story:

As an OSCAL SSP author, I need to understand how to document system characteristics so that I can create well-formed OSCAL SSPs with the appropriate system attributes specified.

## Goals:

This tutorial (part 3 of 3) should provide in-depth documentation showing how the following system characteristics properties are set and any constraints:
- authorization-boundary
- network-archi

[2021-06-30 13:26] Rene2mt opened #978 "system inventory. Tutorial: SSP System Implementation - Part 1 of 3"
# User Story:

As an OSCAL SSP author, I need to understand how to document system implementation so that I can create well-formed OSCAL SSPs with the appropriate information about the system's deployment.

## Goals:

This tutorial should provide in-depth documentation showing how the following system implementation properties are set and any constraints:
- leveraged-authorization
- user
- any ass

[2021-06-30 13:30] Rene2mt opened #979 "Tutorial: SSP System Implementation - Part 2 of 3"
# User Story:

As an OSCAL SSP author, I need to understand how to document system implementation so that I can create well-formed OSCAL SSPs with the appropriate information about the system's deployment.

## Goals:

This tutorial should provide in-depth documentation showing how the following system implementation properties are set and any constraints:
- components
  - clarify difference betwee

[2021-06-30 13:32] Rene2mt opened #980 "Tutorial: SSP System Implementation - Part 3 of 3"
# User Story:

As an OSCAL SSP author, I need to understand how to document system implementation so that I can create well-formed OSCAL SSPs with the appropriate information about the system's deployment.

## Goals:

This tutorial should provide in-depth documentation showing how the following system implementation properties are set and any constraints:
- inventory
- any associated props and lin

[2021-06-30 13:37] Rene2mt opened #981 "Tutorial: SSP Control Implementation - Part 1 of 1"
# User Story:

As an OSCAL SSP author, I need to understand how to document **control implementation** so that I can create well-formed OSCAL SSPs that describe how each control in the specified baseline is implemented within the system.

## Goals:

This tutorial (part 3 of 3) should provide in-depth documentation showing how the following **control implementation** concepts:
- importing baseline

[2021-07-01 10:48] degenaro opened #982 "Add optional ns attribute to Parameter"
# User Story:

As an OSCAL tool developer, I would like `Parameter` to have an optional `ns` attribute in order to differentiate the associated instance from other Parameters.

Example:
[code]

## Goals:

There may be more than one instance of a Parameter each applicable in a different context.

## Dependencies:

N/A

## Acceptance Criteria

- [x] All [OSCAL website](https://pages.nist.gov/OSCAL)

[2021-07-01 13:48] iMichaela commented on #982
@degenaro Could you please elaborate more on the use case? A parameter is set by the organization (policy-driven) but is set at the system level in the SSP. In a component definition, MAYBE one can specify different implementations of the same control to satisfy different baselines (e.g. FedRAMP for cloud components vs NIST SP 800-53 for on-premises components).

[2021-07-01 14:27] david-waltermire-nist commented on #974
@degenaro Can you elaborate on the use case for this? It would be helpful to understand the semantics of this new version attribute and why it is needed. Some examples will also help illustrate the need.

[2021-07-01 14:29] david-waltermire-nist commented on #654
@Rene2mt  Thanks for creating the new issues for this. Since these issues will be used for the tutorial development, I am going to close this issue.

[2021-07-01 14:29] #654 closed

[2021-07-01 17:11] Rene2mt commented on #857
This work is in progress.  For a preview of what will be covered in the tutorial, please see my [draft outline here](https://hackmd.io/@UE-2CUI2SlGqZQtexK6f3A/rJwxJHRsd).  I welcome any feedback.

[2021-07-01 20:04] ohsh6o opened #983 "Dockerfile Entrypoint Inhibits One-Off Operations with `docker run`"
# Describe the bug

As reported this morning in the developer call, on macOS Big Sur (version: `macOS 11.4 (20F71)`) and Docker.app (version: `3.3.3 (641333)`)  where how the entrypoint is defined [appears to not meet best practices](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#entrypoint). I am not sure why setting up `ENTRYPOINT ["/bin/bash"]` for the entrypoint is a

[2021-07-01 20:13] #983 closed

[2021-07-01 20:31] ohsh6o opened #985 "RFC: Feedback on Constraint Values for Digital Identity AAL, IAL, FAL"
# User Story:

As an OSCAL developer, in order to have more ergonomic definition and use of constraint allowed values around digital identity requirements.

## Goals:

Currently, FISMA RMF-baseed authorizations more generally will optionally encode digital identity standards per 800-63. FedRAMP system security plans require them and previously encoded them as FedRAMP values or FedRAMP extension co

[2021-07-01 21:41] degenaro commented on #974
To accommodate changes over time. Example:

[code]

[2021-07-02 18:47] ohsh6o commented on #857
Provided some initial feedback as an outside peer, hope that helps and is not too forward.

I looked at this because there is some overlap with [FedRAMP Guidance in Section 3.1 in this document on page 28, along with other parts of this document and others here](https://raw.githubusercontent.com/GSA/fedramp-automation/44502e264c2673effa689fc3a708c9fe6249c514/documents/Guide_to_OSCAL-based_FedRAMP_

[2021-07-02 23:13] ohsh6o commented on #985
@wendellpiez and @GaryGapinski, per ongoing conversation, I updated the values to be capital for legibility. Is this a better suggestion for now?

[2021-07-02 23:28] GaryGapinski commented on #985
I think capital letters for each of the SP 800-6303 assurance levels (thus matching the 800-63-3 parlance) is optimal.

[2021-07-02 23:41] ohsh6o opened #986 "Minor Docker Improvements"
# User Story:

As an OSCAL developer, in order to make using the provided Docker container more usable with `docker` or `docker-compose`, I would like some improvements in dependency management, controlling their versions, and prestaging environment variables.

## Goals:

This is a follow-up from some other issue discovered after usnistgov/OSCAL#984. These are minor improvements, but seem worthwhi

[2021-07-08 15:30] nikitawootten-nist opened #988 "Tracker Issue for OSCAL-deep-diff Control Level Comparisons"
# User Story:

As an OSCAL catalog consumer, I need to compare revisions of OSCAL documents with respect to individual controls in order to find changes to controls that have high, medium, or low impact.

## Goals:

This is a **tracker issue** for [usnistgov/oscal-deep-diff](https://github.com/usnistgov/oscal-deep-diff). The following is a collection of features that need to be implemented in orde

[2021-07-09 11:07] degenaro opened #989 "Explicit support for policies"
# User Story:

As an OSCAL tool developer, I would like Component Definition to support `policies` as first class entities.

## Goals:

One way to describe the policy(s) associated with `implementation-requirements` is to employ property(s).  A suggested improvement is to enable explicit specification of policy.

For example, add optional `policies` as an array of `policy` objects under implementa

[2021-07-09 12:37] david-waltermire-nist commented on #989
@degenaro We need more detail to understand this proposal.

1. What is a policy in this context?
2. What would the policy object contain?
3. What use case scenarios would this address that cannot be supported now?

 Can you explain more?

[2021-07-09 12:41] david-waltermire-nist commented on #982
@degenaro I'd like to better understand the use case as well.

As far as adding the namespace to parameters, this would also require adding a namespace to all parameter references as well. I am concerned that this is a big change to do in a minor revision, since it changes the way that cross references are handled.

[2021-07-09 12:45] david-waltermire-nist commented on #971
I also implemented this in in FlexMark using a custom [set of node parsers](https://github.com/usnistgov/metaschema-java/tree/main/metaschema-java-datatypes/src/main/java/gov/nist/secauto/metaschema/datatypes/markup/flexmark/insertanchor).

[2021-07-09 12:47] david-waltermire-nist commented on #961
@ohsh6o Do you have an update to this proposal based on your notes above?

[2021-07-09 13:13] ohsh6o commented on #961
I believe the last model meeting we had, I believe consensus would be to keep as close to the current v1.0.0 models as possible. The main issue is the profile resolution pipeline changes. I presume we can discuss in the meeting today, @david-waltermire-nist ? :-)

[2021-07-09 13:24] david-waltermire-nist commented on #985
To implement this in OSCAL 1.1, we would need to deprecate the existing `1`.`2`, and `3` values and add the new values. This does mean than both the old and new values need to be supported by parsers.

[2021-07-09 14:41] david-waltermire-nist commented on #961
@ohsh6o Can you create a concrete change proposal listing each property to add and providing a corresponding definition. We talked about organization name (or party reference), `dataset-name`, and `dataset-version` on the 7/9/2021 model review.

How do we point to the `dataset-source`? Maybe by a reference to a backmatter resource? This would allow a cryptographic hash to be included.

How do we h

[2021-07-09 16:02] gregelin commented on #971
During the group meeting, I asked whether the change was conflating data parameter (value) management and templating solutions. Let me restate, hopefully better.

Put simply, extending what can be done with organizational parameters _expressed as inline human readable syntax_ is building upon a weak foundation. Better to revert back to the previous simplified `{{ ac-2_prm_2 }}` (if matching legacy

[2021-07-09 17:37] david-waltermire-nist commented on #971
@gregelin I appreciate your perspectives on this. I am attempting to clarify a few things below.

What we have by way of the `{{ insert: param, ac-1_prm_1 }}` is a templating solution. It is not about parameter value management at all. parameter value management is handled by the `param` and `set-param` syntax in OSCAL.

The current syntax has been in place since OSCAL 1.0.0 RC2 (see [change log](

[2021-07-09 18:46] ohsh6o opened #990 "Obsolete Git Sub-module for Metaschema Code"
# Describe the bug

Per discussion in Gitter, this caused minor issues that were hard to replicate, but it does show up in the longs: a long-running feature branch in the Metaschema repo is gone, causing failures when initializing or updating submodules. It impacted me when updating existing clones on my workstation, but bizarrely not news one.

Dave recommended I PR a quick fix if relevant.

# Wh

[2021-07-09 18:53] #990 closed

[2021-07-09 19:10] #986 closed

[2021-07-09 20:04] david-waltermire-nist commented on #962
I am switching this to a discussion.

@egyptiankarim We have considered adding formats for things like a Privacy Impact Assessment (PIA). We have also considered adding something around an organizational security/privacy plan to use as a companion to the SSP for controls that apply at the organizational level. We do hope to get to these in the not-to-distant future.

What specific artifacts would

[2021-07-09 20:04] #962 closed

[2021-07-12 18:47] iMichaela opened #993 "OSCAL Website/Tools update with new information"
# User Story:

As an OSCAL user/consumer, I would like to learn about all available OSCAL tools.

## Goals:

Maintain on ht OSCAL website a list of all OSCAL tools vendors submitted to us for posting.
Include on the Tools page the following information (formated as needed:

| Name | Provider/Developer | Description | URL |
|-------| ---------------------|:------------------------------------------

[2021-07-16 15:00] iMichaela opened #996 "Add to the OSCAL website links to relevant blogs and articles."
# User Story:

As an OSCAL user, I benefit from learning about OSCAL use cases from reading articles and blogs.

## Goals:

Include the following links to the OSCAL website -> Learn ->[Presentations](https://pages.nist.gov/OSCAL/learn/presentations/)

1. NIST’s Cybersecurity Insights blog: [The Foundation for Interoperable and Portable Security Automation is Revealed in NIST’s OSCAL Project](https

[2021-07-19 00:09] butler54 commented on #993
@iMichaela -> Can we add Compliance trestle to this list:
**Name**|**Provider/Developer**|**Description**|**URL**
|:-----:|:-----:|:-----:|:-----:|
| Compliance trestle | IBM | A python SDK and command line tool which manipulates oscal structures and supports tranformation of data into oscal. |https://github.com/IBM/compliance-trestle |

[2021-07-19 15:12] iMichaela commented on #993
@butler54 Thank you for allowing us to list Compliance Trestle on OSCAL Tools page!

[2021-07-20 08:30] avdouglas-nist opened #997 "SaxonJS provides no support for the transformation of Entities"
SaxonJS fails to perform the tranformation of the metashemas during the execution of Generate Schema and Generate Converters.
For example, when Generate Schema attempts to transform the oscal_catalog_metaschema.xml file, it returns the following message:
"Failed to read XML source input (Reference to unknown entity &allowed-values-control-group-property-name;"

[2021-07-20 19:34] rgauss commented on #933
Here's an [example of what the result might look like](https://github.com/usnistgov/OSCAL/compare/main...EasyDynamics:json-schema-ref-by-path) (and works with Swagger UI).

[2021-07-22 04:02] ohsh6o opened #998 "Errors in Props in Validation Testing Tutorial"
# Describe the bug

As an OSCAL developer, to understand how to properly define a component that validates another, I would like the documentation show proper `prop` usage.

# Who is the bug affecting?

Developers.

# What is affected by this bug?

How to properly realize validation component guidance.

# When does this occur?

Consistently when reading documentation.

# How do we replicate the is

[2021-07-23 03:15] ohsh6o commented on #961
So following up on this comment in anticipation of tomorrow's meeting, I am going to recommend:

- Add a `link/@rel="dataset-source` for catalogs and profiles and point that to one or more `back-matter/resource`s.
- Add the following `prop`s for the `back-matter/resource`s to match previously discussed expectations:
  - `@name="dataset"` `@class="collection"` to represent a grouping, such as how N

[2021-07-23 08:02] degenaro commented on #989
Working on this proposal, more coming soon.

On Fri, Jul 9, 2021 at 8:38 AM David Waltermire ***@***.***>
wrote:

[2021-07-23 16:07] ohsh6o commented on #713
Is there example code of this CRM transform that was drafted for this or #722? We (FedRAMP) and NIST haD begun work in GSA/fedramp-automation on the CIS and CRM tooling and it appears [@wendellpiez maintains a WIP copy of this code in his fork of our code](https://github.com/wendellpiez/fedramp-automation/tree/oscal-presentation/resources/specs). Is this related or a pure NIST-only CIS/CRM effort?

[2021-07-25 13:17] GaryGapinski opened #1001 "metaschema allowed-values target attribute path validation"
While inspecting `OSCAL/src/metaschema/oscal_ssp_metaschema.xml` I found something unexpected.

The `<allowed-values>` element has a `target` attribute which routinely contains what appears to be an XPath expression. The related metaschema XML schema (`../../build/metaschema/toolchains/xslt-M4/validate/metaschema.xsd`) indicates that the target attribute is a `metaschema-path-type` but these strin

[2021-07-27 14:23] SParekh opened #1002 "How to represent Group Ids starting with numeric value (E.g. NIST SP 800-171-R2)"
As per latest Schema changes, Group Id has been restricted by Pattern, that requires it to have starting characters to be letters (A-Za-z)

https://github.com/usnistgov/OSCAL/blob/81f0315ccea6ee661788271fa2f21d45c7881a45/json/schema/oscal_catalog_schema.json#L51

However, for Frameworks like NIST SP 800-171-R2, the 14 Group and corresponding Ids (Document term is "families") does not match the pat

[2021-07-28 13:35] wendellpiez commented on #713
@ohsh6o it looks like work on presenting a POA&M would be in an XSLT here: https://github.com/wendellpiez/fedramp-automation/blob/oscal-presentation/resources/oscal_poam_html.xsl - it appears to accept POA&M input along with an associated SSP?

However, this is only presentation: a "view". Generating an OSCAL POA&M is a different matter.

[2021-07-28 13:41] ohsh6o commented on #713
@wendellpiez Sorry I'm confused, what does the CRM have to do with the POA&M?

[2021-07-28 16:44] iMichaela commented on #713
@wendellpiez and @ohsh6o The Customer Responsibility Matrix (FedRAMP's approach) or the broader System Security Responsibility Matrix concept are different from the question raised in issue #945 over the potential use of POA&M model to document the system's risks during the categorization, selection, and implementation during the implementation phase, pre-assessment.  The CRM transformation should

[2021-07-29 14:23] wendellpiez commented on #1002
@SParekh so the lexical requirement around the nominal 'ID' type are derived from the requirements for the XML ID type, which must conform to the *Name* production, which forbids spaces, most punctuation ... and initial numerals.

https://www.w3.org/TR/REC-xml/#id

Since in OSCAL the 'id' property is intended as a machine-readable token and not part of the "legible" text -- and you are free to dev

[2021-07-29 14:32] wendellpiez commented on #1001
@GaryGapinski this is a good topic for Lunch with the Devs or anywhere there is an interest in Metaschema.

The short version is that we have posited an expression language (naturally called 'Metapath') that would serve to address both XML and JSON flavors of OSCAL.

So far it is a clean subset of XPath 2.0, except adding a single function, called `value()`. We need this function because the nomin

[2021-07-29 14:34] iMichaela commented on #1002
@SParekh - There are two fundamental aspects here: 1) a strictly technical aspect related to the pattern and 2) a more important one, related to the use of OSCAL Catalog model to represent the SP 800-171r2 requirements.

1) there are important reasons for the pattern that restricts the IDs - we need to maintain consistency between XML , JSON and YAML. Nothing prevents you or anybody else, from mak

[2021-07-29 14:40] wendellpiez commented on #1002
@SParekh I should add to the above, that we are also moving away from XML-based restrictions in general (especially ones that seem arbitrary) and the ID format might arguably be on this list. In other words, we are open to loosening the rule in a later version of OSCAL if we learn that the burden is onerous or the advantages (described above) are negligible.

Since  it is a backward-incompatible c

[2021-07-29 15:37] nikitawootten-nist commented on #988
## Update 7/29/2021
As of today, the control level comparison intermediate document draft has been fully implemented, and the capabilities to generate a human-readable spreadsheet based on the intermediate document has been added. This output spreadsheet, like the intermediate document it is based on, is subject to change.

The output spreadsheet has two pages:
1. A list of all controls, their old

[2021-07-29 15:51] GaryGapinski commented on #1001
Thanks @wendellpiez for the detailed explanation. I think AJ had shown me a reference to a related parser.

What had surprised me is that a flaw in a Metapath might preclude correct generation of documentation regarding `<constraint>`s. A pointer to the related (e.g., producing [allowed values](https://pages.nist.gov/OSCAL/reference/latest/system-security-plan/xml-reference/#/system-security-plan/

[2021-07-30 10:58] GaryGapinski opened #1003 "Data type for duration"
# User Story:

As an OSCAL user, I value temporal data types which conform to a standard and are suitable for automated evaluation.

## Goals:

While OSCAL defines [data types](https://pages.nist.gov/OSCAL/reference/datatypes/) for dates and times, it currently neglects to define one for durations, intervals, and cadences. This allows parameters frequently used in catalogs such as "_organization-d

[2021-07-30 14:30] wendellpiez commented on #474
I would like to see a means by which we could use and support compound data types. For example, a frequency is a count (whole number or non-negative Integer) divided by a duration. There has got to be a manageable number of these types accounting for 80% of the instances. (The 20% will be interesting too.)

Then too, "every January" can be broken into two rules, one a frequency (1/annum) the other

[2021-07-30 19:27] wendellpiez commented on #474
See also #206.

But note, what I said above is wrong. A frequency is not (only) a count divided by a duration. The length of the duration is significant. Three times / day is not the same as once every eight hours. In order to get these right, we probably have to delve all the way into how we expect to use these types to surface information (i.e. their operations).

[2021-08-03 11:39] degenaro commented on #982
We use `ns` and `class` for ontologies. Presently this is possible with `Property`, since it has ns + class but not possible with `Parameter` since it has class but not ns.

[2021-08-03 14:27] iMichaela commented on #982
@degenaro Thank you for the additional information. Could you please present a larger picture/scenario and highlight the impact of the missing `ns` under `parameter` on the adoption of OSCAL in general not only for the IBM/trestle so we can assess the request with the community during the next OSCAL meeting (hopefully this Friday)? Your participation in the meeting, to discuss your request, is gre

[2021-08-03 14:59] stephenbanghart opened #1004 "Issues in Docker Image and Generation Scripts"
# Describe the bug

The Docker Image as provided fails when running build/ci-cd/generate-model-documentation.sh, preventing the image from building website. The specific error is `Error: Could not find or load main class com.xmlcalabash.drivers.Main`. This error triggers on most of the child scripts.

The generate-specification-documentation.sh script has not been updated to reflect the new file s

[2021-08-03 19:09] rgauss commented on #993
@david-waltermire-nist, should we look at creating a PR for this?

[2021-08-05 12:31] degenaro commented on #989
Starting from the use case:
A single control is typically implemented by a set of technology-specific policies. E.g. "encryption at rest" would be implemented by policies to (i) encrypt block storage (ii) encrypt object storage (iii) setup MongoDB to use encryption etc. Each such policy needs to be validated in some way, lets say using a dedicated python function. Compliance tools need the standar

[2021-08-05 12:42] degenaro commented on #989
1. _What is a policy in this context?_ Policy is one atomic check that tests a part of [fully] a control.
2. _What would the policy object contain?_ Props today contains a list of elements but not policy specific elements like Version, Parameters, Policy_Group(allowing to group props of the same policy).
3. _What use case scenarios would this address that cannot be supported now?_
Component Def or

[2021-08-06 14:53] david-waltermire-nist commented on #974
On the 8/6 model review call, we discussed adding a way to extend a prop to add arbitrary properties, maybe in a child object. @david-waltermire-nist will propose an example.

[2021-08-06 17:36] Ikendiken commented on #974
I like the idea of adding additional properties to Props.

Would not the proposed solution violate the "A textual label that **_uniquely_** identifies a specific attribute" in that the name would no longer be unique within the set?

[2021-08-12 15:54] #1002 closed

[2021-08-12 16:26] ohsh6o opened #1008 "Build and Publish Docker Image for NIST and Community Developers"
# User Story:

As an OSCAL developer, in order to more consistently develop OSCAL artifacts like the build process and fellow NIST OSCAL developers, I would like NIST OSCAL developers to publish an official container image for all developers.

## Goals:

- Consistent development approaches in and outside the NIST team.
- Minimize time spent on development environments.

## Dependencies:

- Underst

[2021-08-12 17:01] ohsh6o commented on #722
I'm hugely enthusiastic and definitely want to support this work, let me know how I can help!

[2021-08-12 17:02] ohsh6o commented on #713
Now that I heard in today's model meeting, I have a better sense of this work and the implications. Like I said in #722 let me know how I can help out, I have an active need for this tooling!

[2021-08-17 19:08] GaryGapinski commented on #1003
Here is a list of 238 800-53r5 ODPs related to time:
[code]

[2021-08-20 12:58] #998 closed

[2021-08-20 13:07] #1001 closed

[2021-08-20 13:12] #996 closed

[2021-08-20 13:34] #993 closed

[2021-08-20 14:23] david-waltermire-nist commented on #989
@degenaro OSCAL SSPs allow components (of type `[policy](https://pages.nist.gov/OSCAL/reference/latest/system-security-plan/json-definitions/#/flag/oscal-implementation-common/system-component-type)`) to be used to represent a policy. A link on the component can be used to point to the actual policy document. Within `implemented-requirements` a `by-component` can be used to discuss the implementat

[2021-08-20 15:14] ohsh6o commented on #961
Very interested in how this will figure into the profile resolution updates with usnistgov/OSCAL#954. It appears this pertains to  the Second Order Question and Goal in this issue.

@david-waltermire-nist and @wendellpiez , can we make time in the coming week to discuss feedback on this proposal? I went on leave around the time Dave got back, and I was not sure when we could pick up the technical

[2021-08-20 15:22] ohsh6o commented on #954
Is this the issue we should provide feedback on @stephenbanghart's excellent presentation today or elsewhere?

[2021-08-20 18:22] wendellpiez commented on #961
@ohsh6o let's not confuse metadata describing an entity "in the world" (such as a person, place, thing or document) such as "Rev 5 of SP800-53 as published by NIST", with requirements for traceability in the stricter sense, that when an OSCAL catalog is inspected, it can be seen (in applicable cases) to reference a 'document' (or 'serialized instance') (somewhere else) that "turns out" to be a pro

[2021-08-20 19:00] ohsh6o commented on #961
Hence I called it a second order question. :-)

More generally why do I keep pushing for this? I would like the second order question address so we can have graphs of how people derive catalogs and profiles from one another, just like Github.

<img width="1673" alt="Screen Shot 2021-08-20 at 2 49 10 PM" src="https://user-images.githubusercontent.com/61464190/130280418-4030c1d2-2522-4b14-8e43-512a8

[2021-08-20 22:01] wendellpiez commented on #997
One workaround for this is to perform an identity transformation or reserialization outside of SaxonJS to produce a 'cleaned up' input. For example, a simple XSLT applied in SaxonHE (or Java) could make a copy of the metaschema input file without any entity references - they would all be resolved out. The SaxonJS parser would be able to read this file.

A tool such as XMLLint can also be used to d

[2021-08-23 16:09] wendellpiez commented on #961
@ohsh6o given what you are saying you would like to accomplish or enable, I think the requirements here are actually pretty open-ended. Especially since I also think there are other approaches to assessing and understanding provenance (actual, purported, assumed or inferred) than those that accept claims made in the metadata at face value (however useful that info might be). Given this as usual I

[2021-08-23 16:13] avdouglas-nist commented on #997
Hi Wendell, Thanks for the suggestions, but Dave would rather not have any CLI tools, such as XMLLint, included as part of the OSCALCLI tool. Also, Nikita is looking into the transformation of Entities.

[2021-08-23 21:32] wendellpiez commented on #562
See PR #1013 for updated Schematron.

It is located in the OSCAL repo here: [src/utils/schematron/oscal-profile.sch](../blob/main/src/utils/schematron/oscal-profile.sch)

It does basic testing of profiles importing catalogs, confirming that controls and parameters that are addressed by the profile are actually present in the imported catalog.

[2021-08-26 18:50] Ikendiken opened #1270 "Update the OSCAL control layer catalog model content example page to SP 800-53 Rev. 5"
# User Story:

As an OSCAL Catalog Content model user, I would like to see the [content example](https://pages.nist.gov/OSCAL/concepts/layer/control/catalog/#nist-sp-800-53-revision-4-annotated-example) provided on the [OSCAL Control Layer: Catalog Model](https://pages.nist.gov/OSCAL/concepts/layer/control/catalog/) page updated to reflect NIST SP 800-53 Revision 5 content.

## Goals:

The [NIST S

[2021-09-07 22:25] openprivacy opened #1018 "Profile: add 'remarks' field to (modify.alter) add and remove"
# User Story:

As an OSCAL user, I wish to be able to provide a justification for control parts that are added or removed

## Goals:

Natively (and locally) capture a justfication for a controls part change by adding a `remarks` field:
* `profile.modify.alter.add.remarks`
* `profile.modify.alter.remove.remarks`

## Dependencies:

This is a non-breaking change, as `remarks` is an optional field.

#

[2021-09-08 16:54] zbraiterman opened #1019 "Number of listed OSCAL identifier types on models introduction page"
The “Identifier Use” section of the “Introduction to the OSCAL Models” page ( https://github.com/usnistgov/OSCAL/blob/main/docs/content/concepts/layer/overview.md ) states that “The OSCAL models make use of three types of identifiers”.  However, only 2 are listed in that section.

[2021-09-09 13:47] #635 closed

[2021-09-09 13:47] #890 closed

[2021-09-13 11:33] vikas-agarwal76 opened #1020 "JSON to XML converter issue"
The command mentioned on https://github.com/usnistgov/OSCAL/tree/v1.0.0/xml for converting from JSON to XML format -

java -jar "saxon9he.jar" -xsl:"oscal_catalog_json-to-xml-converter.xsl" -o:"oscal-catalog.xml" -it json-file="oscal-catalog.json"

 is not working. It seems the xsl files in https://github.com/usnistgov/OSCAL/tree/v1.0.0/xml/convert where updated in recent releases and the above co

[2021-09-13 16:31] david-waltermire-nist commented on #1020
@wendellpiez Please provide a PR that updates the XML and JSON readmes as needed.

[2021-09-13 21:26] wendellpiez commented on #1020
Apologies @vikas-agarwal76 this fell behind.

For now, try (with adjustments for quote marks)

[code]

But I am looking at the source; tomorrow I will test and update the readme.

Detail: the `-it` flag on the command line identifies the initial template https://github.com/usnistgov/OSCAL/blob/6246c5f4f4d879dcd5ff17e861ffdea0951fa76d/xml/convert/oscal_catalog_json-to-xml-converter.xsl#L17

the `fi

[2021-09-14 04:31] vikas-agarwal76 commented on #1020
Thanks @wendellpiez The above command works.

But when I run the SSP json to xml convertor -
https://github.com/usnistgov/OSCAL/blob/v1.0.0/xml/convert/oscal_ssp_json-to-xml-converter.xsl
on a FedRAMP template SSP from -
https://github.com/GSA/fedramp-automation/blob/master/dist/content/templates/ssp/json/FedRAMP-SSP-OSCAL-Template.json
I get some exceptions even though the file gets converted to

[2021-09-14 13:28] wendellpiez commented on #1020
@vikas-agarwal76 @david-waltermire-nist that appears to be an honest bug in the converter. We will have to look at this separately.

We are currently developing alternate pathways supporting JSON-XML conversion so there may (also) be an interim solution to offer while we do so (what do you think DW)?

[2021-09-15 13:48] vikas-agarwal76 commented on #1020
@wendellpiez Based on our chat on gitter, here is the python code fragment that I am using to do the JSON to XML conversion programmatically (instead of from command line) -
[code]
but I get "None" as output and there are no errors reported.
The "file_path" and "xsl_path" variables are same as I am using on the command line (which works).

[2021-09-20 14:16] flickerfly commented on #736
@david-waltermire-nist Is there a place I can follow the work mentioned it your comment?

[2021-09-20 14:27] flickerfly commented on #87
I'm sure some folks have worked around this not yet being implemented. What workarounds and lessons have been learned?

Also, Is there perhaps a better understanding of the problem now that we're a few years down the road that can help provide a clear direction for completion? Maybe it can be broken into some iterations to help bulid momentum and reduce the larger overwhelming nature of it?

[2021-09-20 15:34] flickerfly commented on #87
I'm curious if anything ever came of this? If so, where did it get hosted?

[2021-09-21 20:34] mruge opened #1022 "Provide Link Relations for by-component links in SSP"
# User Story:

`System-Implementation/Component` and `Control-Implementation/implemented-requirements` can both utilize `links` to create logical and technical relationships between components and the controls they work with.  Currently the `Link` assembly provides for an `href` and `rel` field.  The `rel` field currently allows any token, but only provides `reference` as a suggested or directly `

[2021-09-21 22:40] iMichaela commented on #87
@flickerfly - No, the NIST team did not receive any contributions from MITRE around such mapping model, but @david-waltermire-nist started the mapping module in collaboration with other contributors and we planned to have it released as part of OSCAL 1.1.0 (please see the list of milestones).

[2021-09-23 16:33] mruge opened #1023 "Add `imported-from` relation to links in SSP"
# User Story:

To better document how components, capabilities, and controls all relate to one another.  Additional pre-defined relation types would be useful.  Although the Link assembly allows for arbitrary values some of the time, pre-defined acceptable values would provide users and tool developers better ability to make more universally compatible documents.

Adding additional values to the f

[2021-09-24 18:03] erikjohnson2 opened #1024 "Cloud ISB Subsystem Support"
# User Story:

As an OSCAL user/consumer and Orion workgroup team member, I would like to be able to define and manage cloud subsystems throughout the NIST RMF lifecycle (using OSCAL wherever possible) to be able to define, scope and provide efficient and well-structured lifecycle support for significant portions of cloud ISBs that have different SSP control responses, different POAMs and differen

[2021-09-24 22:04] wendellpiez commented on #1020
As I understand it, we have not only interface enhancements (see usnistgov/metaschema#174) but a possible bug in the SSP (related to role-id), inasmuch as no runtime warning messages from template clashes should ever be emitted.

To close this issue we should ensure that the SSP converter in particular works with all valid inputs we have tried and that they come through cleanly and correctly witho

[2021-09-24 23:58] bradh opened #1025 "oscal-content-validator.py utility has SyntaxWarnings"
# Describe the bug

While validating with `oscal-content-validator.py`, I see:

[code]

# Who is the bug affecting?

Probably everyone using a new-ish version of Python.

# What is affected by this bug?

Minor effect - its noise that obscures the actual validation results.

# When does this occur?

When using the validator. It probably affects every run.

# How do we replicate the issue?

1. Invok

[2021-09-27 14:17] #1025 closed

[2021-09-27 18:37] iMichaela opened #1028 "Support for exporting customer responsibility data in a Component Definition instance."
# User Story:

As an OSCAL user (as system owner or vendor providing security configurations of my products, I would like to be able to identify and `export` in a Component Definition, the customer responsibility data.

## Goals:

When generating a Component Definition,  often it is important to identify that are the security configurations or the security controls the component provides and what

[2021-09-30 22:18] ancatri opened #1032 "Add complete component structure to Assessment Plan"
# User Story:

As an OSCAL Assessment Plan creator, I need to declare the component in the Assessment Plan with full structure as follows:
component -> control-implementation -> implemented- requirements

## Goals:

I have multiple implementations of a component rule assessment check for various regulations or sw lifecycle and I need to declare each assessment check in the context of its regulatio

[2021-10-01 14:38] david-waltermire-nist commented on #1023
The second case of `imported-from` maybe should be named `provided-by` .as described in teh example we produced a few weeks back.

[2021-10-01 14:42] iMichaela commented on #1023
This issue is derived from the following scenario (schematically represented below):
system-implementation
- component[@uuid="app1",@type="software"]
  - link[@rel="depends-on", @href="storage1"]
- component[@uuid="storage1",@type="hardware"]
- component[@uuid="this-system",@type="this-system"]
- inventory-item[@uuid="inv1"]
  - implemented-component[@component-uuid="app1"]
  - implemented-compone

[2021-10-04 13:44] ohsh6o opened #1033 "Approval Status and Date for OSCAL Document Instance"
# User Story:

As an OSCAL tool developer, in order to allow my tools to show that different stakeholders from the organization authoring the information system's security documentation (SSP, SAP, SAR, and/or POA&M), I want to add metadata to show the responsible parties for approval and dates of these approvals.

## Goals:

@david-waltermire-nist and I had found a way to effectively encode only t

[2021-10-04 14:17] ancatri commented on #1032
Related to https://github.com/usnistgov/OSCAL/issues/989 where we open the issue of having the rules defined as 1st class element to get an UUID which we can reference in the assessment plan.

[2021-10-04 14:18] ancatri commented on #989
Related to https://github.com/usnistgov/OSCAL/issues/1032 where we need the policy / rule properly defined UUID to map the policy / rule defined in the comp def to the check implementation .

[2021-10-04 14:32] ohsh6o opened #1034 "Approval Status and Date for Specific Portions of an OSCAL Document Instance"
# User Story:

As an OSCAL tool developer, in order to allow my tools to show that different stakeholders from the organization authoring the information system's security documentation (SSP, SAP, SAR, and/or POA&M) had approved specific portions of a document, I want to add metadata to show the responsible parties for approval and dates of these approvals for these specific portions.

## Goals:

[2021-10-05 16:58] wendellpiez opened #1035 "Upgrade CI/CD to Saxon10 for XSLT support"
# User Story:

An an open-source library Saxon9 should be useful for the indefinite future, however the current version Saxon10 is more performant and offer better (tighter) compile-time checks, for example.

## Goals:

Let's upgrade Saxon9 to Saxon10 throughout the CI/CD pipelines. The invocation syntax is the same, so this mostly means integration and testing. Any newly discovered bugs in runnin

[2021-10-07 18:18] #1020 closed

[2021-10-08 16:46] wendellpiez opened #1037 "Markdown documentation glitch in datatypes page"
# Describe the bug

On the page https://pages.nist.gov/OSCAL/reference/datatypes/#markup-data-types the subsection **Parameter Insertion** is out of date. For one thing, `<insert>` no longer carries a `param-id` but rather an `id-ref` along with a `type`. The Markdown syntax representation has also changed from simple `{{ targetID }}` to `{{ insert: type, targetID }}`.

This spec is also a bit har

[2021-10-14 17:03] stephenbanghart opened #1039 "Profile Spec - Move/Rewrite Abstract"
We should consider removing this abstract and instead move this content to the pages.nist.gov page about profiles.

The first sentence should speak to what profile resolution is and why it is important. The text should then follow with how profile resolution is done.

Let's start with writing a better abstract and then we can migrate the content to an HTML page.

_Originally posted by @david-walte

[2021-10-14 17:06] stephenbanghart opened #1040 "Profile Spec - Terminology"
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r707575015
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r707575964
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r707457125
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r707466251

Update terminology section to address above comments, sync up with NIST definitions, and add additional terms.

[2021-10-14 17:13] stephenbanghart opened #1041 "Profile Spec - include-child-controls"
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r707575589
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r707635663

Resolve above comments and clarify use cases/desired functionality.

[2021-10-14 17:56] stephenbanghart opened #1042 "Profile Spec - Language Consistency"
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r727658545
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r720393339
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r720192060
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r707521162

Resolve the following terminology and consistency issues:

- Inconsistent use of capital letters
- "included" vs "selected" usage t

[2021-10-14 18:02] stephenbanghart opened #1043 "Profile Spec - Intro rewrite/trim"
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r707455138
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r703616823
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r720275113
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r720335188
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r720341313
https://github.com/usnistgov/OSCAL/pull/1017#discussion_r72034224

[2021-10-19 15:29] stephenbanghart commented on #1042
In Import Phase: normalize to "Explicit Inclusion" and "Implicit Inclusion", drop the use of "Selection".

[2021-10-20 19:35] david-waltermire-nist opened #1044 "Some UUIDs are not required where they should be"
# Describe the bug

This issue was brought up on the OSCAL [community Gitter](https://gitter.im/usnistgov-OSCAL/Lobby?at=6167145729ddcd02931e5deb).

After reviewing the associated Metaschema files, the following objects do not require a UUID be provided. This list includes only objects where a UUID is declared and excludes entries that reference a UUID declared elsewhere. The catalog and profile m

[2021-10-25 19:27] stephenbanghart opened #1046 "Addition of the "flat" child to "combine" in Profiles"
As per changes in the Profile Resolution Specification draft (#1017 ), a new valid child object of "combine" (profile:merge:combine) will need to be added to the schemas.

"flat" is an optional child field with no valid contents (always empty). It indicates that the resolver should flatten all control output.

This issue will involve updating the Metaschema/model for Profile and ensuring any relev

[2021-10-25 19:31] stephenbanghart opened #1047 "Modification of "as-is" to be empty valued (Instead of boolean)"
As per changes in the Profile Resolution Specification (#1017), "as-is" (profile:merge:combine:as-is) needs to be changed to an empty value field instead of a boolean.

Since only one of the optional children (flat,as-is,custom) may appear in a given "merge", the field's existence is sufficient to indicate the mode.

[2021-10-28 17:36] flickerfly opened #1048 "Collaboration?"
I'm working with a team working with PEO IWS who wants to build out tools around the OSCAL format. We've been looking at what is here and wondering if there might be an opportunity to discuss our work and try to align with your objectives as we move forward. I could have a gov lead contact you if appropriate.

We'd like to be creating catalogs, poams, etc. in OSCAL and maybe converting OSCAL forma

[2021-11-01 13:40] ohsh6o commented on #1048
Are you all in communication with the eMASS developers? If not, I have talked to some of them in a formal capacity (very recently the FedRAMP OSCAL dev/engineer here) and I am sure if we put the right people in contact they will brief you, but they can tell you what OSCAL support they have in an official capacity. (I do not think that is public information at this time, so not for me to divulge; i

[2021-11-01 13:42] flickerfly commented on #1048
We have not, but that is a connection I’d be really interested in. Could you pass on whom to connect with?

From: Alexander Stein ***@***.***>
Sent: Monday, November 1, 2021 9:40 AM
To: usnistgov/OSCAL ***@***.***>
Cc: Josiah Ritchie ***@***.***>; Author ***@***.***>
Subject: Re: [usnistgov/OSCAL] Collaboration? (Issue #1048)

[External: This message originated outside SOLUTE. Click links or open

[2021-11-05 16:36] egyptiankarim opened #1049 "OSCAL Tools and Libraries"
I'm hoping you all will consider including my open source side projects on your [OSCAL Tools and Libraries](https://pages.nist.gov/OSCAL/tools/#oscal-tools-and-libraries) page. Specifically:

- [control_freak](https://controlfreak.risk-redux.io) - This tool seeks to provide folks with a searchable and easy-to-navigate reference for NIST SP 800-53 Rev 5. I built it using parsed content directly fro

[2021-11-08 16:17] xee5ch commented on #1008
Since @ohsh6o is inactive, I want to pick this up and work on it now!

[2021-11-08 21:36] SilentEsper opened #1050 "Array delimiters in props"
# User Story:

As an OSCAL developer, I would like to be able to parse prop values when they are arrays.
To do so I must know the delimiter used to by the prop instance.

## Goals:

Parse arrays as props easily

## Dependencies:

define how to describe a delimiter in an oscal array, OR specify a delimiter which must be used: aka the semicolon.

## Acceptance Criteria

- [ ] I can parse arrays in p

[2021-11-10 17:08] flickerfly commented on #1048
ritchie.josiah@solute.us would be the best option. I'd appreciate the introduction!

[2021-11-10 17:19] sunstonesecure-robert commented on #1048
robert@sunstonesecure.com is mine - would also appreciate the into (either separate thread or same) -  Kubernetes Policy Workgroup is working on OSCAL policy support (open source) and having eMASS devs validate the approach would be very helpful

thanks @ohsh6o @xee5ch

[2021-11-10 19:46] xee5ch commented on #1048
@sunstonesecure-robert, is there any info about the participation, inputs, and/or outputs of this k8s Policy Work group if one wants to participate?

Back on point: I will try to get everyone in an email and explain what you want. Just keep in mind these are eMASS developers, so I am not sure what they can validate for you.

[2021-11-10 20:36] sunstonesecure-robert commented on #1048
open to all - every other Wed 8AM PT/11AM ET - https://docs.google.com/document/d/1ihFfEfgViKlUMbY2NKxaJzBkgHh-Phk5hqKTzK-NEEs

[2021-11-10 21:07] xee5ch commented on #1033
As @ohsh6o is inactive, I will try and pick this up. I was talking to @wendellpiez and think, given feedback from the model meeting and his recommendation, I will try to update this PR and convert `approvals` and `approval` to `actions` and `action`.

[2021-11-10 21:07] xee5ch commented on #1048
@sunstonesecure-robert will definitely check it out, too bad I missed this week. :disappointed:

[2021-11-15 15:33] stephenbanghart opened #1053 "Profile Schema: "control-id" is currently optional"
"control-id" (https://pages.nist.gov/OSCAL/reference/latest/profile/xml-reference/#/profile/modify/alter/@control-id) is currently optional.

As the containing statement is inherently non-operational without this value, it should either be changed to required, or explained in the profile specification.

I'd like to hear from @butler54 as well as the NIST team (pinging @david-waltermire-nist @wende

[2021-11-15 16:03] wendellpiez commented on #1053
The only rationale that occurs to me for `control-id` being optional is in view of possible extension of the semantics of `alter` to address other elements (besides controls). However that is a hypothetical, arguably unlikely (given the purpose of profiles), and up to us in any case.

To preserve some wiggle room however and to avoid backward-incompatible thrashing in the XSD/JSON Schema, the requ

[2021-11-16 00:35] JustKuzya commented on #1053
Hi, Wendell.

I also have an control ID question: when profile is resolved and there are modifications to the control ID, should not the ID be changed if the modifications are not only additions?

I get that by looking at the profile one can see changes separately, control references separately. But once resolved, though the UUID would be different, the references to the father/mother catalogs are

[2021-11-16 01:00] wendellpiez commented on #1053
@JustKuzya,

That is correct, there is zero guarantee that a control with id `ac-1` in a resolved profile would have any similarity to (any) `ac-1` in an upstream catalog. `alter` can do just about anything while 'nominal control identity' implicitly remains with the ID value.

Indeed with the new mapping feature there is no guarantee that `ac-1` was even identified as `ac-1` and not something els

[2021-11-17 04:58] butler54 commented on #1053
So my thoughts - I think it should be required but I'm happy to leave this to v2. But my recommendation is the text in the documentation is updated to say that it is expected to error without it.

[2021-11-17 16:34] ggomez1225 opened #1054 "XML to JSON Converter"
I am working with the OSCAL XML to JSON converter and have run into an issue when using the converter to convert an OSCAL Metaschema model following the instructions as stated under "Converting OSCAL XML Content to JSON" . It will produce a JSON document that only has the following error:

<nm:ERROR xmlns:err="http://www.w3.org/2005/xqt-errors" xmlns:nm="http://csrc.nist.gov/ns/metaschema" code="e

[2021-11-18 01:19] openprivacy commented on #1018
Let me start by saying that I am a novice at profile resolution.

The goal is to be able to carry through a justification for the `add` or `remove` from Profile through Assessment so that the rationale for a missing (or additional) part is available, perhaps similarly to control guidance. Does this make sense?

[2021-11-18 03:16] iMichaela commented on #1018
@openprivacy - in my view, an author of a profile is an authoritative individual that will not need to justify why is tailoring an initial imported source (catalog or another profile). This capability exists in the SSP because that is the place where a normative baseline could be tailored but the tailoring needs to be justified. The information is then carried on through the assessment.

[2021-11-18 14:57] wendellpiez commented on #1018
@openprivacy yes I think the particular use case you describe is an SSP-layer thing not a profile layer thing.

It bears worth thinking about however - do you think a single tailored baseline would commonly or typically be used for multiple SSPs (more or less the design assumption) or on the contrary, do you think every system - hence every SSP and every assessment - will have to address its own s

[2021-11-18 22:01] flickerfly opened #1056 "Add some documentation on using Java schema in own tooling?"
# User Story:

As a developer of OSCAL documents, I would like to be able to easily find how to re-use things like the metaschema so I can quickly create tools that output OSCAL documents.

## Goals:

I have spreadsheets that represent what should be an OSCAL Catalog. I want to convert that spreadsheet into an OSCAL Catalog. I don't expect you to understand the spreadsheet, but I'd like some examp

[2021-11-19 06:42] bradh commented on #1056
There is an example at https://github.com/bradh/ism-oscal/blob/main/ozcal/xml2oscal/src/main/java/net/frogmouth/rnd/xml2oscal/Xml2Oscal.java

The Essential 8 part is a bit of noise, but shows another source.

[2021-11-19 15:25] flickerfly commented on #1056
Ah, thanks @bradh. That looks very useful. I knew there must be pre-existing work on this!

I got a good chuckle when I realized you were dealing with Australian government source and calling it ozcal. :-)

[2021-11-19 20:48] bradh commented on #1056
No extra charge.

[2021-11-26 21:18] aj-stein-nist opened #1058 "Support for "Rules" in OSCAL Models"
# User Story:

As an OSCAL tool developer, in order to ensure my software can document testing requirements that an information system must implement as one part of cumulative control implementation requirements, I would like enhancement to the OSCAL models to more explicitly define the concept of a rule as a first-class citizen. Modifications and new additions to OSCAL to tool developers to build

[2021-11-26 21:20] aj-stein-nist commented on #1058
While reviewing the backlog today, usnistgov/OSCAL#821 seems related, but specifically focused on `component-definition`s. This story work is very similarly aligned, but perhaps greater in scope. User feedback this week indicates it might not be ideal to have such checks only or exclusive in a `component`, but more modeling work is needed to determine that.

[2021-11-26 21:21] aj-stein-nist opened #1059 "Rule Checks in OSCAL Models"
# User Story:

As an OSCAL tool developer, in order to ensure my software can process and test requirements that evidence an information has properly met specific criteria defined as part of security control implementation requirements, I would like enhancement to the OSCAL models to make rule checks a first-class citizen. Modifications and new additions to OSCAL to encode these results of checkin

[2021-11-26 21:30] aj-stein-nist opened #1060 "[EPIC] OSCAL Exchange Protocol"
# User Story:

As an OSCAL tool developer, to best support users in their assessment of an information system, I would like the NIST OSCAL developers to design and recommend a standardized API for the exchange of OSCAL data to and from a security assessment tool. Such a standardized API surface would be incredibly useful for automated portions of assessment and/or continuous monitoring (in the RMF

[2021-11-26 23:44] bradh commented on #1060
@aj-stein-nist Is this API in a traditional code sense (i.e. what javadoc describes, or what you'd find in a C header, or equivalent for other languages) - like a bindings level, or more like a REST service external interface?

[2021-11-26 23:46] bradh commented on #1060
@aj-stein-nist You used the words "communicate intent", which is always fascinating. Can you expand on this? In particular, you you provide examples of what it could look like, and just as importantly, what it is not intended to mean?

[2021-11-29 16:20] aj-stein-nist commented on #1058
First thing we ought to tackle:
- How do rules fit into each of the OSCAL models conceptually? (Does the concept of "rules" make sense in a `catalog`'s model and document instance, for example? It seemingly makes sense at first glance in `component` or `system-security-plan`, right? Analyze this for each and every model.)
- How we will we connect/reference to the check for the rule (from usnistgov

[2021-11-29 20:57] aj-stein-nist commented on #1060
We received some initial feedback from some users with conceptual examples that were/are more like a REST API interface a system can expose to exchange OSCAL data.

That said, I think we will definitely moving forward solicit further community feedback, so it would be interesting to hear from you, @bradh: do you have a need for a "traditional [code] programming" API? A REST external service interf

[2021-11-29 21:21] bradh commented on #1060
So its more about the interface being "OSCAL semantics aware" ? A naive API would give me back the XML document, but the kind of thing you are looking at (potentially) could do profile resolution and check compliance results?

[2021-11-29 21:28] bradh commented on #1060
I think there could be a case for either (and both), more interested in making sure I had the vision. I don't yet have a need for a standardised code API given the functionality offered by the tools being developed (e.g. the java bindings, or compliance trestle).

I think there might be some interesting capabilities if a component (e.g. a deployed microservice) can provide part of the component de

[2021-11-29 22:03] aj-stein-nist commented on #1060
At this point, my inclination is to answer yes. The main use case we had discussed was "hey you, system, can you check compliance results and report back?"

This has absolutely zero connection to this epic as it stands, but the embedded endpoint is very close to how it was described to me, and immediately reminded me of [the goss `serve` functionality to emit a HTTP endpoint](https://github.com/ae

[2021-11-29 22:55] aj-stein-nist opened #1061 "[EPIC] Assessment Concepts Across Lifecycles"
# User Story:

As an assessor,  tool developer, or security professional leveraging OSCAL, in order to apply the concept of assessment throughout the lifecycle of an information system, I want clear guidance on how to incorporate assessment activities and tasks into that lifecycle, not just in the formation of assessment plans and assessment results.

## Goals:

- [ ] Provide a clear working defin

[2021-11-29 22:57] aj-stein-nist commented on #1061
@david-waltermire-nist per conversation today, I added this epic to group usnistgov/OSCAL#1058 and usnistgov/OSCAL#1059. I am sure more stories to follow and they can be added to the epic later as they emerge from other tasks. Let me know if I didn't represent the epic or frame the details correctly in goals.

[2021-11-30 19:30] aj-stein-nist commented on #1058
Discussed more with Dave today. Will begin by sketching out the "do rules fit into each of the OSCAL models conceptually?" question as well as gathering consensus on what the the relevant data elements are.

[2021-12-01 21:09] aj-stein-nist commented on #939
Will discuss with @david-waltermire-nist and recommend closing as 1) this story did not get a lot of feedback at the time 2) might now be obsolete. IIRC, it stemmed from a discussion that happened prior to splitting conceptual documentation and technical reference docs version by version for OSCAL. That seems to be correct by git spelunking at [`85e7d01`](https://github.com/usnistgov/OSCAL/commit/

[2021-12-01 21:16] aj-stein-nist commented on #938
Given the age of this one and the limited feedback, need to go back to the team and ask if this is serviceable or not, perhaps we move to close.

[2021-12-01 21:19] david-waltermire-nist commented on #938
@aj-stein-nist We can do this at any point once we get some input. I'd say keep this in the backlog until we are prepared to move forward.

[2021-12-01 21:24] aj-stein-nist commented on #53
Is this still needed? The goals and AC here sound like the core requirements of `catalog` and `profile` designs. They are largely stable. This is very broad in scope, even as an epic, so it is not clear if there is remaining work to do here.

[2021-12-01 22:01] wendellpiez opened #1062 "Clarification of link semantics in SSP model"
In working on SSP display logic the question of link semantics comes up.

More specifically it would be nice to have the following grid populated, corrected where wrong or incomplete, and validated against real-world requirements and feasibility. (XPath notation is used assuming the OSCAL SSP XML model as context.)

| reference | target element type | target ID type | target scope | referential co

[2021-12-02 15:12] aj-stein-nist commented on #1062
I know Brian and Rene are more knowledgeable here, but re "same SSP" for thing like `role` and `@id`, Same SSP might not work across the board because of leveraged authorizations, no? In [the updated presentation around them](https://pages.nist.gov/OSCAL/presentations/oscal-leveraged-authorizations-v6a.pdf), you might need to cross-reference the leveraged system like slides 9-13 suggests.

That's

[2021-12-02 16:04] wendellpiez commented on #1062
Indeed, where it says "same SSP" is probably where the table has it most often wrong at present.

At this point I think we know the boundary is not the document; effectively this seeks clarification on what else is inside the boundary and how we find it (what mechanisms besides `import` are we using). In some places we may (also) wish to leave it up to an application to determine (but that should

[2021-12-02 22:20] wendellpiez commented on #1062
@aj-stein-nist it occurs to me to add that to the extent the specs here are still soft or missing, the issue also dovetails with larger questions we have also been looking at. For example, whatever mechanism for linking among documents is provided for, it must be robust in the face of problems like an XML representation of a profile making reference to a catalog in JSON, because it was produced fr

[2021-12-03 00:25] aj-stein-nist commented on #1062
Sure thing, I totally sympathize with that point. I only pointed it out re the "target scope" column which explain this in terms of one OSCAL model and its document instance (not JSON/YAML/XML), and in some cases it can be more more than one instance of a particular model.

I want to stay on topic. :-)

Sure, understood. I am not sure I can help quite like Brian or Rene, but I happened to work alo

[2021-12-03 00:34] aj-stein-nist commented on #1058
@david-waltermire-nist, I know we will have another backlog refinement in the near future, but you had asked if I am ready to pull this one into Sprint 49 if you and team are ready.

[2021-12-03 21:14] stephenbanghart opened #1063 "Selection of "Glob Matching" Specification/Definition"
The Profile Resolution Specification uses pattern matching as one of the ways to include controls from a Catalog.

At this time we do not have a standardized definition for how to read/write these pattern matching strings. We'll need to pick something lightweight, with AT LEAST these capabilities:

1. Wildcards
2. Character Cardinality

[2021-12-06 19:42] degenaro opened #1064 "Grouping of Properties in OSCAL documents other than Catalog"
# User Story:

As an OSCAL tool developer, I would like `Properties` to be optionally groupable in order to differentiate different sets of `Properties` from each other.

For example: one set of `Properties` may apply at integration time while another set of `Properties` may apply at deployment time; or one set of `Properties` may apply during development while a different set of `Properties` may

[2021-12-06 21:18] aj-stein-nist commented on #1060
Note: it seems systems that would expose such an API, per [NISTIR 8011-1 4.2.1](https://nvlpubs.nist.gov/nistpubs/ir/2017/NIST.IR.8011-1.pdf) are one or more collectors that make up a collection system.

[2021-12-07 18:12] aj-stein-nist commented on #1058
[Notes from our last touch-base with interest community members](https://hackmd.io/TIOquEByTnmEgmrG44CxqA).

My current action item: build information model outline with recommended changes to include the concepts of rules.

[2021-12-07 21:52] wendellpiez commented on #1063
Many details about various glob syntaxes can be discovered on the Wikipedia page: https://en.wikipedia.org/wiki/Glob_(programming). For example, true globs entail complications such as localization for named character classes, etc.

tl;dr: for platform neutrality we probably need to define our own minimalistic glob format. In part because this needs to work over "identifier" lexical space, i.e. XP

[2021-12-07 21:55] wendellpiez commented on #1063
Also interested to hear from @david-waltermire-nist what he thinks about cutting this problem down to size by specifying our own mini-glob format.

[2021-12-07 22:37] aj-stein-nist commented on #1058
**RFC: Public feedback on draft informational model very much welcome.**

# Proposed Information Model for `rule`

Moving forward, we might suppose a rule can look like this:

- `rule` [0 to ∞]
    - `uuid` [1]
    - `title` [1]
    - `description` [1]
    - `origin` [0 to ∞]
    - `subject` [0 to ∞]
    - `props` [0 to ∞]
    - `link` [0 to 1]
        - `href`
        - `rel`:
            - `sati

[2021-12-08 14:29] david-waltermire-nist commented on #1058
A few questions:
- Given the above, if multiple rules are used to "satisfies-partially", how do you define the set of rules that "satisfies-completely"?
- How would you point to the rule or check implementation?

[2021-12-08 14:46] aj-stein-nist commented on #1058
I think it will be up operator expertise, unfortunately. I was thinking about this a lot yesterday, and I have no good ideas on how we can determine that without some really complex semantics not in place yet.

But back to the actual question, you could use `link/@href` to point the `implemented-requirement/statement` (in the case of a `component-definition` for example) with a `link/@rel` bound t

[2021-12-08 14:52] iMichaela commented on #1058
@aj-stein-nist and @david-waltermire-nist Would a numeric value associated with the `rel` for the satisfaction (aka percentage or score) make sense? In this way, an additive operation can be applied to identify the cumulative effect of partial satisfaction and aggregation towards `satisfies-completely. The numeric values would be inputs from authoritative entities that can be identified through th

[2021-12-08 15:24] aj-stein-nist commented on #1058
Personally, I think it would be hard to measure and quantify, your question makes me believe maybe the `satisfies-` `rel` attributes need more thought. I meant it be qualitative and intended for expert human insight, but as I write this I realize that also might be too bold.

I like the idea in principle but I have no idea how we could implement this in practice. Do you have any ideas around this?

[2021-12-08 15:51] iMichaela commented on #1058
@aj-stein-nist I agree it allows for more flexibility, but I do not see a mechanism for identifying the completness or coverage of the superset of rules. A superset might still provide only partial coverage. Through the aggregation, the superset comprised of `satisfies-partially` rules could achieve `satisfies-completely` or still be `satisfies-partially`. Who makes the decission (e.g. `role-id`)

[2021-12-08 16:44] wendellpiez commented on #1058
Personally I think numbers are not a good way to represent such a value space. It is not even one-dimensional. Also, they can't reliably or meaningfully be treated as numbers (does satisfies="50" + satisfies "60" = satisfies "110"?) Simple labels are better in that they do not promise what they cannot deliver. If systems have actual ranked/numeric values in a taxonomy they wish to label things wit

[2021-12-08 17:21] iMichaela commented on #1058
@wendellpiez - Per our initial discussion, rules are associated with controls or statements of controls. I cannot picture a scenario when such a cyclic approach would be necessary (when a rule associated with a control or statement of a control needs to link to another control). Do you have an example is mind?

It depends on the numeric value :). If it is 50% added to 60% you can only get 100%. If

[2021-12-08 17:38] aj-stein-nist commented on #1058
I think both of you are making good points, @iMichaela and @wendellpiez, and I will likely adjust my draft recommendation to say the `link/@rel` can only be used to talk about possible relationships between independent rules (e.g. `link/@rel="required-with"` or `link/@rel="recommended-with"` or the others) and remove the idea of satisfaction markings we are discussing for this very reason. There i

[2021-12-08 23:11] aj-stein-nist commented on #1058
I have continued trying to formulate examples, and it seems trying to reuse the `origin` and `subject` assemblies from elsewhere might not work so well, structurally. That, in addition to the feedback above, probably warrants an update in the design of the `rule` object proposed above.

[2021-12-09 16:25] Rene2mt opened #1066 "Identifier Scoping and Uniqueness Documentation Review"
This issue is for a comprehensive review of the changes made in [PR#941](https://github.com/usnistgov/OSCAL/pull/941)to ensure documentation describes identifier uniqueness and scoping clearly and accurately.   The (peer) review should include the following:

**Concepts - Identifier User Page Peer Review** ([see added Identifier Use page](https://github.com/usnistgov/OSCAL/pull/941/files) )
- [ ]

[2021-12-09 19:34] JustKuzya commented on #728
### Added merging logic for the cases when the same role "Responsible Party" was added with Links, Props, and/or Remarks

[2021-12-09 20:42] wendellpiez opened #1067 "Small typo in flag allowed value"
# Describe the bug

In the implementation-common Metaschema is a little glitch: https://github.com/usnistgov/OSCAL/blob/b53a9739cb5a94a1c34ca7c0c78cda86f2ab081c/src/metaschema/oscal_implementation-common_metaschema.xml#L141

this should have

[code]

# Who is the bug affecting?

Anyone who tries to validate this value.

# What is affected by this bug?

Users and developers.

# Other Comments

This

[2021-12-09 21:52] aj-stein-nist commented on #1058
**Updated RFC: Public feedback on draft informational model welcome. This supersedes previous comment**

# Proposed Information Model for `rule`

Moving forward, we might suppose a rule can look like this:

- `rule` [0 to ∞]
    - `uuid` [1]
    - `name` [0 to 1]
      - `title` [1]
      - `description` [1]
      - `condition` [0 to 1]
      - `condition-evaluator` [0 to ∞]
        - `uuid` [1]

[2021-12-10 01:47] galtm opened #1068 "Processing model for modification phase of profile resolution"
I read a version of the profile specification from #1017 (before that PR was completed, so it was an interim version). In the section about add and remove directives in the modification phase, I didn't see an explanation of how directives were meant to be processed relative to each other.

A situation that may be similar is XQuery Update, whose processing model is described here:

* https://xmlmin

[2021-12-10 14:23] #1039 closed

[2021-12-10 14:23] #1040 closed

[2021-12-10 14:23] #1041 closed

[2021-12-10 14:23] #1042 closed

[2021-12-10 14:23] #1046 closed

[2021-12-10 15:54] david-waltermire-nist commented on #1064
It was proposed on the 12/10/2021 model review to add a new flag that would allow for grouping of related properties. This grouping would be scoped to the containing object. A UUID can be used as the grouping value (or maybe a token).

We need some concrete XML, JSON, or YAML examples of what this would look like. @degenaro can you provide some?

[2021-12-10 18:10] wendellpiez commented on #1058
Are we allowed to debate names yet? I like the model so far. I like the migration of the settings from `link` to `prop`.

Is `condition-target` a `subject`? The idea with `task/subject`, `associated-activity/subject` is that these are inline descriptions (which could have links) as opposed to simply links to other (first-class) OSCAL objects. As against that use case ('rule' vs description of an a

[2021-12-10 18:36] wendellpiez opened #1069 "Research spike: untagged links in parameters"
# User Story:

As noted on Issue usnistgov/oscal-content#86, the most recent revision of SP800-53A includes at least one parameter where more information should be captured (regarding parameter values and constraints) and the dataset enriched to represent it, such as expressing the link between the parameters formally (to begin with), or validate the value set across them (for example).

![image](

[2021-12-10 21:14] aj-stein-nist commented on #1058
Absolutely!

Great, thanks for saying so.

The reason I moved away from that, @wendellpiez, is it could or could not be an abstraction over an (assessment task), dependent upon other future design decisions about what elements in what models it can refer to; `task/subject`, `associated-activity/subject` are constrained in that way. But `rule`s do behave similar to them insomuch as they are " inlin

[2021-12-10 23:02] aj-stein-nist commented on #1058
Updated some more examples above. More examples to come, and maybe gathering up documents on use cases more concretely over the next week.

[2021-12-13 21:07] aj-stein-nist commented on #1058
@stephenbanghart, last we chatted you had discussed interest in this draft to add recommended features to one or more OSCAL models. The current draft design, with some examples embedded in a component, are available for review and public comment. Feedback welcome!

[2021-12-14 20:52] emili910 opened #1072 "The correct place to put the security authorization boundary for the system and list the IP addresses (CIDR) blocks and FQDNs for the host in the SSP"
{Please enter your question.}
Per David's note opening a discussion topic on the following question:

Where in the SSP is the correct place to put the security authorization boundary for the system? More precisely, where is the right place to list all the IP addresses (CIDR blocks) for the network, the FQDNs of the hosts? In some larger systems, this could be a challenge, i.e., listing all the res

[2021-12-16 01:59] aj-stein-nist commented on #1058
Added some more examples. I am also tracking `component-definition`s and other XML samples in the following fork branch of the oscal-content repo.

https://github.com/aj-stein-nist/oscal-content/tree/issue-1058-rules

[2021-12-16 15:41] degenaro commented on #1064
Here's an example of using remarks to form groups (thanks, Vikas).

[profile.json.zip](https://github.com/usnistgov/OSCAL/files/7728615/profile.json.zip)

[2021-12-16 16:12] aj-stein-nist commented on #1064
Thanks for the contribution, @degenaro and @vikas-agarwal76. We shall take a look. In the future, you might benefit from using [GitHub Gists like this to post examples](https://gist.github.com/aj-stein-nist/46f3e50373622c90b6f684b6deb22a73) for issues to refine samples!

[2021-12-16 16:55] stephenbanghart commented on #1068
This is good feedback, I'll take a look at the current draft and see if there are some places we can enhance clarity on this.

[2021-12-16 17:44] aj-stein-nist commented on #1058
In today's developer meeting, Dave discussed an emerging standard around remote attestation of system facts, [RATS](https://datatracker.ietf.org/wg/rats/about/). I will look into this for potential overlap or improvements that can inform this work, especially around rules and rule checks regarding automated testing to support assessment objectives in some cases.

[2021-12-16 17:48] aj-stein-nist commented on #1058
Also in the developer meeting, @JJediny resurfaced (at least for me) InSpec profiles developed, maintained, and operated by MITRE and CMS as part of application of [the MITRE Security Automation Framework](https://saf.mitre.org/#/) for instrumenting manual assessment results alongside automated network, cloud infrastructure, and system posture testing.

https://github.com/CMSgov/cms-ars-3.1-modera

[2021-12-17 16:23] aj-stein-nist commented on #1058
Had a very constructive conversation with @stephenbanghart and will have to work about understanding of overlap/conflicts with the following portions of the `assessment-plan` and `assessment-results` models.

- `assessment-plan`
  - `task`
    - `associated-activity`
    - `dependency`
    - `subject`
- `assessment-results`
  -  `observations`

[2021-12-19 19:06] galtm opened #1075 "Certain XPath expressions in profile resolver don't match spec"
# Describe the bug

I found some XPath expressions in `src/utils/util/resolver-pipeline/oscal-profile-resolve-select.xsl` that don't align with the latest spec. Can you confirm?

**Line 181:** `<xsl:sequence select="some $m in ($importing/include/matching[o:calls-children(.)])`
The element name `include` should say `include-controls`. Also, I believe the predicate expression belongs on `include-co

[2021-12-21 15:44] wendellpiez opened #1076 "[EPIC] Update XSLT profile resolver to current specification"
# User Story:

The XSLT profile resolver (pipeline) provided in `src/utils/util` provides only a subset of the functionality described by the [spec](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/), enough to work for simpler baselines but not for complex cases using all features. Also, it already shows signs of 'dead code' from earlier releases that were hastily updated (see

[2021-12-23 18:44] flickerfly commented on #1058
I like the idea of bringing this concept to the front. Would a CCI represent a "rule" for those of us in a DISA context?

I'm trying to think about modeling a potential continuous authorization. Would a single software pipeline filled with various tools evaluating conditions be represented as its own CDef? In a cATO model, I'm assuming the pipeline gets the authorization and the output of it inher

[2021-12-30 22:19] aj-stein-nist opened #1078 "Best Practices for Props, Links, and UUID Version Management"
# User Story:

As an OSCAL tool developer, in order to best implement component definitions and document instances of other models, I would like to know best practices on how to properly use `link`'s and `prop`'s within assemblies by properly referencing a `component`'s UUID to convey when the component has significantly changed or stayed the same (with some reasonable semantic assumptions).

## G

[2022-01-02 12:27] guyzyl commented on #335
@david-waltermire-nist would a basic OSCAL YAML to markdown script suffice here? Or is a 2-way conversion needed.

[2022-01-02 12:36] guyzyl commented on #324
@anweiss if we're discussing the cloud-native approach, how about something similar to [CloudEvents](https://cloudevents.io/).
I personally don't think there's a need to standardize the API itself, only the schema of how the data is transferred over API.
Since OSCAL already defines the content itself, all that is needed is to add the "API metadata" layer that will go along with it.

[2022-01-02 12:48] guyzyl commented on #938
IMO adding a "quick start guide" to the landing page would better introduce new users to OSCAL.
It'll help new users understand how they can start using OSCAL, and how can it be introduced into their organization.

[2022-01-02 12:56] guyzyl commented on #1060
@aj-stein-nist I think we can learn from the "cloud-native" approach, and look at how [CloudEvents](https://cloudevents.io/) solves a similar issue.
I personally don't think there's a need to standardize the API itself, only the schema of how the data is transferred over API.
Since OSCAL already defines the content itself, all that is needed is to add the "API metadata" layer that will go along wi

[2022-01-02 19:37] rgauss commented on #1060
@guyzyl, OSCAL does a great job at defining the schema at the 'document' level, i.e. root OSCAL objects, but these tend to be very large ([non-minified rev4 800-53 catalog](https://github.com/usnistgov/oscal-content/blob/master/nist.gov/SP800-53/rev4/json/NIST_SP-800-53_rev4_catalog.json) is 5.36 MB!) and an approach of clients simply updating an entire OSCAL document will lead to concurrency and

[2022-01-02 20:55] galtm opened #1079 "Questions about resolving internal references in profile"
I have questions about the profile resolution spec, in the internalref section, where it says:
"If the object fetched cannot be found or is not a valid OSCAL object, the tool MUST cease processing and provide an error."

Questions

1. Does the object-not-found case apply when *anything* interferes with fetching an object? For instance, should `<import href="#nonexistent"/>` return an error if ther

[2022-01-02 21:09] sunstonesecure-robert commented on #1060
Here's my attempt at distilling a more concise set of use cases from above:

* assessment, examples include:
  - query and CRUD inventory
  - query and CRUD control implementations
  - query and CRUD SAP elements
  - query and CRUD SAR elements, e.g. check compliance results

* management of SSP, examples include:
 - query and CRUD of SSP content (too much to repeat here) but specifically:
   - qu

[2022-01-03 14:47] aj-stein-nist commented on #1060
Thanks I will take a look, @guyzyl.

I will follow up on this separately.

[2022-01-03 15:02] aj-stein-nist commented on #1060
@guyzyl, I am not sure this is a 1:1 duplicate, but I do think it relates to usnistgov/OSCAL#324. This is the point of my note here in the current form of the issue as created.

Several members of the community (like @rgauss), as pointed out here prior, have started work on an API for the OSCAL object models. This story, as I originally drafted it, is to build an API specification for higher-level

[2022-01-03 15:10] aj-stein-nist commented on #938
I guess that is a good point. I think the hard implied question is: who is the "new user" to OSCAL? You might be [a security assessor, a security professional, or a developer writing security software that could use OSCAL](https://pages.nist.gov/OSCAL/about/stakeholders/). All of them are a little or significantly different as new users. Does that mean one quick start guide or multiple? What would

[2022-01-03 17:58] iMichaela commented on #335
@guyzyl - you might want to see the IBM work here: [https://ibm.github.io/compliance-trestle/tutorials/ssp_profile_catalog_authoring/ssp_profile_catalog_authoring/](https://ibm.github.io/compliance-trestle/tutorials/ssp_profile_catalog_authoring/ssp_profile_catalog_authoring/)... The description reads: "_In summary, the catalog tools allow conversion of a Catalog to markdown for editing - and back

[2022-01-06 09:05] guyzyl commented on #938
I think the fastest one to get off the ground would be a quick start that assumes knowledge in security, introduces the reader to OSCAL and gives concrete examples on how to get started using it.
Slides 58-110 [here](https://pages.nist.gov/OSCAL/learn/presentations/OSCAL-workshop-20191105.pdf) do a great job of introducing the model's layers alongside XML examples to show what they look like in re

[2022-01-06 17:13] Rene2mt commented on #860
- Created a new documentation page under "contents" that provides a summary narrative on identifier user, including the most common identifier types in OSCAL, their uniqueness, and scope.  This documentation also attempts to describe which identifiers may be referenced when an OSCAL document imports another (e.g., AP imports SSP).
- All metaschemas have ben updated (pending review - see #1066 ).
-

[2022-01-07 02:11] #938 closed

[2022-01-08 15:15] galtm opened #1081 "Profile resolver has XSLT key based on `resource/@id` -- not needed?"
The file `src\utils\util\resolver-pipeline\oscal-profile-resolve-select.xsl` has two definitions of the same XSLT key. I believe the first is dead code because the resource element does not support an attribute named id. Can someone confirm that and consider removing the unused definition?
[code]
If it isn't dead code or will become operational when a future enhancement is made elsewhere in the co

[2022-01-11 15:27] david-waltermire-nist commented on #1058
@aj-stein-nist and @stephenbanghart Given the outline above and the notes from your conversation, we should consider reusing the [actor](https://pages.nist.gov/OSCAL/reference/latest/complete/json-reference/#/assessment-results/results/observations/origins/actors) assembly from the OSCAL assessment plan/results model in place of `condition-evaluator`. Also, use of [assessment-subject](https://page

[2022-01-11 23:55] aj-stein-nist commented on #1058
@david-waltermire-nist, sorry I had not updated comments as I have worked on this. I am trying to work through examples of my own for `assessment-plan` and `assessment-results` with two intents:

1. What you requested in the previous comment, considering the move from an existing `assembly` definitions in the SAP and SAR models.
2. Preparing supporting documents to explain the difference between `

[2022-01-12 14:08] aj-stein-nist commented on #1058
Some updated direction from community feedback received yesterday:

- Consider parameterization (with `set-parameter` and `parameter`) of arguments to use parameters in (for now) what is the `condition-evaluator`
- Review the `supports` with `ref-id` or `uuid` target approaches when linking from a rule _to_ a target `statement` in an `implemented-requirement` of a `control-implementation` (one exa

[2022-01-12 15:55] aj-stein-nist commented on #1058
So I apologize, @flickerfly, I had held off on responding. On some of these questions I still don't have good answers. I held off a while, but I have been thinking about them a lot as of late, so I thought now was the time.

I guess yes and no. Funny enough, I had never read [the official definition of CCI from the DISA website itself](https://public.cyber.mil/stigs/cci/), just used them for a lon

[2022-01-12 20:57] aj-stein-nist commented on #1058
Another important piece of feedback from Dave regarding this issue, consider how OSCAL does/doesn't and should/shouldn't model checklists and configuration baselines as native OSCAL objects. Is that expressible as `rule`s in OSCAL. Can a checklist or configuration baseline be grouped somehow to represent all the `rule`s as a single entity like that checklist or baseline?

[2022-01-12 21:00] aj-stein-nist commented on #1058
Received some feedback from community members and questions about the [the Controls Assessment Specification](https://github.com/CISecurity/ControlsAssessmentSpecification). Will need to think about some of the more difficult questions and conditionals in a rule given [examples cited](https://github.com/CISecurity/ControlsAssessmentSpecification/blob/f4d158b5ffceb512fa4cd4a5b68cf1d0a9e4fa96/contro

[2022-01-12 22:41] gregelin opened #1083 "Component types in presentation of leveraged authorization do not exist in standards enumerated list of component types"
# Describe the bug

A NIST presentation on component types includes SSP code examples that show component type as "leveraged-system" and other types that do not exist in the OSCAL 1.0.0 standard enumerated list of accepted values for component types.

# Who is the bug affecting?

This bug effects all developers working with OSCAL, particularly vendors working to implement the code.

# What is affe

[2022-01-12 22:57] aj-stein-nist commented on #1083
Good catch! FYI, the way the words are written in the constraint spec are determined by the Metaschema definition, and that references [a shared entity that gets rendered into the form you show in the later screenshot](https://github.com/usnistgov/OSCAL/blob/eaf1bf51d546dc0a21e6b98c1cdd0cb63f499057/src/metaschema/shared-constraints/allowed-values-component-type.ent) [and is de-referenced here](htt

[2022-01-13 19:28] aj-stein-nist opened #1084 "Improve Contribution Guidelines for External Developers"
# User Story:

As an OSCAL community developer, in order to understand how to best design, develop, and propose changes to the core NIST OSCAL developer community, I would like clearer guidelines on how to create pull requests and where to target them.

## Goals:

Per discussion during the community OSCAL Dev Lunch on 13 January 2022, Dave and I talked about, by way of example in usnistgov/OSCAL#1

[2022-01-13 19:34] rjb4standards opened #1085 "Support for NIST SP 800-161 Appendix F, for Executive Order 14028?"
Are there any plans to produce OSCAL artifacts for NIST 800-161 Appendix F, supporting Executive Order 14028?

[2022-01-13 19:35] stephenbanghart opened #1086 "Profile Resolution Requirement Tagging"
# User Story:

For both internal NIST development and ease of use by downstream, the Profile Resolution Specification could provide inline tagging that identifies requirements. Tagging each requirement (using surrounding XML tags) allows for requirement indexing and breakouts.

Dependency for #1087  to create the requirement index.

## Goals:

All requirements, that is, any phrase or sentence that

[2022-01-13 19:38] stephenbanghart opened #1087 "Profile Resolution Requirement Driven Unit Tests"
# User Story:

Unit tests that verify each individual requirement in the profile resolution specification help verify compliance and can be used to drive implementation. These tests would be provided by NIST to be a helpful tool for Resolver Tool implementers and users, not to be an official definition of compliance.

Using the results of #1086 to generate unit tests would accomplish this.

## Goa

[2022-01-13 19:45] wendellpiez opened #1088 "EPIC: oscal-tools site and repository maintenance"
# User Story:

This is a tracking Issue for work in the oscal-tools repository https://github.com/usnistgov/oscal-tools

## Goals:

Short term, ready any time, with no (known) blockers:
- [x] https://github.com/usnistgov/oscal-tools/pull/29
- [x] Issue review and triage

(Also any other PRs in the OSCAL-Tools site:  https://github.com/usnistgov/oscal-tools/pulls)

Longer term strategic policy:

ht

[2022-01-13 22:42] iMichaela commented on #1085
@rjb4standards - Unfortunately NIST OSCAL team does not have the cycle, any time soon, to generate the requested information.
If you are interested in the F-x tables in the Appendix F of SP 800-161, those are good candidates for OSCAL profile(s). There are 2 ways of including the E.O 14028 mapping:
1) The catalog of controls will have to be first altered to include the E.O.14028 mapping for the li