[2022-01-14 14:20] rjb4standards commented on #1085
Thanks you for the quick response, Michaela.

[2022-01-14 14:44] sunstonesecure-robert commented on #1085
I can bring it up to the CNCF supply chain group. Also The Kubernetes
Policy WG is working on Profile alignment, inclusive of supply chain
management policies, so I can discuss if we can contribute back a PR to
OSCAL.  No guarantees but we'll discuss options.

On Fri, Jan 14, 2022 at 6:20 AM Dick Brooks ***@***.***>
wrote:

[2022-01-14 14:50] rjb4standards commented on #1085
Thanks for offering to research this matter. I know that NIST SCRM is working on update to Appendix F to provide guidance needed to implement EO 14028 and the Senate passed legislation on Wednesday that would also fit into this category, i.e., training regarding cybersecurity supply chain risk assessments.

[2022-01-14 17:28] aj-stein-nist commented on #1085
Do you have more details on this? You are looking into 800-161 (either appendix) and contributing it back, @sunstonesecure-robert?

[2022-01-14 17:29] aj-stein-nist commented on #1085
FYI we also have an open call in usnistgov/OSCAL#1080 for use cases in components/SSPs. Not 100% relevant to this, but I am not sure someone has asked about "a component in a def or SSP that shows supporting evidence around 800-161 controls" yet. Just a thought! :-)

[2022-01-14 19:42] rjb4standards commented on #1085
Supporting evidence will be key for SP 800-161, but SBOM vulnerability reporting is also gaining momentum. This week Cyclone DX announced V 1.4 with support for vulnerability reporting in their NTIA supported SBOM standar. I posted an article recently about the various methods for vulnerability reporting after receiving a message from Allan Friedman of CISA: https://energycentral.com/c/um/terminol

[2022-01-14 20:12] aj-stein-nist commented on #1085
I will have to look later since this requires a membership and I cannot access it even with Javascript disabled. I will have to review from a personal workstation another time.

If you see how evidence of 800-161 and/or SBOM vulnerability reporting would fit into documenting an information system for federal government use and would like to experiment with that, I would really appreciate a quick s

[2022-01-14 20:17] rjb4standards commented on #1085
Thanks, Alexander. The next release of SP 800-161 is expected to come out sometime in February. Then we'll all have a better sense for what those Appendix F EO 14028 requirements will be.

[2022-01-14 20:46] wendellpiez commented on #1081
Yup, I noticed the same thing. This was left in place defensively but you're right it should be expunged.

(Asking was correct in this case, but the fault here is mine in letting the code handle the no-longer-schema-valid option, at least not without leaving a comment to say why.)

@galtm are you able to start making interventions into the code as well as adding tests in your branch? Assuming the

[2022-01-14 21:18] galtm commented on #1081
@wendellpiez Yes, I can take care of this issue and tie it into the PR that I'm planning for the near future. Thanks for confirming that this line of code is not needed.

[2022-01-14 23:16] iMichaela commented on #1085
@aj-stein-nist - we can take it internally at NIST with the authors. If Jon et. all. wants to release the data in OSCAL, and **if we can get a little help,** we might be able to generate **the SP 800-161 Appendix F tables** with the mapping to the EO 14028 in OSCAL. Examples, use cases, and SBOM beyond the existing `inventory` is a lot more of work. As of today, we have a full plate with the confe

[2022-01-14 23:36] aj-stein-nist commented on #1058
Did some more review and trying to work on some examples to prove myself right or wrong on:

- whether we need a custom `rule` definition
- if we can adapt the the current shape of the `rule and reuse as much of an `activity` as possible
  - if `activity` is reusable, what would need to change, if anything, to make that happen

This still requires going through more SAP/SAR work, potentially conne

[2022-01-15 13:22] rjb4standards commented on #1085
Thanks, Michaela.
Reliable Energy Analytics (REA) stands ready to work with any entity in the EO 14028 community that wants to start working/planning their implementation today following NIST SP 800-161 Appendix F and the NTIA SBOM requirements, including the pursuit of an OSCAL artifact, if the EO 14028 community wishes to pursue this effort.

[2022-01-17 01:11] iMichaela commented on #1085
@rjb4standards - This is great. We can provide guidance to community members interested in rolling sleaves.

[2022-01-17 13:02] guyzyl opened #1090 "Mix of dashes and underscore in json schema's file names"
# Describe the bug

In `json/schemas` directory most schemas use underscores for file names (for example - `oscal_component_schema.json`).
There are currently two files using a mix of underscores and dashes, they are:
- `oscal_assessment-plan_schema.json`
- `oscal_assessment-results_schema.json`

This causes file naming discrepancies between the different schema files, and should be changed for be

[2022-01-17 19:35] iMichaela commented on #1090
@guyzyl - The naming convention is consistent: oscal_[model name]_schema.json, where the model name follows the dash convention for composed names. All the other files do not present the dash structures because the model name is comprised of one word. Assessment Plan (aka assessment-plan)  and Assessment Results (aka assessment-results) are the only model names that have 2 words. Similar naming co

[2022-01-17 21:04] IvanDrag0 commented on #1060
For reference, EasyDynamics has developed an OpenAPI representation of OSCAL:

[https://github.com/EasyDynamics/oscal-rest.git](https://github.com/EasyDynamics/oscal-rest.git)

The STIX related TAXII server might also present a good model/representation of a communication protocol:

[https://oasis-open.github.io/cti-documentation/taxii/intro](https://oasis-open.github.io/cti-documentation/taxii/in

[2022-01-18 12:07] guyzyl commented on #1090
@iMichaela I now see the consistency.
Wouldn't it make more sense to have either all dashes or underscore for the file names?
AFK it is uncommon for dev related files to have a mix of the two.

[2022-01-18 13:22] david-waltermire-nist commented on #1090
I'll bring this up on the next Lunch with the Devs on 1/27 and get some broader opinions on a way forward. If we make this change, it will likely need to be made in a major/minor release with some warning to the community.

[2022-01-18 13:49] aj-stein-nist commented on #1060
They have presented their work and it is on my radar. How this is slightly different I allude to in https://github.com/usnistgov/OSCAL/issues/1060#issuecomment-1004151325. But, yes, it will not be ignored when this work is started.

I have not had a chance to dig into STIX and TAXII as their I different domain in security, I had not considered them actively. Now that I think about it, it is worth

[2022-01-18 14:21] aj-stein-nist commented on #1090
At first, long before I was a team member ironically, I was like why underscored and dashes at the same time? I noticed others do this too, and I had personally preferred one or the other. Using underscores for file parts and logical model names have dashes makes it easy to Alt-Tab for file completion in terminal and code editors because the NIST OSCAL devs were consistent.

I can show on the call

[2022-01-19 21:30] aj-stein-nist opened #1093 "Content Upgrade Converters Do Not Check or Fix Up xsi:schemaLocation"
# Describe the bug

Given a well-formed OSCAL document instance (`catalog`, `profile`, `system-security-plan`) with a valid `xsi:schemaLocation` for a particular version of OSCAL pinned and not using the development tags (`main` or `master` or `develop`), a document instance can be upgraded by any of the converters and will attempt to validate the upgraded document (now `<oscal-version>1.0.0</osca

[2022-01-21 18:41] aj-stein-nist commented on #1058
Presented on this as the OSCAL Model Meeting on 21 January 2022. Got some feedback.

- General feedback: we communicate about [RMF] Assessment workflows and data versus self-assessment differently from now on: Assessment versus evaluation and self-evaluation
- Community members are still clamoring for `parameters` as a first-class object. Relevant, but not in scope for now. #1069 and other relevan

[2022-01-21 21:32] #1048 closed, assigned to nobody

[2022-01-21 21:35] david-waltermire-nist commented on #1032
We should hold off on addressing this until we make significant progress on #1058, since how we address rules may provide a different path for solving this. I am going to add this to the backlog for now.

[2022-01-21 21:45] #1085 closed, assigned to nobody

[2022-01-21 22:04] david-waltermire-nist commented on #1047
We can't do this in 1.x, since it will be a backwards compatible breaking change. I'll add this to 2.0. We can deprecate the merge structure and replace it with a new/better structure in the near term. This should be made a new issue.

[2022-01-21 22:08] david-waltermire-nist commented on #1028
This is dependent on making progress on #722 and should be follow-on work.

[2022-01-21 22:14] david-waltermire-nist commented on #1019
This will be addressed by #860 and PR #941. Closing this in favor of the other issue/PR.

[2022-01-21 22:14] #1019 closed

[2022-01-21 22:20] galtm commented on #1076
@wendellpiez : #1101 has some overlap with this issue.

[2022-01-22 04:23] aj-stein-nist opened #1102 "Website Build Scripts Path Confusion and Filesystem Watching"
# Describe the bug

I determined this yesterday when completing a review for usnistgov/OSCAL#1089, but the run script had some minor pathing issues that load somewhat confusing mounts of `/oscal` for the source code and remounting the sub-directory of `docs` as `/docs` within the container. Additionally, the container does not watch for local changes (`hugo --watch ...`) so reloading the server ma

[2022-01-23 04:42] fkautz commented on #843
Would it be possible to perhaps add some form of identifier that the profile creator can set?

[code]

The above approach would also allow for nesting and referencing in documents that consume the profile. e.g. `prof-3.cat-2.param-1`

[2022-01-25 20:20] aj-stein-nist opened #1105 "Clarify Distinction Between OSCAL Data Types `token` and `NCName` in Website"
# User Story:

As an OSCAL tool developer, in order to best understand the requirements and constraints for given data types in OSCAL, I would like more clarification in docs around the difference between the `token` and `NCName` data types in the OSCAL website documentation.

## Goals:

It should be more clear how the datatypes work, specifically how they are different, as both data types have th

[2022-01-25 20:45] aj-stein-nist opened #1106 "Version's Number Missing in Generated Docs from Model Documentation Generation Script"
# Describe the bug

During code review for usnistgov/OSCAL#941, we have discussed it in https://github.com/usnistgov/OSCAL/pull/941#discussion_r788333163 but not tracked it yet. The code in [`generate-model-documentation.sh`](https://github.com/usnistgov/OSCAL/blob/ffa6033360f5ab740c8bc80cbbaeaddf5dc64cd8/build/ci-cd/generate-model-documentation.sh) for the `main` branch and drafting website docs

[2022-01-25 21:00] aj-stein-nist opened #1107 "Metaschema Schematron Validation Checks Issues"
# Describe the bug

As part of usnistgov/metaschema#164, usnistgov/metaschema#172 removed (actually renamed, but the `git` commands did not detect a move, not just a delete) from `metaschema-check.sch` -> `metaschema-composition-check.sch`. The embedded `xml-model` processing instructions point to the old files, which is why I was missing some validation errors. When using oXygenXML, this means th

[2022-01-25 22:55] #1049 closed

[2022-01-25 22:55] #1102 closed

[2022-01-25 22:56] #1084 closed

[2022-01-25 22:57] aj-stein-nist commented on #1107
This should be closed by #1108. Talking to Dave, not sure why linked PRs with `closes #XYZ` commits and PR messages are not closing properly. This wasn't the only one.

[2022-01-25 22:57] #1107 closed

[2022-01-25 23:20] aj-stein-nist opened #1109 "Setup Commit Signing for NIST OSCAL Developers"
# User Story:

As an OSCAL tool developer, in order to ensure the integrity of the OSCAL project source code, I would like to see a policy, procedure, and implementation of how the NIST OSCAL development team signs commits merged into the official source code repositories.

## Goals:

Per [community request from those reviewing SP 800-53A updates and other related cybersecurity standards from NIST

[2022-01-25 23:21] aj-stein-nist commented on #1109
OK, @trevor-vaughan, Dave liked your comments today so we will add this to the backlog. Feel free to subscribe and provide feedback as there are updates.

[2022-01-26 01:30] GaryGapinski commented on #1107
\<oXygen/\> XML Editor has an `Options->Preferences->XML->XML Catalog->Verbosity->Unresolved entities` setting that will indicate failures (though it can be rather prolix).

[2022-01-26 20:40] #1067 closed

[2022-01-26 21:02] aj-stein-nist commented on #1037
I talked to Dave and I will quickly pick this one up so we can prep for it for 1.0.1 release.

[2022-01-26 22:03] #1053 closed

[2022-01-26 22:07] #1037 closed

[2022-01-27 09:09] avdouglas-nist opened #1113 "Tracking issue for nested issues and tasks list from the oscal-cli nodejs repo"
This is a tracking issue for the remaining tasks for issues [#7](https://github.com/usnistgov/oscal-cli-nodejs/issues/7): Rewrite CI/CD pipeline content converter and schema generation and [#5 ](https://github.com/usnistgov/oscal-cli-nodejs/issues/5): Rewrite CI/CD pipeline copy and convert content in the oscal-cli-nodejs repository:  https://github.com/avdouglas-nist/oscal-cli-nodejs/tree/feature

[2022-01-27 18:59] JustKuzya opened #1117 "OSCAL Catalog/Profile Editing Tool (Tracker-Issue)"
# User Story:

As OSCAL adopting security professional I need to author/tailor OSCAL catalog/profile to the needs of my project/system/organization. I need to modify catalog structure, content, and control grouping to reflect the actual needs. The results should be saveable as profile. (Possibly as modified catalog)

## Goals:

This is an Epic-level plug-in tracker issue for the OSCAL Catalog Auth

[2022-01-27 19:13] #860 closed

[2022-01-28 23:36] aj-stein-nist commented on #1106
I will try and take a look at this during the upcoming week, @david-waltermire-nist. Assigned it to myself.

[2022-01-30 16:05] david-waltermire-nist commented on #739
Closed by merging PR #995 with modifications.

[2022-01-30 16:05] #739 closed

[2022-01-30 16:37] #854 closed

[2022-01-30 18:00] #1044 closed

[2022-01-31 14:36] aj-stein-nist commented on #1106
Per discussion with Dave, this was resolved as part of the 1.0.1 release cleanup by ensuring the `git checkout` depth is not at a max of 1. Pulling in full history allows tag resolution.

[2022-01-31 14:36] #1106 closed

[2022-01-31 17:47] aj-stein-nist opened #1119 "Security and Threat Models of OSCAL Information Model Flows"
# User Story:

As a security professional, in order to advise my organization on how to the benefits, challenges, and risks of sharing the different data encoded in OSCAL, I would like to have a security model and a generalized threat model to understand how the sharing of certain data and with whom we share it will have impacts to my information system, business unit, division, and agency's infor

[2022-01-31 17:51] aj-stein-nist commented on #1119
They are not explicit dependencies, but discussion of the relevance and impact of this work came up when reviewing the long-term implications of usnistgov/OSCAL#1058, usnistgov/OSCAL#1059, and usnistgov/OSCAL#1060 during a weekly work review with Dave.

[2022-01-31 21:06] vmangat opened #1120 "POAM Item should have a related-finding assembly"
# User Story:

As an OSCAL tool developer, it is a challenge to identify a "target" or the implementation-statement-uuid for a specific poam-item without traversing through the observations of the poam-item and then correlating these observations with the related-observations in the findings

## Goals:

This can be implemented by including an assembly in poam-items as follows:

[code]

or

by use

[2022-01-31 23:09] aj-stein-nist opened #1121 "Document and Diagram CI/CD Workflows"
# User Story:

As a NIST OSCAL developer, in order to best understand the different logical steps of the development pipeline and their implementation in the OSCAL CI/CD system, I would the logical steps (and their implementation) for different forms of project automation (release management, website updates, and GitHub issue management) diagrammed to understand current state and plan future impro

[2022-01-31 23:10] aj-stein-nist commented on #1121
@david-waltermire-nist, per conversation today, I thought we would add this here and then work it when we are ready/able. We can definitely talk about this during the week as you see fit, and then bring it into sprint accordingly.

[2022-02-01 13:53] aj-stein-nist commented on #1121
From discussion with Dave via Gitter, the high-level current overview of our CI/CD processes.

# OSCAL repository Quality Assurance Checks

## Provided by metaschema-artifacts.yml:

1. Validate all metaschemas using the metaschema.xsd and schematron (build/cicd/validate-metaschema.sh)
1. Check that schemas properly generate (build/cicd/generate-schema.sh)
1. Check that converters properly generate

[2022-02-01 17:14] aj-stein-nist commented on #1121
The former.

[2022-02-01 17:15] aj-stein-nist commented on #1121
@flickerfly, if you are interested in how to use OSCAL in a different CI/CD process, definitely open up a discussion to brainstorm ideas or an issue if you think certain enhancements are in order and/or you found some bugs that need improving!

[2022-02-01 17:19] flickerfly commented on #1121
I'll still be watching here because I'm curious to see how you folks are thinking about CI/CD.

[2022-02-03 09:20] guyzyl opened #1123 "Change `with-child-controls` property in Profile schema to boolean from enum"
# User Story:

Currently, the `with-child-controls` property within `#assembly_oscal-profile_select-control-by-id` in the Profile schema is defined as an enum with the options for either `yes` or `no`.
Since it only contains two different values, `yes` (`true`) or `no` (`false`), it'd be easier to handle programmatically and will have clearer usage if it would be defined as a boolean instead.

##

[2022-02-03 09:21] guyzyl commented on #1123
In case this gets accepted, I'd be more then happy to open a PR to fix it.

[2022-02-03 17:24] aj-stein-nist commented on #1121
So, @david-waltermire-nist, are we going to pull this into sprint?

I started working a small working example in [Mermaid live editor and focused on one workflow so far](https://mermaid-js.github.io/mermaid-live-editor/edit#pako:eNqNVE2P2jAQ_SvTXJqVNvsDOHSFoNqutKtWsG0PZQ_GGRJX_ojsCQgR_nvt2EBgy7YciD3z3pvn8ci7jJsSs1FWWdbU8DJdaPC_Ka5_PX5UwKDENUrToH2FmCqKTzCpjeA45iSM3jFdwiNsmCYgc79PsCEkcDpeM10hfJ1Pxk-

[2022-02-03 18:59] david-waltermire-nist commented on #1123
We can't change the field in an OSCAL 1.x release as this would affect backwards compatibility. We could deprecate and add a new field if there is enough interest. I'll flag this for discussion during the model review.

[2022-02-03 20:22] aj-stein-nist commented on #1058
@david-waltermire-nist I have two branches that I will surface as WIP PRs for this work to be easier to find

- usnistgov/OSCAL#1124 with WIP of tentative model updates of the rules, used to update docs and convert back and forth between models as referenced below
- usnistgov/oscal-content#94 with WIP examples of the rules, not just viewable from the branch referenced in https://github.com/usnistg

[2022-02-03 22:55] aj-stein-nist commented on #1058
Moving forward, we might suppose a rule can look like this:

- `rule` [0 to ∞]
  - `uuid` [1]
  - `name` [0 to 1]
  - `title` [0 or 1]
  - `description` [1]
  - `condition` [0 to 1]'
  - `condition-test` [0 to ∞]
    - `uuid` [1]
    - `title` [0 or 1]
    - `description` [1]
    - `prop` [0 to ∞]
    - `link` [0 to ∞]
    - `step` [0 to ∞]
      - `title` [0 to 1]
      - `description` [0 to 1]

[2022-02-04 13:46] david-waltermire-nist commented on #1120
I believe this could also be a link:

Something like:

[code]

[2022-02-04 17:34] david-waltermire-nist commented on #1123
This was discussed on the 2/4/2022 [model review](https://pages.nist.gov/OSCAL/contribute/model-review/) meeting. The consensus on the call was to push this change to OSCAL 2.0.

[2022-02-04 17:42] guyzyl commented on #1123
@david-waltermire-nist sounds great, thanks for the update :)

[2022-02-04 19:41] aj-stein-nist commented on #1058
Woops, the presentation updates were useful, but the issue is far from done. My bad, I configured the PR linkage incorrectly. Feedback still welcome!

[2022-02-04 21:10] vmangat opened #1126 "NIST Generated 800-53 OSCAL Catalog should nest Objectives under their respective Statements"
# User Story:

As an OSCAL tool developer, I need to be able to present a control statement at a certain "response point" with its related objectives and methods to meet the requirement of the statement.
NIST 800-53 Catalog file as structured today, the Objectives and methods are siblings to statements and the only way to correlate the objectives to the statements is via semantic parsing of the ID

[2022-02-04 21:19] galtm commented on #1075
I believe #1101 fixes this issue.

[2022-02-04 21:20] galtm commented on #1081
#1101 fixes this issue.

[2022-02-04 21:24] mpemy opened #1127 "SSP-Schema V1.0.0 and V1.0.1 Exceptions"
# Describe the bug
I am building an OSCAL Converter to Word application using C# under .Net Framework 4.7.2 with Visual Studio 2019.
When I load SSP Schema to validate my oscal XML file I have an exception. This is the exception message:
 **System.Xml.Schema.XmlSchemaException:** 'The Pattern constraining facet is invalid - parsing "^([\p{_xmlI}-[:𐀀-󯿿]][\p{_xmlC}-[:𐀀-󯿿]]*)$" - [x-y] range in rever

[2022-02-04 22:18] JJediny commented on #1058
I think this issue might be getting to broad, it's hard to understand the relationship between the catalog (NIST 800-53 r5 moderate for example) to the component to the assessment schema now proposed `rule`. A working example of the inheritance/ref between each as proposed seems necessary.

There could be some syntax developed to flag that type of action needed to validate/attest:
Our agencies use

[2022-02-04 22:37] rgauss commented on #1123
As mentioned in the 02/04/2022 model review meeting above, changing to boolean seems appropriate, and could also consider changing the name to better reflect that value type, perhaps just `include-child-controls`.

[2022-02-04 22:58] aj-stein-nist commented on #1121
Per conversation with Dave have some tweaks and good feedback on next steps. Will bring this into sprint to work and collab with him and work alongside other assigned tasks.

[2022-02-07 19:18] wendellpiez commented on #897
This needs to be accounted for in current unit testing see #1076 and #1087.

@fmasson-oracle sorry for delay (I am finding this picking up the resolver code). A possible mitigation occurred to me - would putting an `id` attribute (flag) on your `group` help?

In any case the usual cautions apply (ensure inputs are valid etc) and please feel free to raise again if this remains a problem.

**todo**:

[2022-02-07 20:10] wendellpiez commented on #843
@GaryGapinski The problem of clashing or conflicting parameters by ID is real (related to good-old #538) but the example given here doesn't do it justice. Assuming that both upstream parameters (that is, from both catalog sources) would be propagated into the result then the resolution result would be invalid by virtue of their ID clash. This is actually a good thing and way better than throwing t

[2022-02-07 20:11] vmangat commented on #1120
Stepping back a little bit, lets envision creating a poam-item by including a

{**finding** which refers to target, and/or observations and/or risks},   OR
{**observations** and/or **risks**}

In both cases the related-observations and related-risks will be copied into the "observations" and "risks" assemblies in the POAM document. Likewise the related-findings should be copied into a "findings" a

[2022-02-07 20:15] wendellpiez commented on #579
Bringing this Issue into #1076 and #1086 so we can address and close. We need to add appropriate unit tests to profile metadata handling in resolution, reflecting current spec in light of any further discussion.

[2022-02-07 20:24] wendellpiez commented on #680
Let's revisit with current work on #954 #1076 #1086. There is now language in the spec to address this requirement (albeit without the more cumbersome `resource` apparatus suggested here).

[2022-02-07 23:43] iMichaela commented on #1120
@vmangat - OSCAL's core traceability concept is based on exactly the opposite approach than the one you try to implement. The information is not re-copied between documents (OSCAL content) because the maintenance/updates of all documents will be a nightmare. Tools can bring the information in front of the user's eyes by extracting it from the OSCAL sources.
Nobody wants to be where we are today an

[2022-02-08 10:40] guyzyl commented on #1121
@aj-stein-nist how about using the Python library [`diagrams`](https://github.com/mingrammer/diagrams) for creating the diagram?
Creating diagrams via code has a lot of benefits such as making it versioned via git, easier to modify, and can also be automatically built via the CI/CD on changes.

[2022-02-08 10:43] guyzyl opened #1129 "Create an `#assembly_oscal-ssp_impact` SSP model"
# User Story:

Currently, inside the `#assembly_oscal-ssp_system-information` model (within the SSP schema) there are 3 fields which implement the same object. The fields are:
- `confidentiality-impact`
- `integrity-impact`
- `availability-impact`

In order to avoid duplication, I suggest creating a new `#assembly_oscal-ssp_impact` model within the SSP schema to define the `impact` component
The m

[2022-02-08 10:44] guyzyl commented on #1129
In case this gets accepted, I'd be more then happy to open a PR to fix it.

[2022-02-08 12:12] guyzyl opened #1130 "Remarks fields in SSP defined as `string` instead of `#field_oscal-metadata_remarks`"
# Describe the bug

In the SSP schema, there are a 2 models that contain a `remarks` field that is defined with `"type": "string"` instead of `"$ref": "#field_oscal-metadata_remarks"`

The places are:
- `#assembly_oscal-ssp_diagram`
- `#assembly_oscal-ssp_authorization-boundary`

They should be updated to use `#field_oscal-metadata_remarks`.

# What is affected by this bug?

The bug doesn't have a

[2022-02-08 14:33] aj-stein-nist commented on #1121
I will talk to the team about this. A few points.

1. We are [using MermaidJS as a diagram markup language](https://mermaid-js.github.io/) to express diagrams via code (I assume you mean a "full programming language" potentially, if so ignore this bit and you can assert this is what you really meant) and we can and will store it in version control.
1. We already have used some MermaidJS in other p

[2022-02-08 14:42] aj-stein-nist commented on #1129
tl;dr: this is by design. I will explain why below.

Ok, so this is a little bit of inside baseball. How familiar you are with [the whole Risk Management Framework](https://csrc.nist.gov/Projects/risk-management/)?

The idea here is part of Step 1 and Step 2, preparation and [categorization](https://csrc.nist.gov/Projects/risk-management/about-rmf/categorize-step). For systems designed and deploye

[2022-02-08 15:10] aj-stein-nist commented on #1121
On that note, below is the updated the diagram from yesterday wrapping in Dave's feedback and recommendations. We will sync back up with these on Wednesday when we pair.

![](https://mermaid-js.github.io/mermaid-live-editor/edit/#pako:eNq1Vk1v2zAM_SucgWIpUKf3HDZkydAWaLCiabEByw6KzdhabMmQ5ARZ3f8-ypKdOF9dD-uhcUTyPZF8pPMSRDLGYBAkihUpPI1nAuhvjKufdx9zYBDjCjNZoPoFzhSGn2CUSh7hMDJcihcmYriDNRMGjPz86rwuLjpOo

[2022-02-08 16:01] aj-stein-nist commented on #1058
Per sync meeting with users, add a minimal example that exercises the schema in the structure with less realistic data to show the mechanics of the rule.

[2022-02-08 20:30] guyzyl commented on #1121
1. Sounds just as good! As long as the diagrams are defined via code everything's great.
2. Same
3. This can defiantly be done via GitHub Actions. I previously did something similar with `diagrams` and can share the action if you'd like.

[2022-02-08 20:39] guyzyl commented on #1129
The link to the document is unreachable (SSL cipher mismatch), but that's really an unrelated issue.

I understand that the fields need to be filled out in different steps of the RMF, but that still doesn't mean their objects need to be defined in-field.
The content of the fields can be defined by the same object schema (i.e. `#assembly_oscal-ssp_impact`), and the fields themselves will still be i

[2022-02-08 21:10] aj-stein-nist commented on #1121
This is I want to see, can you point me to the example of how you can orchestrate GitHub Actions steps and trace it with [`diagrams`](https://github.com/mingrammer/diagrams) on the fly? I am not sure we will commit to that, but I am definitely interest in seeing it!

[2022-02-08 22:02] guyzyl commented on #1121
You can see it [here](https://github.com/cyght-io/oscal-diagrams/blob/main/.github/workflows/generate-diagrams.yml), it's part of the [`oscal-diagrams`](https://github.com/cyght-io/oscal-diagrams) repo I created.
The purpose is so the "built" diagrams are automatically updated when a change is detected / diagram build is triggered (manually).
(and to correct my previous comment, this isn't done wi

[2022-02-08 22:06] aj-stein-nist commented on #1121
Ah I thought you meant something different [with this script](https://github.com/cyght-io/oscal-diagrams/blob/15a14fd4318906177c7f2c2b9a331fcda3a3769c/generate_diagrams.sh). I thought you could write code that already reads GitHub Actions job and tasks steps and diagrams what they call and how the inputs and outputs relate _for the CI/CD itself_, not as the core development artifact of the repo. T

[2022-02-08 23:05] david-waltermire-nist opened #1131 "UUID version 5 support"
# User Story:

As an OSCAL content creator, I'd like to use a [version 5 UUID](https://datatracker.ietf.org/doc/html/rfc4122#section-4.1.3) to generate a deterministic document level UUID in OSCAL. The current OSCAL UUID data type only allows a version 4 uuid to be used.

## Goals:

- Add support for version 5 UUIDs in OSCAL.
- Allow the document-level UUID to be a version 5 UUID.

## Dependencies

[2022-02-08 23:11] david-waltermire-nist opened #1132 "Properly support <img> tags in OSCAL markup block elements"
# Describe the bug

Block elements in OSCAL markup [should support](https://pages.nist.gov/OSCAL/reference/datatypes/#markup-data-types) HTML img tags, but the OSCAL XML schemas do not allow this.

# Who is the bug affecting?

Anyone trying to use <img> tags.

# What is affected by this bug?

All users of OSCAL XML Schemas.

# When does this occur?

The following example illustrates this problem.

[2022-02-09 01:43] bradh commented on #1131
Does it really need to be any particular version? From an interoperability point of view, its essentially opaque identifier.

There could be reasons for a particular kind of UUID (e.g. to avoid revealing information), but those are perhaps more aligned to be specified in a domain profile rather than in OSCAL.

[2022-02-09 02:58] aj-stein-nist commented on #1127
OK I confirmed I was able to reproduce the bug. More research is needed by me to determine the root cause and if/how we fix it. It does seem [this regex is the culprit](https://github.com/usnistgov/OSCAL/blob/870c4af2a7e8be41aaa729507e151f14b4de8924/xml/schema/oscal_ssp_schema.xsd#L3909) but not clear as to why it is acting up in C#. I will make a repro repo in GitHub eventually to make it easily

[2022-02-09 03:38] mpemy commented on #1127
Thanks for the update.

[2022-02-09 04:07] aj-stein-nist commented on #1132
This seems like a good learning experience, @david-waltermire-nist . Since this is a confirmed bug, can I volunteer to work on this one and write a fix to get up to speed on how to make core changes to Metaschema?

[2022-02-09 04:39] aj-stein-nist commented on #1129
Ah ok, I see, so you are suggesting we deduplicate code? [This is how it is implemented now](https://github.com/usnistgov/OSCAL/blob/c221bb1fd85455f61ba9b66c3290efbfa3d9266c/src/metaschema/oscal_ssp_metaschema.xml#L176-L309) that generates the XML Schema and JSON Schema (which I assume you reference from the notation you use).

From what I can tell, the impact wrappers are unique, but they wrap th

[2022-02-09 08:22] Agh42 commented on #1131
I would very much like to be able to encode i.e. a namespace, issuer, document and revision into the generated UUID. This allows to quickly identify changed or equal documents.

As described in RFC4122, this requires a version 3 or 5 UUID. Since v3 uses a MD5 hash, the use of v5 would be preferable.

[2022-02-09 10:48] bradh commented on #1131
You could also encode those using `props` and then would be able to tell what is different, which is the newer version and the like.

[2022-02-09 13:59] david-waltermire-nist commented on #1131
From [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122#section-4.1.3), the UUID versions are:

| Msb0 | Msb1 | Msb2 | Msb3 | Version | Description |
| --- | --- | --- | --- | --- | --- |
| 0 | 0 | 0 | 1 | 1 | The time-based version |
| 0 | 0 | 1 | 0 | 2 | DCE Security version, with embedded POSIX UIDs. |
| 0 | 0 | 1 | 1 | 3 | The name-based version that uses MD5 hashing. |
| 0 | 1 | 0 | 0 |

[2022-02-09 15:12] guyzyl commented on #1129
tl;dr - The proposed change improves the usability of OSCAL via code without changing the schema behavior (or breaking compatibility).

You understood my suggestion correctly, and you're right that from a schema perspective there's no benefit here.

The reasoning behind this proposed change (which explains the benefit I see) is that I'm currently working on creating a 1-to-1 implementation of the

[2022-02-09 15:23] wendellpiez commented on #1132
What does the offending markup look like?

Assuming it is something like this:

[code]

and not just (currently valid):
[code]

How do markdown processors handle naked images? We should arguably conform with common practice.

BTW this does raise issues about backward compatibility since solo images appearing at block level make the same Markdown as solo images inside paragraphs:

[code]

Both form

[2022-02-09 16:04] aj-stein-nist commented on #1058
Work around better explanation of rule overview and use cases draft [started here](https://hackmd.io/JZkedRyZRAmUEWOSxQn0jg) to address feedback from model meeting and comments such as https://github.com/usnistgov/OSCAL/issues/1058#issuecomment-1030394969.

[2022-02-09 17:33] wendellpiez commented on #1127
@mpemy @aj-stein-nist this is kind of interesting. Not our bug but we can work around it.

Short version: testing suggests that the error is the processor not the schema, but we could still relax the rule a little with no bad effect, writing an expression that works. Suggest we go back to `[\i-[:]][\c-[:]]*` or alternatively `[\w-[\d]]\w*`.

Longer version:

Given a regex `[\i-[:&#x10000;-&#xeffff

[2022-02-09 21:43] bradh commented on #1131
I think the collision on MD5 is less relevant. There are known attacks against MD5, but the chance of an accidental collision is still very low. Its far more likely that someone will cut'n'paste a UUID (of any version) as part of a document header and forget to change it.

I still think it would be easier to just drop the version part and let people use whatever works for them. It'll also be futur

[2022-02-10 03:33] aj-stein-nist commented on #1127
Hey, @wendellpiez, sorry for the delay this evening on a simple repro case. I made a quick separate repo. Is this what you had in mind?

https://github.com/aj-stein-nist/Issue1127Example

[2022-02-10 03:51] vikas-agarwal76 commented on #1058
@aj-stein-nist I looked at the schema for rules and the examples. Here are some thoughts -
- Currently the rules are specified at component-definition level only which is common across all components inside it. What we need is a flexibility that one should be able to define rules both at component-definition level for common rules and inside components for rules specific to a component.
- Similarl

[2022-02-10 12:57] david-waltermire-nist commented on #1131
If a version 3 uuid is ok, then a version 5 uuid provides the same capability with less issues.

@bradh Why not just use a version 5 uuid instead?

[2022-02-10 19:15] david-waltermire-nist commented on #1088
@wendellpiez Will review the [issues](https://github.com/usnistgov/oscal-tools/issues) in the OSCAL tools repo and identify any issues that could be closed.

[2022-02-10 19:23] david-waltermire-nist commented on #1043
@david-waltermire-nist will review the comments above to make sure they are addressed in PR #1089.

[2022-02-10 22:00] bradh commented on #1131
I think we're at cross-purposes here. I'm completely supportive of having version 5 support.

However if someone wants to generate version 3 (say because their tools don't do version 5), I don't see that hurts anything.

Equally, if someone has a use for version 1 node+time basis, that is OK too. I struggle to come up with a use of version 2, but I don't think that a version 2 UUID is going to cau

[2022-02-10 22:15] aj-stein-nist commented on #1121
Caught up with Dave today during a pairing session. He quickly reviewed the updates in the above comment and likes where they are at so far. He agreed I should continue and then work them into a PR against the [`build/ci-cd/README.md` file](https://github.com/usnistgov/OSCAL/blob/c221bb1fd85455f61ba9b66c3290efbfa3d9266c/build/ci-cd/README.md) when we have document the current existing state, and m

[2022-02-10 22:20] aj-stein-nist commented on #1121
Also a note for future work and to jog my memory: Dave mentioned how we could compose future workflows that trigger each other, we can find a way to deprecate the [`stefanzweifel/git-auto-commit-action`](https://github.com/stefanzweifel/git-auto-commit-action) and improve security with token handling that is a necessary workaround.

[2022-02-14 13:26] guyzyl opened #1137 "`include-all` type mismatch between Profile and Assessment Plan"
# Describe the bug

Both the Profile and the Assessment Plan schemas have models that contain an `include-all` field.

In the Profile schema they are:
- `#assembly_oscal-profile_insert-controls`
- `#assembly_oscal-profile_import`

In Assessment Plan they are:
- `#assembly_oscal-assessment-common_reviewed-controls.control-selection`
- `#assembly_oscal-assessment-common_reviewed-controls.control-obj

[2022-02-15 02:36] GaryGapinski opened #1139 "JSAON to XML catalog conversion fail"
# Describe the bug

`oscal_catalog_json-to-xml-converter.xsl` fails with what appear to be stylesheet-related errors.

# Who is the bug affecting?

CMS ARS 5.0 JSON to XML conversion.

# When does this occur?

Upon application of the `oscal_catalog_json-to-xml-converter.xsl` style sheet.

# How do we replicate the issue?

Apply the stylesheet to a JSON document. The command used is from https://gi

[2022-02-15 08:27] guyzyl commented on #1121
@aj-stein-nist checkout this [announcement from GitHub](https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/) regarding Mermaid integration with markdown files.
Might not apply to this case, but FYI.

[2022-02-15 13:42] aj-stein-nist commented on #1121
Oh I saw! haha

[2022-02-15 14:52] wendellpiez commented on #1139
@GaryGapinski this is worth attempting in a more recent Saxon. Several errors including "XTSE0010: Unknown XSLT element: try" suggest the processor does not support XSLT 3.0. Feel free to tickle us on Gitter if the error persists using Saxon 10 or Saxon 11 (just released).

[2022-02-15 18:03] aj-stein-nist commented on #1139
Wendell, we also confirm what version of the ARS 5.0 catalog you had used by commit? Is it https://github.com/CMSgov/ars-machine-readable/commit/69a094a37da19c92f7532ba9cabe28bc18dff331, Gary?

[2022-02-15 18:08] GaryGapinski commented on #1139
Yes (the recent commit).

I have been a tad busy and have yet to test the conversion against JSON catalog from https://github.com/usnistgov/oscal-content/tree/master/nist.gov/SP800-53/rev5/json.

[2022-02-15 18:40] wendellpiez commented on #1139
AJ, yup, although this is a compile-time error as Gary says which suggests the variance is between the XSLT input and the processor.

[2022-02-15 18:56] aj-stein-nist opened #1140 "Profile Resolution Specification for Back-Matter Resources Only with rlinks?"
# Describe the bug

The current draft of the profile resolution spec in #1089 (and [currently published on the website](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/#d2e300-head), before the #1089 PR) suggest that given an internal reference to a resource in the `profile`'s `import` `@href`, the specification states that it resolve `back-matter` `resource` with `rlink` `@hre

[2022-02-15 19:03] GaryGapinski commented on #1139
Update: **Works OK** with Savon HE 11.1. Caveat: that Saxon version JAR requires a subordinate lib directory relative to saxon-he-11.1.jar.

[2022-02-15 19:10] wendellpiez commented on #1140
The `base64` feature was envisioned to support not the dynamic information network represented by an OSCAL document (or set of documents) in a processing context, but rather appendages to that network (e.g., jpeg binaries). To use it for a catalog import or indeed a baseline import for an SSP would seem to violate the design premise of OSCAL. Such resources are typically not discoverable or checka

[2022-02-17 14:39] stephenbanghart commented on #1140
Profiles carrying entire Catalogs in Base64 to then import into itself does go against the intended usage pattern, but shouldn't be strictly prohibited IMO

Suggestion: Change the requirement to "**IF** an RLink is present, it MUST be used to resolve it, otherwise do what you want"

[2022-02-17 14:46] stephenbanghart opened #1141 "Profile Resolution handling groups"
`<p>Some source catalogs use <src>group</src> objects to place controls into arbitrary groupings. Tools will need to be aware of these groups when executing the "merge" phase below, as they will duplicated into the output under the "as-is" mode and can be referenced in "custom" mode. The naïve intermediate approach would keep all groups until all other phases are complete, but implementations may

[2022-02-17 14:49] stephenbanghart opened #1142 "Profile Resolution Output Namespaces"
In the "Dealing with Multiple Formats" section of the specification, we do not specify any name spacing requirements for any of the formats.

Is this covered by requirements elsewhere in OSCAL, or do we need to establish requirements here?

[2022-02-17 16:49] wendellpiez commented on #1088
@david-waltermire-nist could we carve out a few minutes to address permissions issues on the oscal-tools and/or other repositories? Thanks! (I also have a couple of policy/practice questions I could pose.)

Without Edit Labels at the bottom I can't add or remove Labels (and the same on other repositories).

![image](https://user-images.githubusercontent.com/1588228/154529042-d4f77cd3-7d54-4405-bd2

[2022-02-17 16:54] wendellpiez commented on #1088
btw "closable" appears in the pulldown above (screenshot from my browser) on the OSCAL repo, but the OSCAL Tools repo, where I need it, has no "closable" Label yet ...

[2022-02-20 13:30] guyzyl opened #1145 "Missing metaschema constraints from jsonschema"
After looking over a bit over the jsonschema definitions and the origin metaschema counterpart, I noticed that there constraints that are defined in the metaschemas but are missing from the jsonschemas.

Just as an example, many fields contain a `<choice>` tag in the src metaschema which requires having one of x choices, but this isn't reflected in the jsonschema at all.
A concrete example to one

[2022-02-21 09:41] guyzyl opened #1146 "Add support for HMAC signing of OSCAL documents"
# User Story:

OSCAL was built and is designed to provide a code-based standardized control assessment language.
One of the main ideas is to allow standardized data exchange between different systems and parties.

An issue that currently exists with this exchange is that there's no way to verify the authenticity of such produced documents.
This is the same as HTTP vs HTTPS, with utilizes digitally

[2022-02-21 09:49] guyzyl commented on #1129
@aj-stein-nist where does this issue stand ATM?

[2022-02-21 10:44] bradh commented on #1146
If you have the key, what stops you modifying the digest value? If you trust the file, what stops someone else putting a different key value in?

Also, for things that have alternative representation, you could well get different results for the same OSCAL model depending on how its serialised out.

Maybe it would be useful to go back a stage, and say what threats you are trying to mitigate? Model

[2022-02-22 14:05] aj-stein-nist commented on #1129
Sorry, I wanted to catch up with @david-waltermire-nist and the development team to discuss if there are any objections to moving forward with it. I was unable to last week. I will try and sync up with on this issue this week.

[2022-02-22 14:42] mruge opened #1149 "Short Names to Metaschema"
# User Story:

When creating tools, graphics, or supplementary material related to OSCAL it is often convenient to use a short name or abbreviation for the Model.

## Goals:

Add a recommended or common `short name` to the metaschema.  Most of these are already used, just not specifically stated in a property within the metaschema.

Recommended Short Names

Catalog - CTLG
Profile - PRFL
Component

[2022-02-22 17:11] wendellpiez commented on #1088
A label having now been added, I have finished with this. 6/14 Issues marked as closable. Others represent work to be done or for discussion.

Let's schedule a time to review the outstanding oscal-tools Issues? Then we can check the box above as "complete" and proceed on that basis.

[2022-02-22 20:17] guyzyl commented on #1129
@aj-stein-nist no worries, thanks for the update.

[2022-02-22 23:10] david-waltermire-nist commented on #1149
this will require changes to the Metaschema syntax. Created usnistgov/metaschema#185 for this.

[2022-02-22 23:16] david-waltermire-nist commented on #1146
This relates to #245.

Enveloped signatures such as what you are suggesting above are problematic, since the signing approach needs to determine what is signed minus the signature. There are also canonicalization issues to worry about to come up with a deterministic way of computing the hash.

JSON Web Web Signatures avoid both of these issues by using an enveloping signature that contains the sig

[2022-02-23 05:54] bradh commented on #1146
I guess it depends on what we're trying to achieve. If a tool reads in a catalog in JSON format and outputs equivalent (but not byte identical) JSON, then canonicalization might be really important if you are saying that the output is still what was originally approved.

Of course, it won't help if I output the catalog in XML or YAML.

Not sure what (if any) of that would be important or not, henc

[2022-02-23 08:18] guyzyl commented on #1146
@david-waltermire-nist this is defiantly related to #245.
Closing this one in favor of continuing the discussion in a unified ticket.

[2022-02-23 08:18] #1146 closed

[2022-02-24 18:28] GaryGapinski opened #1151 "JSON to XML SSP transform injects a `<br/>` element in the output"
# Describe the bug

CMS recently released a version of their Acceptable Risk Safeguards (ARS) v5.0 in [JSON format](https://github.com/CMSgov/ars-machine-readable/tree/main/5.0/oscal).

I forked that repository, cloned the fork to a local copy, made a [branch](https://github.com/GaryGapinski/ars-machine-readable/tree/catalog_json-to-xml), and then invoked the [`oscal_catalog_json-to-xml-converter.

[2022-02-24 19:14] david-waltermire-nist commented on #1043
Addressed by PR #1089.

[2022-02-24 19:14] #1043 closed

[2022-02-24 19:16] david-waltermire-nist commented on #1086
Addressed by PR #1089.

[2022-02-24 19:16] #1086 closed

[2022-02-24 19:56] david-waltermire-nist commented on #1141
@stephenbanghart is scheduling a meeting with the NIST design team for the week of 3/7/2022.

[2022-02-24 19:57] david-waltermire-nist commented on #1142
@stephenbanghart is scheduling a meeting with the NIST design team for the week of 3/7/2022.

[2022-02-24 20:03] stephenbanghart opened #1152 "Profile Model Documentation Updates"
Following updates made to the profile resolution specification, there are minor updates that need to be made to the Profile Model Documentation.

While some documentation changes were made alongside the specification updates, an additional set of documentation prose changes are needed.

At the same time, the rest of the Profile documentation can be double-checked and verified against the new speci

[2022-02-24 20:42] aj-stein-nist commented on #1121
Per conversation with @david-waltermire-nist in weekly sync meeting and the earlier Lunch with Devs, I will touch this up and get it ready for public consumption and to drive discussion around the OSCAL team's developer tooling after Dave gauged a significant amount of interest in today's session.

[2022-02-24 23:26] david-waltermire-nist commented on #1024
@erikjohnson2 There is a lot to unpack here. I think some of this can be handled by existing OSCAL capabilities (i.e., leveraged authorizations, component targeted assessment plans). I am happy to discuss this with you in a higher-bandwidth medium, such as a phone call.

For now, we are currently focusing on features for [OSCAL 1.1](https://github.com/usnistgov/OSCAL/milestone/9) (i.e., mapping #8

[2022-02-24 23:59] david-waltermire-nist commented on #1003
This requires [adjustments](https://github.com/usnistgov/metaschema/issues/188) to the Metaschema syntax to support the necessary data types.

[2022-02-25 00:14] iMichaela commented on #1024
@david-waltermire-nist - Please note that Erik left FRB around Dec 2021, and might no lonfer monitor this issue. But one important aspect to note, an issue Erik mentioned several times during our ATARC discussions, is the **importance to keep the ISB under one authorization boundary** because this is how FedRAMP package is maintained for each CSP and this is how a P-ATO is issued.  So, the leverag

[2022-02-25 03:31] Rene2mt commented on #1062
Here's a review of the SSP's identifier references and proposed constraints (see https://hackmd.io/@UE-2CUI2SlGqZQtexK6f3A/r1gsBPfl9 )

[2022-02-25 14:14] david-waltermire-nist commented on #1132
@aj-stein-nist I fixed this while working in the prose module to support [metaschema-java XSD generation](https://github.com/david-waltermire-nist/metaschema-java/tree/xml-schema-gen). Let's find another way for you to learn more about working on Metaschema internals.

[2022-02-25 14:20] aj-stein-nist commented on #1132
Oh I see what you did there with the prose module. I now understand the goal of the changes now that you added this, looks good!

[2022-02-25 14:27] david-waltermire-nist commented on #1132
A PR is still needed to upgrade OSCAL to use the latest Metaschema submodule once the Metaschema code is [merged](https://github.com/usnistgov/metaschema/pull/187).

[2022-02-25 15:54] rgauss commented on #1062
Is this the appropriate issue to also clarify how SSPs can reference components in OSCAL Component Definitions?

(I didn't see that in the  SSP Model Link Semantics page)

[2022-02-25 15:55] david-waltermire-nist commented on #1137
I am looking at PR #1144 and this issue.

I believe we can reuse the `include-all` from the profile model as you suggest, since their syntax is the same. I'd like to cleanup a few small things with PR #1144. I'll provide feedback on the PR regarding these issues.

[2022-02-25 19:36] david-waltermire-nist commented on #1145
@guyzyl Expressing the choice semantic in JSON Schema is very challenging. You can use `oneOf` or `anyOf` to expression combination of properties that are allowed, but the combinations are an n^2 problem that is compounded by the number of choice nodes in a given assembly.

This would be better expressed as a Metaschema constraint, which can be enforced separately from JSON schema validation.

[2022-02-25 20:00] aj-stein-nist opened #1153 "Documentation on Validation Capabilites for Different Parts of the OSCAL Toolchain"
# User Story:

As an OSCAL tool developer, in order to understand what the NIST OSCAL team means in documentation when citing validation of different OSCAL document instances and how it informs my own development work, I want definitions of well-formedness, syntactic validation, semantic validation, and what specific parts of the OSCAL toolchain (Metaschema `constraint`s, XML/JSON schema, et ceter

[2022-02-25 20:15] aj-stein-nist commented on #1127
@wendellpiez has been working on this after I made some reproduction code. I am going to work with Wendell to review the PR usnistgov/metaschema#183 and update this accordingly once merged in that repo _and_ the sub-module is updated in this repository and the changes propagate up.

@mpemy we have a fix in place _under review_, but you should be able to test the interim changes in your own softwar

[2022-02-25 22:08] david-waltermire-nist commented on #1130
@guyzyl The [SSP Metaschema](https://github.com/usnistgov/OSCAL/blob/main/src/metaschema/oscal_ssp_metaschema.xml) needs to be updated for these. This will cause the JSON schema to be generated properly.

- https://github.com/usnistgov/OSCAL/blob/c221bb1fd85455f61ba9b66c3290efbfa3d9266c/src/metaschema/oscal_ssp_metaschema.xml#L401
- https://github.com/usnistgov/OSCAL/blob/c221bb1fd85455f61ba9b66c3

[2022-02-26 19:51] #1137 closed

[2022-02-26 20:08] #1130 closed

[2022-02-26 20:17] david-waltermire-nist commented on #1132
@wendellpiez is testing the metaschema changes. We will post a PR once this is completed.

[2022-02-26 20:19] #1081 closed

[2022-02-26 21:04] david-waltermire-nist opened #1155 "Profile resolver spec: Notation in metadata section"
### Discussed in https://github.com/usnistgov/OSCAL/discussions/1135

<div type='discussions-op-text'>

<sup>Originally posted by **galtm** February 13, 2022</sup>
I'm having trouble understanding some notation in the Metadata Resolution section of the [Profile Resolution spec](https://github.com/usnistgov/OSCAL/blob/main/src/specifications/profile-resolution/profile-resolution-specml.xml). The no

[2022-02-26 21:37] david-waltermire-nist opened #1156 "How should multiple instances of a control/control statement be represented in the component-definition?"
### Discussed in https://github.com/usnistgov/OSCAL/discussions/1095

<div type='discussions-op-text'>

<sup>Originally posted by **javery45** January 20, 2022</sup>
All examples I've seen so far show security controls represented in the OSCAL `component-definition` with a single reference under `implemented-requirements` to represent a single description or idea of how that control is satisfied b

[2022-02-27 18:43] wendellpiez commented on #1093
@aj-stein-nist by "schema location is fixed" you mean that the directive in the xsi:schemaLocation attribute should be rewritten to point to the new schema, or should be removed altogether?

Perhaps a good solution for users would be to support a runtime parameter designating the attribute value for the (nominal) schema location. `schemaLocation` would be rewritten or removed if no value is given.

[2022-02-27 19:24] aj-stein-nist commented on #1093
Rewritten for the public URL on raw.githubusercontent.com.

Yes, I would definitely like to look over your shoulder or help author it myself.

[2022-02-28 19:05] erikjohnson2 commented on #1024
NONCONFIDENTIAL // EXTERNAL

Thanks to both of you for following up on this important yet potentially complicated subject.

I haven’t actually left the Federal Reserve yet; I’m just out of the country on personal business.

I’ll respond in more detail soon and would definitely welcome some in depth discussion.

Regards,
Erik Johnson

On February 25, 2022 at 1:15:32 AM GMT+1, Michaela Iorga ***@***

[2022-02-28 22:12] david-waltermire-nist commented on #1024
@iMichaela Keep in mind that FedRAMP assesses systems as a whole and requires the same for continuous monitoring. Like the ISB, agencies will likely have a more decomposed view of the system as well.

What @erikjohnson2 is identifying are needs that exist for ISBs at the provider level, but also needs that might exist for agencies at the leveraging level. This puts the FedRAMP authorization in the

[2022-03-01 07:52] guyzyl commented on #1145
@david-waltermire-nist enforcing the constraints via the Metaschemas makes sense, the drawback here is that there isn't that much tooling around Metaschema, especially when compared to jsonschema / XML.

[2022-03-01 12:22] david-waltermire-nist commented on #1145
@guyzyl True. But the tooling around JSON and XML Schema is insufficient as well for our needs. Tooling will catch up.

[2022-03-02 07:18] kkretsch opened #1251 "uuid attribute and element content in party-uuid?"

[2022-03-03 19:17] david-waltermire-nist commented on #1088
Discussed this on the NIST team status call on 3/3. This work has been completed.

[2022-03-03 19:17] #1088 closed

[2022-03-03 19:19] david-waltermire-nist commented on #1132
Discussed this on the NIST team status call. In Markdown, images may only appear in paragraph or other blocks. We should remove the support for paragraphs at the block level.

[2022-03-03 21:33] wendellpiez commented on #1093
@aj-stein-nist I discussed this with @david-waltermire-nist today and propose (consistent with his guidance):

- accept a runtime string parameter `schemaLocation`
- when parameter is set, replace or add `xsi:schemaLocation` with parameter value given
- when it is not set, remove any `xsi:schemaLocation` given
  - with a warning
  - (or not, if another runtime parameter is set to silence it?)
- do

[2022-03-03 21:35] aj-stein-nist commented on #1093
Yessir, I look forward to it. Will look for some time on our calendar, maybe early next week? I don't have a good block of contiguous time tomorrow and probably should work some other things in the queue first. :-)

[2022-03-04 16:53] david-waltermire-nist commented on #1064
This has been discussed on a previous OSCAL model review. An option that was discussed was to add a grouping flag to a property and link to allow grouped properties and links to identify their grouping. We should work up a proposal for how this might work.

[2022-03-04 18:02] david-waltermire-nist commented on #884
I believe there are two ways to handle this in OSCAL:

1. **Declarative typing at the data layer:** This is the approach you are suggesting. It would use the `type`  to determine the format of the `value`.
2. **Declarative typing at the data validation layer:** This involves binding the validation logic for the `value` to the `ns` and `name` of the property.

There are tradeoffs between these two

[2022-03-04 18:05] david-waltermire-nist commented on #884
For now I am going to move this to the backlog for future consideration once we have has time to better explore data validation layer constraints.

[2022-03-04 18:08] david-waltermire-nist commented on #859
This issue hasn't received any comments or support from the community. As a result, this issue is being moved to the backlog for future consideration.

[2022-03-04 18:11] david-waltermire-nist commented on #821
This is being worked as part of #1058, which is targeting a 1.2.0 release. Pushing this back to 1.2.0 as a result.

[2022-03-04 18:20] david-waltermire-nist commented on #538
This relates to mapping in profile resolution. #1115

[2022-03-04 18:23] david-waltermire-nist commented on #474
This work relates closely to #1059 and the constellation of issues around automating testing and evaluation. That work is targeted at OSCAL 1.2.0, so pushing this issue to the 1.2.0 release.

[2022-03-04 20:59] david-waltermire-nist commented on #997
Maybe something like [xmldom](https://github.com/xmldom/xmldom) can be used to pre-parse the DOM and [pass this](https://www.saxonica.com/saxon-js/documentation2/index.html#!api/transform) to SaxonJS as a `sourceNode`.

[2022-03-04 21:08] david-waltermire-nist commented on #989
Similar to #1032, we should hold off on addressing this until we make significant progress on #1058, since how we address rules may provide a different path for solving this. I am going to add this to the backlog for now.

[2022-03-04 21:12] david-waltermire-nist commented on #985
Not hearing any additional feedback on this, I am going to close this issue for now. We can reopen it at a future date if anyone feels strongly that this should be addressed.

[2022-03-04 21:12] #985 closed

[2022-03-04 21:18] david-waltermire-nist commented on #982
There hasn't been a response on the question from @iMichaela. There also hasn't been support for this issue from others. Closing this issue due to the lack of discussion and support.

[2022-03-04 21:18] #982 closed

[2022-03-04 21:24] david-waltermire-nist commented on #974
@Ikendiken You are correct.

Props have `class` as a way to differentiate a given name/value from another. Suggest using this for now.

I am also noticing that these examples relate to support for rules and tests/checks. We are working to add first class support for these concepts in #1058. We should hold off on addressing this issue for now until we make more progress on #1058. Adding this to the

[2022-03-04 21:29] david-waltermire-nist commented on #967
We added the sticky right navigation to the reference pages. I believe this is sufficient to address this issue.

@iMichaela please confirm or provide some additional requirements.

[2022-03-04 21:37] david-waltermire-nist commented on #1034
Talked with @ohsh6o / @aj-stein-nist. he is good with closing this issue.

[2022-03-04 21:37] #1034 closed

[2022-03-04 22:27] wendellpiez commented on #540
@david-waltermire-nist if we had an example glossary I could straightforwardly show how to model a glossary using `part` assemblies.

[code]
equivalent to

[code]

Does this appeal as a lightweight way to meet the requirement without more extensive engineering?

[2022-03-04 22:36] wendellpiez commented on #1127
This Issue will be addressed by https://github.com/usnistgov/metaschema/pull/183 and can be closed when that PR is merged and its metaschema modifications are brought into OSCAL.

[2022-03-06 01:19] iMichaela commented on #967
@david-waltermire-nist The right side sticky navigation bar improves the page's navigation and allows the reader to jump up and down. We can close the issue.

[2022-03-06 01:19] #967 closed

[2022-03-07 15:21] aj-stein-nist commented on #1153
Starting [a draft of the page of that page here](https://hackmd.io/BQCtEwgLSjq6mB6LNCKiIg?both) to discuss generally approach and content, then will soon convert to a PR for final review once general approach and topics are agreed upon.

[2022-03-07 17:09] david-waltermire-nist commented on #1078
#1023 requests the addition of an `imported-from` link rel, which can address the need here.

[2022-03-08 15:32] erikjohnson2 commented on #1024
I am finally back in the US and would love to meet with you to discuss all this further.  When are you all available?  If you want to  try to meet this week I'm fairly open on Thursday (except 11-1:30) and Friday (before 2:300PM). Lots of openings next week too. Just let me know,

I agree with Michaela that leveraged authorizations will probably not be very helpful in addressing the needs of this

[2022-03-08 16:42] david-waltermire-nist commented on #1156
I think there are multiple dimensions to consider here:

1. Need to express multiple, mutually exclusive options for implementation. e.g., different configurations
2. Need to express multiple ways to evaluate that a given option is satisfied. This relates to the rules/tests work #1058.
3. Platform or deployment selection for a given option. e.g., do this for Linux, do this for Windows, do this for

[2022-03-08 16:46] david-waltermire-nist commented on #1156
@javery45 option 2 meets the intended uniqueness constraints, which do want to allow duplicate objects for `implemented-requirements` with the same `control-id` and `statements` with the same `statement-id`. We need to build more robust syntax that keeps these constraints, but allow for more expressiveness.

[2022-03-08 16:49] david-waltermire-nist commented on #1129
@guyzyl Please make the Metaschema changes to support this and submit a PR.

[2022-03-08 16:58] david-waltermire-nist commented on #1090
@guyzyl We can discuss this on a lunch with the Devs to get community feedback on the desire to do this and any impacts this will cause.

If we make a change to do this, we should only change the naming pattern on a major/minor release boundary.

[2022-03-08 17:03] david-waltermire-nist commented on #1083
We need to figure out which component types to add to the OSCAL component definition and SSP metaschemas. We can then make any updates to the related slides and examples.

[2022-03-08 17:12] david-waltermire-nist commented on #896
We can add props. We should also consider supporting responsible role here.

[2022-03-08 17:26] david-waltermire-nist commented on #658
This issue was opened prior to the OSCAL 1.0.0 release. The use case of defining locations as data centers has been implemented since OSCAL 1.0.0. See https://pages.nist.gov/OSCAL/reference/latest/system-security-plan/json-reference/#/system-security-plan/metadata/locations.

The rest of this is not sufficiently defined to work on. Closing this issue.

[2022-03-08 17:26] #658 closed

[2022-03-09 17:03] david-waltermire-nist commented on #1105
This work requires usnistgov/metaschema#191, which won't be ready until OSCAL 1.1. Moving the milestone accordingly.

[2022-03-09 17:05] david-waltermire-nist commented on #1127
This work requires usnistgov/metaschema#191, which won't be ready until OSCAL 1.1. Moving the milestone accordingly.

[2022-03-09 17:08] aj-stein-nist commented on #1127
But isn't that a systematic rewrite and upgrade? With usnistgov/metaschema#183 and usnistgov/OSCAL#1161, this can be fixed for 1.0.2 for a fix release.

[2022-03-10 02:51] xee5ch commented on #1008
From previous conversation, it seems we should consider signing the images. The GitHub Container Registry (ghcr.io) will support Docker Content Trust and Notary Version 2 signatures. Generally popular, and not endorsed by GitHub itself, is the use of the `cosign` utility. `cosign` [supports both PIV-based hardware tokens and discrete certificate/keypairs generated by the tool itself](https://githu

[2022-03-10 16:16] wendellpiez commented on #1153
Working on a fresh draft with @aj-stein-nist, we think we can make something short and sweet, offering a succinct and high-level view, without details.

AJ is editing that draft and will post it here. Basically the goal is a reference we can point to, for users still learning their way around the tech who are confused by the meanings of these terms outside XML/JSON, intended not to answer all thei

[2022-03-10 19:12] david-waltermire-nist commented on #1078
This could take advantage of prop/link grouping (#1064) to express a link/prop pair to point the component definition (using `imported-from`) and identify the specific component by UUID using a prop with a TBD name.

[2022-03-10 19:16] david-waltermire-nist commented on #1078
Addressing this issue requires features from OSCAL 1.1.0. Moving this issue to that milestone.

[2022-03-10 19:21] david-waltermire-nist commented on #1062
@Rene2mt Love the work in the hackmd. Perhaps we can add this content to the [SSP concepts page](https://pages.nist.gov/OSCAL/concepts/layer/implementation/ssp/)? Would you please submit a PR with the changes to this page against the `release-1-0` branch?

[2022-03-10 19:22] david-waltermire-nist commented on #1062
I believe your question is related to #1078. Yes, the title on this issue is a bit misleading.

[2022-03-10 19:29] david-waltermire-nist commented on #1008
Investigating a viable signing approach will take a bit more time. Moving this to the 1.1.0 release.

[2022-03-10 21:38] david-waltermire-nist commented on #1140
@stephenbanghart The model allows both rlinks [0-∞] and base64 [0-1] to appear. There is a Metaschema constraint that requires at least one of the two appear. This means that you can have either or both in a given resource.

The Profile resolution spec should have well-defined behavior for utilizing any rlink or the base64 entry. In the case of the rlink, an HTTP client request can be made to retr

[2022-03-11 17:28] GaryGapinski commented on #1140
Given _"If the implementation cannot parse either resulting byte stream, it MUST produce an error."_ , I'll make a suggestion.

Both of the `filename` and `media-type` attributes of `<base64>` are optional in the OSCAL XML Schema. The absence of a declared `media-type` greatly increases the difficulty of parsing the (successfully decoded) "resulting byte stream" as considerable knowledge of byte s

[2022-03-11 18:20] aj-stein-nist commented on #1153
Reviewing Wendell's drafts based on the previous comment:

- [Well-formed vs/and valid](https://hackmd.io/XhEtfmmSS3Gb2nbAkghcvQ)
- [How to validate OSCAL?](https://hackmd.io/-J3wkICdQG-foZinA0WmbA)

Wendell and I am are aiming to slim that down. Wendell provided some excellent source content, so I am trying to figure out the best way to work that into the previous draft in a more slimmed down sen

[2022-03-13 14:58] guyzyl commented on #1129
@david-waltermire-nist I started implementing this and hit a small hurdle.
From my understanding of the Metaschema format, it's not currently possible to use an `assembly` and override the `name` field (the name must match the `ref` name).
This means that I can't create a new `<define-assembly name="impact">`, and then reference it under different `assembly`s with different names.
Did I understand

[2022-03-13 16:23] david-waltermire-nist commented on #1129
You can use the `use-name` element in the assembly.

Here is an [example](https://github.com/usnistgov/OSCAL/blob/75a3fc177a63c04d8719824cb88039c16bbd0d38/src/metaschema/oscal_ssp_metaschema.xml#L580).

[2022-03-13 16:39] guyzyl commented on #1129
Thanks!

[2022-03-14 18:46] wendellpiez opened #1173 "Resource acquisition tracing in profile resolution [XSLT profile resolver]"
# User Story:

In the Profile Resolution tool it would be great if we could provide traceability and reporting on resource acquisition as suggested by discussion in #1140 --

- a 'verbose' mode echoing acquisition events (retrieval/parse success and failure)
- way to set an acquisition mode (preference for certain linked or embedded resources)?

Suggested:

- prefer `rlink` over `base64` (or follo

[2022-03-14 20:05] gregelin opened #1174 "A Simple Example System for Understanding OSCAL Components"
## About

**My hope for OSCAL:**

IT Systems can reuse components to go from Vendor to Assessments reusing as much information as possible, especially control implementation statements.

**My fear for OSCAL:**

Divergent definitions for components results limit us to today’s status quo reuse only of common controls unique to each organization that cannot be decomposed into specific technologies.

[2022-03-15 14:41] guyzyl opened #1176 "`NEW CONTENT` comment in metaschemas"
I came across the following block comment in the `oscal_assessment-comment_metaschema.xml` file:

[code]

From a quick search, it exists in a few other metaschemas.

Can it be removed it? (I'll open a PR if the answer is yes)
Its purpose isn't clear (not to me at least) and isn't explained in the commit message.

[2022-03-15 16:06] wendellpiez opened #1178 "Profile resolution how-to readmes"
# Describe the bug

Examining improvements to profile resolution code (#1175) we are finding the readmes directing users in operating the profile resolver are defective.

The readmes explaining how to operate the XSLT profile resolver, with dependencies, limitations, and options, need to be updated.

# Who is the bug affecting?

Anyone who wants to use the profile resolver and can't figure it out

[2022-03-15 16:19] aj-stein-nist commented on #1173
@wendellpiez will update user story for specific AC and requirements around the enhancements needed to the OSCAL XSLT profile resolver. Raise any specific questions that need to be addressed before development is to occur.

[2022-03-15 16:21] aj-stein-nist commented on #1176
Consider yourself assigned! :-)

Feel free to draft a PR.

[2022-03-15 20:10] #1093 closed

[2022-03-15 20:13] aj-stein-nist commented on #1127
@david-waltermire-nist, per issue triage this morning around the WIP PR and the touch-up work to cherry-pick usnistgov/metaschema#191 commits to move this up and close it separately, I will reassign the associated issue to you as well. That said, let me know if/when/how I can help.

1.0.2 or 1.0.1 release, I am not sure of the urgency. @mpemy has not got back to us on whether he was able to try to

[2022-03-16 15:20] aj-stein-nist opened #1180 "[EPIC] CI/CD Enhancements"
# User Story:

As an OSCAL developer, in order to have a quick and seamless experience with development and testing of the official OSCAL repos' content and software, I would like enhancements to the OSCAL CI/CD systems to: simplify the build process with a single command, facilitate automated releases, and improve the modularity of different build steps.

## Goals:

- [ ] New functionality to aut

[2022-03-17 12:32] guyzyl opened #1183 "Nonuniform indentation in metaschemas"
I recently noticed that there isn't an indentation convention/uniformity amongst the metaschema files in `src/metaschema`.
The indentation sizes that exist (all in # of spaces) are:
- 2
- 3
- 4
- 6
- 8

This doesn't hurt functionality at all, just isn't very conventional for a code repo to have different indentations for same file types.

Are you open to a PR fixing all indentations to a single co

[2022-03-17 17:20] aj-stein-nist commented on #1180
Also for consideration:
- Adding, changing, or removing how certain steps in GitHub Actions to increase performance the CI/CD process (i.e. uploader action steps take sometimes minutes for uploading artifacts).
- Exposing all dependency management manifests to ensure everything is checked and vulnerable packages reported (as part of #1008)

[2022-03-17 18:19] #1140 closed

[2022-03-17 18:19] #1141 closed

[2022-03-17 18:19] #1142 closed

[2022-03-17 18:19] #1152 closed

[2022-03-17 18:19] #1155 closed

[2022-03-17 18:27] aj-stein-nist opened #1185 "Style Guide for OSCAL Documentation"
# User Story:

As a NIST OSCAL developer, in order to understand how to write documentation in this project for proper style and to understand what words are jargon and/or official terminology, I would like the NIST OSCAL Team to provide a style guide I can reference while I draft documentation and cite when reviewing documentation updates to clarify intent and expectations.

## Goals:

Many times

[2022-03-17 19:18] wendellpiez opened #1186 "Patching Metaschema (XSLT M4 implementation) datatypes with new definitions"
# User Story:

Datatype support in the XSLT M4 Metaschema implementation needs to be updated to conform to latest work, so that XML and JSON schemas for OSCAL can take advantage of new definitions.

The work is being tracked in usnistgov/metaschema#191. New datatype definitions there must be integrated into the M4 pipeline.

This will also help address issues #1127, #1132, and #1105.

This Issue a

[2022-03-18 13:36] wendellpiez commented on #1185
Top-level outline?

- Goals, scope and audience / users
- Technical terminology
  - Usage ("prefer common nouns" etc.)
  - Inline style - italics, capitalization etc. - and data sources
  - OSCAL terminology
    - OSCAL objects / formal names
    - OSCAL concepts
- Citations and links
- "Simple" English (with links) https://www.plainlanguage.gov/
- NIST style guides (with links)

Please comment to

[2022-03-18 14:09] aj-stein-nist commented on #1185
Sweet, thanks so much @wendellpiez! You actually hit a lot of themes and requirements I wanted, especially plainlanguage.gov! I think this is great, I will think about anything we could/should add and refine it.

[2022-03-18 17:11] wendellpiez commented on #1185
We could do worse than call out to https://developers.google.com/style among other external resources.

[2022-03-18 17:29] #1035 closed

[2022-03-18 17:36] #1153 closed

[2022-03-18 19:31] #1176 closed

[2022-03-21 14:18] david-waltermire-nist commented on #740
I believe this issue has been completed, since the inline examples in the spec have been updated. Closing this for now.

@joshualubell Can you review the current spec to make sure your concerns have been cleared up? If you have further concerns, please open a new issue.

[2022-03-21 19:55] aj-stein-nist opened #1188 "Improved Diagrams to OSCAL Rules Relationship to SDLC and DevSecOps"
# User Story:

As an OSCAL stakeholder, I want to see clearer workflow diagram (as part of documentation for usnistgov/OSCAL#1058, and snapshot draft in usnistgov/OSCAL#1068) to explain the relationship of OSCAL generally, and the rules construct in particular, to the SDLC and DevSecOps lifecycles.

## Goals:

The current diagram we would like to improve upon is below.

![DevSecops Lifecycle](http

[2022-03-21 19:56] aj-stein-nist commented on #1188
@david-waltermire-nist is this close to what you had in mind? I added it to the triage list for tomorrow.

[2022-03-22 15:39] aj-stein-nist commented on #1180
Interesting opportunity for improved tooling. Not part of the list yet, but for potential inclusion: usnistgov/OSCAL#1183.

[2022-03-22 15:48] wendellpiez commented on #1183
A one-time fix will unfortunately not defend against slippage.

There is a variety of different content formats in the OSCAL repo, including JSON, YAML, Markdown and XML. We need to normalize whitespace styles across repositories, for reasons including supporting useful differencing. For a given contribution, we need a way to ensure that the contribution conforms to (house) whitespace rules.

Also

[2022-03-23 18:26] wendellpiez commented on #1186
As advised by @david-waltermire-nist , work proceeds in WIP branch: https://github.com/usnistgov/metaschema/compare/develop...wendellpiez:issue181-tokendatatype

JSON Schema and XSD look good so far.

[2022-03-23 18:49] wendellpiez commented on #1186
For alignment (from usnistgov/metaschema#191) the following new names are supported:

- [x]  nonNegativeInteger -> non-negative-integer
- [x]  positiveInteger -> positive-integer
- [x]  dateTime -> date-time
- [x]  base64Binary -> base64
- [x]  dateTime-with-timezone -> date-time-with-timezone
- [x]  email -> email-address

See most recent commit.

[2022-03-23 20:45] aj-stein-nist commented on #1180
Also, given discussion today with [release ZIP archive JSON Schema files and source code pulls not working as planned](https://gitter.im/usnistgov-OSCAL/Lobby?at=623b575fddcba117a236f491), consider some integration-level tests around sanity-checking released contents and warning when they do not work as expected? Talk to Dave about this for future releases.

[2022-03-24 17:40] david-waltermire-nist commented on #1183
Raised this on the 3/24/2022 Lunch with the Devs call. We didn't get any feedback for or against working on whitespace normalization. I asked the community to provide feedback on this issue after the meeting.

[2022-03-24 18:18] erikjohnson2 commented on #1024
NONCONFIDENTIAL // EXTERNAL

NONCONFIDENTIAL // EXTERNAL
I am back home and would love to meet with you to discuss all this further whenever you’re ready and available. When do you think that might be?
I agree with Michaela that leveraged authorizations will probably not be very helpful in addressing the needs of this use case, however they may be applicable to subsystem candidate ISBs, e.g. Offic

[2022-03-24 20:22] guyzyl commented on #1183
@david-waltermire-nist unfortunately I wasn't able to make it to today's lunch with devs and voice my opinion, but it is the one presented in this issue (surprisingly as I'm the one who created it).

[2022-03-24 20:24] erikjohnson2 commented on #722
I would note that the ability to consume (ingest) CRM information is useful in the case of FedRAMP customers whether or not they access to the full CSP FedRAMP SSP. The CRM is a useful, very focused artifact/data set that cloud customers can use to establish an Shared Security Responsibility Model (SSRM) baseline for their own cloud service implementation SSP and ATO. The CRM provides two very imp

[2022-03-24 21:12] GaryGapinski commented on #1183
Just an FYI.

As an experiment, I created a large (100Mb) XML document with no line feeds or indentation and used the following transform to serialize it with Saxon HE 11.1. The output was passable but not quite what I would have expected (and not the style I prefer).

I will also note that https://www.w3.org/TR/xml-c14n11/ is unlikely to be acceptable (as a means by which routine code maintenance

[2022-03-24 22:34] iMichaela opened #1190 "OSCAL SSP, AP, and AR examples of using an existing (e.g. FedRAMP) OSCAL A-ATO or P-ATO package, when not all services are needed."
# User Story:

As an OSCAL user and system owner or authorizing official, I need to understand through an example how to use an existing (e.g. FedRAMP) OSCAL A-ATO or P-ATO package available for a limited time, to document the implementation, assess, and authorize a system comprised of a subset of components (capabilities or services) offered by the system that obtained the A-ATO or P-ATO.

## Goa

[2022-03-24 22:48] iMichaela commented on #1190
The following diagram aims to reproduce the _new SSP_ generation process and highlight the constraints.
![image](https://user-images.githubusercontent.com/13984545/160021313-ea66843c-79ee-4442-a139-1c0b1caca246.png)

A well-structured ATO package in OSCAL could decompose the CSP's monolithic SSP into common controls and offered capabilities that inherit those controls.

![image](https://user-image

[2022-03-25 01:35] sunstonesecure-robert commented on #1190
would one also need to review and include the POA&M items that might be associated with the component I am using? associated 3rd party connected systems, and maybe even SBOM?

[2022-03-27 09:33] guyzyl opened #1191 "Best way to submit grammar fixes in OSCAL schemas"
When going over the schemas, I've noticed some issues regarding capitalization and punctuation (mostly missing dot) in the `formal-name` and `description` parts of the definitions.

I would like to make a PR to fix these, but it's probably going to change many schema lines across multiple files.
What would be the best way I can submit these fixes and make the merger process easier for you?
- Singl

[2022-03-29 15:34] david-waltermire-nist commented on #1190
@iMichaela We will need narrative relating to a subset of controls for the upstream cloud system. Can you select a few controls and start drafting the narrative for them? This can be done in text/markdown to start.

[2022-03-30 10:57] galtm commented on #1185
@wendellpiez , your work in progress looks awesome. I'm impressed by how quickly you pulled this together.

[2022-03-30 12:22] degenaro commented on #1058
[component-definition-for-AJ-3.json.gz](https://github.com/usnistgov/OSCAL/files/8380258/component-definition-for-AJ-3.json.gz)
Component Definition "rules" use case. Sample component-definition showing use of remarks to link related rule (goal) properties to each other and link related check properties to each other using the remarks field. Rules and checks as properties sets are related to each

[2022-03-31 18:43] david-waltermire-nist commented on #87
Need to add a few examples to PR #1150 to help illustrate the new catalog mapping features.

[2022-03-31 18:49] david-waltermire-nist commented on #1132
Issue #195 covers the follow on work to implement this in the XSLT implementation.

[2022-03-31 18:56] david-waltermire-nist commented on #1076
@wendellpiez Can you enumerate what work needs to be done for this issue to be closed? Please edit the top-level description to include a checklist. Thanks!

[2022-03-31 21:11] wendellpiez commented on #1076
Work progresses steadily on the XSLT profile resolver thanks to @galtm - if anything the blocker for this Issue is the work now behind the WIP branch here: https://github.com/wendellpiez/OSCAL/tree/profile-resolution-update-v1d namely the end-to-end unit tests, with the coordinating glue (syntax/tools) to line them up with the specification requirements (as encoded).

This will be very helpful but

[2022-03-31 21:26] wendellpiez commented on #1076
I just edited the description with three new bullets let me know what you think @david-waltermire-nist ?

[2022-03-31 21:28] wendellpiez commented on #1087
Current work on this is here: https://github.com/wendellpiez/OSCAL/tree/profile-resolution-update-v1d

[2022-04-01 13:56] david-waltermire-nist commented on #1024
Issue #1190 will be an attempt to develop some concrete examples of how to represent (re)use of select services from a cloud-based system in OSCAL. These examples should provide for more concrete discussion around the specifics of how to do this in OSCAL.

[2022-04-01 14:27] GaryGapinski opened #1194 "Misleading XML Schema documentation for control-implementation implemented-requirement"
# Describe the bug

This was recently discussed and an issue was requested.

See the 1.0.2 complete XML schema line [2672](https://github.com/usnistgov/OSCAL/blob/v1.0.2/xml/schema/oscal_complete_schema.xsd#L2672).

The prose statement implies semantic equivalency of `<implemented-requirement>` in both `<system-security-plan>` and `<component-definition>`. The element name assists with such an int

[2022-04-01 19:11] Rene2mt commented on #1188
Per today's model review, I wonder if the "development (provider-focused)" should be described as follows:
- Plan (Categorize System & Select Controls)
- Develop (Implement Controls)
- Test/Verify (Assess Controls)
- Adapt (Assess or Monitor) -> loop back to Develop (note: this could happen after testing  or after release, depending on when risks are identified).
- Release (Authorize by provider)

[2022-04-05 12:02] galtm commented on #1178
Addressed in 0d0c508f0b072a8cc2cec02893ad39a2e1322282 as part of #1175

[2022-04-05 13:06] david-waltermire-nist commented on #1178
This was a follow-on to an OSCAL 1.1.0 task, which was marked as 1.0.3. Moved this to the 1.1.0 milestone.

[2022-04-05 13:11] david-waltermire-nist commented on #1194
The relevant objects in the component definition need to be clarified that the control details are suggestions for possible implementations in the component definition. In the SSP, the relevant objects document what was actually implemented.

This needs to be clarified in the relevant metaschemas.

[2022-04-07 00:24] iMichaela opened #1198 "git-cheat-sheet.md needs update (`master` branch was renamed `main`)"
# Describe the bug

The file git-cheat-sheet.md provides guidance that uses the old name `master` of the `main` branch.

# Who is the bug affecting?

All readers

# What is affected by this bug?

Only this file.

# Expected behavior (i.e. solution)

Replace `master` in the guidance with `main`

[2022-04-14 18:42] wendellpiez commented on #1076
As requested by @david-waltermire-nist I rewrote the goals above - they might need work.

Update: @galtm continues to work on the XSLT profile resolver (now working the merge phase) while I am building out and framing unit tests. More to come.

[2022-04-14 19:43] wendellpiez commented on #1076
Discussed in sprint meeting 4/14 - we agreed I would move forward with end-to-end tests tied to the current specification, trying to make as much headway as possible, with a view to triaging all the requirements in the near term (next week or two). Indexing the spec to the tests as we work makes it easy to track coverage.

Given a concrete list of requirements with (some tests), we can define conc

[2022-04-15 00:00] galtm opened #1205 "XSLT Profile Resolver compatibility documentation"
This issue is a running list of incompatibilities in the [XSLT profile resolver](https://github.com/usnistgov/OSCAL/tree/main/src/utils/util/resolver-pipeline#readme) as we bring it up to date with the latest profile resolution spec. When the changes are ready for release, this list should make it easier to create release notes.

1. `assign-uuid` global parameter is replaced by `uuid-method` and `

[2022-04-15 05:04] GaryGapinski opened #1206 "set-parameter in the context of an SSP is ambiguously defined"
# Describe the bug

The "correct" use of `set-parameter` is inadequately defined.

# Who is the bug affecting?

OSCAL implementation authors.

# What is affected by this bug?

Ambiguity has an adverse effect on the fidelity of OSCAL implementations.

# When does this occur?

As of the time of this issue creation, It is a contemporary affliction.

# How do we replicate the issue?

By use of example

[2022-04-15 05:05] GaryGapinski commented on #1206
Simple example:
[code]

[2022-04-15 12:06] #1003 closed

[2022-04-15 12:06] #1131 closed

[2022-04-15 12:07] #1127 closed

[2022-04-15 19:17] #1198 closed

[2022-04-18 17:25] aj-stein-nist opened #1208 "Switch Generated Website Content Link Checking to lychee from untitaker/hyperlink"
# User Story:

As a NIST OSCAL developer, in order to ensure all links in the generated website content point to valid hyperlink targets in a faster and more efficient way with minimal configuration, I would to implement an alternative approach to link checking the generated content as part of CI workflows in GitHub Actions.

This closes usnistgov/OSCAL#1201.

## Goals:

When reviewing current wor

[2022-04-18 21:00] aj-stein-nist opened #1209 "Automatically Add New Issues to Issue Triage Projects for Developer Review"
# User Story:

As a NIST staff OSCAL developer, in order to ensure I can quickly review and keep current on newly added issues from colleagues or active community members, I would like to have any new issue automatically added to the Issue Triage Project and its Needs Triage column automatically so I do not have to do so manually and potentially risk making mistakes.

## Goals:

We had an action i

[2022-04-20 13:53] Rene2mt opened #1211 "Update SSP reference documentation for import-profile element"
# Describe the bug

Reference documentation for ```import-profile``` element ambiguous about what can be referenced by this element (e.g. ***profile*** vs ***resolved profile*** vs ***catalog***):

- XML: https://pages.nist.gov/OSCAL/reference/latest/system-security-plan/xml-reference/#/system-security-plan/import-profile
- JSON: https://pages.nist.gov/OSCAL/reference/latest/system-security-plan/j

[2022-04-20 14:14] aj-stein-nist opened #1212 "Test GitHub Action for Triage Works After usnistgov/OSCAL#1210 Merge"
# User Story:

This is a test issue for usnistgov/OSCAL#1209 and usnistgov/OSCAL#1210. Please ignore. It will be closed by NIST OSCAL maintainers shortly.

[2022-04-20 16:41] aj-stein-nist commented on #1212
It worked! Closing.

[2022-04-20 16:41] #1212 closed

[2022-04-20 18:20] aj-stein-nist commented on #1209
@david-waltermire-nist per our conversation, I updated the three remaining PRs with the trailing newline, the way it should be (sorry I spaced out on that). They should be ready for merge and review as you deem fit.

[2022-04-20 21:00] aj-stein-nist opened #1213 "Base Value for SSP Information Types Impact Levels Required Even if Non-existent"
# Describe the bug

Some information types in SP 800-60 Volume 2 Revision 1 do not have an explicit `base` in the document. OSCAL requires setting them for any information type and Metaschema constraints require a `base` value be defined, as indicated by documentation.

This is a summary of the conundrum.

[code]

# Who is the bug affecting?

OSCAL content authors for an information system writing

[2022-04-21 17:14] aj-stein-nist commented on #1208
I am going to move this from `1.0.3` ti `1.1.0` release for now @david-waltermire-nist, as I am out of office for the targeted completion of the sprint. Feel free to assign it to others and bring it back in, or I will pick it up when I am back.

[2022-04-21 17:28] aj-stein-nist commented on #1213
@david-waltermire-nist I am ok adjusting [this as discussed re your Gitter feedback](https://gitter.im/usnistgov-OSCAL/Lobby?at=626042143ae95a1ec1f8827f) if you are so inclined and create an enum value of `none` for `base`. I set this to discussion needed. If you adjust accordingly and note, I will make it so. Obviously a super easy fix, so let me know which release target is all.

[2022-04-21 19:53] avdouglas-nist commented on #1113
My status for week ending April 20:

- Completed revising the toFormat and fromFormat options on most of the modules

- Changed Warning messages to Error messages where applicable

- Continue to make minor enhancements throughout the tool

[2022-04-25 03:53] tajinders commented on #87
@iMichaela As you mentioned that @david-waltermire-nist is working on providing support for the control mapping and it would be available as part of OSCAL 1.1.0. Could you or @david-waltermire-nist please help me understand the timelines for this release and when would support for the control mapping be available and would there be any document similar to the catalog/profile model that we can refe

[2022-04-25 15:34] wendellpiez commented on #1211
@galtm not as such, although for various reasons including analysis or forensics, I can well imagine the recipient of a profile  document (or SSP) processing it with a proxy catalog or profile, if only for comparison purposes. In such a use case, that data point as represented in the metadata of the resulting catalog could be useful.

In a plain vanilla use case, I would imagine that the recipient

[2022-04-25 16:41] GaryGapinski commented on #1211
There are additional shortcomings in `import-profile`:
- The schema documentation asserts "Import Profile: Used to import the OSCAL **profile** representing the system's control baseline.". An OSCAL instance document would have a root element `profile`.
- `profile` provenance is not rigorous.
- Were a `catalog` instance document to be the target, it would have ambiguous `profile` provenance.
- Pur

[2022-04-25 16:57] wendellpiez commented on #1211
Awesome. Noting only -

- while I think we need a detailed spec, I'm not sure it has to be in OSCAL, as some/all of this could be up to an implementation
- on point 1 the language is not wrong, it is just tautological hence not useful (hanging on the meaning of "import").
- on points of provenance and traceability - backing up with use cases is useful
- nominal support for @media-type (as a valida

[2022-04-26 17:35] wesley-dean-gsa opened #1216 "requirements.txt not loaded outside of Docker context"
# Describe the bug

When build/copy-and-convert-content.sh runs, there are two locations (lines [157](https://github.com/usnistgov/OSCAL/blob/main/build/ci-cd/copy-and-convert-content.sh#L157) and [202](https://github.com/usnistgov/OSCAL/blob/main/build/ci-cd/copy-and-convert-content.sh#L202)) where `python/convert_filetypes.py` is invoked.  The `convert_filetypes.py` script imports `ruamel.yaml`

[2022-04-26 19:59] wendellpiez opened #1217 "Lapse in Profile Resolution spec? - including all referenced parameters"
A minor but significant lapse in the Profile Resolution specification *I think*, or at any rate a point for clarification/discussion.

In brief, consider the following outline:

[code]

I would expect as output:

[code]

That is, B is complete, with its reference, and the target of its reference. However parameter A1 is now 'loose' (not enclosed in control A) since control A is not included.

# De

[2022-04-26 21:06] wendellpiez opened #1218 "Profile support for selection 'with-parent-controls'"
# User Story:

The [Profile Resolution specification draft](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/) mentions [with-parent-controls](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/#d2e556-head) but the current profile XSD and JSON Schema do not support it.

## Goals:

- Finalize model and usage for this feature
- Extend the formal models to support

[2022-04-27 15:22] wendellpiez commented on #1216
@wesley-dean-gsa apologies for a little latency (due to annual leave on this side) and thanks for the analysis/debug.

[2022-04-28 15:22] iMichaela commented on #87
@tajinders - please the PR #1150. Please provide feedback. The community's feedback on the mapping and other enhancements scheduled for OSCAL 1.1.0 will drive the release date. We hope to be in approx 2-3 months, but as we make more progress and receive the feedback, we will provide a more accurate timeline.

[2022-04-29 12:54] david-waltermire-nist commented on #1058
A set of use cases are also [documented](https://hackmd.io/JZkedRyZRAmUEWOSxQn0jg). Feedback is appreciated.

[2022-04-29 17:59] wendellpiez commented on #1188
![infinity-loop](https://user-images.githubusercontent.com/1588228/165997972-c58b6c26-abf7-487f-a4d9-00f3358d6072.svg)

Here is an SVG path that could be used as the basis for an 'infinity loop' diagram....

[2022-05-02 15:06] iMichaela opened #1220 "OSCAL Pages - Country Code regex bug"
# Describe the bug

On the page: [https://pages.nist.gov/OSCAL/reference/latest/catalog/json-reference/#/catalog/metadata/locations/address/country](https://pages.nist.gov/OSCAL/reference/latest/catalog/json-reference/#/catalog/metadata/locations/address/country), the regex expression for the country code  should be `[A-Z]{2}` and not `[A-Z](2)`.

# Who is the bug affecting?
All

# What is affecte

[2022-05-02 17:03] david-waltermire-nist commented on #1105
This is partially addressed by PR #1161.

[2022-05-03 15:23] aj-stein-nist commented on #1218
This is a not defect in the current extant Metaschema model, it is a defect in the spec. The spec needs to be updated in the spec for a subsequent profile resolution spec revision. The `with-parent`-based controls needs to be redefined to make use of the `link` `depends-on` relationship which is more appropriate for a variety of relationships, not just parent alone (per conversation in today's tri

[2022-05-03 15:27] aj-stein-nist commented on #680
This might be closable, @david-waltermire-nist will talk about this when we hop back into triage.

[2022-05-03 15:41] david-waltermire-nist commented on #680
This is addressed by [prop\[@name="source-profile"\]](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/#d2e1433-head).

[2022-05-03 15:41] #680 closed

[2022-05-03 15:43] aj-stein-nist commented on #737
Will fix this in usnistgov/OSCAL#1208 now that Metaschema equivalent of tooling improvement was merged, fixed, and approved by Dave.

[2022-05-03 15:46] david-waltermire-nist commented on #822
This relates to the discussion #1177.

[2022-05-03 15:50] david-waltermire-nist commented on #1217
This raises the greater question around what is a parameter's scope? One could argue that a parameter is scoped to it's current context (catalog, group, control) and any children of this context.

[2022-05-03 15:57] david-waltermire-nist commented on #1186
PR #1161 needs to be merged to complete this.

[2022-05-03 17:18] aj-stein-nist commented on #1208
Alright, I am going to pick this up now after convo today during issue triage re usnistgov/OSCAL#737.

[2022-05-03 17:19] aj-stein-nist commented on #1216
@wesley-dean-gsa, hi Wes! Long time no talk. Thanks for reporting this issue with all the necessary detail. Expect a PR in the near-term to review.

[2022-05-03 19:22] tsagerCIS opened #1221 "Mapping Schema Language for Relationships"
https://github.com/usnistgov/OSCAL/blob/7869eab8485d17128500f8b2580a9f6dfe3d812a/src/metaschema/oscal_mapping-common_metaschema.xml#L40
@david-waltermire-nist
Something we had touched on before, the language around the relationships in mapping.  Currently, in addition to the "subset/superset/equivalent" options we have here we are also using "intersects."  This is the most recent addition and isn'

[2022-05-03 21:27] iMichaela commented on #1221
@tsagerCIS - `intersect` must clearly identify without any doubt the information in common vs the disjoined information. They policies you listed will `intersect` only if they contain identical statements but also each have other statements.
[code]
[code]
The `intersect` of `Policy1` with `Policy2` will be `stm_a` and the rest of the statements need to be clearly marked/identified as disjoined for

[2022-05-03 21:34] aj-stein-nist commented on #1216
OK @wesley-dean-gsa I did some digging between meetings and I realized an oversight in my initial code skim. Our CI/CD has updated significantly since the last git submodule update you are using in the branch behind that PR. We do not even call the `copy-and-convert.sh` script in a GitHub Actions step in the core OSCAL repo anymore, only [oscal-content](https://github.com/usnistgov/oscal-content/)

[2022-05-03 21:49] aj-stein-nist opened #1222 "Review Error Behavior in OSCAL CI/CD Scripts and GitHub Actions Automation"
# User Story:

As an OSCAL tool developer, in order to ensure I can confidently reuse GitHub Actions automation from the core NIST OSCAL developer team in the OSCAL core repos in my own automation to precisely and consistently determine success and error state of overall workflows and individual steps' operations, I want to ensure error behavior is consistently managed in a documented and consiste

[2022-05-03 22:07] aj-stein-nist opened #1223 "Modularize All GitHub Actions Setups"
# User Story:

As an OSCAL tool developer, in order to ensure I can confidently reuse GitHub Actions automation from the core NIST OSCAL developer team in the OSCAL core repos in my own automation with as little copy paste and as much re-usability as possible without additional effort, I want to ensure error behavior is consistently managed in a documented and consistent way.

## Goals:

As discus

[2022-05-04 00:33] aj-stein-nist commented on #1209
@david-waltermire-nist are we going to merge the other related PRs in oscal-content and oscal-tools before closing closing this or would want me to not make that part of the acceptance criteria bullets above in the original issue description?

[2022-05-04 08:06] guyzyl commented on #1058
I know this is kind of a long shot, but how about using some kind of open source CI/CD schema for the rules definitions? (or at lease support its embedding).
There are a lot of edge cases when it come to defining rules, their logic, and the logic between them.
Embedding a ready made format will not only solve this, but will also enable to actually execute the rules defined (which would be pretty c

[2022-05-04 13:04] david-waltermire-nist commented on #1221
It seems that `intersect` is a way to be vague about the relation, when there is not statement level granularity to be more specific. For instance, if you have two controls that contain only a single text block as a statement.

For example:

[code]

In such a case you cannot break out the statements, so expressing `Control1 ∩ Control2` is a way of saying `{ A, B, C } ∩ { B, C, D }`.

 If you can m

[2022-05-04 14:49] aj-stein-nist opened #1229 "Rename `import-profile` to `import-baseline`"
# User Story:

As an OSCAL tool developer or security practitioner, in order to best understand what I can import in an OSCAL system security plan as a baseline, be it a profile or a fully resolved catalog, I would like the relevant attribute in a SSP to be more accurately named `import-baseline` or a sensible equivalent vetted and supported by the NIST team and community.

## Goals:

The goal is

[2022-05-04 15:06] #1209 closed

[2022-05-04 15:55] #1220 closed

[2022-05-04 15:55] #1211 closed

[2022-05-04 15:56] aj-stein-nist opened #1230 "Scheduled Link Checks of OSCAL Repo's Main Branch and Automatically Open Issues for Broken Links"
# User Story:

As an OSCAL tool developer, in order to know all internal and external hyperlinks are valid over time and not only when specific developers make modifications that are sometimes not related to modified links, I want the OSCAL's CI/CD automation to periodically examine links for the OSCAL website and repo Markdown documentation for broken links on a schedule. If a broken link is foun

[2022-05-04 21:52] #1186 closed

[2022-05-04 21:52] #1216 closed

[2022-05-04 23:45] #1062 closed

[2022-05-05 11:35] #737 closed

[2022-05-05 11:36] #1208 closed

[2022-05-05 13:53] aj-stein-nist commented on #857
Interesting follow-up requests for clarity on best practices with using OSCAL `@ns` for namespacing and extending OSCAL data here, relevant to perhaps touching up AC and working this issue to completion in 1.1.0?

https://gitter.im/usnistgov-OSCAL/Lobby?at=6273c50314df4e44f20e9e86

/cc @1z10 @mruge

[2022-05-05 15:18] aj-stein-nist commented on #1216
@wesley-dean-gsa, re this.

We just got off the call with the PMO we agreed to send changes to GSA/fedramp-automation. I will work with @volpet2014 and @david-waltermire-nist to bring those changes in, and you can pull them back into your `master` and relevant branches, OK?

[2022-05-05 16:29] #1194 closed

[2022-05-05 16:39] #1206 closed

[2022-05-05 18:15] #988 closed

[2022-05-05 18:16] david-waltermire-nist commented on #718
This issue is addressed by the [OSCAL Deep Diff Tool](https://github.com/usnistgov/oscal-deep-diff/). Closing.

[2022-05-05 18:16] #718 closed

[2022-05-05 22:29] iMichaela commented on #1221
@tsagerCIS - Please note that mathematically speaking, the `intersect` part of the 2 controls must be identical (word by word) to qualify for an `intersect` relation. Otherwise it will be some level of equivalence between them and additional functionality around the information coverage (one control cover network monitoring, incident response, etc.. while the equivalent control covers logging) and

[2022-05-06 03:00] iMichaela opened #1237 "Update OSCAL/Learn page with the latest material"
# User Story:

As an OSCAL user, I would like to have access to as much instructional material as possible on the OSCAL/Learn page.
For example, the 3rd OSCAL workshop videos and presentations are not included.

## Goals:

Update the OSCAL/Learn page with a link to the [3rd OSCAL Workshop](url) and/or the recorded presentations, demos and slides.

## Dependencies:

none

## Acceptance Criteria

-

[2022-05-09 13:41] aj-stein-nist commented on #1223
From talking to Dave, let's make sure [we handle GHA updates with dependabot](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates#enabling-version-updates-on-forks) _and_ ensure ongoing coverage for needed package ecosystems (as GH calls them) for Java, Python, JS/TS, and maybe Docker?

[2022-05-09 20:41] telosBA opened #1241 "Why is uuid not used to reference back-matter resources in control-implementation?"
When parties, information data types, location, and leveraged authorization are used, uuid is referenced. Back-matter is the only tag to not maintain this uuid linkage when referenced in other locations for OSCAL SSP. Is there a reason why href was used in this case instead?

[2022-05-09 20:48] telosBA opened #1242 "Why are there two UUID's in by-component under control-implementation?"
`<control-implementation>` `<implemented-requirement>` `<statement>` `<by-component>` currently includes two uuid elements, namely, "component-uuid" and "uuid." Is this redundant? Is there a reason to have both within `<by-component>`?

[2022-05-09 20:50] telosBA opened #1243 "Do responsible-party and responsible-role serve two different purposes?"
The schema includes the use of both responsible-party (`<metadata>`) and responsible-role (`<control-implementation>`). Is this serving the same function?  Why was the naming convention changed?  Is there a use case that we are missing?  Should this be changed to responsible-party for continuity?

[2022-05-09 20:53] telosBA opened #1244 "Schema does not validate media-type special characters"
# Describe the bug
Schema does not validate media-type special characters e.g. “image/png” - doesn’t meet URI requirements.
{A clear and concise description of what the bug is.}

# Who is the bug affecting?
Telos
# What is affected by this bug?
Schema validation of XML files.
{Describe the impact the bug is having.}

# When does this occur?
When validating XML files that contain media-type element

[2022-05-09 23:23] galtm opened #1246 "Profile Resolution spec uses old names such as name-ref"
# Describe the bug

The [Removing content from controls](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/#d2e1306-head) section of the profile resolution spec uses the names `name-ref`, `ns-ref`, `item-name`, and `class-ref`. The [OSCAL v1.0.0 release notes](https://pages.nist.gov/OSCAL/reference/release-notes/#changes-to-profile-model) document says these objects were renamed

[2022-05-10 14:54] david-waltermire-nist opened #1249 "Provide guidance around relative URI handling for href instances"
# User Story:

As an OSCAL developer, I would like to have consistent guidance around relative URI handling within href in OSCAL.

## Goals:

Update the OSCAL docs references with consistent guidance, including [/profile/metadata/link/@href](https://github.com/usnistgov/OSCAL/blob/main/docs/content/reference/latest/profile/xml-reference.md?plain=1#L659) and [/profile/back-matter/resource/rlink/@hr

[2022-05-10 15:33] aj-stein-nist commented on #1242
One (`uuid`) is the ID of the `by-component` entry itself and one is a reference to the `component` (`component-uuid`)?

Please see the documents on these topics:
- [`component-uuid`](https://pages.nist.gov/OSCAL/reference/1.0.3/system-security-plan/json-reference/#/system-security-plan/control-implementation/implemented-requirements/by-components/component-uuid)
- [`by-component` `uuid`](https://

[2022-05-10 15:40] aj-stein-nist commented on #1241
We need to answer this, then migrate to a discussion.

[2022-05-10 15:41] aj-stein-nist commented on #1237
Hi, @iMichaela we looked at this during triage today. Can you edit the page in a PR and send for review?

[2022-05-10 16:04] telosBA commented on #1244
Here is the error output:

TCL-07068B:~ 13503$ xmllint --schema /Users/13503/PycharmProjects/OSCAL/oscal.xsd /Users/13503/PycharmProjects/OSCAL/NewXacta.xml --noout
/Users/13503/PycharmProjects/OSCAL/NewXacta.xml:459: element link: Schemas validity error : Element '{http://csrc.nist.gov/ns/oscal/1.0}link', attribute 'rel': [facet 'pattern'] The value 'image/png' is not accepted by the pattern '[\i

[2022-05-10 19:23] david-waltermire-nist opened #1255 "Identify how to represent OSCAL YAML media types"
# User Story:

As a OSCAL developer, I would like [`/catalog/back-matter/resource/rlink/@media-type`](https://pages.nist.gov/OSCAL/reference/latest/catalog/xml-reference/#/catalog/back-matter/resource/rlink/@media-type) model documentation to clearly define how `YAML` resource link should be represented.

## Goals:

Update the OSCAL documentation to provide guidance around the representation of a

[2022-05-10 20:16] aj-stein-nist commented on #1255
I vote for `application/yaml` per discussion with Dave. Research notes to follow!

[2022-05-10 20:23] david-waltermire-nist commented on #1255
After reviewing [RFC 6838](https://www.rfc-editor.org/rfc/rfc6838.html) it is clear that using `x-yaml` is not allowed, and `x.yaml` is [discouraged](https://www.rfc-editor.org/rfc/rfc6838.html#section-3.4).

There was a [proposal](https://mailarchive.ietf.org/arch/msg/media-types/e9ZNC0hDXKXeFlAVRWxLCCaG9GI/) for early IANA registration around `vnd.yaml`, for which the response was that YAML is n

[2022-05-10 20:41] Rene2mt opened #1256 "Duplicate content on Concepts - Identifier Use page"
# Describe the bug
There is duplicate text on the Concepts - Identifier Use page (see https://pages.nist.gov/OSCAL/concepts/identifier-use/#identifier-type). The text in the blue rectangle repeats the statement in the preceding paragraph.

# Who is the bug affecting?
All potential users reading the Concepts - Identifier Use page

# What is affected by this bug?
Documentation quality issue.

# When

[2022-05-10 21:20] aj-stein-nist commented on #1230
I also figured out a faster turnaround workaround by just removing the `-q` argument from `markdown-link-check` and taking that as piped stream output from the command-line execution in a labelled output variable ([StackOverflow reference](https://stackoverflow.com/a/66713349/19088136)) for that and then insert that named output into a GitHub issue when the returned status code is not `0`.

Also,

[2022-05-11 13:45] wendellpiez opened #1259 "Why does implicit OSCAL namespace lack a version number?"
### Discussed in https://github.com/usnistgov/OSCAL/discussions/1258

<div type='discussions-op-text'>

<sup>Originally posted by **galtm** May 10, 2022</sup>
Related to #1247 : Why is the implicitly assumed OSCAL namespace `http://csrc.nist.gov/ns/oscal` with no version number, when the OSCAL elements are in namespace `http://csrc.nist.gov/ns/oscal/1.0` with a version number?</div>

[2022-05-11 20:40] Agh42 opened #1260 "Error in datetime-regex"
# Describe the bug

I believe there to be a bug in the "datetime with timezone" regex as described in `https://github.com/usnistgov/OSCAL/edit/main/docs/content/reference/datatypes.md`

As it stands, the regex will match dates `2017-06-04T00:00:00Z` and `1999-04-03T12:13:45Z` but it will NOT match i.e. `2400-02-29T00:00:00Z` `2022-05-03T02:00:00Z`.

This is because the `T` separating the date from

[2022-05-11 20:56] Agh42 commented on #1260
I just realized that the regex is already correct in the XSD schemas - just not in the documentation.
This probably lead to the wrong regex being baked into the OpenAPI spec that I used from the [tools list](https://github.com/EasyDynamics/oscal-rest).

[2022-05-11 20:59] aj-stein-nist commented on #1260
Thanks for calling that out. We have a triage sync tomorrow and I am sure we can address this sooner rather than later.

[2022-05-12 09:17] Agh42 commented on #1260
I also noticed that all regexes were removed from the generated JSON schemas on 5/4/22 in 9a03286d8ea96d0be2290b8882be31997526b0a6. I couldn't find a GitHub issue regarding this change, was this done on purpose?

I.e.:
![image](https://user-images.githubusercontent.com/7584303/168036808-3c7e8ed2-16c4-47d7-97fa-c4e9936afbb4.png)

[2022-05-12 09:45] bradh commented on #1260
Not everyone uses Gregorian dates, so a string might be more appropriate.

[2022-05-12 12:52] aj-stein-nist commented on #1260
I am not 100% but I would imagine this was not done on purpose and this might have to do with updating the Metaschema submodule to address fixes usnistgov/metaschema#182.

Will definitely look into this during triage later today!

[2022-05-12 17:10] david-waltermire-nist commented on #1259
This was answered in #1258.

[2022-05-12 17:10] #1259 closed

[2022-05-12 18:48] Agh42 commented on #1260
I think that there are strong reasons for enforcing the Internet date/time format (RFC 3339). It avoids much confusion and misunderstanding esp. when working with international partners. Conversion to different time zones and formats should not be a problem, as long as the stored value can be interpreted clearly.

(As stated in the RFC:  "because no date and time format is readable according to th

[2022-05-12 18:51] david-waltermire-nist commented on #1237
We have an [older page](https://pages.nist.gov/OSCAL/learn/presentations/oscal-workshop-2021-02/) from the last workshop. We can use this as a template for the 3rd workshop.

[2022-05-12 18:54] #1256 closed

[2022-05-12 20:49] aj-stein-nist commented on #1255
Short and sweet, this one is done and merged for 1.0.4 release. Closing.

/cc @david-waltermire-nist sadly yet again this did not get auto-closed even though in PR message and in the Development link UI feature I added this issue to close. Not sure what gives there.

[2022-05-12 20:49] #1255 closed

[2022-05-12 21:01] #1260 closed

[2022-05-12 21:54] Agh42 commented on #1260
I'm not sure that this fully closes this issue...  I added a [comment](https://github.com/usnistgov/OSCAL/commit/ad8bb2fbd3700dc46efc0141e5801e39a11bea13#commitcomment-73535914) to the commit.

[2022-05-13 19:08] aj-stein-nist commented on #1223
Talked to @nikitawootten-nist (and will loop him of course, but credit where credit is due), one useful value add to this work once we pick it up will be to have one action workflow in the final collection of them that will look the the source version (or a git ref by hash/tree/branch/tag) and make a rebase PR from that upstream to the target repo (be it OSCAL or other repos). Definitely want to w

[2022-05-17 02:00] aj-stein-nist commented on #1222
May potentially do this before/during usnistgov/OSCAL#1223.

[2022-05-17 15:14] degenaro opened #1269 "Support for AssessmentResults collections that share a common UUID"
# User Story:

As an OSCAL automation engineer, I need to be able to transfer a single AssessmentResults in discrete segments from point A to point B.

## Goals:

A policy validation point that employs a set of checks (tests) contained in an OSCAL Profile may generate an expensive to produce and/or very large scan results that is transformed into an OSCAL AssessmentResults (AR) with a single defin

[2022-05-17 16:20] aj-stein-nist opened #1271 "Add Linking from Objectives to Statements for the 800-53 Catalog"
# User Story:

As an OSCAL tools developer and/or security practitioner, I want an explicit linking between objectives and control statements in the SP800-53 OSCAL catalog.

## Goals:

There is an implicit linking through a common ID naming scheme, but this could be made more explicit with a linking relationship that does not require human understanding or machine-level parsing and transformation

[2022-05-17 16:53] aj-stein-nist opened #1272 "Spec-Conformant Profile Resolution Tools Should Use Patch OSCAL Version, not Only Minor"
# Describe the bug

As an OSCAL tool developer implementing a profile resolution tool, in order to make the most usable tool for industry adoption, I want to conform with the profile resolution standard with minimal effort and use the explicitly set OSCAL version number in the profile(s) (patch version), and not have to process OSCAL version further to determine and emit the minor version in the r

[2022-05-18 01:18] aj-stein-nist opened #1274 "Enable OSSF AllStar and Scorecard System for OSCAL Projects"
# User Story:

As a NIST OSCAL developer and/or security practitioner, in order common supply chain and developer tooling risks to NIST OSCAL projects, I would like to see the installation and configuration of [the OSSF Allstar GitHub app](https://github.com/ossf/allstar) and proper management of [the OSSF Scorecard score](https://github.com/ossf/scorecard) (and factors causing them).

## Goals:

[2022-05-18 11:58] wendellpiez opened #1275 "More Tools Page links"
# User Story:

As a beginner in OSCAL coming to the Tools page, I may not even know about schemas and architectures (still learning), and the Tools Page doesn't help me. But schemas and converters are basic "tools".

Then too, if I'm not a beginner and I know I need schemas and converters and don't know where to find them, I might look on the Tools page.

For these users the Tools page could offer

[2022-05-19 17:31] jon-burns opened #1276 "Update ICS file for Lunch with Devs"
The Bluejeans link for the **Lunch with the OSCAL Developers** meeting changed, but associated ISC file `lunch-with-the-devs.ics` has not been updated.

[2022-05-19 17:56] david-waltermire-nist commented on #1275
@wendellpiez Please create a PR to add this.

[2022-05-19 17:58] aj-stein-nist commented on #1274
We need to research this and determine how viable it is to implement this.

Per @david-waltermire-nist: I'd like to see us wrap in the Scorecard system at repo-level first, _then_ we try doing without the Allstars app. If we get the first part with scores improved, then we look into app.

[2022-05-19 18:04] #1230 closed

[2022-05-19 18:52] telosBA opened #1278 "Ampersand in string causes schema validation error"
# Describe the bug
Strings that include an ampersand, "&," cause an error upon schema validation.
e.g.
`<description>`
    `<p>`Sample & Text`</p>`
`</description>`

{A clear and concise description of what the bug is.}

# Who is the bug affecting?
Telos

# What is affected by this bug?
Schema validation

{Describe the impact the bug is having.}

# When does this occur?
Validating schema with ampe

[2022-05-19 19:07] aj-stein-nist commented on #1278
This is actually part of the core syntax of XML, [per the spec](https://www.w3.org/TR/xml/#syntax). As we joke in the software industry: it's not a bug, it's a feature.

`&` unto itself means indicates the presence of an entity, exactly like that error message tells you, so you need to declare it correctly. `&amp;`. This is not even specific to XML, but HTML and (Wendell might correct me here) mos

[2022-05-19 19:07] #1278 closed

[2022-05-19 21:02] aj-stein-nist opened #1279 ".NET Library for Metaschema and OSCAL (Tracker)"
# Epic Summary:

As an OSCAL tool developer, in order to quickly make tools with the .NET Framework and .NET Core ecosystems, I want one or more libraries I can use as a part of my own tools that will help me in serializing, de-serializing, and transforming objects in .NET runtimes marshalled from source OSCAL JSON/XML/YAML objects.

## Goals:

NOTE: This is a public tracker issue for the NMetasch

[2022-05-19 21:32] aj-stein-nist opened #1280 "Mechanism to Auto-Update GitHub Actions Configurations for OSCAL Projects"
# User Story:

As an OSCAL tool developer, in order to simplify the management of NIST OSCAL repositories or my own repositories that leverage shared infrastructure based off of NIST OSCAL repositories, I want a mechanism for the GitHub Actions configurations for CI/CD to be analyzed and flagged for updates automatically to get updates in any repo where they are configured.

## Goals:

This issue

[2022-05-19 22:11] nikitawootten-nist opened #1281 "Typescript Library for Metaschema and OSCAL"
# User Story:

As an OSCAL tool developer, I want libraries I can use as part of my own tools that will assist me in (de)serializing and transforming objects from JSON/YAML/XML Metaschema/OSCAL objects using Metaschema definitions from within the Node/Javscript ecosystem.

## Goals:

*NOTE: This is a public issue tracker for the `metaschema-node` and `oscal-node` libraries which are currently bein

[2022-05-20 11:35] david-waltermire-nist opened #1282 "Address OSCAL and Metaschema Java library defects"
# User Story:

As a user of the [Metaschema Java](https://github.com/usnistgov/metaschema-java/) and [OSCAL Java](https://github.com/usnistgov/liboscal-java/) libraries, I need know defects to be repaired. I also need the OSCAL Java library to be updated to the latest OSCAL release.

## Goals:

The following issues need to be addressed for the next release of the OSCAL Java library:

- [x] Depende

[2022-05-20 12:34] aj-stein-nist opened #1283 "Local Developer Installation Docs Are Outdated"
# Describe the bug

As an OSCAL tool developer, to understand how to set up a local environment and contribute feedback and docs and code enhancements back to the project, I would like accurate docs for local installation.

# Who is the bug affecting?

Tool developers configuring local dev environment on their workstation.

# What is affected by this bug?

Installation and configuration of the too

[2022-05-23 08:09] github-actions[bot] opened #1284 "Scheduled Check of Markdown Documents Found Bad Hyperlinks"
FILE: .github/ABOUT.md
  [✓] ISSUE_TEMPLATE/
  [✓] workflows
  [✓] CODEOWNERS
  [✓] issue_template.md

  4 links checked.

FILE: .github/ISSUE_TEMPLATE/README.md
  [✓] bug_report.md
  [✓] question.md
  [✓] feature_request.md

  3 links checked.

FILE: .github/ISSUE_TEMPLATE/bug_report.md
  No hyperlinks found!

  0 links checked.

FILE: .github/ISSUE_TEMPLATE/feature_request.md
  [✓] https://pages

[2022-05-23 13:27] aj-stein-nist commented on #1284
Looks like GitHub is blocking us again. Good news is I have more evidence [to keep following up with GitHub staff](https://github.com/github/docs/discussions/17620#discussioncomment-2701277).

[2022-05-24 15:41] aj-stein-nist opened #1286 "Development Snapshot Reference Model Docs Branch URL Assumes Origin Repo in All Cases"
# Describe the bug

As an OSCAL developer, when using the model reference docs for a _local_ build of pages.nist.gov website on my workstation, to know what repo branch in GitHub of the development snapshot of the model docs in the reference section originated from, I wanted the URL to correctly reflect if the branch is from the main origin repo (github.com/usnistgov/OSCAL) or one of the other dev

[2022-05-25 21:12] aj-stein-nist commented on #1222
So, I didn't know exactly where to start with this, but I reviewed current guidance on trapping error codes more generally in `bash` scripts and there are two schools of thought around this, with some nuance in between about not using absolutely at the complete shellscript level:

- You can rely on `set -e` and `set +e` to liberally protect you from unexpected errors and flow management.
- Relying

[2022-05-26 17:19] #1286 closed

[2022-05-26 17:46] david-waltermire-nist commented on #1284
These are false positive results. @aj-stein-nist is working on a fix.

[2022-05-26 17:46] #1284 closed

[2022-05-26 17:50] aj-stein-nist commented on #1284
Dave and I reviewed this and determined we can let it go as the issue appears to have been transient. What I do need to do is look into this issue not being automatically added to the triage board as it should. I will look into this and potentially resolve this in usnistgov/OSCAL#1223, unless otherwise stated.

[2022-05-26 18:02] aj-stein-nist commented on #1223
Determine how to use tokens to trigger the issue creation [per GitHub documentation and limitations](https://github.community/t/triggering-a-new-workflow-from-another-workflow/16250).

[2022-05-26 18:21] aj-stein-nist commented on #1279
I need to determine a way to take the private board epics and their issues trackable on this board. Will look into it.

At the time of this writing, I am working on the abstract base classes and a large number of interfaces. I worked on structuring non-functional requirements to meet NIST requirements for publication and open-sourcing this library formally.

More to come, and specific trackable ta

[2022-05-26 19:00] aj-stein-nist commented on #1279
I found a quick and dirty way to use `gh` and `jq` to quickly format and convert the GitHub issues into a Markdown list.

[code]

[It is also in gist form for reusability](https://gist.github.com/aj-stein-nist/cc94f630df835a77b7a52cc77c7792f9).

[2022-05-26 20:10] wesley-dean-gsa commented on #1222
@aj-stein-nist happy to help

[2022-05-26 21:20] aj-stein-nist commented on #1222
You have any block of time on Tuesday?

[2022-05-27 12:55] wesley-dean-gsa commented on #1222
@aj-stein-nist any time after 10am Eastern works for me.

[2022-05-27 13:59] david-waltermire-nist opened #1290 "Clarify behavior for conflicts in role, location, party, and reference identifiers across imported OSCAL content"
# User Story:

As an OSCAL content creator or tool developer, I need to understand what behavior a tool should exhibit when encountering conflicting role, location, party, and reference definitions with the same identifier.

For example:

An OSCAL SSP might define:

[code]

An OSCAL assessment plan might define:

[code]

What is the correct behavior?

## Goals:

OSCAL documentation and constraints

[2022-05-27 17:49] CyberDaedalus00 opened #1291 "assessment-assets missing in POAM's local-definitions"
# Describe the bug
In circumstances where a POAM is provided without a System Security Plan (SSP), for circumstances where no OSCAL-based SSP exists, or is not delivered with the POA&M, there is no means to specify the definitions of components and assessment-platforms used in the assessment and referenced by an origin's actor as the source of the information.  As a result there is no means to res

[2022-05-27 17:57] aj-stein-nist commented on #1279
1. Definitely interesteded in NuGet registry publication, be it via [the official NuGet Gallery registry](https://nuget.org) _or_ publication in a public NuGet registry [via GitHub Packages](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry). There are (NIST's) organizational reasons to consider the latter. In either case, this would be par

[2022-05-29 08:05] github-actions[bot] opened #1293 "Scheduled Check of Markdown Documents Found Bad Hyperlinks"
FILE: .github/ABOUT.md
  [✓] ISSUE_TEMPLATE/
  [✓] workflows
  [✓] CODEOWNERS
  [✓] issue_template.md

  4 links checked.

FILE: .github/ISSUE_TEMPLATE/README.md
  [✓] bug_report.md
  [✓] question.md
  [✓] feature_request.md

  3 links checked.

FILE: .github/ISSUE_TEMPLATE/bug_report.md
  No hyperlinks found!

  0 links checked.

FILE: .github/ISSUE_TEMPLATE/feature_request.md
  [✓] https://pages

[2022-05-31 15:16] david-waltermire-nist commented on #1291
To correct this `assessment-assets` needs to be added to local-definitions in the POAM model to allow for the assessment tooling to be cross-referenced. This should have the same structure as the `local-definitions/assessment-assets` allowed in the OSCAL assessment-results model.

[2022-05-31 15:22] david-waltermire-nist commented on #1290
This was discussed during the 5/27 model review. @david-waltermire-nist
[presented slides](https://github.com/usnistgov/OSCAL/files/8806453/OSCAL.Role.Collisions.pptx) identifying possible options. There was a consensus around option 4, which is to disallow identifier clashes in content both importing a role from another OSCAL document and defining a role with the same identifier. These cases shou

[2022-05-31 21:18] david-waltermire-nist commented on #945
One question to address might be, how could a system risk registry be included in or referenced from an OSCAL SSP?

[2022-05-31 21:34] david-waltermire-nist commented on #945
Also, how does a system owner/builder document which controls mitigate which risks? How would an assessor import risks from the system risk registry to further identify and explore risks during an assessment?

[2022-06-01 03:01] aj-stein-nist commented on #1222
I talked with @wesley-dean-gsa today and determined the 10x/FedRAMP validations developers' current and future plans around CI/CD and release automation. From their end, there is no need for significant changes, so on my end we will move forward with touch-ups around error logic as I see fit here, and move along to #1223 once any needed improvements and documentation additions here are completed.

[2022-06-01 03:30] iMichaela commented on #945
Might be important to provide support for adjustment of the _perceived risk_ ( = risk identified during implementation cycles) based on the _observed/found risk_ ( = risk determined during assessment), which can be higher or lower than the _perceived risk_.
For traceability reasons and in alignment with the 5.31.2022 discussion/requirement of not overwriting/deleting any _perceived risk_, the info

[2022-06-01 03:58] aj-stein-nist commented on #1279
@hahsanti with usnistgov/nmetaschema#22 with a contribution guide and code of conduct up, I can move forward on inviting you in for collaboration. Let me know a good time you are available to discuss this week, bring you up to speed, and discuss methods to facilitate shared development on this library. Welcome to my crew!

[2022-06-01 04:17] aj-stein-nist commented on #1223
Sometimes taking your time pays off. Also worth considering: we might be able to get rid of `markdown-link-check` and replace it with `lychee` and the official GHA per updates in https://github.com/lycheeverse/lychee-action/issues/115#event-6705357763.

[2022-06-01 17:12] aj-stein-nist opened #1294 "Add New Page for Publicly Available OSCAL Content"
# User Story:

As an OSCAL stakeholder, in order to find and consume OSCAL resources from other stakeholder organizations outside of the official NIST resources, I want a page itemizing OSCAL-based content from those organizations, and solicit contributions from such stakeholder organizations to keep the list current.

## Goals:

We already have [a list of OSCAL tools](https://pages.nist.gov/OSCAL

[2022-06-01 18:42] iMichaela commented on #1294
@aj-stein-nist - It might be important to have a mechanism in place or a task force (mini-team of contributors) that are responsible for the correctness (format validation at minimum) of the information made available at the end of the hyperlinks. There is no benefit from making such a resource available if the OSCAL content deviates from NIST OSCAL. A second aspect we should discuss with the comm

[2022-06-01 22:19] aj-stein-nist commented on #1058
First off, apologies for not responding to this sooner. Usually, I try to be better about this. 😢

I think this is an important point and consideration to make. The ongoing design (and now re-design) of the rules/test/conditions flow is to support _indirectly_ embedding one or more pieces of data written against such a _separate_ (non-OSCAL) schema through structured linking. The idea would be to

[2022-06-02 17:41] david-waltermire-nist commented on #1294
@iMichaela Not a fan of establishing an "OSCAL content police force" (I say this jokingly), or any similar committee. This doesn't scale well.

I believe the best way (and probably the only scalable way) to help content producers ensure they produce good content is to provide tools that enforce best practices. Such a tool also helps content consumers verify 3rd party content is good. This scales e

[2022-06-02 19:42] aj-stein-nist commented on #1279
@hahsanti thanks for meeting today. I will give you some time to review the current WIP code, design, and initial architecture. We can meet up next week and plan potential involvement in the future. Thanks for your interest and time investment thus far.

[2022-06-03 10:18] franzling commented on #1058
Following the discussions with @iMichaela and as participant of the MEDINA project (https://medina-project.eu/) I would like to share my view on OSCAL rules and how they could be utilized by different parties.

MEDINA  metrics are currently defined as (small changes might occur in the future):

- metricId: # unique ID, human readable e.g. MalwareProtectionEnabled
- reqId: # link to one ore more re

[2022-06-03 14:03] aj-stein-nist commented on #1058
Seems interesting. There are some others (I believe in the Cloud Security Alliance that @iMichaela has alluded to and met with) that are similarly interested in the applicability of rules to metrics definition and collection for an information security program defined through OSCAL.

I will have to review your D5.1 document and your proposed data structure above. We are currently modeling the deta

[2022-06-04 02:17] iMichaela commented on #1294
@david-waltermire-nist - I see your point regarding the scalability but at the same time, everything we are listing on a NIST website becomes, partially, our responsibility to ensure the quality NIST always delivers, because the content will be perceived as being endorsed/reviewed for accuracy (aka correct OSCAL formatting).  If that is not the case and the quality will not be there, what is the b

[2022-06-04 07:22] GaryGapinski opened #1297 "POA&M instance document observations and questions"
A close look at `plan-of-action-and-milestones` from a fedramp-automation perspective raises some observations and questions.
[code]

[2022-06-04 08:07] github-actions[bot] opened #1298 "Scheduled Check of Markdown Documents Found Bad Hyperlinks"
FILE: .github/ABOUT.md
  [✓] ISSUE_TEMPLATE/
  [✓] workflows
  [✓] CODEOWNERS
  [✓] issue_template.md

  4 links checked.

FILE: .github/ISSUE_TEMPLATE/README.md
  [✓] bug_report.md
  [✓] question.md
  [✓] feature_request.md

  3 links checked.

FILE: .github/ISSUE_TEMPLATE/bug_report.md
  No hyperlinks found!

  0 links checked.

FILE: .github/ISSUE_TEMPLATE/feature_request.md
  [✓] https://pages

[2022-06-04 23:13] chaffin commented on #335
Perhaps a legacy documentation system such as https://www.gnu.org/software/groff/manual/groff.html#groff-Capabilities would suffice instead of implementing another Markup/Markdown language. The use of macros allow embedded formatting commands as primitive markup and provides many capabilities you have outlined.

[2022-06-07 04:07] fsuits opened #1299 "App development would be easier if group id's were required rather than optional in Catalog and Profile"
# User Story:

As an OSCAL application developer, coding logic would be simpler and clearer if group id's in Catalog and Profile groups were required rather than optional.

## Goals:

Groups are present in Catalogs and in Profiles, and in each case the schema specifies a required title and an *optional* group_id.  Since groups may be nested, and since the id is intended to allow direct reference t

[2022-06-07 05:42] bradh commented on #1299
As a consumer, you'll probably need to handle older data, which may not have the group id. So I'm not sure its really going to save effort. If it had been required from 1.0, then I can see the advantage, but it seems limited value now.

[2022-06-07 12:45] hahsanti commented on #1299
@fsuits should these IDs be required and unique or simply required?

[2022-06-07 13:46] david-waltermire-nist commented on #1299
@hahsanti The group ids are currently optional, but must be unique when provided.

One driver to allow groups without ids is to allow the catalog author to decide which groups are intended to be addressed by an id and which groups to not allow addressing in this way.

@fsuits This would be a backwards compatibility breaking change, so we could only consider this for an OSCAL 2.0.0 release.

[2022-06-07 15:41] david-waltermire-nist commented on #1297
There are some good points here.

@aj-stein-nist Would you please summarize the points made above? Alternately, @GaryGapinski you could provide a summary.

[2022-06-07 19:24] degenaro opened #1300 "component-definition needs implementation-status"
# User Story:

As an OSCAL component-definition author, I need to be able to specify the implementation-status of my component.

## Goals:

The system-security-plan.control-implementations.implemented-requirements comprises by-components.implemenation-status.
The best place to author the component implementation-status is in the component-definition by the component owner.

For a cloud provider, s

[2022-06-07 21:13] wendellpiez commented on #1297
Rambling, but trying to be concise:

- We should update ourselves the *actual* constraints being validated around strings, markup-line and markup-multiline. (Which datatypes forbid whitespace-only, like [`string`](https://pages.nist.gov/OSCAL/reference/datatypes/#string), and which ones do not.) In both XML and JSON.
- In part because this bears directly on a convertibility issue, to wit, how do w

[2022-06-08 00:21] iMichaela commented on #1300
@degenaro -as earlier discussed, OSCAL component definitions are not meant to describe **implemented components**, but rather suggest to or guide system owners that are using respective components for their systems how to securely configure them and the controls associated. The component in an OSCAL SSP will be the implemented component.

[2022-06-08 00:38] degenaro commented on #1300
Description of implementation status from OSCAL doc: `Indicates the degree to which the a given control is implemented.` (seems like some grammar fix-up could be enjoyed [here](https://pages.nist.gov/OSCAL/reference/latest/system-security-plan/json-reference/#/system-security-plan/control-implementation/implemented-requirements/by-components/implementation-status)).

The component owner, being the

[2022-06-08 06:19] GaryGapinski commented on #1297
A few (brief) items:

- The document root element speaks of milestones, yet the document schema does not define a milestone element, thus folks will cast about for some way to warp what is offered to produce a milestone. `risk`, `response`, and `task` seem to be fair game, though the only connection between a `poam-item` and a milestone thereof are via (optional) `associated-risk` or (optional and

[2022-06-08 16:59] aj-stein-nist commented on #1298
Not sure what happened with [the CSRC OSCAL page](https://csrc.nist.gov/Projects/Open-Security-Controls-Assessment-Language) and HTTP response code 0, but it appears to have been transient.

[2022-06-08 16:59] #1298 closed

[2022-06-08 17:27] aj-stein-nist opened #1302 "Automatically Remove Issues from Triage Board When Closed"
# User Story:

As a NIST OSCAL developer, in order to improve efficiency and reduce impact on developer bandwidth to perform ongoing triage of issues, I would like to have improved automation to remove the card [from the Issue Triage board](https://github.com/usnistgov/OSCAL/projects/52) once its issue has been closed as complete.

## Goals:

This had been discussed internally with Dave and the NI

[2022-06-08 19:49] gregelin commented on #1300
I think @degenaro makes an important point.

If a component represents a common control providing service, such as an enterprise authentication service (aka "SSO"), then it is very helpful to know within the SSO's OSCAL component model what controls were implemented for the SSO (and any control implementation status). Is the SSO component implemented at the organization or not?

Some may argue tha

[2022-06-08 20:17] iMichaela commented on #1300
The way I think this should work is:
1) the system providing SSO gets ATOed
2) the AI controls that can be implemented by this system are explained in a CDef, explaining all possible options and how to configure them
3) an organization implements the desired one(s) and includes the control(s) in the Common controls SSP identifying the inheritance and the customer's responsibility (see leveraged au

[2022-06-09 08:08] github-actions[bot] opened #1304 "Scheduled Check of Website Content Found Bad Hyperlinks"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 34321 |
| ✅ Successful | 31321 |
| ⏳ Timeouts   | 122   |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 2878  |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 0     |

## Errors per input
### Errors in published/reference/1.0.2/complete/xml-reference/index.html
* [https://ietf.org/rfc/rfc4122](https://ietf.org/rfc/rfc4122): Ti

[2022-06-09 17:44] david-waltermire-nist commented on #1300
As @iMichaela indicates, a `component` in a `component-definition` represents something which COULD be implemented within any information system. It isn't actually implemented until it appears in a `system-security-plan`.

Both `/system-security-plan/control-implementation/implemented-requirement/statement/by-component/implementation-status` and `/system-security-plan/control-implementation/implem

[2022-06-09 17:51] david-waltermire-nist commented on #1300
@degenaro The NIST team would be glad to work with you on a concrete example of how all of this works to test in your tooling. We are here to help.

[2022-06-10 02:56] iMichaela commented on #1300
@gregelin and @degenaro - To highlight the points @david-waltermire-nist is making, let's use one concrete example:
Microsoft Azure offers Active Directory as a service. The service has been ATO at IL5 (one level above FISMA high), meaning it is very well secured. HOWEVER, this service implements password-based authentication which does not meet the necessary AAL3 (authentication assurance level 3

[2022-06-10 11:11] degenaro commented on #1300
Still not following, sorry. The very first sentence [here](https://pages.nist.gov/OSCAL/concepts/layer/implementation/component-definition/#:~:text=The%20OSCAL%20component%20definition%20model,FIPS%20140%2D2%20validation) says `The OSCAL component definition model represents a description of the controls that are supported in a given implementation of a hardware, software, service, policy, process

[2022-06-10 13:45] ancatri commented on #1300
@iMichaela @david-waltermire-nist Thank you for your explanations which make perfect sense for the use cases you mention. Our cloud use case is. slightly different in the sense that the system owner subscribes to a service with controls already implemented. Before subscription there is no system , so no SSP. As the control implementer is the service provider, we need to allow them to declare the i

[2022-06-10 13:45] gregelin commented on #1300
@iMichaela @david-waltermire-nist @degenaro - This is a terrific thread. The specificity in each comment is very useful and I personally find it very helpful. Thank you.

@iMichaela @david-waltermire-nist both state that the SSO service would have its own ATO, therefore its own SSP, and that seems to suggest the proper way to include the SSO in the target system's SSP is via a leveraged authorizat

[2022-06-10 13:50] gregelin commented on #1300
Having an example that describes @ancatri scenario would be very useful. I think it is a common scenario in cloud environment that has orchestration for deploying the target system, or from another perspective delivering specific functionality in the form of (A) partially or wholly pre-configure components into a target systems effective operational deployment or (B) separately managed services th

[2022-06-10 13:59] iMichaela commented on #1300
@gregelin - NIST (RMF team) is not prescriptive beyond the guidance in 800-37 rev2 regarding Athorizations to Use (previously known in 800-37 as leveraged authorization). OSCAL is designed to be flexible and useful in many scenarios.
In the exampke I used, the SSP of the Azure Active directory is not providing controls that are inherited since its own IA & AC controls are for security the SSO prov

[2022-06-10 14:28] rgauss commented on #1299
One could imagine the evolution of a [REST API](https://github.com/EasyDynamics/oscal-rest) to include things like adding a new control to a group, i.e.:
[code]
and that existing group could not be referenced without a group ID.

[2022-06-10 16:39] aj-stein-nist commented on #1058
Per request from participants in the Model Review meeting on June 6, 2022, I am attaching the slides from today's presentation on the rules updates.

[OSCAL_Model_Meeting_202206_Rules.pdf](https://github.com/usnistgov/OSCAL/files/8880573/OSCAL_Model_Meeting_202206_Rules.pdf)

[2022-06-10 18:05] degenaro commented on #1058
As I commented during your presentation this looks like a good start; hopefully the resulting OSCAL will enable expression of the simple case (e.g. 1 rule --> 1 test) simply.

[2022-06-10 19:36] aj-stein-nist commented on #1299
What would it mean for the API to support the following, given precious little details and just what-if-ing on the fly?

`POST /catalogs/{catalogId}/controls`: all controls returned, each `control` returned with a `groupId` being defined as a string or `null`. Whether or not the control is grouped (with or without a group with a given `groupId`, return `isGrouped` as `true` or `false`, so it would

[2022-06-10 20:11] aj-stein-nist commented on #1058
I think that is simple.

[code]

That took me maybe 2-4 minutes after tripping up on brace expansion and using `uuidgen` in shell to generate legit UUIDs for me. To answer your direct question, the specific part you highlight is only at `"rules"` and below in the code snippet. Could it be simpler? Of course. But it seems pretty unlikely, beyond very simplistic example cases, there will simply be 1

[2022-06-10 20:54] aj-stein-nist commented on #1299
Makes sense. I (personally, not speaking for the team) can agree with that.

Understandable and totally agree with the approach.

Yes, also completely reasonable and understandable. I think you did reframe the wording around this scenario.

You described this better than I did. I know this is kludgey, but until 2.0 time frame, what would stop the API specification and developers from allowing `{gr

[2022-06-10 23:00] openprivacy commented on #1300
Perhaps authors could indicate (in the CDEF)
- `component-class` (e.g., reusable_component, example_template, system_specific) in `components/props` and
- `control-type` (e.g., inherited, hybrid, allocated) in `components/control-implementations/implemented-requirements/props`.

External to the component will be agency maintained metadata that provides records containing a pointer to the component

[2022-06-11 02:34] iMichaela commented on #1300
@degenaro and @ancatri - Neither @david-waltermire-nist nor I disagree with you over the fact that the provider of an implemented solution/service knows best a "service with controls already implemented". We only point out that the OSCAL SSP should then be used and not the OSCAL CDef. This is why CSPs are submitting SSPs to FedRAMP to be used for the

[2022-06-11 03:27] iMichaela commented on #1300
@degenaro -                                     The Azure Active Directory (the instance I mentioned !! not all of them) was assessed and authorized at IL5 which demonstrates how secure the implemented system (!) is. This ATO at IL5 includes the IA and AC controls of the Active Directory as. a. system, controls used by the admins to maintain the service (the CSP's employees). The service provided

[2022-06-12 23:19] openprivacy commented on #1300
Given access to a library of reusable components, it seems reasonable that component controls could make the claim that they fully implement the control (and thus may be considered "Fully Inherited") or they may only partially implement the control ("Hybrid"). In either case, the ISSO managing the SSP must decide if they will consider the controls as fully inherited or not, but such hints will be

[2022-06-13 14:44] aj-stein-nist commented on #1299
Just to be clear, I called it a [kludge](https://en.wikipedia.org/wiki/Kludge) not because I thought it was an elegant and fully complete design. :-)  I meant it as more of a workaround _if the OSCAL model will not change short term around a required group ID_.

Is the intent that your catalogs could be dynamically generated? If we look at them is static or semi-permanent database of control items

[2022-06-13 17:40] aj-stein-nist commented on #1058
More, generally, on our [community contribution page](https://pages.nist.gov/OSCAL/contribute/).

More specifically, since I presume you mean this topic being "about the OSCAL Rules and #1058 work" and not other model topics, I will discuss with the team if there is a way we can give advance notice when we do have certain topics planned. :-)

[2022-06-14 00:39] iMichaela commented on #1058
@aj-stein-nist & @pburkholder -- We might be able to also use one of the OSCAL mini-workshop meetings for this topic. Anca will probably touch on it during her talk on June 15 @ 11:00 AM ET
**Presentation: IBM’s Trestle - compliance as code orchestrator and automation workflow
Presenter: Dr. Anca Sailer**
Meeting URL: [https://bluejeans.com/434440986/9212](https://bluejeans.com/434440986/9212)
For

[2022-06-14 02:05] iMichaela commented on #1300
@openprivacy - we have in our oscal-content repo a [component definition example](https://raw.githubusercontent.com/usnistgov/oscal-content/main/examples/component-definition/json/example-component-definition.json) which describs MongoDB's TLS which would implement SC-8(1) BUT it requires the customer to configure it in order to enable it. The component definition describes the control implementat

[2022-06-14 04:22] aj-stein-nist commented on #1294
I tried to capture the salient points about the benefits of published OSCAL content and community contribution guidelines in usnistgov/OSCAL#1310. Hopefully we can reach consensus and provide some of our community members a sensible location to publish notice of their own catalogs and sample content. For now it is just NIST and FedRAMP as official/semi-official resources.

[2022-06-14 13:26] degenaro commented on #1058
AJ, I think your example is good. Here's a slightly different view from my mind's eye (ie Anca my disagree or not), in trying to keep with what we've done with the current OSCAL thru re-purposing of properties. [rule-test-model-proposal.json.gz](https://github.com/usnistgov/OSCAL/files/8899823/rule-test-model-proposal.json.gz)
The idea is that a component implemented-requirement control optionally

[2022-06-14 13:49] david-waltermire-nist commented on #1058
@degenaro We want to be able to share the same rule implementation (combination or rule and tests) across multiple controls. This is the reason for the `testing-scenario`. We haven't implemented a construct yet to associate a `testing-scenario` with a `control-implementation`.

Yes. We have the `activity` defined in the `assessment plan` and results. This might be a good way to define a manual tes

[2022-06-14 13:51] openprivacy commented on #1300
@iMichaela Thank you for the pointer. Two related questions:
1. If an Agency provides MongoDB-as-a-Service, they may also be in a position to provide a vetted technology-based component that includes sc-8(1) as "fully inheritable" - does this seem reasonable?
2. Could assurance of implementation (e.g. `configuration /etc/mongod.conf`) be handled by an associated Assessment?

[2022-06-14 15:37] degenaro commented on #1058
Agreed that `rule-implementations` in AJ's example (or `rules` my example) can be shared by multiple controls. The point was that `testing-scenario` may be unnecessary in many cases (in all of our cases so far). Just looking for a way to not impose this extra layer unless wanted. The solution was to 1)  add the `optional-test-procedure` that is the equivalent of AJ's testing-scenario and 2) have r

[2022-06-14 18:10] wendellpiez opened #1311 "Profile resolution: clarify requirements for identifying 'add' positions"
This issue was surfaced by #1305.

# Describe the bug

The current profile resolution specification in the Modify phase needs some clarification regarding handling of ID bindings on `add` and `remove` - the section is "[Modify Phase / Adding contents to controls / Explicit binding](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/#d2e1196-head)". There is some inconsistency in t

[2022-06-14 18:20] wendellpiez opened #1312 "Correcting profile resolution spec wrt validation of inputs"
### Discussed in https://github.com/usnistgov/OSCAL/discussions/1308

<div type='discussions-op-text'>

<sup>Originally posted by **wendellpiez** June 13, 2022</sup>
The current profile resolution spec is somewhat ambiguous and possibly problematic regarding the requirement that inputs be valid OSCAL.

At https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/#d2e317-head it is stated

[2022-06-14 20:58] wendellpiez commented on #1076
Progress report - this work continues and will proceed in the feature branch https://github.com/usnistgov/oscal/tree/feature-profile-resolution-unittesting

[2022-06-15 13:56] wendellpiez opened #1313 "Profile resolver: correct/complete oscal-version marking (spec and tool)"
# User Story:

The current draft profile resolver in `develop` does not handle `oscal-version` correctly in metadata, emitting a "TODO" string.

However, the specification for the desired behavior is soft: see #1272.

We need to clarify the spec, then update the tool.

## Goals:

Could be broken into two work items:

- [ ] A workable spec for the desired behavior.
- [ ] Conformance to the processi

[2022-06-15 19:57] wendellpiez opened #1314 "Profile resolution: clarification needed wrt pruning?"
"Pruning" is what the profile resolution spec describes as the removal of items from catalogs to produce baselines (resolved catalogs), where those items are not wanted or needed. A typical example would be how after selecting only a few controls from the catalog, in resolution a processor should know how to propagate *only* those `resource` objects in the back matter, that are actually referenced

[2022-06-15 20:20] wendellpiez commented on #1314
Also, it says a processor SHOULD perform the pruning: shouldn't this be a MUST?

As to the pruning itself, instead of keeping controls whenever somewhere there is included content that references them, maybe we should prune the `related` links that point to excluded controls. Arguably this changes the control (baseline) content significantly.

[2022-06-15 21:42] wendellpiez commented on #1076
As of pm June 15, 33 itemized requirements are being unit tested.

Another 32 items are marked as PENDING for various reasons, to be returned to.

41 items remain for examination in the first pass (will keep working on it).

A number of new issues and discussions have been made, see https://github.com/usnistgov/OSCAL/issues?q=is%3Aopen+is%3Aissue+label%3A%22Profile+Resolution%22

Also see [new dis

[2022-06-15 21:52] wendellpiez commented on #1087
@david-waltermire-nist for whatever reason this Issue is not on the board (? tmk), but it identifies work that is *now* happening [in a working branch in my repo](https://github.com/wendellpiez/oscal/tree/feature-profile-resolution-unittestingA).

and being tracked in Issue #1076. Also related: #954

[2022-06-16 01:56] aj-stein-nist commented on #1058
@david-waltermire-nist as discussed during our modeling session, I updated the models in https://github.com/aj-stein-nist/OSCAL/commit/8dc7f354b2496b6143b952a40840202ce277a807 to:

- Re-ordered `rule`s, `test`s, and `testing-scenario`s accordingly the `component-definition`.
- Re-targeted the `rule-implementation` to either be referenced or bound at the `implemented-requirement` or its `statement`

[2022-06-16 03:13] aj-stein-nist commented on #1113
I have pulled in usnistgov/oscal-cli-nodejs#8. I made some testing and local dev env touchups and will work through current outstanding issues and collab with Dave and Arminta starting tomorrow.

[2022-06-16 03:15] fsuits commented on #1299
With regard to the question of other optional id's, I believe the only optional id's are for groups, either in catalogs or profiles, and for parts.  Parts are very granular and usually in a well defined context - so I can understand it would be somewhat overkill to require an id for them, while at the same time it might be convenient to allow one.

In contrast, groups are relatively coarse-grained

[2022-06-16 08:05] github-actions opened #1315 "Scheduled Check of Website Content Found Bad Hyperlinks"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 34321 |
| ✅ Successful | 31442 |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 2878  |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 1     |

## Errors per input
### Errors in published/about/news/index.html
* [https://www.docker.com/blog/automating-compliance-docker-ee-oscal/](https://www.docker.com/

[2022-06-16 13:06] #1315 closed, assigned to nobody

[2022-06-16 13:07] aj-stein-nist commented on #1304
Appears to have been transient. ietf.org links didn't subsequently fail over the course of the previous week. Closing.

[2022-06-16 13:07] #1304 closed

[2022-06-16 13:07] github-actions[bot] opened #1316 "Scheduled Check of Website Content Found Bad Hyperlinks"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 34321 |
| ✅ Successful | 31442 |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 2878  |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 1     |

## Errors per input
### Errors in published/about/news/index.html
* [https://www.docker.com/blog/automating-compliance-docker-ee-oscal/](https://www.docker.com/

[2022-06-16 13:11] aj-stein-nist commented on #1316
I was wrong, it seems the 404 page is elaborate, maybe the blog post is gone temporarily or for a while?

[2022-06-16 13:35] aj-stein-nist commented on #1316
I will talk to the team, but yeah, that is definitely a nice tip. The URL slightly once before and was not sure like last time if it is getting reshuffled or gone gone. So, I will talk to the team about using the Wayback Machine URL or dropping it altogether.

[2022-06-16 17:15] david-waltermire-nist commented on #1316
I think the link is now: https://www.mirantis.com/blog/automating-compliance-for-highly-regulated-industries-with-docker-enterprise-edition-and-oscal/

[2022-06-16 17:30] iMichaela opened #1317 "Update the OSCAL Mini Workshop page"
# User Story:

As an OSCAL user, I want to have up-to-date information on the upcoming events in the series.

## Goals:

Update page: [https://pages.nist.gov/OSCAL/learn/presentations/oscal-mini-workshop-series/](https://pages.nist.gov/OSCAL/learn/presentations/oscal-mini-workshop-series/)

## Dependencies:

Not direct dependency: Identify the best server for the recorded presentations from where

[2022-06-16 17:39] #1283 closed

[2022-06-16 18:01] aj-stein-nist commented on #1113
Met with @david-waltermire-nist and @Arminta-Jenkins-NIST and got her set up on using the current `main` branch code after merging the above PR and will we continue to collaborate on how to complete work needed before release. Per discussion with Dave, I recommend first low-effort item we can tackle with Arminta is https://github.com/usnistgov/oscal-cli-nodejs/issues/12.

Some of the commands belo

[2022-06-17 19:59] nikitawootten-nist opened #1319 "MIDAS Testing Plan Discussion"
# User Story:

As NIST OSCAL developers, our software must comply with the [checklist for publication of research code/software](https://inet.nist.gov/system/files/documents/2022/04/27/checklist-for-software-form-2022-04-27%20.pdf), which is based on [NIST S 1801.03](https://inet.nist.gov/system/files/documents/2021/12/29/final-s-1801_03-ver-3.pdf) *(note these are internal NIST links)*. The check

[2022-06-17 20:05] david-waltermire-nist commented on #1319
Some early quick thoughts might include:
- A summary of what is (and is not) tested
- An explanation of how to run unit tests.
- An metric defining the desired level of code coverage.
- Providing for test automation in CI on builds for branches and PRs.
- A PR template that calls out responsibility to provide unit tests for changes.

[2022-06-21 08:12] github-actions[bot] opened #1322 "Scheduled Check of Website Content Found Bad Hyperlinks"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 34321 |
| ✅ Successful | 31442 |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 2878  |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 1     |

## Errors per input
### Errors in published/about/news/index.html
* [https://federalnewsnetwork.com/federal-cloud-report/2018/06/whats-next-for-fedramp-automati

[2022-06-23 19:27] wendellpiez commented on #1319
:+1: to a simple, extensible testing.md, with relevant info and status.

Since the deep-diff tool is a diagnostic instrument, it is important to distinguish between testing its conformance to its own specifications (design intent), vs testing that design intent itself against real or hypothetical requirements (something users must do). Let's point the testing doc to any design/high level docs. Als

[2022-06-23 20:54] wendellpiez opened #1323 "XSLT Metaschema support update and unit tests"
In the Metaschema repository, there is ongoing work to finalize the Metaschema model, and to harmonize its implementations going forward.

This is a tracking Issue for work on the XSLT M4 Metaschema implementation, making it ready to deploy supporting OSCAL assuming a complete v1.0 Metaschema implementation (for schema and converter generators).

## Goals:

- [x] usnistgov/metaschema#195 with PR a

[2022-06-24 16:53] david-waltermire-nist commented on #1282
Issues have been resolved an will be released with the liboscal-java [v1.0.4 release](https://github.com/usnistgov/liboscal-java/milestone/1).

[2022-06-24 16:53] #1282 closed

[2022-06-26 08:05] github-actions[bot] opened #1325 "Scheduled Check of Website Content Found Bad Hyperlinks"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 34038 |
| ✅ Successful | 31138 |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 2878  |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 22    |

## Errors per input
### Errors in published/learn/presentations/oscal-workshop-2022-03/index.html
* [https://csrc.nist.gov/csrc/media/Events/2022/3rd-oscal-work

[2022-06-29 15:43] Compton-NIST opened #1327 "Profile Resolution: Support control identifier prefix/suffix when importing catalog controls."
# User Story:

As an OSCAL implementer, during Profile Resolution, I would like to optionally concatenate a prefix or suffix to all IDs that are imported from a catalog/profile.  This would be useful when control IDs are known to collide, or in cases where bulk imports of controls could result in unintended collisions.

## Goals:

In the [OSCAL draft specification (d2e438)](https://pages.nist.gov/

[2022-06-30 13:59] #1322 closed

[2022-06-30 18:04] #1317 closed, assigned to iMichaela

[2022-06-30 18:07] david-waltermire-nist commented on #1270
@usnistgov/itl-oscal Please submit feedback on this ASAP. I'd like to wrap this up by 7/6. I'll give it a final review and merge it then.

[2022-06-30 18:46] david-waltermire-nist opened #1330 "Create issue templates for the OSCAL repo using the new form feature"
# User Story:

As an OSCAL issue submitter, I need an easier form for submitting issues.
As an OSCAL issue resolver, I need issue that are more complete and have the desired information filled in.

## Goals:

Create issue templates using the form template features.
- [ ] Update [bug report](https://github.com/usnistgov/OSCAL/blob/main/.github/ISSUE_TEMPLATE/bug_report.md) template
- [ ] Update [fe

[2022-07-01 11:50] david-waltermire-nist opened #1331 "Review Control layer models"
# User Story:

As an OSCAL content creator or tool developer, I need a clear understanding around the use of all model items in the OSCAL control layer models.

**Control Layer**
- [ ] oscal_control-common_metaschema.xml
- [ ] oscal_catalog_metaschema.xml
- [ ] oscal_profile_metaschema.xml

This issue is part of the epic #1066.

## Goals:

For each model item:
- [ ] Ensure the documentation for th

[2022-07-01 11:58] david-waltermire-nist commented on #538
Implemented a means to support this in [liboscal-java v1.0.4](https://github.com/usnistgov/liboscal-java/releases/tag/v1.0.4) through use of an [identifier mapper](https://github.com/usnistgov/liboscal-java/blob/main/src/main/java/gov/nist/secauto/oscal/lib/profile/resolver/IIdentifierMapper.java).

[2022-07-01 12:14] #1302 closed

[2022-07-01 14:33] Compton-NIST opened #1332 "Control Mapping: Support for additional context when defining equivalencies in sets."
# User Story:

As an OSCAL implementer, I would like to specifically describe a control equivalency when requirements of a control may not be completely compatible.  This support would allow me to constrain a source control that is more broadly interpreted than the target control.

"Meets or exceeds" is a commonly used phrase when describing the degree of conformance, and we already have operators

[2022-07-04 21:44] iMichaela opened #1333 "OSCAL mapping model support for identifying controls in a catalog that are not mapped"
# User Story:

As an OSCAL user, when I map a source catalog to a target catalog,  I would like to also document, in the mapping instance of the source catalog, the controls or control parts/statements for which the target catalog does not have mappable control or part.

Also, in order to successfuly reverse the source->target relationships documented in a mapped catalog, so I can infer any implem

[2022-07-05 15:25] david-waltermire-nist commented on #1311
@wendellpiez My leaning is towards using the "strict" option, which will allow `by-id` to duplicate the identifier of the target of the alter. This will not invalidate existing profiles that do this and will reduce noisy errors caused by taking the "draconian" approach. This seems like a good balance.

[2022-07-05 15:41] david-waltermire-nist commented on #1312
@wendellpiez Would you please make a PR with the following adjusted text?

[2022-07-05 15:46] david-waltermire-nist commented on #1332
This makes sense. To move forward we need concrete examples, using the OSCAL mapping model, that illustrate the use of these new relationships. These will be helpful in driving additional discussion around refining this proposal.

[2022-07-05 15:55] david-waltermire-nist commented on #1272
Parsing versions is going to be difficult for tools to do, even if OSCAL uses semantic versions.

Perhaps a safe way to handle this is to:

1. Require that the profile's `oscal-version` is always used as the resolved catalog's `oscal-version`
2. Optionally, allow tools to verify that imported resolved catalogs have a version that is less than or equal to the value from 1, and report a fatal error

[2022-07-05 16:07] david-waltermire-nist commented on #1314
@wendellpiez We should take a stab at writing a better set of specification requirements. Perhaps we could do this and post a proposal in this issue?

[2022-07-05 16:08] david-waltermire-nist commented on #1314
Assigning this to OSCAL 1.1.0 since this is a major interoperability issue that affects effective baselines produced through profile resolution.

[2022-07-05 16:12] david-waltermire-nist commented on #1327
This relates to issues https://github.com/usnistgov/OSCAL/issues/538 https://github.com/usnistgov/OSCAL/issues/843 https://github.com/usnistgov/OSCAL/discussions/1115.
This also relates to PR #1196. Perhaps this could be added to that PR?

[2022-07-05 17:07] aj-stein-nist opened #1334 "Review Website Documentation Structure and Content"
# User Story:

As any OSCAL stakeholder, I want to better understand the OSCAL documentation as it relates to my professional background (technical/non-technical, executive/non-executive) through its structure and the content itself.

## Goals:

- [x] Review the current organization and HTML content used to provide OSCAL reference documentation. Identify ways to improve the usability and performan

[2022-07-05 18:03] Compton-NIST opened #1336 "Research use of a Customer Responsibility Matrix (CRM) model for control element content."
Identify a few test data sets, and how they would utilize the proposed CRM model outline from [OSCAL/issues/722](https://github.com/usnistgov/OSCAL/issues/722#issuecomment-705615973).

## Goals:

- Identify a few sources of test data sets to use for demonstration.
- Demonstrate the application of the outline from [OSCAL/issues/722](https://github.com/usnistgov/OSCAL/issues/722#issuecomment-7056159

[2022-07-05 18:11] david-waltermire-nist commented on #1319
Should what is included in the testing.md be tied to the maturity of the project?
- Early prototypes might not be as tested as an experimental release, etc.

What does it mean for the project to include appropriate IT security and privacy controls?

[2022-07-05 18:27] david-waltermire-nist commented on #1319
Could we cite references to SA-11 controls for this?

[2022-07-05 20:15] david-waltermire-nist opened #1337 "Design improved presentation of allowed values in reference documentation"
# User Story:

As an OSCAL developer or content creator, I need an easy way to understand which values are allowed to be used for a given data element within the OSCAL models.

The current OSCAL [reference documentation](https://pages.nist.gov/OSCAL/reference/) lists constraints that define the allowed values, but these constraints are often documented in a different location than where the value

[2022-07-05 20:57] david-waltermire-nist opened #1338 "A commit to an OSCAL release branch of the updated metaschema (repo) submodule"
# User Story

Adoption of Metaschema changes requires a submodule update in the OSCAL repository.

## Goals:

Update the OSCAL `build/metaschema` submodule to the commit associated with the metaschema changes from #1323.

## Related / Dependencies

- [x] usnistgov/metaschema#195 with PR addressing it
- [x] usnistgov/metaschema#169 with PR addressing it
- [x] usnistgov/metaschema#212 with PR addres

[2022-07-05 21:11] aj-stein-nist opened #1339 "Design a `rule` assembly"
# User Story:

As an OSCAL content creator, I need a model designed in OSCAL to define `rule`s, detailed and machine-readable testing procedures for the evaluation of the information system.

**NOTE:** This is about the design of the internal structure of the `rule` model, not the final implemented model

## Goals:

- [x] Define the internal structure of one or more `rule`s (as opposed to `testing

[2022-07-05 21:39] #87 closed

[2022-07-05 22:31] #876 closed

[2022-07-05 22:33] #1075 closed

[2022-07-05 22:36] david-waltermire-nist commented on #1105
The documentation still needs to be updated to differentiate the syntactical differences.

[2022-07-05 22:39] #1221 closed

[2022-07-06 13:57] nikitawootten-nist commented on #1330
@david-waltermire-nist  as we migrate to a unified project board, would it make sense for the bug and user story templates to contain guidance suggesting the user to report their issue to the respective repository that the issue pertains to? Maybe a `PROJECTS.md` that lists all of the "core" OSCAL repositories?

[2022-07-06 15:14] aj-stein-nist commented on #1223
Making progress on the Go bit of this from local testing and will finish clean up of that and port it to the GitHub Actions workflow now to wrap that up and finish clean up of deps and pre-req of different GHA workflows and their respective jobs.

[2022-07-06 15:16] wendellpiez commented on #1272
Suggest replacing the problematic text (cited above) with the following:

Question: should the MAY behavior in the second line be the normative default behavior, or simply an option? (Presumably, emitting a warning is also an option.) Comments @david-waltermire-nist @aj-stein-nist @galtm ?

[2022-07-06 15:31] wendellpiez commented on #1314
Suggest we discuss pruning as two sets of requirements:

- Removing "unused" stuff such as parameters that can be determined to be orphaned, or unused references, but *not* excluded controls
- Rewriting links that can be determined to be broken in resolution result
   - typically, cross-references to controls

Both of these require care but for different reasons. Note that rewriting links assumes

[2022-07-06 19:42] wendellpiez commented on #1270
This is now ready in PR #1295 please take a look --

[2022-07-07 16:29] egyptiankarim opened #1342 "Nesting `params` versus use of `aggregates`"
Currently the OSCAL schema allows for [`props`](https://pages.nist.gov/OSCAL/reference/latest/catalog/json-reference/#/catalog/params) within [`params`](https://pages.nist.gov/OSCAL/reference/latest/catalog/json-reference/#/catalog/params).

Throughout Rev 5, we use prop entries with an `@name` of `aggregates` to reflect parameters encompassing other parameters. All parameters themselves are hiera

[2022-07-07 18:36] aj-stein-nist commented on #1339
Per Dave, try to align with MVP data shape approach from the work by Chris on current CRM design work (and update issue here accordingly, if needed; don't direct link to issue because it is similar approach but very different work).

[2022-07-07 19:08] aj-stein-nist commented on #1334
@david-waltermire-nist and I began work on this yesterday in the afternoon. A brief summary update.

1. We focused on the examine of reference [JSON](https://pages.nist.gov/OSCAL/reference/latest/system-security-plan/json-reference/) and [XML](https://pages.nist.gov/OSCAL/reference/latest/system-security-plan/xml-reference/) reference, using Chrome and Firefox developer tools to record and measure

[2022-07-08 13:31] wendellpiez commented on #1313
Proposed language for spec is in #1272.

[2022-07-08 15:36] GaryGapinski commented on #1120
`plan-of-action-and-milestones` (as of v1.0.4 schema) is replete with `'link` elements including within `poam-item`. An example (of likely inter-document links) would be useful.

[2022-07-11 22:20] aj-stein-nist opened #1344 "Round Trip Content Conversion Not Run in GHA CI/CD"
# Describe the bug

In the course of completing usnistgov/OSCAL#1222, review of [the current CI/CD documentation](https://github.com/usnistgov/OSCAL/blob/833a646ce98188fc17d029723e5a34bc08c72e5f/build/ci-cd/README.md#provided-scripts) indicates we did or currently do intend to run [validate-content-conversion-round-trips.sh](https://github.com/usnistgov/OSCAL/blob/833a646ce98188fc17d029723e5a34bc0

[2022-07-12 08:08] github-actions[bot] opened #1345 "Scheduled Check of Website Content Found Bad Hyperlinks"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 34041 |
| ✅ Successful | 31140 |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 2878  |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 23    |

## Errors per input
### Errors in published/learn/presentations/oscal-workshop-2022-03/index.html
* [https://csrc.nist.gov/csrc/media/Events/2022/3rd-oscal-work

[2022-07-12 15:31] david-waltermire-nist commented on #1342
A parent-child relationship is an implicit 1-to-1 relationship between the parent and child.

The `aggregates` relationship allows for many-to-many relations between parameters. For example a given parameter1 can be aggregated by more than one other parameters. It is not possible to represent this in a parent-child relationship without duplicating the child. This makes `aggregates` more powerful a

[2022-07-12 16:18] egyptiankarim commented on #1342
Hrmm... Consider how we nest the control enhancements as an array of controls within a single parent control:

[code]

We can see there are many "children" controls nested within a single "parent" control. The schema for `control` allows for this sort of nesting, which is convenient because it allows me to programmatically recurse down a tree of controls.

I'm proposing a similar set up for parame

[2022-07-12 17:13] egyptiankarim commented on #1342
@david-waltermire-nist re-reading your comment, I think I understand what you're saying now. Parameters are potentially aggregated by any number of other parameters; I glossed over that part initially.

Okay, well this has me reconsidering my entire proposal. I'll just have to think of a more effective way to parse content. Closing out for now. Thanks!

[2022-07-12 17:13] #1342 closed

[2022-07-12 18:40] aj-stein-nist commented on #1345
OK it seems we are going to need some solution to look at cache and history for the last run and only open issues if an error occurs over for two successive runs so this is annoying and appears to keep popping up.

[2022-07-13 08:06] github-actions[bot] opened #1347 "Scheduled Check of Website Content Found Bad Hyperlinks"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 34041 |
| ✅ Successful | 31142 |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 2878  |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 21    |

## Errors per input
### Errors in published/learn/presentations/oscal-workshop-2022-03/index.html
* [https://csrc.nist.gov/csrc/media/Events/2022/3rd-oscal-work

[2022-07-13 14:56] aj-stein-nist opened #1348 "Scheduled Link Checks Check History to Limit False Positives"
# User Story:

As a NIST OSCAL developer, to ensure the scheduled link checking only surfaces truly broken links and not transient, intermittent network errors, I would like the scheduled link check action to look at the history of GitHub Actions and fail properly: only when one or more past jobs failed on the same URLs.

## Goals:

The [scheduled link check workflow](https://github.com/usnistgov/

[2022-07-13 14:56] aj-stein-nist commented on #1345
Close and will work on heuristics to improve false positive in usnistgov/OSCAL#1348.

[2022-07-13 14:56] #1345 closed

[2022-07-13 14:56] aj-stein-nist commented on #1347
Close and will work on heuristics to improve false positive in usnistgov/OSCAL#1348.

[2022-07-13 14:57] #1347 closed

[2022-07-13 19:24] #1275 closed

[2022-07-13 19:36] #1330 closed

[2022-07-13 20:25] #1223 closed

[2022-07-14 16:22] aj-stein-nist commented on #1222
Completed within/as part of usnistgov/OSCAL#1223.

[2022-07-14 16:22] #1222 closed

[2022-07-14 16:41] aj-stein-nist commented on #1334
Dave and I continued to work on analysis of the website performance yesterday, and we have some updates.

- Dave has created some locally copies modified with different modifications to reflect different performance improvements
  - Approach 1: A version of reference docs with a flattened HTML document model (re point 2's first bullet above) and it does seem to create a noticeable improvement
  -

[2022-07-14 18:17] aj-stein-nist commented on #1334
OK, I need to make some issues to wrap up this spike issue.

# Improvements to the outline pages
1. Fix CSS for choice elements in reference docs
1. Javascript that expands outline nodes based on anchors after redirects
1. Add buttons to expand and collapse the whole tree in outline view

# Reference page
1. Support Implementation of Allowed Values in Reference Pages
1. Flatten the Document Struct

[2022-07-14 18:52] aj-stein-nist commented on #1339
Current draft of the updated outline with the design can be found in this HackMD draft.

https://hackmd.io/5ntD6rJ-RhOX8GTSsREn1g

[2022-07-14 18:54] aj-stein-nist commented on #1339
Per the status update meeting, I will create a GitHub issue for a user story to track effort around updating a draft Metaschema model(s) and make content-based examples to solicit community feedback.

[2022-07-14 19:59] david-waltermire-nist commented on #1338
Fixed in 2614e1ac1.

[2022-07-14 19:59] #1338 closed

[2022-07-14 20:00] #1323 closed

[2022-07-14 22:25] aj-stein-nist opened #1364 "Prototype Metaschema models and mockup data samples"

[2022-07-14 22:55] aj-stein-nist opened #1365 "Fix CSS for choice elements in outline docs"
### User Story

As an OSCAL tools developer, in order to better understand the use of `choice` in outline documentation, I want better layout so I can better understand hierarchical options of `choice`s and their relationships to sibling elements that are siblings (even though they look like children).

### Goals

We want to adjust the `choice` so, per the example below, `condition` and `test-refe

[2022-07-14 23:01] aj-stein-nist opened #1366 "Javascript that expands outline nodes based on anchors after redirects"
### User Story

As an OSCAL stakeholder, to more easily use the outline pages in the documentation more effectively, I would like improvements to Javascript in the website to automatically expand certain nodes in the outline based on the anchors.

### Goals

- Design a mechanism to expand anchors with Javascript to expand the relevant node of the outline
- Implement it add to the website template

[2022-07-14 23:04] #1270 closed

[2022-07-14 23:12] aj-stein-nist opened #1367 "Add buttons to expand and collapse the whole tree in outline view"
### User Story

As an OSCAL tool developer, in order to more efficiently read the content of the outline pages, I would like the website to allow me to expand and collapse all node items in the outline view.

### Goals

- Design buttons in the user interface that will collapse every node in the outline for a given page
- Design buttons in the user interface that will expand every node in the outli

[2022-07-14 23:19] aj-stein-nist opened #1368 "Support Implementation of Allowed Values in Reference Pages"
### User Story

As an OSCAL tools developer, in order to be able to quickly understand any enumeration of allowed-values for a given field or flag in OSCAL, I would like a more explicit and user-friendly version of `allowed-value`s enumerations in the website's user interface.

### Goals

- [ ] Design and/or mock up desired updates to the UI for allow value handling
- [ ] Consult with team and com

[2022-07-14 23:58] aj-stein-nist opened #1369 "Flatten the Document Structure to Make the Page Load Faster"
### User Story

As an OSCAL tool developer, in order to quickly and conveniently review reference documentation for OSCAL models, I would like the pages to load quickly (with a better HTML document model that loads more efficiently).

### Goals

- [x] Design simplified HTML document model as advised by usnistgov/OSCAL#1334 as flattened as possible
- [ ] Implement it in the reference document page

[2022-07-15 00:03] aj-stein-nist opened #1370 "Add Breadcrumbing for Navigation"
### User Story

As an OSCAL tool developer, in order to more efficiently jump near or far in the hierarchy of the OSCAL models when in the model reference documentation for efficient and effective review of these important docs, I want breadcrumbs above or below each model item in the model reference docs that allows me to jump one or more levels in a given model.

### Goals

- Design breadcrumb m

[2022-07-15 00:14] aj-stein-nist opened #1371 "Add Linkage to Reference Entries and Outline"
### User Story

As an OSCAL tool developer, in order to quickly and effectively hop to the relevant place in the outline with the model element, I want linkage from the reference model docs back to the online.

### Goals

We already have linkage by anchors from the outline pages to the reference model items, not the other way around. Therefore we need:

- [ ] A design for linkage through links wit

[2022-07-15 00:25] aj-stein-nist opened #1372 "Disable Table of Contents on Pages"
### User Story

As an OSCAL tool developer, in order to efficiently review reference model docs efficiently with browser hangs as part of the current implementation, I want the right-hand side table of contents on these pages removed/disabled (they are from dynamic content).

### Goals

- [ ] [Disable the tocbot table of contents in the page configuration like in these examples](https://github.com

[2022-07-15 00:42] aj-stein-nist opened #1373 "Verify performance of Table of Contents on Index Pages"
### User Story

As an OSCAL tool developer, in order to efficiently review all locations of a given OSCAL syntax element in one or more models with the index pages, I want assurance the pages load quickly without hangs or lagging (with the table of contents disabled enabled only if it is efficient).

### Goals

- [x] Analyze table of contents performance on index pages
- ~Customize tocbot defaults

[2022-07-15 00:45] aj-stein-nist commented on #1334
All issues created as requested during the weekly status meeting. Closing the spike as complete now as agreed during the meeting.

[2022-07-15 00:45] #1334 closed

[2022-07-20 20:09] IvanDrag0 commented on #1279
I'd like to contribute to the effort, if possible.

[2022-07-20 20:19] aj-stein-nist commented on #1279
I think I can add you soon, best case tomorrow or worst case early next week. If you do not hear from me by Monday, feel free to follow up.

[2022-07-21 03:27] fsuits opened #1382 "Should SystemComponent Status include under-major-modification like SystemCharacteristics?"
### Question

SystemComponent allows ImplementationStatus state as being one of [under-development, operational, disposition, other].  SystemCharacteristics is the same, except it also allows under-major-development.  Is this intended?  As an automation code writer it is helpful to have a common set of options where possible, and as a document creator it is less confusing not to have these small d

[2022-07-21 17:14] aj-stein-nist commented on #1382
Thanks for the willingness to open a question about this. Let us talk about this with the team and respond when we have had time to discuss, probably best case early next week.

[2022-07-21 18:57] wendellpiez commented on #1331
My notes are here: https://hackmd.io/D4W1e9bnSpq797myjrJVyQ

[2022-07-21 21:34] aj-stein-nist commented on #1339
Per discussion with Dave, we need to resurface the outline referenced in https://github.com/usnistgov/OSCAL/issues/1339#issuecomment-1184787328 and then add a nice explanation here or in the document of how to read that.

Dave and I also agree we need to cover the "review current approaches for security testing processes and tools" goal before moving on to to usnistgov/OSCAL#1364. So we will wrap

[2022-07-22 13:43] gregelin opened #1383 "OSCAL Example Control Set"
### User Story

As an OSCAL developer and vendor, I would like an example set of OSCAL controls to use for development and common demonstration purposes.

### Goals

Create an agreed upon small set of example controls represented in a profile to use for development and demonstration.

### Dependencies

_No response_

### Acceptance Criteria

-[ ] Set of example controls representing common types a

[2022-07-22 14:37] GaryGapinski commented on #1383
Consider adding a control like AC-7 as a challenge (for developers). The ODP structure is rather complex.

[2022-07-22 14:48] Compton-NIST commented on #1336
Additional Context: Will need to consider instances of a control under the shared use case.

[2022-07-22 14:53] iMichaela commented on #1383
@gregelin - You asked during the meeting for some **suggestions** for other controls. I good hybrid control is SC-8 and SC-8(1) if you think of the TLS example we discuss and probably SA-4(9) for interconnection-related controls.

[2022-07-22 14:57] GaryGapinski commented on #1383
Should this be PRs to https://github.com/usnistgov/oscal-content?

[2022-07-22 14:58] aj-stein-nist commented on #1383
When I asked about tangible next steps, this kind of next steps I wanted to know re "how can we help?"

Additionally, if you want profiles built, even with the current controls, that can be done very quickly with yours truly if you need help. Let us know! :-)

[2022-07-22 15:01] gregelin commented on #1383
@aj-stein-nist It would be helpful to identify places in existing NIST documentation that would benefit from having examples. That way we could update that documentation with the examples and see if the examples proof useful.

[2022-07-22 15:12] aj-stein-nist commented on #1383
Well stay tuned for for usnistgov/OSCAL#1066. Not sure how we work on identifying such things for one another and others interested. How can we make that happen?

[2022-07-22 15:55] david-waltermire-nist commented on #1249
Need to address this [TODO](https://github.com/david-waltermire-nist/OSCAL/blob/6e040cee9adf97d17219b79b090191239c23855f/src/metaschema/oscal_profile_metaschema.xml#L52).

[2022-07-22 16:09] david-waltermire-nist commented on #1066
As follow-on work, we could normalize the description to be one or two sentences. The first sentence fragment might start with a verb that describes what the thing does. Such as "Describes what the thing does."

[2022-07-22 16:12] david-waltermire-nist commented on #1066
Need to extract RMF constraints into an external constraints file.

[2022-07-22 17:27] aj-stein-nist opened #1384 "Design Method and Example for Applicable Profile Resolution Requirements as OSCAL Constraints"
### User Story

As an OSCAL tools developer, in order to clearly understand how to define `profile` elements in a coherent way that effectively and correctly is executed by [a specification-conformant profile resolution tool](https://pages.nist.gov/OSCAL/concepts/processing/profile-resolution/), I want OSCAL constraints that will give me informational, warning, and error information when a profile

[2022-07-22 18:31] wendellpiez commented on #1384
Some ideas towards this are implicit in my [profile import examiner](https://pages.nist.gov/oscal-tools/demos/csx/import-examiner/) application. It tests some of the constraints on profiles, specifically referential integrity (on the assumption of particular catalog or profile imports).

[2022-07-22 23:57] aj-stein-nist commented on #1279
@IvanDrag0, let's set up some time this coming week to discuss interest level, expectations, and a possible working arrangement.

[2022-07-22 23:57] aj-stein-nist commented on #1279
@hahsanti, how are things going with you? We should sync up as well. Maybe to start, separately of IvanDrag0, but eventually maybe we find a time to meet as a unified group.

[2022-07-23 00:12] IvanDrag0 commented on #1279
@aj-stein-nist Sure thing. Let me know when it works for you and how you'd like to meet up.

[2022-07-23 12:03] GaryGapinski commented on #1383
@danielnaab added a capability to show samples (XSpec contexts) from the [FedRAMP automation](https://github.com/18F/fedramp-automation) unit tests. Example can be seen [here](https://federalist-2372d2fd-fc94-42fe-bcc7-a8af4f664a51.app.cloud.gov/site/18f/fedramp-automation/). Try the POA&M sample then drill down on any validation results.

[2022-07-23 13:20] danielnaab commented on #1383
Something else we just started experimenting with is referencing source code lines on Github. See the "View Schematron" links on [this branch](https://github.com/18f/fedramp-automation/blob/github-source-links/src/validations/rules/poam.sch#L72-L77).

Perhaps the extra context awareness on where the code resides could be helpful in some scenarios. I'm thinking primarily of those who are collaborat

[2022-07-25 00:23] fsuits commented on #1382
For a concrete coding scenario, in trestle the schema gets broken down into python classes representing content that is common across different models - a simple example being Parameter, which many models share.  In contrast, SetParameter is needed by different models with slightly different forms due to different needs of each model.

But something like ImplementationStatus is a more generic conc

[2022-07-25 14:44] Compton-NIST opened #1385 "Map use case information to existing OSCAL model(s) and identify gaps."
# User Story

As an OSCAL model developer, I need to understand the degree to which the SSP model contains sufficient data to generate a customer responsibility matrix (CRM) aligned with the examples from issue #1336.

## Goals

Based on last discussion, use the [sample use cases](https://github.com/usnistgov/OSCAL/issues/1336) to continue research started in #1336.

- [x] Based on the examples cr

[2022-07-25 15:52] #1312 closed

[2022-07-25 17:35] #1246 closed

[2022-07-25 18:46] aj-stein-nist opened #1387 "CI/CD Caches Deps, Not Hugo Itself for Website Generation"
### Describe the bug

As determined by pairing with David and Wendell, it appears the setup-go configuration #1223 for website and reference model docs generation, it appears we are caching deps, intermediate build artifacts, but not the `hugo` binary itself.

### Who is the bug affecting

NIST OSCAL developers who want timely builds for website generation (that are spent on rebuilding the `hugo`

[2022-07-25 19:51] david-waltermire-nist commented on #1337
Developed a rough mockup of a new way to present allowed values as follows.
![mockup](https://user-images.githubusercontent.com/9871976/180862191-173323a1-1770-4fab-a567-101ea1f41e4a.png)

This approach provides a table of allowed values for a given data element along with a space to include any constraint information that is related to the allowed values. This is also a step towards addressing #1

[2022-07-25 19:55] #857 closed

[2022-07-25 19:55] #909 closed

[2022-07-25 20:09] GaryGapinski commented on #1066
Worthy of mention: UUIDs are not case-sensitive, thus uniqueness and comparisons are not simple equalities.

[2022-07-25 22:37] gregelin commented on #1383
I've updated the description to list the original proposed controls and have created an issue in https://github.com/usnistgov/oscal-content to support @GaryGapinski recommendation.

I'll also collate other recommended controls and add them.

@aj-stein-nist here is my draft profile. I hadn't yet decided on the UUID information and some other details. My plan is to create a fork and PR on oscal-cont

[2022-07-25 22:44] #1387 closed

[2022-07-26 11:37] GaryGapinski commented on #1249
Relative URIs should be supported. Are there any scenarios in which they should not be supported?

URIs which are relative may, or may not, have a [scheme](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml), as do absolute URIs. An example for a sibling document `href="file:sibling"` is interpreted as a sibling document relative to the base URI of the containing document. This seems t

[2022-07-26 13:45] aj-stein-nist commented on #1383
Cool, I saw that as well.

👍 Sounds good.

Is the intent of the fork you want automated conversion from the the sample profile above to exploded/expanded full resolved catalog (from this profile) to reference component definitions and (potentially subsequently after that) cross-referenced SSPs?

I can definitely help out with that.

[2022-07-26 14:32] gregelin commented on #1383
@aj-stein-nist I had the initial modest goal with the new branch of representing the control set in OSCAL so others could use. My first thought was to create a catalog (800-53 rev5 micro), then @david-waltermire-nist suggested creating a profile and switched to that. It makes sense, as an example to show what could be done with different OSCAL models based on the example control set.

So...where d

[2022-07-26 15:24] aj-stein-nist commented on #1385
Hey @Compton-NIST! I saw you brought this into current sprint TODO and self-assigned. Given that you are likely going to work this soon (given it will come after #1336) I will mark this "Assigned to Developer" as part of the triage process. Let me know if you have any questions, comments, or concerns.

[2022-07-26 15:47] aj-stein-nist commented on #1383
@david-waltermire-nist, since we are already discussing and planning work with active developers in the community, I will assign this to further discussion needed as that planning we'll call the discussion phase. Not sure how you want to see this as part of the triage process that covers itemized development work of the NIST OSCAL Team on our internal sprint projects. Lemme know!

[2022-07-26 15:52] aj-stein-nist commented on #1383
So document the approach and then generate examples out of that in a Jupyter or HackMD? I am fine with that. The latter is lower-friction for me. Not sure how you and others feel.

Create the HackMD?

[2022-07-26 17:14] gregelin commented on #1383
@aj-stein-nist Minimal HackMD document created. Can you access it? https://hackmd.io/Ktman3R6S3qRkZJ9xM775A

[2022-07-26 17:17] aj-stein-nist commented on #1383
Yessir, I made a test edit and removed it. I think we are good to go.