[2017-06-21 13:37] joshualubell opened #1 "import relationships between core, common, and extension schemas"
I'm confused about the respective roles of the "core" and "common" schemas. If I understand the PowerPoint slides correctly, "core" definitions are globally applicable whereas "common" definitions apply to some, but not all, extensions.

However, the "core" schema imports the "common" schema. Why is this the case?

Unless I'm missing something, it would make more sense to me if "core" did not impo

[2017-06-21 13:41] joshualubell opened #2 "pull requests"
Would you prefer that contributors of example OSCAL instances use GitHub's pull request mechanism to do so? I think this makes sense particularly for examples that require modifications to the schemas in order to validate.

[2017-06-21 13:55] joshualubell opened #3 "overlays versus tailored baselines"
It seems to me that OSCAL assumes that all 800-53 tailoring is done in the form of overlays. If my assumption is correct, I would suggest modifying the schemas so that instances can be created that represent a tailored baseline without all the overhead and formality of an overlay.

Back when I showed an early version of Baseline Tailor to Ron Ross and Kelley Dempsey, they told me that the vast maj

[2017-07-06 09:20] JJediny opened #4 "Change default GitHub branch to `master`"
As a collaborator, I want to implicitly know the `working` branch. Request to change settings default branch to `https://github.com/usnistgov/OSCAL/tree/develop`

re: https://github.com/usnistgov/OSCAL/issues/1#issuecomment-310097307

[2017-07-06 09:27] JJediny opened #5 "Design an OSCAL approach for mapping to security frameworks (e.g., NIST Cybersecurity Framework)"
https://gist.github.com/JJediny/65438415b5e38ac7560ad5f5597f1877

How do these efforts currently relate?

[2017-07-27 14:51] wendellpiez opened #7 "Namespace update"
The namespace now assigned to OSCAL elements, http://scap.nist.gov/schema/oscal, doesn't conform with current guidelines (I am told) for NIST namespaces. It is essentially a placeholder.

What will the namespace of OSCAL be?

[2017-07-27 15:08] wendellpiez opened #8 "Refine SP800-53 OSCAL extraction and enhancement"
The current copy of SP800-53/53A, in OSCAL, is produced programmatically by XSLT running over the NVD XML, which maps its XML format. Results are consistent but could use further enhancement, if not by extending the XSLT then by post-process. Requirements include:

  * Address duplication of 'withdrawn' data e.g. AC-13
  * Infer and tag links between controls
  * Infer and tag parameter assignment

[2017-07-27 16:51] wendellpiez opened #9 "Stabilize schema and maintenance model"
The core schema is now in RNC but developers will want a stable XSD.

We need to build and use, at least once, a bridge. The XSD produced by Trang looks good. An XSLT stylesheet can be applied that injects documentation for use by tools. Both these steps could potentially be run in an XProc or "by hand" in oXygen.

The documentation injection XSLT can also take responsibility for schema boilerplat

[2017-08-08 14:46] anweiss opened #10 "JSON schema"
We should include a JSON schema as well.

Tracking WIP in #6

[2017-08-16 22:50] kscarfone opened #14 "Set parameter values for controls within the context of the union of multiple profile standards"
User Story Candidate: As a compliance auditor, I can set parameter values for controls within the context of the union of multiple profile standards [standards TBD].
Required Resources:
- Standards TBD
Goals:
1. TBD
Acceptance Criteria:
1. TBD

[2017-08-16 22:51] kscarfone opened #15 "Document the composition of the profile schema and how it relates to the catalog schema"
User story candidate: As a content or tool developer, I can find clear, concise, and accurate information on the composition of OSCAL’s catalog and profile schemas and how they relate to each other.

Required Resources:
- Stable OSCAL catalog schema
- Stable OSCAL profile schema
- Feedback on original OSCAL catalog schema documentation

Goals:
1. Produce a profile schema with embedded documentatio

[2017-08-16 22:52] kscarfone opened #16 "Display the delta between controls"
User story candidate: Show delta between controls
Required resources:
- TBD
Goals:
1. TBD
Acceptance Criteria:
1. TBD

[2017-08-16 22:53] kscarfone opened #17 "Create a testing framework to validate regressions"
User story candidate: Create a testing framework to validate regressions.
Required resources:
- TBD
Goals:
1. TBD
Acceptance Criteria:
1. TBD

[2017-08-22 17:33] wendellpiez opened #18 "Schematron Quickfix requirements (parameters)"
At present, the Quickfix for adding a parameter for a loose assignment asks for a value.

Correct this so the user can use this without providing a value.

There are related requirements regarding setting of default values instead, etc.

[2017-08-22 20:12] wendellpiez opened #19 "Unit tests for Schematrons"
So far we have been validating Schematron functionality as we go.

Thorough regression testing requires that we can demonstrate not only that valid documents pass appropriate Schematron checks, but also that erroneous cases fail Schematrons "correctly" (no-go tests), while valid edge cases pass them (go tests).

We could do this less formally (less overhead) with simple examples (real and patholog

[2017-08-24 00:41] kscarfone opened #20 "Address the NIST SP 800-53 Revision 5 draft"
Address the NIST SP 800-53 Revision 5 draft.

[2017-08-26 16:33] kscarfone opened #25 "Organize the documentation"
As a content or tool developer, I can find well-organized information containing an overview of OSCAL's purpose, benefits, and uses; the high-level OSCAL architecture and components; and the composition of OSCAL's catalog schema.

Required Resources:
- Text and graphics on OSCAL's purpose, benefits, and uses; high-level OSCAL architecture and components; and the composition of OSCAL's catalog sche

[2017-08-31 14:11] kscarfone opened #26 "Add features such as frameworks and customizations"
Future User Story: We need to consider features such as frameworks, customizations, text replacement, etc. Perhaps create a style sheet representing a pseudo catalog showing all controls that are called including any sub-controls that are included and inject the modeled replacements.

[2017-08-31 14:11] kscarfone opened #27 "Update CSS to allow user-definable scaling"
Future User Story: Would be useful to update CSS to allow scaling to be user-definable.

[2017-08-31 14:11] kscarfone opened #28 "Gather feedback on Sprint 3 documentation"
Goals:
1) Specific channels are identified by which the the tiger team and NIST reviewers can provide feedback (e.g., mailing lists, email aliases, github issues, etc).
2) The documentation created in Sprint 3 is reviewed and comments are addressed. Comments will be aggregated and triage.

Acceptance Criteria:
1) Tiger team members and other reviewers are subscribed to the oscal-dev@nist.gov maili

[2017-08-31 14:12] kscarfone opened #30 "Refine content to create Pages in GitHub"
Work to do  once we have better documentation:
1. Create a branch named "nist-pages".
1. Move content to that branch.
1. Setup a webhook to publish to:  https://pages.nist.gov/deploy

Goals:

Provide a useful collection of OSCAL documentation on https://pages.nist.gov that: 1) explains the concepts comprising OSCAL, 2) provides documentation on how to use OSCAL, and 3) decribes how to create and u

[2017-08-31 14:13] kscarfone opened #31 "Update Markdown and add structure to Table of Contents"
Need to update Markdown and add structure to Table of Contents (render TOC as a set of headers). Perhaps use capabilities in Jeckyll (sp?) to address structure issue.

[2017-08-31 14:13] kscarfone opened #32 "Add a "review" user story for Josh Lubell"

[2017-09-01 13:43] wendellpiez opened #33 "Explore BaseX as a demo platform"
So far, we have run processes only in oXygen XML editor, or in some cases (for viewing XML) in an XSLT 1.0 processor in the web browser. (Some but not all browsers will support this without special settings.) Neither of these work directly under Github; so Github visitors cannot try them without downloading files and following expert-level instructions.

For further demonstrations, it would be goo

[2017-09-01 13:49] wendellpiez opened #34 "Build a profile that works by exclusion"
A profile can include all the controls in a catalog, or it can select specific controls (and subcontrols) by ID.

How about if a blacklist were provided instead of an included list? Include all controls except IDs X, Y and Z.

This is currently modeled and implemented in a prototype but it hasn't been tested. If it is a requirement, it should be tested. If it is not a present or foreseeable requir

[2017-09-01 13:58] wendellpiez opened #35 "Display a profile with parameters inserted"
A profile lists controls and subcontrols to be included, and permits parameters to be set.

Produce a web page that shows all the controls included in a profile, with their parameter values injected ('transcluded') into their points of insertion.

Subcontrols that are not explicitly included, should not be shown, unless a runtime parameter is set to show all subcontrols in included controls. Contr

[2017-09-01 14:08] wendellpiez opened #36 "Use a profile to merge controls"
Is this something that profiles need to be able to do?

If so, perhaps the merged control has a new title, while its old titles are demoted to `p` elements?

Are controls to be merged, called by ID? Does the new merged control have its own ID as well?

Does the merged control contain all the properties, parts and contents of the controls, which have been merged?

Can subcontrols or parts be merged

[2017-09-01 14:14] wendellpiez opened #37 "Use a profile to patch controls"
A profile represents controls to be included from a catalog, and parameter values to be inserted into the controls in question.

Can a profile also perform more drastic interventions, such as supplementing the contents of controls? Or  suppressing or replacing contents? Specific properties, paragraphs or parts may be known in advance, addressable and hence replaceable.

Can new contents include in

[2017-09-01 14:24] wendellpiez opened #38 "Further validations on profiles"
We currently have validation logic that checks a profile to ensure that all controls, subcontrols and parameters referenced, correspond to elements of the same type with the same ID value, in the catalog in which they appear.

There are a couple of more refined validations we might also want:

* Validate that any controls included in the profile that have parameters (in the catalog), have the 'sam

[2017-09-01 14:42] wendellpiez opened #39 "Rectifying ID format in SP800-53 rev4 extraction"
XML IDs must follow some arcane naming rules inherited from SGML (and shared with HTML). These include rules such as no punctuation apart from `.` and `_`. No brackets, parentheses etc.

Consequently, the auto-extracted SP800-53 (rev4) has some odd ID syntax, where IDs have been interpolated for components (parts) with formal identifiers (**name** properties) such as `SA-15 (4)(a)`. The syntax pre

[2017-09-01 14:49] wendellpiez opened #40 "Generate examples leveraging OSCAL"
As a new user of OSCAL, I can quickly find on GitHub simple, well organized and relevant examples of how to represent a control catalog and profile in OSCAL.

Goals:
- Provide a complete catalog for 800.53 rev 4
- Provide examples of FedRAMP [low](https://s3.amazonaws.com/sitesusa/wp-content/uploads/sites/482/2016/07/FedRAMP-Low-HHH-Baseline-Controls-2016-05-18.xlsx), [moderate](https://s3.amazona

[2017-09-01 15:12] wendellpiez opened #41 "Define scope of next demo(s)"
There are a couple of different directions we could go with our next demonstrations:

* Focus on SP800-53, customization and tailoring including parameter management and insertion
* Focus on demonstrating "merge/overlay" capabilities in profiling across catalogs
* Focus on modeling/mappings into OSCAL (more examples?)
* Focus on production/emulation e.g. new views or analytics; PDF stylesheets; "f

[2017-09-05 18:30] #1 closed, assigned to nobody

[2017-09-05 18:31] #4 closed, assigned to nobody

[2017-09-05 19:04] david-waltermire opened #42 "Cleanup Issues"
Goals:
1) Characterize issues as enhancements, bug fixes, questions, etc.
2) Remove duplicate issues,
3) Mark issues that are user stories as such.
4) Pre-assign LoE for group discussion (Dave's vote).
5) For user stories, describe goals and acceptance criteria.

Acceptance Criteria:
1) All issues submitted by September 22 have been reviewed and characterized based on the above goals.

[2017-09-05 19:47] david-waltermire-nist opened #43 "Add support for profile tailoring"
Goals:
1) A user can extend an existing profile to create a new profile
2) A user can choose which controls from a given catalog are excluded from a profile (already done, but needs to be tested). If an extended profile, this should allow controls in the extended profile to be excluded. #34
3) A user can modify existing statements for a control included in the profile. #37 The changes made to a co

[2017-09-05 20:08] david-waltermire opened #44 "Merge Sprint 3 branch into Master and Create Sprint 4 Branch"
Setup the Sprint 4 branch for work on Sprint 4.

[2017-09-06 13:56] wendellpiez opened #46 "Documenting declarations model"
The declarations model, whereby an OSCAL catalog developer can stipulate certain constraints over OSCAL data to be checked (validated) externally, is an optional feature of OSCAL. It remains to be seen whether it will prove to be useful to developers of catalogs or profiles. However, in principle it may be useful, if only as a demonstration of how implementors and developers of OSCAL applications

[2017-09-15 19:20] JJediny opened #48 "GSA's FEDRAMP - Public Comments on NIST-800-53 rev5"
https://github.com/18F/tts-public-comments/issues/23

[2017-09-19 16:11] #48 closed, assigned to nobody

[2017-09-19 16:15] #44 closed, assigned to david-waltermire

[2017-09-19 16:30] #37 closed, assigned to nobody

[2017-09-19 16:30] #34 closed, assigned to nobody

[2017-09-19 16:31] #16 closed, assigned to nobody

[2017-09-19 16:31] #14 closed, assigned to nobody

[2017-09-21 19:31] anweiss opened #49 "Tidying up naming convention for schema files"
Would be great to come up with a solid naming convention for schema files. For example, the OSCAL core schemas, `oscal-documented.xsd` and `oscal-working.rnc`, could probably be better named `oscal-core.xsd` and `oscal-core.rnc`.

[2017-09-22 15:35] anweiss opened #50 "Community Slack channel or forum?"
Are there plans to spin up a community discussion channel (i.e. Slack) or some sort of forum? May not want to necessarily bog down the GitHub issues list for general discussion threads.

[2017-09-22 16:40] kscarfone opened #51 "Render a framework in a human-readable format"
As a compliance auditor, I can see a framework in a human-readable format.

Required Resources:
- A framework in a machine-readable OSCAL format (e.g., NIST CSF, PCI DSS)

Goals:
1. Create the necessary files (CSS, XSLT, etc.) to convert a machine-readable OSCAL framework into a human-readable format.
2. Test the conversion process using the selected framework.

Acceptance Criteria:
1. Validate th

[2017-09-22 16:52] kscarfone opened #52 "Define mechanisms for framework customization"
As a compliance auditor, I can customize a framework by choosing which parts of the framework are included, modifying the framework, and extending the framework.

Required Resources:
- A framework in a machine-readable OSCAL format (e.g., NIST CSF, PCI DSS)

Goals:
1. A user can extend an existing framework to create a new framework.
2. A user can choose which parts of a given framework are includ

[2017-09-22 17:04] kscarfone opened #53 "Define a machine-readable framework format"
As a content or tool developer, I can define frameworks in a common machine-readable OSCAL format.

Required Resources:
- Two frameworks in machine-ingestible formats (e.g., NIST CSF text, PCI DSS text)

Goals:
1. Create an OSCAL instance document for two frameworks.
2. Create XSD for framework content validation purposes.
3. Create Schematron to validate framework-specific requirements.
4. Create

[2017-09-22 19:52] anweiss opened #54 "Param as a child element of call in profile schema"
In `oscal-profile-working.rnc`, would it not make more sense to define `param` elements as children of `call` elements? Or does one envision a scenario where a `param` would be associated with an `id` not referenced by a `call` in the same profile?

[2017-09-25 17:26] #50 closed, assigned to nobody

[2017-09-26 15:56] anweiss opened #56 "Define CI/CD process and workflow"
Using this as a starting point for discussion on a CI/CD workflow for automated testing and artifact generation/deployment. Initial thoughts below:

- [ ] Define high-level overview of CI/CD process and include this as part of a `CONTRIBUTING.md` or `BUILD.md` file
- [ ] Determine which items could be rolled up under automated testing
  - Validation of OSCAL-formatted XML against XSD/RNC
  - Valid

[2017-09-26 16:03] anweiss opened #57 "Versioning mechanism for OSCAL schemas"
Not sure if this has already been solidified. Using this as a starting point for a discussion on an appropriate versioning mechanism for all OSCAL schemas. Some thoughts below:

- Leverage existing revisioning approach (thinking in terms of Special Publication revisions)
- Take traditional [semantic versioning](http://semver.org/) approach
- Timed releases (e.g. month.year)

[2017-09-27 12:01] kscarfone opened #58 "Distinguish implementer/end user and maintainer documentation"
As an implementer/end user or a maintainer, I can find well-organized information on how I can use OSCAL.

Goals:
1. Plan how the existing documentation should be reorganized and reach core team consensus on the plan.
2. Implement the reorganization plan so all documentation clearly indicates the target audience.
3. Identify missing pieces of documentation on OSCAL use, such as walking end users t

[2017-09-28 18:35] aaronlippold opened #59 "JSON data sources as well?"
Hi All,

Are we also going to have JSON data sources for the 800-53 r4/5 and others in alignment with the XML?

Thanks,

Aaron

[2017-10-24 18:34] #25 closed, assigned to wendellpiez, david-waltermire, kscarfone

[2017-10-24 18:34] #28 closed, assigned to david-waltermire, iMichaela, kscarfone

[2017-10-24 18:34] #42 closed, assigned to david-waltermire

[2017-10-25 15:39] akarmel opened #61 "Merge Sprint 4 into master and create Sprint 5 branch"
Merge Sprint 4 into Master
Create Sprint 5 branch

[2017-10-25 15:42] akarmel opened #62 "Clean up outstanding issues"
**User Story**
As an OSCAL Contributor, I can enter an issue into GitHub which will be subject to a NIST OSCAL issue resolution process.

**Goals**
- Design and document an issue resolution process
- Create an issue template

**Dependencies**
- Old issues need to be closed prior to the implementation of this issue resolution process
  - Some issues have already been tagged as "closable" and need t

[2017-10-25 20:28] #54 closed, assigned to david-waltermire

[2017-10-31 18:38] #61 closed, assigned to david-waltermire

[2017-10-31 19:24] david-waltermire opened #64 "Provide JSON mechanism to represent XML-equivalent prose"
Goals:

1. Ensure that the JSON representation of OSCAL is equivalent in all functionality to the XML representation. This means that content can be round-tripped between the XML-JSON-XML representations. Whitespace preservation may not be possible,
1. Develop a prose markup capability in JSON to support the equivalent features in XML (e.g., parameter insertion, etc.). Consider using markdown to d

[2017-11-16 17:06] wendellpiez opened #66 "Support selection parameters"
Selection parameters were deemed out of scope in earlier sprints but they appear to be more common in SP800-53 Rev 5 than in Rev 4, while at the same time real-world users even of Rev 4 (such as FedRAMP) expect to see them.

### Goals

Represent "selection" parameter assignments in OSCAL sufficiently to support them in SP800-53 (revs 4 and 5) and its profiles including FedRAMP profiles.

### Backg

[2017-11-16 19:29] wendellpiez opened #67 "Merging controls from multiple catalogs in (viewing) a profile"
At time of writing, rendered profiles show their controls "split" by invocation, rather than in a single unified view. Users probably expect a unified view.

### Goals

Provide a view onto single unified hierarchy even when multiple control catalogs are called. (Only viewing is in scope, not editing. That is, only the rendered HTML results must show a unified hierarchy, not any OSCAL preliminary t

[2017-11-21 19:55] akarmel opened #68 "Create YAML representation of OSCAL"
Goals:
- Andrew will fill in

Dependencies:
- Andrew will fill in

Acceptance Criteria:
- Andrew will fill in

[2017-11-29 15:43] wendellpiez opened #70 "Patching control info at arbitrary granularity / addressability of control contents"
At time of writing, we can patch at the "statement" level by specifying the deletion of control contents (parts, properties) and by augmenting controls (and subcontrols) with arbitrary contents (including new parts and properties to replace or supplement the old ones). But we do not have the capability to patch at finer levels of granularity -- for example, by removing or adding a single item to a

[2017-11-29 18:00] akarmel opened #71 "Merge Sprint 5 and Pull Requests into Master Branch / Create Sprint 6 Branch"
- Merge Sprint 5 and Pull Requests into Master Branch
- Create Sprint 6 Branch

[2017-11-29 18:47] anweiss opened #72 "OpenControl mappings and schema merger"
Issue for tracking current OpenControl schema and mappings and how best to merge OSCAL in to that community.

Initial discussion items below (moved from #68) ... CC @gregelin:

- OpenControl schema to OSCAL schema mappings:

  | OSCAL component | OpenControl type |
  | --------------------|------------------|
  |catalog | standard|
  |profile|certification|
  |Implementation<br/>Assessment</br>Ass

[2017-11-30 15:50] #64 closed, assigned to anweiss

[2017-11-30 15:52] anweiss opened #73 "Identify JSON-specific modeling differences"
Goals:

1. Identify specific differences between existing XML model and JSON model
2. Mechanisms for satisfying those differences per the colloquialisms of JSON

Dependencies:

1. XML->JSON conversions per Sprint 5

Acceptance Criteria:

1. Differences identified
2. Steps to address those differences are developed

[2017-11-30 16:34] akarmel opened #74 "Create OSCAL Implementation Layer and a POC Use Case"
Goals:
- Create POC Implementation Schema using OpenControl YAML as an example

Dependencies:
- OpenControl YAML schema and example(s)  - ANDREW WILL ADD ISSUE TAGS

Assessment Criteria:
-Demonstrate POC of how to implement the OSCAL Implementation Schema leveraging XML and JSON in a Docker container runtime (catalog, profile, implementation)

[2017-11-30 17:14] akarmel opened #75 "Document OSCAL / OpenControl integration"
Goals:
-Create documentation describing the integration of OSCAL and OpenControl

Dependencies:
-Feedback from OpenControl community

Acceptance Criteria:
-Proposal describing how OSCAL can support the OpenControl community
-Documentation clearly and succinctly (one or two pages) describes the relationship between OSCAL and OpenControl

[2017-11-30 17:16] akarmel opened #76 "Create high level OSCAL PowerPoint Slides and One Pager describing OSCAL"
Goals:
-Create OSCAL PowerPoint slides and a one pager describing OSCAL to the C-Level community

Dependencies:
-None at this time

Acceptance Criteria:
-Easy to understand slides and documentation describing the business needs and benefits of OSCAL.

[2017-12-02 20:44] anweiss opened #77 "JSON schema gaps in "implementation" layer"
To support #74, below is a list of gaps identified in JSON schema that will need to be addressed:

- "Implementation" will require one to reference specific controls included in a "profile"
  - JSON schema has no way of validating a particular controlId/subcontrolId value against a list of controlId/subcontrolId values specified elsewhere (i.e. a "profile")
  - this will be addressed in a future J

[2017-12-05 19:16] anweiss opened #82 "Extend oscalkit to support OpenControl schema to OSCAL schema conversion"
In support of #74 and #75. Depends on initial OpenControl<->OSCAL "implementation" mapping

[2017-12-06 15:30] anweiss opened #83 "How often OSCAL JSON schemas should be updated to match latest JSON schema core spec"
The IETF releases new JSON schema internet draft (I-D) specifications roughly every 6 months; with 6 month expiration windows thereafter. We should use this issue to discuss how often we should update JSON schema OSCAL files to match new I-Ds of the core spec. We should take into account the lag between when a new JSON schema spec I-D is released by IETF and when validation tools implement the cha

[2017-12-07 18:52] anweiss opened #84 "Modeling non-technical "policies", "processes" and "procedures" in "implementation" layer"
*Challenges*
- Concepts vary across the domain ... different interpretations
- Confusing for experts
- Do we have any specific examples of these concepts?
  - 18F's Project Boise -> https://boise.18f.gov/

Update this issue as needed

[2017-12-11 17:59] anweiss opened #85 "How SCAP and its supporting checking languages map to OSCAL"
How does SCAP and all of its supporting checking and scoring languages (i.e. OCIL, OVAL XCCDF, CCSS) map to OSCAL? My initial assumption is some combination of "implementation", "mechanism" and "metrics".

[2017-12-12 20:04] anweiss opened #86 "Licensing"
Tracking for licensing of contents of repo. Per #71. This includes OSCAL specification, supporting documentation and `oscalkit` utility (and its dependencies)

[2017-12-14 22:19] anweiss opened #87 "OSCAL's role in mappings between standards"
Issue for tracking existing mappings and what OSCAL's role in any of them should be. Some examples below:

- [CCI <-> 800-53/800-53A](https://iase.disa.mil/stigs/cci/Pages/index.aspx)
- [HIPAA Security Rule crosswalk to CSF](http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-66r1.pdf)
- [ISO/IEC 27001 <-> 800-53](http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53

[2017-12-20 22:36] anweiss opened #88 "ODNI XML-based standard for representation of body of evidence (BOE) artifacts"
During the last OpenControl community discussion, the folks from NGA were talking about a new XML-based specification developed within an ODNI standards office that was being used as a standard way for representing authorization artifacts, which are collectively referred to as the body of evidence (BOE); per CNSSI 1254. This encompasses SSPs, SARs, RARs, POAMs, etc. Throwing this out there as it m

[2018-01-11 16:35] david-waltermire opened #89 "Improve identifer usage and references in FedRamp profiles"
OSCAL uses identifiers and identifier references to link a profile entry to a control or control enhancement, to link an implementation entry to a profile entry and the underlying catalog, and to provide for relationships between controls and control enhancements. It is important for these identifiers to agree to keep referential integrity within the OSCAL instances.  Much of this inconsistency ha

[2018-01-17 14:32] akarmel opened #90 "Merge Sprint 6 and Pull Requests into Master Branch / Create Sprint 7 Branch"
- Merge Sprint 6
- Create Sprint 7 Branch

[2018-01-17 16:29] #74 closed, assigned to wendellpiez, anweiss

[2018-01-17 16:38] akarmel opened #91 "Solicit OSCAL Implementation Model feedback"
Goals:
- Building on #74, more feedback is needed to determine where additional refinement of the implementation model is required
- Document the type of feedback we require and the timeframe we need it in
- Communicate the feedback request to the community

Dependencies:
- None

Acceptance Criteria:
- Communicate to the community the type of feedback we're looking for and the requested timeframe

[2018-01-17 16:42] akarmel opened #92 "Refine OSCAL Implementation Model"
Goals:
- Stabilize the OSCAL Implementation Model and ensure all necessary features are implemented
- Based off #91, evaluate feedback and prioritize changes to the model

Dependencies:
- #91

Acceptance Criteria:
- Stable OSCAL Implementation Model
- Additional criteria TBD based on feedback

[2018-01-17 17:07] akarmel opened #93 "Design and document the functional requirements for the merging and modifying of profiles"
Goals:
- Building off issue #67, we need to design and document the functional requirements for the merging and modifying of layers
  - For merging, determine how customization of the merging process will work
  - For modifying, ensure that the ability to fully customize the resulting model is available (edit controls, modifying existing controls, adding and editing control enhancements, matching

[2018-01-17 17:12] akarmel opened #94 "Develop Profile layer documentation that is edited and ready for public review"
Goals:
- Develop usable Profile layer documentation targeted towards Profile creators for public review

Dependencies:
- Issue #93
- Issue #95

Acceptance Criteria:
- Documentation developed to a sufficient level of detail for a technical user to understand the profile layer (XML and JSON)
- Documentation should be edited and ready for public review

[2018-01-17 17:15] akarmel opened #95 "Implement Profile Layer design requirements"
Goals:
- Implement the profile layer design requirements

Dependencies:
-Issues #93

Acceptance Criteria:
 - TBD based on design requirements documented in #93

[2018-01-17 17:16] #67 closed, assigned to wendellpiez, kscarf1

[2018-01-18 20:28] akarmel opened #96 "Develop documentation tooling for OSCAL"
We will use SLATE for developing documentation tooling for OSCAL.   nist-pages is the new branch that needs to be created in preparation for making this GitHub repo public.
https://github.com/usnistgov/pages-root/wiki/Configuring-your-repo-for-publishing-on-pages.nist.gov
https://pages.nist.gov/Pages-Template

Goals:

Dependencies:

Acceptance Criteria:

[2018-01-18 21:08] akarmel opened #97 "OSCAL Governance Structure"
## User Story
As an OSCAL Consumer, I can access a website to see the OSCAL overarching governance structure, including how I contribute to this specification

## Goals
- Update CONTRIBUTORS.md to include the governance process
  - Document use of forking from specific sprint branch.
  - Work out a way to document/point to current sprint.

## Dependencies
- OSCAL Roadmap is developed and published

[2018-01-25 22:30] #90 closed, assigned to david-waltermire

[2018-01-29 20:12] JJediny opened #100 "Grant access to FEDRAMP dev POC"
@PCrayton

[2018-01-31 16:27] anweiss opened #102 "Enabling CSPs/ISVs to easily develop initial "implementation" artifacts for their software"
In the early phases of OSCAL where tooling will be scarce (and this also holds true for OpenControl today), we're going to be faced with a "chicken-and-the-egg" scenario whereby CSPs/ISVs must still go through the initial exercise of actually correlating their services/software to security controls to create their OSCAL "implementation" artifacts and get to an initial machine-readable state. Some

[2018-01-31 20:09] #76 closed, assigned to akarmel

[2018-01-31 20:12] #75 closed, assigned to gregelin, anweiss, david-waltermire, akarmel

[2018-01-31 20:21] #96 closed, assigned to anweiss

[2018-02-05 15:47] anweiss opened #105 "Naming conventions for OSCAL-formatted artifacts"
At this point, the names given to OSCAL-formatted artifacts are completely arbitrary. We should provide OSCAL tool/catalog maintainers with some naming conventions and guidance for any OSCAL-formatted artifacts that they produce/consume.

Supports #58.

[2018-02-07 18:10] anweiss opened #106 "Profile parameter interpretation"
Currently, "Profile" parameter values are completely ambiguous. The schema also only allows simple text values (`value = element value { text }`). As such, it is left up to "Implementation" to interpret, parse and implement these parameter values. I'm curious if there's a way we can mitigate the level of effort that a system "Implementer" would have to put in to interpret these values by also allo

[2018-02-09 15:44] anweiss opened #107 "Profile alterations commented out?"
Hey @wendellpiez, is there a reason why there are profile alterations commented out? Example [here](https://github.com/usnistgov/OSCAL/blob/sprint-6/examples/FedRAMP/FedRAMP-HIGH-edited.xml#L741).

[2018-02-20 20:10] akarmel opened #109 "Create end user documentation for pages.nist.gov/OSCAL"
# User Story

As an end user, I want to see documentation that helps me understand OSCAL and its' relevance/implications to my work.

## Goals:

Develop end user documentation  that is clear and concise as started in issue #58

## Dependencies:

Stable catalog model

## Acceptance Criteria:

Review end user documentation and ensure it is clear and concise

[2018-02-20 20:12] akarmel opened #110 "Develop implementer documentation for OSCAL GitHub"
As an implementer, I would like detailed, clear and concise documentation on how I can use OSCAL in my organization.

**Goals:**
Develop detailed, clear and concise documentation for OSCAL implementers as started in issue #58

**Dependencies:**
Stable catalog model

**Acceptance Criteria:**
Detailed, clear and concise documentation for OSCAL implementers is available.

[2018-02-20 20:15] akarmel opened #111 "Document the OSCAL Catalog Schema for catalog consumers / catalog maintainers / tool vendors"
As a OSCAL catalog consumer, catalog maintainer or tool vendor, I have access to detailed, clear and concise documentation about the OSCAL catalog and how I can use it in my organization.

**Goals:**
Develop detailed, clear and concise documentation about the OSCAL catalog as started in #58

**Dependencies:**
Stable catalog model

**Acceptance Criteria**
Detailed, clear and concise documentation e

[2018-02-20 20:19] #58 closed, assigned to wendellpiez, anweiss, david-waltermire, kscarf1

[2018-02-20 20:39] akarmel opened #112 "Create markdown file with Profile use cases"
# User Story:
As a OSCAL profile creator, I can find clearly described use cases that address my typical uses of an OSCAL profile.

## Goals:
Create a markdown file that enumerates a set of profile use cases
- Address DoD SRG Impact Levels (Issue #108)
- Address FedRAMP+ moderate/high
- Address customization of profiles for a given information system

## Dependencies:
None

## Acceptance Criteria

[2018-02-20 21:10] akarmel opened #113 "Cleanup merge and commit history and create Sprint 8 branch"
# User Story:

As a OSCAL stakeholder, I can view the GitHub repository and see a clean merge/commit history

## Goals:

Clean merge/commit history
Create Sprint 8 branch

## Dependencies:

None

## Acceptance Criteria

Clean merge/commit history
New Sprint 8 branch created

[2018-02-21 15:45] david-waltermire opened #114 "Cleanup/ignore extraneous files in master branch"
# User Story:

As a OSCAL repo user, I will not find any files used by an individual user in the repo.

## Goals:
- Remove and ignore any files produced by IDEs or other tooling (e.g., oscal-dev.xpr)

## Dependencies:

None

## Acceptance Criteria

The repo is reviewed and no extraneous development/tool related files are found.

[2018-02-21 20:30] anweiss opened #116 "Include FedRAMP Tailored Profile example"
We should also include an example Profile for the FedRAMP Tailored Baseline. Spreadsheet with controls can be found [here](https://tailored.fedramp.gov/static/APPENDIX%20A%20-%20FedRAMP%20Tailored%20Security%20Controls%20Baseline.xlsx).

CC @wendellpiez

[2018-03-01 20:35] #71 closed, assigned to david-waltermire

[2018-03-08 20:54] #111 closed, assigned to wendellpiez, david-waltermire, kscarf1

[2018-03-08 20:58] #112 closed, assigned to david-waltermire

[2018-03-08 21:01] #109 closed, assigned to kscarf1

[2018-03-08 21:12] wendellpiez opened #119 "Links in parameter settings"
# User Story: Links in parameter settings

As a OSCAL profile user, when setting a parameter, I can provide a citation to a relevant authority.

This requirement is mentioned in the (markdown) User Stories for Profiles mentioned in Issue #112, which gives real-world examples.

## Goals:

Extend the parameter model to support citations in some form, preferably simple, possibly as simple as permitti

[2018-03-09 16:55] wendellpiez opened #120 "Determine a way to auto-document the catalog and profile models"
# User Story:

As an OSCAL user, I can find current and complete documentation of elements and attributes permitted in OSCAL.

- Allow auto-generation of in-schema docs
- Allow auto-generation of website schema documentation
  - Present a tree-form rendering of the model with links to the specific element definitions
  - Link to the actual schema (on the github site)
- Develop code examples for ea

[2018-03-09 17:11] wendellpiez opened #121 "Profile unit tests for normal and edge cases"
# User Story:

As an OSCAL user, I can be confident that profile resolution is working as specified - and I can find examples in the form of unit tests (XML documents, document fragments and/or documentation) that demonstrate profiling semantics in operation, with examples.

NB we already have files in place for (some) unit testing (of schemas, Schematrons, XSLTs including profile resolution); the

[2018-03-09 20:21] #93 closed, assigned to wendellpiez, david-waltermire

[2018-03-09 21:09] trevor-vaughan opened #122 "Would like to see an inherits/overrides model"
# User Story:

As a OSCAL user, I need to be able to inherit from created documents and override specific items with the minimum effort possible.

## Goals:

One of the main issues that I had when using SCAP was the inability to tailor via inheritance. In most cases, I needed to clone the entire repository and update everything by hand. This led to a situation where it was almost impossible to tra

[2018-03-09 21:47] akarmel opened #123 "Cleanup merge/commit history and create Sprint 9 branch"
# User Story:

As a OSCAL stakeholder, I can view the GitHub repository and see a clean merge/commit history

## Goals:

Clean merge/commit history
Create Sprint 9 branch

## Dependencies:

None

## Acceptance Criteria

Clean merge/commit history
New Sprint 9 branch created

[2018-03-09 21:52] #122 closed, assigned to nobody

[2018-03-09 22:00] akarmel opened #124 "Refactor the catalog and profile schema to remove unused elements"
# User Story:

As a OSCAL consumer, I have a clearly defined catalog and profile schema with no unused elements to support OSCAL tool vendors.

## Goals:

Remove unused elements from catalog and profile schema

## Dependencies:

None

## Acceptance Criteria

Verify that no unused elements exist in catalog and profile schema

[2018-03-09 22:03] anweiss opened #125 "Automated OSCAL specification translations and mappings from XML schema to JSON schema"
# User Story:

As an OSCAL specification maintainer, I want to have a development pipeline that allows for seamless modeling interoperability between the XML schema and JSON schema.

## Goals:

- Identify the abstract model translations from XML schema to JSON schema (@wendellpiez @anweiss)
- Create a development pipeline that automatically applies these translations from XML schema to an applicab

[2018-03-09 22:19] #100 closed, assigned to nobody

[2018-03-14 16:49] akarmel opened #127 "Create document on how to work with OSCAL JSON and XML"
## User Story
As an OSCAL Consumer, I have documentation that explains how to use OSCAL from both a JSON and XML perspective.

## Goals
- Develop OSCAL documentation that explains how to make use of OSCAL from both a JSON and XML perspective
- Make prominent use of JSON and XML Schemas and promote the use of RelaxNG due to poor commonly available support
- Present how to make use of the OSCAL XML

[2018-03-15 20:07] kscarf1 opened #129 "Refine content to create Pages in GitHub"
Work to do once we have better documentation:
1. Create a branch named "nist-pages".
1. Move content to that branch.
1. Setup a webhook to publish to:  https://pages.nist.gov/deploy

Goals:

Provide a useful collection of OSCAL documentation on https://pages.nist.gov that: 1) explains the concepts comprising OSCAL, 2) provides documentation on how to use OSCAL, and 3) decribes how to create and us

[2018-03-15 20:08] #30 closed, assigned to david-waltermire, kscarf1

[2018-03-15 20:12] kscarf1 opened #130 "Document the composition of the profile schema and how it relates to the catalog schema"
User story candidate: As a content or tool developer, I can find clear, concise, and accurate information on the composition of OSCAL’s catalog and profile schemas and how they relate to each other.

Required Resources:
- Stable OSCAL catalog schema
- Stable OSCAL profile schema
- Feedback on original OSCAL catalog schema documentation

Goals:
1. Produce a profile schema with embedded documentatio

[2018-03-15 20:17] #15 closed, assigned to kscarf1

[2018-03-30 15:49] #2 closed, assigned to nobody

[2018-03-30 16:00] david-waltermire-nist opened #131 "Create documentation walkthrough for constructing OSCAL Profiles"
# User Story:

As a OSCAL content creator, I need to know how to 1) tailor an existing baseline or 2) create a new baseline representing a collection of selected controls. I need to have access to documentation that guides me step-by-step through these two use cases.

## Goals:

- Documentation is provided that walks a content creator through tailoring an existing Profile, to include adding and re

[2018-03-30 16:00] #3 closed, assigned to nobody

[2018-03-30 16:11] #27 closed, assigned to wendellpiez, david-waltermire

[2018-03-30 16:15] #31 closed, assigned to david-waltermire

[2018-03-30 16:16] #33 closed, assigned to david-waltermire

[2018-03-30 16:17] #35 closed, assigned to wendellpiez, david-waltermire

[2018-03-30 16:17] #41 closed, assigned to nobody

[2018-04-05 19:34] #124 closed, assigned to wendellpiez, david-waltermire

[2018-04-05 22:39] #123 closed, assigned to david-waltermire

[2018-04-05 22:55] david-waltermire-nist opened #132 "Create OSCAL Catalog and Profiles for SP 800-53rev5"
# User Story:

As a OSCAL consumer, I need an OSCAL Catalog for SP 800-53 revision 5. This revision is still in draft, but it would be useful to have an OSCAL Catalog for testing purposes.

## Goals:

- Create an OSCAL Catalog that accurately captures the content in [SP 800-53rev5](https://csrc.nist.gov/publications/detail/sp/800-53/rev-5/draft).
- Create OSCAL Profiles for low, moderate, and high

[2018-04-05 22:56] #20 closed, assigned to nobody

[2018-04-05 22:58] #26 closed, assigned to nobody

[2018-04-05 22:58] #32 closed, assigned to david-waltermire

[2018-04-05 23:00] #36 closed, assigned to wendellpiez

[2018-04-05 23:19] #86 closed, assigned to nobody

[2018-04-05 23:37] #113 closed, assigned to david-waltermire

[2018-04-05 23:38] david-waltermire-nist opened #133 "Establish a Continuous Integration (CI) Environment for the OSCAL Repo"
# User Story:

As a OSCAL repo maintainer, I need an automated method to ensure timeliness, quality, and consistency in published artifacts.

## Goals:

- [ ] Define high-level overview of CI/CD process and include this as part of a `CONTRIBUTING.md` or `BUILD.md` file
- [x] Determine which items could be rolled up under automated testing
  - Validation of OSCAL-formatted XML against XSD/RNC
  - V

[2018-04-05 23:39] #56 closed, assigned to nobody

[2018-04-05 23:48] #59 closed, assigned to nobody

[2018-04-05 23:57] #91 closed, assigned to wendellpiez, david-waltermire

[2018-04-05 23:59] #107 closed, assigned to nobody

[2018-04-06 00:03] #83 closed, assigned to nobody

[2018-04-06 00:52] #62 closed, assigned to wendellpiez, david-waltermire

[2018-04-10 19:12] #18 closed, assigned to wendellpiez

[2018-04-12 18:22] #130 closed, assigned to kscarf1

[2018-04-12 18:23] #110 closed, assigned to anweiss, kscarf1

[2018-04-12 18:24] #120 closed, assigned to wendellpiez, anweiss, kscarf1

[2018-04-12 18:26] #127 closed, assigned to wendellpiez, anweiss, david-waltermire, kscarf1

[2018-04-12 18:34] #114 closed, assigned to wendellpiez, anweiss

[2018-04-12 18:35] #97 closed, assigned to david-waltermire, kscarf1

[2018-04-12 18:46] #129 closed, assigned to anweiss, david-waltermire, kscarf1

[2018-04-12 19:03] akarmel opened #138 "Cleanup OSCAL Repo"
# User Story:

As an OSCAL user, I have access to a well structured, clearly documented repository.

## Goals:

- Document the contents of all directories
   - Ensure all directories have a README.md with a paragraph describing each file and directory located within the same (@wendellpiez @kscarf1)
   - Paragraph should explain the function of the file and its purpose
- Relocate powerpoint present

[2018-04-12 19:10] akarmel opened #139 "Create XML and JSON code examples for all commonly used OSCAL catalog and profile features"
# User Story:

As an OSCAL consumer, I have access to XML and JSON code examples for all commonly used OSCAL catalog and profile features.

## Goals:

- Create XML and JSON code examples (@anweiss @wendellpiez)
- Link code examples to pages.nist.gov/OSCAL (@kscarf1)
- Code examples are usable for regression testing against OSCAL schemas (None)

## Dependencies:

None.

## Acceptance Criteria

- En

[2018-04-12 19:14] akarmel opened #140 "Fix OSCAL overview graphic in pages.nist.gov/OSCAL"
# User Story:

As a OSCAL consumer, I have access to a clear OSCAL overview graphic published to pages.nist.gov/OSCAL

## Goals:

OSCAL overview graphic is clear and published to pages.nist.gov (@david-waltermire-nist)

## Dependencies:

None

## Acceptance Criteria

No cursor appears in the OSCAL overview graphic published to pages.nist.gov

[2018-04-12 19:33] akarmel opened #143 "Cleanup NIST SP800-53 R4 catalog and low/moderate/high profiles"
# User Story:

As an OSCAL consumer that needs 800-53 data, I have an accurate and usable OSCAL catalog and profiles for each 800-53 baseline (low/moderate/high).

## Goals:

1. Improve the data quality of the 800-53 catalog and profiles (@wendellpiez)
    - Design, document and implement a clean ID naming scheme

        The following format will be used for IDs

    - Support the following param

[2018-04-12 20:03] akarmel opened #144 "Cleanup FedRAMP low/moderate/high baselines"
# User Story:

As a OSCAL consumer that needs 800.53 data, I have an accurate and usable OSCAL profiles for each FedRAMP baseline (low/moderate/high).

## Goals:

1. Improve the data quality of the FedRAMP low/moderate/high profiles (@wendellpiez)
   - Design, document and implement a clean ID naming scheme
   - Adjust IDs based on the catalog changes

        The following format will be used for

[2018-04-13 01:19] JJediny opened #148 "pages.nist.gov URL is case sensitive"
Not sure if there is guidance from NIST pages on how to address this but the URL is case sensitive. https://pages.nist.gov/OSCAL/ works but https://pages.nist.gov/oscal/ does not.

[2018-04-13 21:02] #82 closed

[2018-04-14 19:50] wendellpiez opened #151 "Update CSS to support data browsing and data entry"
# User Story:

As an OSCAL user or developer, I wish to hand-edit a profile, only to discover the delivered OSCAL CSS doesn't fully support it. Also, the CSS that is there, could probably be improved somewhat, with respect both to browser display of OSCAL data (XML+CSS), or editing in CSS-capable XML authoring tools.

## Goals:

Better CSS for better / cleaner presentation of and interaction with

[2018-04-15 23:30] evelynmitchell commented on #140
There is also a cropping error at the top and bottom of the image, which could be fixed at the same time.

[2018-04-18 22:26] anweiss commented on #106
On the JSON side of things, something that might help and that we can already take advantage today with JSON schema draft-07  is that of conditional schema evaluation provided by the `if`, `then` and `else` keywords. Here's an example (courtesy of https://stackoverflow.com/a/38781027):

[code]

If the `foo` property equals `bar`, then the `bar` property is required.

Granted, this only applies to

[2018-04-18 23:28] anweiss opened #152 "System boundary constructs as part of implementation"
# User Story:

As an OSCAL user, I would like to be able to define more explicit system boundaries as part of my "implementation" artifacts. With "great flexibility in determining what constitutes an information system (i.e., major application or general support system)" that agencies have, per [NIST 800-18 Rev. 1](https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-18r1.pdf), co

[2018-04-19 14:04] wendellpiez opened #153 "Unit and regression testing for schemas and tools"
# User Story:

As an OSCAL developer, I have access to unit testing and regression testing to ensure and show my code is correct. As a stakeholder, I can examine these unit tests to see what is going on.

## Goals:

1. Provide developers with a stable foundation for further development of OSCAL
1. Expose contracts (expected outputs for inputs, both correct and incorrect) to all stakeholders
1. Sup

[2018-04-23 18:27] akarmel opened #154 "Create Weekly Status Report Template for Issues"
**WEEKLY STATUS REPORTING PROCESS**
- Each goal in the issue will be assigned to an assignee
- Each team member enters their own status update weekly with percentage complete against the goals to which they are assigned
  - Numbered goals are worked on sequentially
  - Bulleted goals are worked on in parallel
- Pull request must be submitted for all goals before an issue is moved to under review
-

[2018-04-23 19:30] akarmel commented on #105
**4/23/2018 - Discussion**
STANDARD_REVISION_OSCALLAYER_FUNCTION

STANDARD = SP800-53
REVISION = R4
OSCALLAYER = catalog, profile, ETC
FUNCTION = WHAT IT DOES

e.g.
SP800-53_R4_catalog.xml
SP800-53_R4_low_profile.xml
FedRAMP_moderate_profile.xml
FedRAMPSaaS_low_profile.xml (tailored)

[2018-04-24 00:58] iMichaela commented on #105
4/23/2018 - OSCAL artifacts naming convention concerns:
- SP800-53_R4_low_profile.xml example is not matching the description STANDARD_REVISION_OSCALLAYER_FUNCTION. "_low" is not a REVISION". 'profile' is the 'OSCALLAYER'. So, the description needs to better reflect current and/or desired naming convention at least fro profiles.
- To facilitate artifact name parsing, I suggest 'REVISION" to be pre

[2018-04-24 01:14] iMichaela opened #155 "master branch /docs/README.md needs to be updated"
A new note should be added or have the existing one update.
Following links are broken:
Overview: https://github.com/usnistgov/OSCAL/blob/master/docs/prose/OSCAL%20Overview.md
Tag Library: https://github.com/usnistgov/OSCAL/blob/master/working/doc/schema/oscal-tag-library.md

## Dependencies:

n/a

## Acceptance Criteria
Update information providing the latest or, at a minimum, update the links to

[2018-04-24 15:48] anweiss commented on #125
Some high-level notes:

hierarchical commonalities:

- controls/subcontrols are essentially the same thing
- groups/sub-groups are also essentially the same thing

structured chunks of prose = ways to model loose stuff such that it "isn't so loose anymore"

Since the declarations model is the beginning of a sort of meta-schema, we'll use this as a starting point for identifying the commonalities a

[2018-04-24 21:33] david-waltermire-nist commented on #125
"controls/subcontrols are essentially the same thing" Their content models are almost the same, but a subcontrol requires a parent control as the major difference. I would expect the JSON model to reflect this.

[2018-04-25 15:56] anweiss commented on #125
Also as a reference, I've been using the [Google JSON Style Guide](https://google.github.io/styleguide/jsoncstyleguide.xml) in developing JSON-formatted OSCAL

[2018-04-25 16:33] wendellpiez commented on #125
@anweiss, I'd like to think about going further and leaving out the wrapper
for 'props':

"name": "AC-1","priority": "P1","baselineImpacts": [ "LOW", "MODERATE", "HIGH" ]

I believe this is possible iff property names are known in advance, which
ones are singletons are known in advance, and they have unique names that
do not clash with 'parts', 'prose' or any other of our JSON-magic words.

I thin

[2018-04-25 16:37] trevor-vaughan commented on #125
This is an interesting concept, but aren't you setting yourself up for a large amount of maintenance in reverse translation?

Each standard will need a set of translation functions and I don't feel like that is sustainable in the long term.

For revision 1, I would probably just do the simplest thing possible and see how users react. I, for one, would have no issue writing a select statement to pu

[2018-04-25 16:40] anweiss commented on #125
@wendellpiez yea, we could certainly take it further and to the same with parameters. From a schema POV, the `propertyNames` validation keyword can be used for this and can cross-reference another schema as needed.

@trevor-vaughan good point indeed. This would potentially make roundtripping a bit trickier. And to your point re. "each standard will need a set of translation functions ...", this is

[2018-04-25 16:40] wendellpiez commented on #125
I agree, if we can't effectively automate the translation back again
(perhaps by means of an OSCAL-declarations-based mechanism, as @anweiss and
I have discussed), this is not worth doing.

It's certainly valuable to know that a developer doesn't find that
particular improvement to be compelling! :-)

On Wed, Apr 25, 2018 at 12:37 PM, Trevor Vaughan <notifications@github.com>
wrote:

--
Wendell Pi

[2018-04-25 16:44] trevor-vaughan commented on #125
@wendellpiez For me it's a "nice to have" syntactic sugar.

@anweiss Do you have a link to the declarations model docs? (Sorry, I'm still having trouble figuring out what is what)

[2018-04-25 16:48] anweiss commented on #125
@trevor-vaughan no worries! the declarations model docs have yet to be developed ... for now, you can take a look at the current 800-53 OSCAL declarations at [`examples/SP800-53/SP800-53-oscal-declarations.xml`](https://github.com/usnistgov/OSCAL/blob/master/examples/SP800-53/SP800-53-oscal-declarations.xml)  ... the declarations XML schema is at [`schema/xml/XSD/oscal-declarations.xsd`](https://g

[2018-04-25 16:56] david-waltermire-nist commented on #125
@trevor-vaughan Can you elaborate on your concerns around reverse translation? Are you concerned about round-trips such as XML -> JSON -> XML? Or something else?

We are working to normalize the format for how all catalog standards are represented. We have a declarations model, which provides for some additional standard-specific constraints (e.g., customization of cardinality, required data eleme

[2018-04-25 16:58] david-waltermire-nist commented on #125
@wendellpiez @kscarf1 We have an old issue #46 as a proto-user story for documenting declarations. Could one of you flesh this out using the user story template?

[2018-04-25 17:00] trevor-vaughan commented on #125
@david-waltermire-nist Fundamentally, 90% of the people that I've spoken with are super excited about the JSON format and hate the idea of XML at all. I personally like XML for documentation and mappings but agree that it's a bear and a half to figure out and work with.

So, effectively, users want to write their site local material as JSON and not worry about the 'official' XML. But they do want

[2018-04-25 17:13] david-waltermire-nist commented on #125
@trevor-vaughan This makes sense. This is why round-trip capability is so important. I am thinking about an OSCAL catalog/profile that might be written in JSON, exchanged in XML, and then customized in JSON. This means conversion from JSON to XML to JSON. This also means that when writing in JSON, the format needs to be expressive and support the range of OSCAL features that editors will need.

Th

[2018-04-25 17:47] trevor-vaughan commented on #125
@david-waltermire-nist Sorry, I find this horribly amusing:

Can I interest you in some SCAP?

[2018-04-25 18:00] david-waltermire-nist commented on #125
@trevor-vaughan Indeed. This is a big lesson I learned from the SCAP project. SCAP started with the assumption that we need to support users editing the XML directly for now, and that tools will eventually emerge. They never really did to a large degree, which I would attribute to the complexity of the formats making it difficult for tools to be created. I'd hate to repeat that problem.

To not re

[2018-04-25 18:04] trevor-vaughan commented on #125
@david-waltermire-nist That's encouraging. I feel like the OSCAL project will need to publish a FOSS rudimentary editor if you really want to get decent adoption.

Make it in something that complies with the all the NIST/STIG regs and it could be the shining example of what to do that I would love to be able to reference. It would be a great public dogfooding project for the entire stack.

[2018-04-25 18:05] anweiss commented on #125
@trevor-vaughan to David's point on tools, this is what is being worked on in parallel -> https://github.com/opencontrol/oscalkit ... it's currently being used to do the conversions and generate the JSON samples

[2018-04-25 18:11] trevor-vaughan commented on #125
@anweiss Ah, most excellent! I was hoping that OpenControl would migrate to this. Unfortunately, for most users, OpenControl was still too much.

They need some sort of web-based editor with easy buttons and a visual model of the abstract tree. And, of course, if this were created from the ground up following the entire 800-53 stack, it would be the penultimate example for reference and complex en

[2018-04-25 18:15] anweiss commented on #125
https://github.com/usnistgov/OSCAL/issues/102 might be of help here

[2018-04-25 21:34] wendellpiez commented on #139
A lower-overhead, lower-maintenance approach to this would be to maintain a canonical set of complete examples, include them in regression testing (to guard against obsolescence), and point into them from the documentation for code examples.

However, this doesn't necessarily meet the requirements for display / integration into the docs. Would like some clarification as to what those are.

[2018-04-26 05:33] iMichaela commented on #144
04/26/2018 - Sprint 10 Progress Report
Goal: Review updated FedRAMP low/moderate/high profiles for any remaining anomalies
Progress: Waiting for the dependencies to be completed (goals 1-3)
Complete: 0%
Open Issues: none at this time

[2018-04-26 05:36] iMichaela commented on #143
04/26/2018 - Sprint 10 Progress Report
Goal: Review updated SP800-53 catalog and profile for any remaining anomalies
Progress: Waiting for the dependencies to be completed (goals 1)
Complete: 0%
Open Issues: none at this time

[2018-04-26 06:48] david-waltermire-nist commented on #154
4/26/2018 - Sprint 10 Progress Report

Goal: All
Progress: The pull request for this issue has been reviewed and merged.
% Complete: 100^%
Open Issues: none.

[2018-04-26 06:48] #154 closed

[2018-04-26 06:51] david-waltermire-nist commented on #140
4/26/2018 - Sprint 10 Progress Report

Goal: OSCAL overview graphic is clear and published to pages.nist.gov
Progress: none.
% Complete: 0%
Open Issues: @iMichaela Can you send me the graphic with the adjusted wording?

[2018-04-26 06:58] david-waltermire-nist commented on #138
4/26/2018 - Sprint 10 Progress Report

Goal: Create a NIST CSRC project page.
Progress: I have a draft page created, but not published.
% Complete: 50%
Open Issues: @kscarf1 Can you send me a quick OSCAL summary for the CSRC page? This should briefly introduce the project and provide links to the pages.nist.gov site and GitHub repo.

[2018-04-26 14:00] brianrufgsa commented on #143
4/26: Based on a conversation between Wendell, Peter, and myself (Brian), we provided a recommendation to Michaela and Dave that we adopt FedRAMP's parameter IDs for standardized parameter IDs in OSCAL.

[2018-04-26 14:08] kscarf1 commented on #138
4/26/2018 - Sprint 10 Progress Report

Goal: Add and standardize README.md files for each GitHub directory.
Progress: I have revised the root README.md and the README.md in the /docs directory as models for people to review and provide feedback on. I have also removed the presentations and a few old files that aren't needed any more from GitHub. Wendell is standing by to provide support on adding

[2018-04-26 16:36] wendellpiez commented on #125
**Sprint 10 Progress**

Goal: no 1 / All

Progress: Brief conversations btw myself and @anweiss; also I have sent a slide deck / proposal to @david-waltermire-nist for review and consideration

Preliminary discussions suggest we approach developing the common schema model (constraints set) as an abstraction of requirements discovered in refining the two-way XML <-> JSON mapping and conversion. By

[2018-04-26 19:28] iMichaela commented on #140
4/26/2018 - Sprint 10 Progress Report

Goal: OSCAL overview graphic is clear and published to pages.nist.gov
Progress: the graphic with the adjusted wording was delivered.
Complete: 100% (ONLY graphic updated/re-generated)
Open Issues: none.

[2018-04-26 19:42] anweiss commented on #133
Listing some possible tools to include as part of CI/CD:

Relax NG validation:

- Jing -> https://github.com/relaxng/jing-trang

XSD validation:

- xmllint (based on libxml2) (included with various Linux distros)

Schematron validation:

- https://github.com/NCAR/crux
- https://github.com/phax/ph-schematron

Schematron BDD testing:

- https://github.com/xspec/xspec

JSON schema validation:

- http

[2018-04-26 20:04] wendellpiez commented on #138
**4/26/2018 - Sprint 10 Progress Report**

Goal: Add and standardize README.md files for each GitHub directory.
Progress: As noted, I'm standing by to help @kscarf1 when/as questions come up, with both info and technical support
% Complete: 10%
Open Issues: none

[2018-04-26 20:10] wendellpiez commented on #143
**4/26/2018 Sprint 10 Progress Report**

Goal:  Improve the data quality of the 800.53 catalog and profiles
Progress: We have sketched out methods and identified (some or most) problem areas
Complete: 5%
Open Issues: @david-waltermire-nist and I should complete a list of known issues in the data, with proposed solutions, enabling me to update the (NVD XML -> OSCAL) extraction pipeline to reflect t

[2018-04-26 20:15] wendellpiez commented on #144
**04/26/2018 - Sprint 10 Progress Report**
Goal: Improve the data quality of the FedRAMP low/moderate/high profiles
Progress: We've done significant work at the foundations, clarifying the issues with @brianrufgsa and @PCrayton (with much more to be done), and assessing (for example) suitability of MS-Access based data sets describing FedRAMP as sources for data enhancement. However, actually inco

[2018-05-02 20:41] wendellpiez commented on #143
**5/2/2018 Sprint 10 Progress Report**

Goal: Improve the data quality of the 800.53 catalog and profiles
Progress: Now through the punchlist: everything has been addressed, including modeling selection parameters
Complete: 85%
Open Issues: Newly generated file in my repo needs to be reviewed for completeness and correctness

The NVD XML->OSCAL extraction/enhancement pipeline currently produces th

[2018-05-02 20:54] wendellpiez commented on #144
**5/2/2018 - Sprint 10 Progress Report**
Progress: Pending review and acceptance, identifiers in the underlying catalog may be stable cf #143. Also, insertion points have been mentioned in parameter labels, which should make the mapping easier and more robust from external data sources describing the FedRAMP profiles.
Percentage Complete: 5% (but no longer blocked)
Open Issues: None at this time

[2018-05-02 21:37] wendellpiez commented on #125
**5/2/2018 Sprint 10 Progress**

Goal: no 1 / All

Progress: we now have (handmade) mockups of a metaschema with matching XSD schema, along with a sketch of a test instance (a single control) valid to the XSD (as also to the official catalog.xsd). In principle, the metaschema enforces constraints over the schema modeling that reflect specifically the data modeling and mapping requirements we see c

[2018-05-02 21:39] wendellpiez commented on #139
As soon as SP800-53 data is cleared cf #143, that can be an input here.

[2018-05-02 21:58] anweiss commented on #125
Adding to @wendellpiez's progress updates:

I'm working in parallel with Wendell on the JSON and JSON schema side in my feature branch off of his fork -> https://github.com/anweiss/OSCAL/tree/feature-metaschema-json/schema/metaschema. Thus far, I've produced the following artifacts to coincide with Wendell's modeling exercise:

- 1:1 JSON equivalent of test instance (i.e. single control)
- JSON sc

[2018-05-02 23:29] kscarf1 commented on #138
5/3/2018 - Sprint 10 Progress Report

Goal: Add and standardize README.md files for each GitHub directory.
Progress: I have revised several existing README.md files and created several new ones. I have sent Wendell a short list of files and directories I need summaries for so far. I'm continuing to go through all the subdirectories in the repository.
% Complete: 40%
Open Issues: @wendellpiez Need

[2018-05-03 02:39] brianrufgsa commented on #143
5/2: Matched all labels to parameters in accordance with naming convention. (100%) Nearly complete decomposing nested parameters. (80%)  Working in database with plan to export to XML for incorporation in 800-53 catalog and High, Moderate, Low baselines.

[2018-05-03 02:42] brianrufgsa commented on #144
5/2: Matching FedRAMP prescribed parameters to 800-53 parameters using parameter labeling standard, including nested parameters. (90%) Finalizing batch report of differences between 800-53 and FedRAMP baselines. (60%). Working in database with plan to export to XML when ready.

[2018-05-03 02:54] iMichaela commented on #144
**5/2/2018 - Sprint 10 Progress Report**
Goal: Review updated FedRAMP low/moderate/high profiles for any remaining anomalies
Progress: Waiting for the dependencies to be completed (goals 1-3) @brianrufgsa and @PCrayton
Complete: 0%
Open Issues: none at this time

[2018-05-03 17:24] david-waltermire-nist commented on #143
@brianrufgsa Just to be clear, are you are working towards adding content to the [FedRAMP profiles](https://github.com/usnistgov/OSCAL/tree/master/examples/FedRAMP) not modifications to the [SP 800-53rev4 profiles](https://github.com/usnistgov/OSCAL/tree/master/examples/SP800-53)?

[2018-05-03 17:38] wendellpiez commented on #143
@david-waltermire-nist actually that is an important point, since the parameter labels and descriptions currently show hooks for @brianrufgsa, but perhaps do not (in the form given) belong in a published catalog.

Cleaned-up and proper values for the catalogs is a different question from the FedRAMP values. The info here is useful, and we can pull it out (into a profile layer), but maybe we also n

[2018-05-03 17:43] brianrufgsa commented on #143
@david-waltermire-nist,

I can't fully accomplish the FedRAMP piece without the parameter references. I pro-actively went ahead and assigned them via a script, following our convention. Let's discuss today after we get through status. If we don't want/need what I'm doing for the 800-53 parameters, that's fine. It still helps me make progress on the FedRAMP work.

[2018-05-03 17:58] david-waltermire-nist commented on #143
@wendellpiez The PR in #158 does not show the progress you are reporting. Did you leave out committing the SP 800-53rev4 catalog updates in this branch?

[2018-05-03 17:59] david-waltermire-nist commented on #140
5/3/2018 - Sprint 10 Progress Report

Goal: OSCAL overview graphic is clear and published to pages.nist.gov
Progress: I have the graphic from @iMichaela. Still need to update the Visio and post the graphic.
Complete: 0%
Open Issues: none.

[2018-05-03 18:02] david-waltermire-nist commented on #144
I modified the user story to incorporate notes from our engineering meeting.

[2018-05-03 18:10] david-waltermire-nist commented on #138
5/3/2018 - Sprint 10 Progress Report

Goal: Relocate powerpoint presentations.
Progress: The CSRC [OSCAL site](Relocate powerpoint presentations. ) has been published. For some reason the powerpoint is not visible or linked to on the site. I'll need to figure out how to fix this.
% Complete: 90%
Open Issues: @kscarf1 The powerpoint can be [found](https://csrc.nist.gov/CSRC/media/Presentations/The-

[2018-05-03 19:34] PCrayton commented on #144
5/3/2018 - Sprint 10 Progress Report
Goal: Incorporate all parameters and guidance found in low/moderate/high FedRAMP baseline spreadsheets
Progress: Worked on matching up FedRAMP parameters across the low/moderate/high baselines and identifying the delta between them
Completion: 67%
Open Issues: none at this time

[2018-05-07 18:52] anweiss commented on #133
@wendellpiez do you have any thoughts on the above listing, specifically for XSD validation? I'm currently using `xmllint` which is a wrapper around libxml 2.9.7, but if you know of a better CLI tool, feel free to add it.

[2018-05-07 21:39] anweiss commented on #133
@david-waltermire-nist @wendellpiez here's a sample `.travis.yml` file I've been tinkering with -> https://github.com/anweiss/OSCAL/blob/ci/.travis.yml. You can see a sample build output here -> https://travis-ci.org/anweiss/OSCAL/builds/376097537. It bundles up xmllint with the ajv validator in a simple Docker image and validates the FedRAMP and 800-53 samples against both the XSD and JSON schema

[2018-05-08 17:47] anweiss commented on #133
@david-waltermire-nist please assign @JJediny to this issue as well

[2018-05-09 00:38] shawndwells opened #164 "mailing list links dead"
OSCAL mailing list URLs have been down since RSA conference. Is there another way to signup?

https://email.nist.gov/mailman/listinfo/oscal-dev

https://email.nist.gov/mailman/listinfo/oscal-updates

[2018-05-09 00:51] anweiss commented on #125
Per today's discussion ... to avoid schema and meta-schema complexity and allow for parsability of prose in JSON, we decided on using a subset of liquid-like templating syntax to represent inline elements (e.g. parameter insertions, etc) ... the exact syntax needs further discussion, but something like:

[code]

becomes:

[code]

[2018-05-09 17:19] wendellpiez commented on #143
**5/9/2018 Sprint 10 Progress Report**

Goal: Improve the data quality of the 800.53 catalog and profiles
Progress: Now through the punchlist: everything has been addressed, including modeling selection parameters
Complete: catalog: 100%; profiles 100%
Open Issues: Files need to be sanity checked; also exposed is a potential issue with regularity of IDs assigned to SP800-53 objectives. (See below.

[2018-05-09 18:00] wendellpiez commented on #144
5/9/2018 - Sprint 10 Progress Report
Progress:

cf #143 for progress on dependencies. The underlying SP800-53 catalog and its baselines should be stable. Now obsolete (but still valid) FedRAMP profiles are marked (commented) as such (they are non-functional due to broken IDs) -- but have been retained as examples of usage. A new "stub" FedRAMP profile, `FedRAMP-HIGH-calls-only.xml` is functional,

[2018-05-09 18:34] wendellpiez commented on #125
5/2/2018 Sprint 10 Progress

GOAL: 1/all

PROGRESS TO DATE:

A baby Metaschema is producing an XSD via an XSLT pipeline. The XSD successfully constrains an OSCAL testing mini-model and serves as PoC for the overall design.

PERCENTAGE COMPLETE: 30% (phase one: mini-model)

OUTSTANDING ISSUES:

The next effort will deliver analogous functionality on the JSON side, producing a JSON schema that serve

[2018-05-09 18:34] david-waltermire-nist commented on #125
Why not support addressing the <p> relative to its parent context which will have an ID? Something like the second p of the part with the ID X.

From: Wendell Piez [mailto:notifications@github.com]
Sent: Wednesday, May 09, 2018 2:21 PM
To: usnistgov/OSCAL <OSCAL@noreply.github.com>
Cc: Waltermire, David A. (Fed) <david.waltermire@nist.gov>; Mention <mention@noreply.github.com>
Subject: Re: [usnist

[2018-05-09 18:50] wendellpiez commented on #125
Would require extending the patching model so that positional addressing would be supported.

Not just `<remove id-ref="control.desc.para.2"/>` but `<remove path="p[2]"/>` supporting some syntax ... same for `<add>` ...

Ordinarily I would consider it to be highly strange to have two "paragraphs" except (IMO) neither `para` nor `p`, as tag names, have anything to do with "paragraphs" any more (lon

[2018-05-09 20:17] kscarf1 commented on #138
**5/10/2018 - Sprint 10 Progress Report**

Goal: Add and standardize README.md files for each GitHub directory.
Progress: I have completed most of the README.md file creation and editing for the first two levels of subdirectories. Wendell has filled in the blanks from the initial list I sent him, and I have just sent him a second list of files and directories I need summaries for so far. By early

[2018-05-10 03:25] brianrufgsa commented on #144
Had an all-day FedRAMP commitment Friday, and was on personal travel Mon - Wed, so not much progress for me this week.

Matching FedRAMP prescribed parameters to 800-53 parameters using parameter labeling standard, including nested parameters. (100%) Finalizing batch report of differences between 800-53 and FedRAMP baselines. (80%). Working in database with plan to export to XML when ready.

[2018-05-10 14:11] PCrayton commented on #144
Sprint 10 Status - 5/10/18
Goal: Incorporate all parameters and guidance found in low/moderate/high FedRAMP baseline spreadsheets
Progress: Identified all changes in descriptions/parameters/guidance between FedRAMP low/moderate/high baselines(100%)
Issues: none at this time

[2018-05-10 17:35] iMichaela commented on #144
**5/10/2018 - Sprint 10 Progress Report**
Goal: Review updated FedRAMP low/moderate/high profiles for any remaining anomalies
Progress: Waiting for the dependencies to be completed (goals 1-3) @brianrufgsa and @PCrayton
Complete: 0%
Open Issues: I was waiting on @brianrufgsa to complete Incorporating all parameters and guidance found in low/moderate/high FedRAMP baseline spreadsheets (3.) @PCrayto

[2018-05-10 17:39] iMichaela commented on #164
Link is working now. Sorry for the inconvenience.
![untitled](https://user-images.githubusercontent.com/13984545/39884323-858ed986-5457-11e8-94e4-dc6c1c9164b6.jpeg)

[2018-05-10 17:40] iMichaela commented on #164
![untitled](https://user-images.githubusercontent.com/13984545/39884414-c2acf758-5457-11e8-8b63-eb44ed9035cb.jpeg)

[2018-05-10 17:40] #164 closed

[2018-05-10 17:51] anweiss commented on #125
**5/10/2018 - Sprint 10 Progress Report**

Goal: Update JSON control sample and JSON schema based on Friday's discussion
Progress: Will publish by EOD tomorrow so @wendellpiez can proceed with modeling activities
Open Issues: None

[2018-05-10 17:59] david-waltermire-nist commented on #164
Actually, these links are not resolvable outside the NIST network. This has been a long-standing issue with the NIST mailman listserv implementation. What does work are the [in-email commands](http://www.list.org/mailman-member/node10.html) supported by mailman.

You can use [oscal-updates-join@nist.gov](mailto:oscal-updates-join@nist.gov) to subscribe. You can also use [oscal-updates-leave@nist.g

[2018-05-10 18:02] david-waltermire-nist commented on #143
@wendellpiez I would prefer to have the hierarchy be correct and to base the labels off of that., We may need to add markup to set what label value to use.

[2018-05-10 18:07] david-waltermire-nist commented on #140
5/10/2018 - Sprint 10 Progress Report

Goal: OSCAL overview graphic is clear and published to pages.nist.gov
Progress: I have created the graphic and emailed it around to the team. I have incorporated feedback as well. Next step is to post it to the site.
Complete: 90%
Open Issues: none.

[2018-05-10 18:12] david-waltermire-nist commented on #144
@brianrufgsa @PCrayton Please be sure to report against the goals in the user story. I am good with you discussing interim work as well, but we need to draw attention to the final deliverables in the user story (US). Let's talk in our meeting today on how to incorporate your analysis into a set of FedRAMP OSCAL profiles.

[2018-05-10 19:27] david-waltermire-nist commented on #105
I will document naming conventions in the README.md in the examples directory. I'll do this based on the feedback.

[2018-05-11 15:17] anweiss commented on #125
@wendellpiez closing the loop on our validation of `props`, `params`, and `parts` ... there is technically nothing in the JSON Data Interchange Format (ECMA-404) that discourages duplicate key names ... however, JSON IETF RFC 7159 states that key names "should be unique", as in "recommended". 7159 also goes into detail as far as why the use of unique key names is recommended. Nice StackOverflow po

[2018-05-11 15:44] shawndwells commented on #164
Thanks. Sent the EMails that @david-waltermire-nist called out. Received auto reply that requests are forwarded to an admin for approval.

Is OSCAL and associated lists open to the public?

[2018-05-11 15:51] wendellpiez commented on #125
@anweiss fantastic background, thanks, this is really helpful.

I agree for all kinds of reasons we should keep those keys distinct, at least within their containment (parent) scope if not always in document scope (as with parameters). Even if the validators do not enforce this constraint, it is likely as you say to cause problems downstream.

We can see to it that any schema produced on either si

[2018-05-11 15:57] wendellpiez commented on #125
@anweiss as long as we're on the topic, can JSON schema enforce a constraint such that "map M must have property A or property B, but not both"? Or a choice from one of several?

[2018-05-11 16:11] anweiss commented on #125
@wendellpiez I would say in most cases that yea, key repetition will break an implementation ...

To answer your second question, yes, you can enforce such a constraint using the [`oneOf`](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.7.3) keyword.

[2018-05-14 18:04] wendellpiez commented on #143
**May 14 Progress**

See PR https://github.com/usnistgov/OSCAL/pull/163 comments for more detailed notes tracking the remaining issues. Thanks to @david-waltermire-nist and @brianrufgsa for help here.

Most issues are now resolved (as tracked on that page) while a couple have spun out to modeling issues (and will be noted and entered as such).

Progress: catalogs 100%; profiles 100%

For inspectio

[2018-05-16 18:51] wendellpiez opened #166 "References in catalogs, profiles and controls"
# User Story:

As an OSCAL profile designer, I wish to manage my references or external citations to arbitrary documents. I may wish to add or remove references to controls or profiles. I also expect a certain amount of behavior to be implicit: for example, when I profile a profile or baseline, I expect that all the references it makes from (in) its (selected) controls will come with those control

[2018-05-16 19:12] wendellpiez opened #167 "Catalog and profile metadata"
# User Story:

As an OSCAL user, I can see (in a catalog or profile) at least some minimal metadata helping me to understand the resource (as a whole), its publication, creators, publication status (draft/final), etc. etc. The metadata model is also clean and well-defined enough to help describe the document in the context of automated retrieval, for example by an indexer or in a CMS.

## Goals:

[2018-05-16 22:07] wendellpiez commented on #144
**May 16 Sprint 10 Progress Report**
Goals: 1-2 (stability of underlying SP800-53 catalog and baselines)

Progress: The underlying catalogs and profiles have all been updated, as have schemas thereto related. Numerous small adjustments have been made in the schemas as well as resources).

Complete: 100% pending acceptance as noted above

Open Issues: Schema (tag set) documentation now lags somewha

[2018-05-17 01:40] iMichaela commented on #143
@wendellpiez Would it be the task of creating hierarchically correct IDs easier if the control's ID is inherited fully and the 'obj' appears as a prefix? So objective AC-1(a)(1)[1] would have id=obj_ac-1.a.1.1 and objective SI-6(a) would have id=obj_si-6.a.

[2018-05-17 01:41] kscarf1 commented on #138
**5/17/2018 - Sprint 10 Progress Report**

Goal: Add and standardize README.md files for each GitHub directory.
Progress: Wendell provided information on the second list of files and directories, and I have updated the README.md files accordingly. I have sent a third list to Wendell. I should have all README.md files completed before Monday.
% Complete: 70%
Open Issues: @wendellpiez Need additiona

[2018-05-17 01:44] kscarf1 commented on #139
**5/17/2018 - Sprint 10 Progress Report**

Goal: Create XML and JSON code examples
Progress: I have written several synthetic XML catalog code examples and provided these to Dave and Wendell for feedback. I expect to complete the examples for the XML catalog and profile schemas during this sprint.
% Complete: 15%
Open Issues: None

[2018-05-17 03:17] brianrufgsa commented on #144
Scripts now output FedRAMP low/moderate/high guidance and parameters into OSCAL-compliant XML from the database. This includes the correct FedRAMP-selected controls for each of the three major baselines. (FedRAMP Tailored has unique needs and will need to be addressed in a future sprint.)

Outstanding items:
- Ensure parameter id's in database match those in the revised 800-53 catalog.
- Based on

[2018-05-17 04:14] iMichaela commented on #143
**5/17/2018 - Sprint 10 Progress Report**
**Goal:** Review updated SP800-53 catalog and profile for any remaining anomalies
Started reviewing, per @wendellpiez comment above, the SP800-53-rev4-catalog.xml SP800-53 catalog at: https://github.com/wendellpiez/OSCAL/tree/master/examples/SP800-53
**Findings:**
1) control class id is formated using period (e.g. <control class="SP800-53" id="**ac.1**"> )

[2018-05-17 13:13] PCrayton commented on #144
5/17/2018 - Sprint 10 Progress Report
Goal: Incorporate all parameters and guidance found in low/moderate/high FedRAMP baseline spreadsheets
Progress: Working on verifying all parameters in the FedRAMP XML profiles @brianrufgsa match with the 800-53 catalog.
Completion: 50%
Open Issues: None at this time.

[2018-05-17 14:14] wendellpiez commented on #125
** 5/17/2018 Sprint 10 Progress **

GOAL: 1/all

PROGRESS TO DATE: An XSD pathway is now working in sketched form, so I am looking at the JSON side. The metaschema design is changing (and simplifying) in response to requirements. @david-waltermire-nist is advising re: features plus also timeliness of integration of schema documentation.

PERCENTAGE COMPLETE: 40% (phase one: mini-model)

OUTSTANDIN

[2018-05-17 18:10] wendellpiez commented on #143
@iMichaela Nope, in this case producing either value (for a synthetic identifier) is the same amount of effort.

Unfortunately the current best example for examination is in the `master` branch of my repo. Ouch! My apologies for that: I provided the wrong link. Check https://github.com/wendellpiez/OSCAL/tree/feature-800-53-refactor/examples/SP800-53

[2018-05-17 18:11] david-waltermire-nist commented on #140
5/17/2018 - Sprint 10 Progress Report

Goal: OSCAL overview graphic is clear and published to pages.nist.gov
Progress: I have posted the graphic to the docs site. Need to update the pages.nist.gov site.
Complete: 95%
Open Issues: none.

[2018-05-17 18:26] brianrufgsa commented on #144
@david-waltermire-nist and @iMichaela - I sent you both an email earlier this afternoon where I let you know I'm pushing to get this done today or tomorrow so you have time to review.

[2018-05-17 18:39] wendellpiez commented on #143
I did the references! Checking myself now -- oops they were done but not copied over now see https://github.com/wendellpiez/OSCAL/commit/52db08b7d4bb09a5d13b659012059a2e2a2a24d0

[2018-05-17 20:43] wendellpiez opened #172 "Changing global "class" to "name""
# User Story:

As an OSCAL user, I can recognize OSCAL properties and components not by their "class", but by their "name". So instead of

[code]

we would have

[code]

This attribute name change appears warranted in view of improvements to data in catalogs in Sprint 10. Indeed, this attribute has been called `type` and `name` before (in very early versions of OSCAL). Reasons for naming it `class

[2018-05-22 17:01] brianrufgsa opened #175 "Preserve Reference Labeling Format"
# User Story:

As an OSCAL user, I can present information from an OSCAL catalog or profile, such that the original reference labeling is similar enough to the original source document as to not be a distraction to a cyber security practitioner who is familiar with the original source document. This can be an optional extension to the OSCAL standard currently defined, and does not need to replace

[2018-05-23 19:18] kscarf1 commented on #138
**5/24/2018 - Sprint 10 Progress Report**

Goal: Add and standardize README.md files for each GitHub directory.
Progress: Wendell has provided all the requested information. I have final edits to make to the README.md files, and I expect to commit the remaining changes before the sprint 10 acceptance meeting.
% Complete: 90%
Open Issues: None

[2018-05-23 19:19] kscarf1 commented on #139
**5/24/2018 - Sprint 10 Progress Report**

Goal: Create XML and JSON code examples
Progress: I have not made much progress on the XML examples this week, but I am still hoping to complete the XML examples for the catalog and profile schemas before the sprint acceptance meeting.
% Complete: 20%
Open Issues: None

[2018-05-23 20:28] wendellpiez commented on #138
**5/24/2018 - Sprint 10 Progress Report**

See Karen's report. Standing by to help as needed.

[2018-05-23 21:39] wendellpiez commented on #125
**5/24/2018 - Sprint 10 Progress Report**

**Goals w/ Progress to Date:**

- [x] *Identify the abstract model translations from XML schema to JSON schema* - is now DONE, although the mapping is still implicit in the tooling under development. So it remains to be explicated (in documentation), validated and tested. It's looking good so far.
- [x] *Create a development pipeline that automatically ap

[2018-05-24 04:45] iMichaela commented on #143
** 5/24/2018 Sprint 10 Progress Report **
Propose discussing the following issues to determine if the implementation is done per designe:
![image](https://user-images.githubusercontent.com/13984545/40464473-76f3ca48-5ee9-11e8-8545-9c13c6ba34a3.png)
**Goal**: Review updated SP800-53 catalog and profile for any remaining anomalies
(catalog) 100%
(profiles) 100%
**Open Issues**: none at this time

[2018-05-24 05:59] iMichaela commented on #144
**5/24/2018 Sprint 10 Progress Report**
**Goal**: Review updated FedRAMP low/moderate/high profiles for any remaining anomalies
**Progress**: Completed - summary of findings is below (minor issues)
Complete: 100%
Open Issues: None

![image](https://user-images.githubusercontent.com/13984545/40466938-da9ea8ea-5ef5-11e8-960c-4e3f29f7c550.png)

<set-param param-id="ia-5.1_prm_2">
--
  | <constraint>a

[2018-05-24 13:53] PCrayton commented on #144
Sprint 10 Progress Report 5/24/18
Goal: Incorporate all parameters and guidance found in low/moderate/high FedRAMP baseline spreadsheets
Progress: Verified the entries in the FedRAMP low/moderate/high baseline schemas created by @brianrufgsa
Complete: 100%
Open Issues: none

[2018-05-24 13:54] david-waltermire-nist commented on #140
5/24/2018 - Sprint 10 Progress Report

Goal: OSCAL overview graphic is clear and published to pages.nist.gov
Progress: I have posted the graphic to the pages.nist.gov site.
Complete: 100%
Open Issues: none.

[2018-05-24 13:54] #140 closed, assigned to david-waltermire

[2018-05-24 14:19] wendellpiez commented on #139
**5/24/2018 - Sprint 10 Progress Report**

Meanwhile I have been working on the metaschema tech, one goal of which (external to Issue #125) is integrating the tagged examples into the docs, to facilitate both correctness (including validation) and maintenance. There are actually three different approaches to maintenance (on the XML side) that we can discuss: inline escaped XML (what we now have);

[2018-05-24 14:37] brianrufgsa commented on #144
Supported Goals 1 and 2. Both are complete.
Goal 3: Incorporate all parameters and guidance found in low/moderate/high FedRAMP baseline spreadsheets.
Complete: 100%

Delivered High, Moderate, Low FedRAMP Profiles in XML via Pull Request #173.

[2018-05-24 19:53] shawndwells opened #180 "Where is fedramp-profile.sch?"
Most of the profiles have an xml-model reference to a fedramp-profile.sch:

https://github.com/usnistgov/OSCAL/blob/master/examples/FedRAMP/FedRAMP_HIGH-baseline_profile.xml#L1
[code]

The ``fedramp-profile.sch`` does not appear to exist in the repo:
[code]

[2018-05-24 20:05] brianrufgsa opened #181 "Ensure File References are Resolvable"
# User Story:

As an OSCAL content creator, I can use relative and absolute references in OSCAL content to other resources (e.g., schema, other OSCAL content, etc.) using `href` attributes. OSCAL content users need these references to be reliable in production moving forward. This includes references to external OSCAL style sheets, profiles, catalogs, and other files.

## Goals:

- Ensure that all

[2018-05-24 20:17] shawndwells opened #182 "Create build system?"
Creating a profile. such as FedRAMP or another agency (e.g. DHS 4300A) requires 5,000+ lines of XML.

Propose a shorthand build system be created. Something akin to how SCAP Security Guide decomposed XCCDF and OVAL rules into singular files that are merged together into specification-correct SCAP.

Currently to cumbersome to create profiles with existing workflow.

Does NIST envision authoritative

[2018-05-24 20:22] brianrufgsa opened #183 "Document an OSCAL project roadmap and related team artifacts"
# User Story:

As a new OSCAL team member, I can understand the guiding principles, team policy/agreements, and project roadmap.

There have been several points discussed by the team to which team members have verbally agreed. New team members have no way to know this. The agreements should be documented so that new team members can be aware of them, and in case the agreements are not remembered a

[2018-05-24 20:28] brianrufgsa opened #184 "Create a Capability to Maintain FedRAMP Profiles"
# User Story:

As as FedRAMP practitioner, I have the ability to manage changes and publish updates to FedRAMP OSCAL profiles.

## Goals:

1. Establish a change management plan/process for FedRAMP OSCAL files. This includes version control management of publications.

2. Establish tools to manage and publish FedRAMP OSCAL files, consistent with the plan/process defined in Goal 1.

## Dependencies:

[2018-05-24 20:39] brianrufgsa opened #185 "Cleanup FedRAMP Profile Content"
# User Story:

The published FedRAMP profiles have minor issues and obsolete metadata that must be cleaned up. This will involve a combination of updates to the data in the tool, as well as the scripts in the tool that convert the data to an OSCAL-compliant profile.

## Goals:
The following will be addressed by @brianrufgsa and @PCrayton:
1. Fix HREF references
2. Remove the two processing directi

[2018-05-24 21:14] wendellpiez opened #186 "Complete Metaschema Implementation"
# User Story:

As an OSCAL stakeholder, I can validate that OSCAL metaschema components work correctly by consulting unit tests.

## Goals:

OSCAL metaschema functionality has (at least) three discrete areas:

* Produce and publish functioning and correct XSD and JSON schemas for OSCAL from metaschema source. (@wendellpiez)
* Support bidirectional conversion between XML and JSON via metaschema con

[2018-05-24 22:34] anweiss commented on #153
@wendellpiez is the plan to use Saxon-HE to execute all of the transformations from the CLI? Otherwise, I don't know of any other CLI tools that fully conform to XSLT 3.0 and XPath 3.1

[2018-05-25 00:46] anweiss commented on #153
Ok cool. It’s what I’ve been using on my side for running the transformations and XSpec tests so was just confirming.

[2018-05-25 18:07] david-waltermire-nist commented on #182
@shawndwells The equivalent XML and JSON OSCAL catalog and profile formats are intended to be a publishing format for control catalogs and baselines. The SP 800-53 rev4 and FedRAMP content we are producing in OSCAL is intended to become authoritative machine representations. There is still work to do in cleaning up the data before we get there. We have been focusing on this quite a bit, but more w

[2018-05-25 18:10] david-waltermire-nist commented on #180
See #185. We are working to cleanup these dangling references. The are intended to be resolvable and will be either removed or fixed in the near future as is appropriate.

[2018-05-25 18:16] trevor-vaughan commented on #182
The SIMP project also has this requirement (https://github.com/NationalSecurityAgency/SIMP). That said, markup languages are **not** Security Officer friendly so I think the focus needs to be on ease of manipulation via some web/GUI based entity instead of a mishmash of crossover languages.

Personally, the JSON format is straightforward enough for lightweight processing and addition and the XML f

[2018-05-25 18:21] shawndwells commented on #180
Thanks! Closing this then.

[2018-05-25 18:21] #180 closed

[2018-05-25 18:23] david-waltermire-nist commented on #164
@shawndwells Yes, any list member can post without moderation. Membership is moderated to keep out spammers and trolls. It looks like you have been approved.

[2018-05-25 18:25] #105 closed, assigned to david-waltermire

[2018-05-25 18:30] #144 closed

[2018-05-25 18:30] #143 closed

[2018-05-25 18:50] anweiss commented on #182
Connecting similar issues ... #102

[2018-05-25 19:17] david-waltermire-nist commented on #144
PR #188 addressed updating the README.md to reflect these changes.

[2018-05-25 21:19] #138 closed

[2018-05-25 21:31] david-waltermire-nist opened #190 "Document Use of Parameters in Catalog and Profile models"
# User Story:

As an OSCAL catalog or profile content author, I need to understand the difference between the various elements allowed in a parameter. The documentation needs to clearly define what each element is intended to indicate.

## Goals:

1. Document the use of the label, requirement, value, and selection elements provided within a parameter. This will be done in the metaschema. (@PCrayto

[2018-05-25 21:51] david-waltermire-nist opened #191 "Fix malformed and redundant parameter content"
# User Story:

As an user of the SP 800-53 rev4 catalog, I need parameter labels to provide useful information that may appear in a user interface. Furthermore, some choices are not properly structured.

The following examples are less than ideal:

[code]

[code]

## Goals:

- Determine a way to avoid redundant label entries. Consider making labels optional for selection parameters. (@wendellpiez

[2018-05-25 21:57] david-waltermire-nist commented on #143
@iMichaela Regarding your comments above:

1) The titles in the OSCAL catalog appear to be correct. The are not concatenated as in SP 800-53 rev4. I searched for a case where they might be and could not find any. Please post an issue with specific instances if you find any.
2) We have issue #190 to address better documentation on the use of parameters. The label use in your second and third exampl

[2018-05-25 22:08] david-waltermire-nist opened #192 "Determine authoritative locations for SP 800-53 and FedRAMP OSCAL content"
# User Story:

As an OSCAL content creator or consumer, I need referenced OSCAL SP 800-53 and FedRAMP content to be available in stable locations. Currently some content is emerging as authoritative OSCAL content, but this content still resides in temporary locations, such as the `examples` folder. In order to start producing and relying on "production" versions of OSCAL documents, a more permanen

[2018-05-25 22:28] david-waltermire-nist opened #193 "Schema documentation generation from the Metaschema"
# User Story:

As an OSCAL developer, I can use the metaschema to post documentation and examples to pages.nist.gov/OSCAL site.

## Goals:

* Complete support for tagged samples (example code, both XML and JSON) into documentation produced from metaschema. (@wendellpiez)
* Merge existing schema documentation on pages.nist.gov/OSCAL into the metaschema (@wendellpiez @kscarf1)
* Generate pages.nist.

[2018-05-25 22:31] david-waltermire-nist commented on #193
This should also address #139.

[2018-05-26 04:04] iMichaela commented on #143
@david-waltermire-nist  Regarding your comments above:
1. - I have no strong opinion about the concatenation to match the original document - I just listed it as different while reviewing the OSCAL catalog
2. -
![image](https://user-images.githubusercontent.com/13984545/40572295-3737fa58-6076-11e8-8096-88346ff9fedf.png)
If the team disagrees with me,  I respect it, but I would like us to give a fu

[2018-05-29 14:55] anweiss opened #194 "Parameter insertion JSON template syntax"
# User Story:

As an OSCAL producer, I can leverage a pre-defined template syntax for embedding parameter values into JSON-formatted OSCAL artifacts. This syntax would be analagous to the existing `<insert param-id="paramId"/>` inline element construct currently used in XML prose. As an OSCAL consumer, I can interpret, both pre-processed and post-processed, JSON-formatted OSCAL artifacts with para

[2018-05-29 22:42] anweiss commented on #194
A simplistic approach would be to support JSON Pointer ([RFC 6901](https://datatracker.ietf.org/doc/rfc6901)) surrounded by double curly braces. For example:

[code]

`#/params/param4/value` is a JSON pointer that references the string `"paramValue"` in the same document. This could be condensed in a few ways too by making the fragment identifier, `#`, and/or the `params/` and `value/` accessors i

[2018-05-30 21:27] wendellpiez commented on #143
With apologies if this is unhelpful, here's some (not beginner-level) XPath (evaluated over the current SP800-53 catalog XML):

`//control[@id='ac-11']/title` returns "Session Lock"
`//control[@id='ac-11']/string-join((parent::*/title,title),': ')` returns "Access Control: Session Lock"

So the values can be calculated for display.

With regard to the second question, we now actually have two ques

[2018-05-30 21:46] anweiss commented on #185
I'll also add that the examples need to be updated to reflect the latest `param_setting` model defined at https://github.com/usnistgov/OSCAL/blob/master/schema/xml/RNC/oscal-profile.rnc#L57. The model now allows for a more extensive set of elements.

[2018-05-30 22:29] wendellpiez commented on #194
Andrew, this is pretty sweet.

Syntactically, the mapping to XML (where we have `<insert param-id='param4'/>`) is one-to-one (since `param-id` is the only attribute permitted on the element). Whether it's the declared or assigned value that comes back from the call, or something else, I think should be up to the application.

But note how this means also that there will be strong dependencies on v

[2018-05-31 19:47] david-waltermire-nist commented on #190
We noted the following during a previous design meeting, which can be used as a starting point for this issue:
    - label (1)(required) - text from SP800-53rev4
    - desc (0-to-many:catalog + profile) - a textual description of the parameter
    - requirement (0-to-1:profile) - A textual description of a constraint on the allowed values (e.g., every 3 months)
    - value (0-to-1:catalog + profil

[2018-05-31 19:58] david-waltermire-nist commented on #181
@brianrufgsa: @wendellpiez and @david-waltermire-nist will meet on 6/1 to work out locations for schema, schematron, etc. We can provide a punchlist of issues to resolve for this ticket.

[2018-05-31 20:01] david-waltermire-nist commented on #185
#190 will need to address the comment from @anweiss above. @wendellpiez will also need to check that the RNC and metaschema are consistent with this.

[2018-05-31 20:10] david-waltermire-nist commented on #183
Here are a few principles that we previously discussed with regards to the metamodel development:
1. Avoid hand creation and maintenance of schema models (i.e., XML, JSON) at ALL COSTS!
2. Want to maintain all models from a single point of ground truth.
3. Published documentation must be constantly in sync with published models

This can be a start to a larger set of documented principles/decision

[2018-05-31 20:12] brianrufgsa opened #196 "Publication Characteristics"
# User Story:

As an OSCAL content creator, I can provide standardized content within OSCAL files (catalogs, profiles, etc.) that identify publication characteristics.
At a minimum, this would include publication Title, Date, Version Number, and Publishing Organization. Ideally, this also includes contact information for the publishing organization (web site, email address, etc.) and document revi

[2018-05-31 20:22] anweiss opened #197 "Update JSON examples to sync with the latest XML examples"
# User Story:

As an OSCAL maintainer, I've updated the JSON examples to be in sync with the latest XML examples in `master`.

## Goals:

Update the JSON examples based on the latest XML examples in `master` in `examples/SP800-53` and `examples/FedRAMP`.

## Dependencies:

Dependent on #185 and #143. Also requires updates to [`oscalkit`](https://github.com/opencontrol/oscalkit) which are being tra

[2018-05-31 22:17] wendellpiez commented on #175
@brianrufgsa let's assume for sake of argument the 'name' property captures only the last term of a punctuated series (using brackets/parens etc). - a design I think we may agree we should prefer -

[code]

With the inner `part` element as context (that is, assuming we have part ac-2.3_obj_3.1 in our hand and we wish to know how it is labeled), the XPath `prop[@class='name']` will return "(3)" (a

[2018-06-01 19:58] anweiss commented on #40
Can we update this issue to include documenting a general conversion methodology as well? As in, what are the properties of the raw source data that would best map to features 'A', 'B' and 'C' of OSCAL. @wendellpiez essentially taking the approach you've been taking to create the 800-53 and FedRAMP profile examples today and documenting it, but skipping the specifics around XSLT, XProc and other t

[2018-06-06 16:53] brianrufgsa opened #198 "Refine and Clarify Terminology"
# User Story:

As a new OSCAL user, I can clearly understand what is intended by the terminology used int he OSCAL overview diagram without explanation from the OSCAL Team. The intention of words such as "Profile" is clear to me.

## Goals:

1. Revisit the terminology in the overview diagram and adjust if necessary for broadest foreseeable applicability. (Based on what we know now, are these still

[2018-06-07 18:18] wendellpiez commented on #194
**Sprint 11 Progress June 7 2018**

This issue depends on #186. Conversion from the XML syntax to the embedded-in-JSON syntax is straightforward. The conversion the other way will be part of the mardown->XML conversion that will be needed to support (complete) conversion back into XML.

Progress to date: design 100% (see above); implementation 0%

[2018-06-07 18:33] wendellpiez commented on #193
**Sprint 11 Progress June 7 2018**

The metaschema now supports element documentation, and (older) documentation of the catalog model has been merged into the prototype metaschema. The same has to be done for the profile and declarations models. Also, an XSLT can be used to produce HTML documentation from the metaschema, including writing out literal tags for embedded example elements. In turn, th

[2018-06-07 18:36] brianrufgsa commented on #190
Developed a draft diagram and mapping of parameter usage, and discussed with Wendell. Revising and intend to have a final next week. Will continue to coordinate with Wendell to ensure alignment with metashema.

[2018-06-07 18:46] wendellpiez commented on #190
Current models in both schema and metaschema for `param` (appears in catalogs) reflect this. The model for `set-param` (in profiles) is the same except that `label` is optional (the expectation being that it should ordinarily come from the catalog).

What needs to be determined is what happens to these elements in profile resolution. A simple semantics might be that when set for a parameter, any e

[2018-06-07 18:50] wendellpiez commented on #191
Need to coordinate with @david-waltermire-nist on this issue.

This Issue depends on #190 (parameter usage in FedRAMP profiles) or the reverse? If Dave were available for decisions regarding SP800-53 (not FedRAMP) content, these two Issues could be handled together.

[2018-06-07 18:54] wendellpiez commented on #186
**Sprint 11 Progress Report June 7 2018**

Progress on goals

1. Produce XSD and JSON schemas reflecting metaschema models - 100%
1. Develop support for bidirectional XML-JSON conversion on basis of metaschema mapping - 5%

[2018-06-07 19:02] david-waltermire-nist opened #199 "Develop Requirements for the Implementation Layer (focus: System Security Planning)"
# User Story:

As an author of OSCAL implementation layer content , I need a format that is sufficient to capture the data in a System Security Plan (SSP).

## Goals:

Identify goals and requirements for the implementation layer.

## Dependencies:

None.

## Acceptance Criteria

A path forward for development of the OSCAL implementation layer is identified, with a clear description of what work ne

[2018-06-07 19:23] david-waltermire-nist commented on #196
# 2018-06-07 Meeting Notes:

- @brianrufgsa and @wendellpiez will meet the week on 6/11 to work out the data structure needed to support this issue. Fields, data types, and cardinality. This will be posted as a comment on this issue.
- We will review this on the 6/14 status meeting.

[2018-06-07 19:36] david-waltermire-nist commented on #194
While not specific to this issue, some early thoughts on HTML/markdown translation are here: https://github.com/usnistgov/OSCAL/blob/master/docs/schema/html-markdown-format-mapping.md.

[2018-06-07 19:41] david-waltermire-nist commented on #193
# 2018-06-07 Meeting Notes

@wendellpiez will focus on completing this early in the week of 6/11, to include production of examples in the documentation.

[2018-06-07 19:43] david-waltermire-nist commented on #190
# 2018-06-07 Meeting Notes

@brianrufgsa and @david-waltermire-nist will meet to work on this during the week of 6/18.

[2018-06-07 19:44] anweiss opened #200 "Define an allowable subset of markdown syntax for prose"
# User Story:

As an OSCAL maintainer, I have defined an allowable subset of markdown syntax which can be used to express prose. The markdown is subsequently properly encoded in XML and JSON.

## Goals:

A subset of markdown capabilities has been selected from the [official markdown](https://daringfireball.net/projects/markdown/syntax) and flavored/alternative markdown syntaxes (e.g. [CommonMark](

[2018-06-07 19:48] david-waltermire-nist commented on #192
This work is happening in the https://github.com/wendellpiez/OSCAL/tree/feature-metaschema branch.

[2018-06-07 19:52] david-waltermire-nist commented on #186
# 2018-08-07 Meeting Notes
@wendellpiez will create a new feature branch and PR to post the update schema files ASAP.

[2018-06-07 19:57] david-waltermire-nist commented on #184
2018-06-07 Meeting Notes
@brianrufgsa and @PCrayton will advance this issue starting the week of 6/18.

[2018-06-07 20:00] david-waltermire-nist commented on #183
# 2018-06-07 Meeting Notes

We held a design team meeting on 6/6 to discuss this. The notes from this meeting can be found here: https://github.com/usnistgov/OSCAL/blob/feature-roadmap/source/roadmap.html.md. More work is needed to turn this into a readable draft roadmap document.

[2018-06-07 21:06] wendellpiez commented on #193
Now see https://github.com/wendellpiez/OSCAL/blob/feature-metaschema/schema/metaschema/OSCAL-catalog-metaschema-docs.md

[2018-06-07 21:42] anweiss commented on #194
Flagging related issue #200

[2018-06-07 22:28] wendellpiez commented on #186
The `feature-metaschema` branch was so close, that I opted to clean it up and post the PR from there.

[2018-06-08 15:19] wendellpiez opened #202 "Finishing and testing the edges of metaschema support for JSON"
# User Story:

As an OSCAL developer relying on the JSON schemas, I need to have confidence that the constraints they enforce guarantee the fitness of my data for conversion to OSCAL XML (among other uses). Among other things this requires a functional alignment between the constraints over objects and properties expressed in the JSON Schema, and elements and attributes expressed in XSD, so that a

[2018-06-08 15:35] anweiss commented on #202
The work for this issue is already underway. I'll push to a feature branch soon. Essentially, for each metaschema `assembly`, `field`, and `flag` definition, there exists a corresponding unit test. Each test will validate the structure of the JSON schema, including the expected equivalent data types/regex constraints, choices, etc. We can also incorporate checks against ID uniqueness, keeping in m

[2018-06-08 16:45] wendellpiez commented on #202
Awesome @anweiss

wrt key constraints, uniqueness constraints - actually the current metaschema in principle ought to support an in-between model namely enforcing uniqueness of a value only among siblings - which could be useful in cases where there are singleton constraints on flags. :-) But this blurs into the 'OSCAL declarations' model ... currently it supports IDs b/c (as you say) the ecosyste

[2018-06-09 00:19] wendellpiez commented on #200
While I believe that markdown in general defies a CFG, this is largely due to features such as HTML-embedded-in-markdown, or the need otherwise to support arbitrary markup delimiters (angle brackets!) floating around. I would like to see OSCAL's markdown+plus+insertion notation be so small and tight that parsing it becomes (relatively) a non-issue. Indeed all by itself I think this is a reason to

[2018-06-12 16:29] wendellpiez commented on #175
After discussion with @brianrufgsa we've decided to go with the "screen friendly" version, i.e. "[a]" not "AC-2(1)[a]"). Among other reasons, since we have referential integrity (and sequencing) in the @id, we don't need to optimize for addressing, and can favor the display string. I am taking this work item and will forward a revised SP800-53 catalog, with these changes, for him to review and pre

[2018-06-12 16:51] wendellpiez commented on #196
@brianrufgsa has an ERD showing possible metadata fields, which he is forwarding to me. We will aim for something both comprehensive (enough) and lightweight.

[2018-06-12 19:52] wendellpiez commented on #175
I took this on as a work item only to discover one of my assumptions has been wrong -- that this meant changing a decision I had made earlier in (re)formatting the SP800-53 data. It turns out this decision wasn't mine - these values here are as given in NVD XML source for this data, and our pipeline is providing no numbering or formatting support whatsoever, but only passing the values along as gi

[2018-06-13 22:00] wendellpiez commented on #200
This Issue should reference https://github.com/usnistgov/OSCAL/blob/master/docs/schema/html-markdown-format-mapping.md

To note, I also have a (short!) features list for this syntax. I would like to support HTML `<q>`, a valid (if not widely used) inline element useful especially in better-controlled environments (such as ours), where it can be watched. Markdown can be `"quote"` `<q>quote</q>`. We

[2018-06-14 13:58] brianrufgsa commented on #196
**Items for team discussion/agreement:**

- **<title>** as it's own element or grouped with other publication characteristics.
- **Publication date and version.** Since we need a version history, do we simply adopt a standard that the most recent entry in version history represents "this document's" version and date, or do we also explicitly have <version> and <date> elements separate from the ver

[2018-06-14 13:59] brianrufgsa commented on #196
**June 14 Status:**
Developed initial (draft) ERD. Per a suggestion from @wendellpiez, I am updating it to align with the NISO Standard Tag Suite (http://niso-sts.org/).

[2018-06-14 14:02] brianrufgsa commented on #190
**June 14 Status:**
Developed draft diagram to show the evolution of a parameter from initial identification (typically in a catalog), through possible modifications and constraints (typically in a profile), and value assignment in the implementation layer. Solicited input from Wendell. Revising diagram.

[2018-06-15 17:33] david-waltermire-nist commented on #183
I have created an editable version of this branch here: https://github.com/david-waltermire-nist/OSCAL/tree/feature-roadmap. @akarmel please work on edits in this repo.

The roadmap file can be found here; https://github.com/david-waltermire-nist/OSCAL/blob/feature-roadmap/source/roadmap.html.md.

[2018-06-16 18:42] kscarf1 commented on #193
@wendellpiez the URL in your previous status update for this issue doesn't work for me.

[2018-06-16 19:09] wendellpiez commented on #193
@kscarf1 Sorry about that, the file moved - now at https://github.com/wendellpiez/OSCAL/blob/feature-metaschema/schema/metaschema/oscal-catalog-docs.md

There is also https://github.com/wendellpiez/OSCAL/blob/feature-metaschema/schema/metaschema/oscal-profile-docs.md

Both of these are pulled from metaschema source files, next to them in the same directory.

[2018-06-18 15:26] redhatrises opened #203 "Create simple non-XML OSCAL development language"
# User Story:

As an OSCAL developer, maintainer, new member, potential member, new user, etc., I would want a simple non-XML OSCAL specification development language that makes it easy to contribute, extend, and use the OSCAL spec. Using the multiple sources of feedback from SCAP community users about the difficulty of the SCAP specification(s), as an example, the development language of the spec

[2018-06-18 15:35] redhatrises opened #204 "OSCAL specification should be auto-generated in other formats"
# User Story:

As an OSCAL developer, maintainer, new member, potential member, new user, etc. and a follow on to #203, I would want the OSCAL schema to be auto-generated in other formats such as XML, JSON, and YAML. This would allow OSCAL to broaden its audience and reach in the community. It would also allow developers, users, and vendors to use their preferred format-of-choice which would furth

[2018-06-18 16:11] redhatrises opened #205 "Replace OVAL with an imperative lanuage"
#85 asks the question about SCAP integration. With the development of OSCAL, this would be a good time to replace OVAL with an imperative non-XML language. XML is not recommended for machine language and processing it is difficult and too bulky for machine processing. With how OVAL is currently written, it is extremely difficult and complex to handle cases like apache with its multiple includes, c

[2018-06-18 16:35] mpreisler commented on #205
+1

A sandboxed python with well defined limited API that the scanner vendors would have to implement is a good bet I think. Should make security guides much easier to write and debug.

[2018-06-18 16:48] trevor-vaughan commented on #203
Personally, I have no issue with XML at all and, it's actually a great language for transforms into multiple output formats without requiring additional processing.

The issue with SCAP was not XML. The difficulty was that there were no useful GUIs created for manipulating the XML successfully.

To enable *broad* adoption, it has to be easy to use, regardless of the underlying language. For instan

[2018-06-18 16:51] trevor-vaughan commented on #205
-1

There is a reasonable chance that my local security policy will not allow me to deviate from the OS baseline. I can process a markup format in many ways that are probably on my system, I may not be able to use a given language or version of a language.

An API should be implemented with plugins for all of the most common scripting languages in use at this time if this is a route that we want t

[2018-06-18 16:53] trevor-vaughan commented on #205
@redhatrises There is currently a project for this called [InSpec](https://www.inspec.io/) that the [SIMP project](https://github.com/NationalSecurityAgency/SIMP) moved to because the present OVAL implementations were not flexible enough for end users.

[2018-06-18 18:40] anweiss commented on #153
Hey @wendellpiez, is there a way to execute a transformation using the CLI to achieve the same mocking context behavior that one gets with XSpec `<x:context>`? So for example, I'd to be able to do the following:

    $ echo '<title>Three Controls from SP800-53</title>' | java -jar ~/saxon/saxon9he.jar -s:- -xsl:oscal-catalog-xml-converter.xsl

which returns the following error:

[code]

Instead, I

[2018-06-18 18:54] anweiss commented on #153
@wendellpiez you can take a look at how this is coming together at https://github.com/anweiss/OSCAL/blob/json-tests/lib/XML-JSON/test/features/produce_json_from_xml.feature. The actual implementation of the test in JavaScript is at https://github.com/anweiss/OSCAL/blob/json-tests/lib/XML-JSON/test/features/step_definitions/produce_json_from_xml_stepdefs.js. It's actually pretty straight forward: r

[2018-06-18 19:17] anweiss commented on #200
@wendellpiez could you maybe put together a grammar for the features you envision so we can use that as a starting point for building upon this issue?

[2018-06-19 15:33] JJediny commented on #200
Based on discussions to date 06/15/2018, the OSCAL JSON schema will support limited Markdown in the `prose` attribute loosely based on Github flavored Markdown:

# To Be Supported (Proposed)

- [ ] Headings
[code]

- [ ] Emphasis
[code]

- [ ] Lists
[code]

- [ ] Links
[code]

- [ ] Quotes
[code]

- [ ] Images
[code]

- [ ] Code/Raw Text
[code]

[code]

# Not Supported (Proposed)

- [ ] Tables
[co

[2018-06-19 17:10] david-waltermire-nist opened #206 "Automatic validation of parameter value using rule-based constraints"
# User Story:

As an OSCAL author, I need the ability to specify a rules language and a corresponding rule in a control parameter constraint.

## Goals:

Provide a structure that allows for the defintion of:
- A rules language by URI, and
- Rule content expressed in the specified rules language.

## Dependencies:

None.

## Acceptance Criteria

- The new constraint structure must allow for automat

[2018-06-19 17:56] anweiss commented on #206
@david-waltermire-nist can you also clarify whether or not this is analogous to co-occurrence constraints?

[2018-06-19 19:36] david-waltermire-nist commented on #204
@redhatrises We are working on a metaschema implementation (#186, #193, #202), which allows us to generate XML and JSON schema, XML and JSON schema documentation, and converters capable of round-tripping between XML and JSON. This work is laying the foundation to support additional formats in the future using the same general approach. We are currently working to migrate to this metaschema approac

[2018-06-19 19:39] david-waltermire-nist commented on #204
We are also making sure that metaschema utilities that generate XML and JSON schema, and documentation are scriptable, allowing a CI/CD system to generate these automatically.

[2018-06-19 19:44] david-waltermire-nist commented on #205
IMHO, we have way too much to do around control assessment in this project to work on a new language. I think the best way forward is to make how OSCAL references mechanisms for deploying and verifying a configuration related to a control modular. That way software and service providers, and system implementations that provide OSCAL content can make use of the appropriate mechanisms that are commo

[2018-06-19 19:48] redhatrises commented on #203
@david-waltermire-nist this request is to make this repo (not the resultant schema content) non-XML. Sorry for the confustion as I don't think that I was clear originally.

This is actually not true either. Multiple feedback sources have expressed this for SCAP, and it explicitly being in XML. XML also makes tooling much harder and difficult to create hence the lack of useful GUIs and tools.

It f

[2018-06-19 19:52] redhatrises commented on #205
@trevor-vaughan InSpec is not vendor neutral. But @david-waltermire-nist is correct with how much other stuff needs to be done first. Maybe this gets passed on to Chef, Ansible, Saltstack, GPOs, etc. rather than creating something new, and the content just says how to use these technologies to check and validate that something has been changed correctly.

[2018-06-19 20:01] david-waltermire-nist commented on #206
@trevor-vaughan Some simple examples might be checking if the provided value is in a specific numeric range, matches a pattern, etc.

@anweiss This is not a co-occurrence constraint, since it is a constraint on a single data value, not a relationship between data values.

[2018-06-19 20:09] trevor-vaughan commented on #205
@redhatrises It appears to be vendor neutral as far as I can see in terms of an open community, FOSS, etc... You suggested a sandboxed Python stack, it's a sandboxed Ruby stack so, besides the language being used, seems to meet the original suggestion.

I think that specification should happen here and implementation should happen elsewhere. To do otherwise would be stepping into spaces that alrea

[2018-06-19 21:18] david-waltermire-nist commented on #203
@redhatrises I don't think that we need to make the repo non-XML to address your concerns.

A key philosophy of this project is to be multi-format. Our priority has been to make equivalent formats for all of our models in XML/XHTML and JSON/Markdown. Both formats are first-class OSCAL representations, allowing seamless translation between the two. The provides for the following:

1. An implementer

[2018-06-19 21:20] trevor-vaughan commented on #203
@david-waltermire-nist As an aside, the only reason I like YAML over JSON is the ability to add comments. It's also why I don't mind simple, well formatted, XML.

*Simple* XML isn't an issue, it's when teams try to drag the world in that things become a mess.

[2018-06-19 21:23] david-waltermire-nist commented on #205
@trevor-vaughan and @redhatrises, I share the notion that we should focus efforts on the specification here and allow for implementation elsewhere. Ongoing work on improving documentation is needed to support this.

[2018-06-19 21:36] wendellpiez commented on #175
Actually now see commit b0b8943ee59cf408fde964c21036a0b62176714c - wherein names (labels) of subcontrols are *not* rewritten, only labels of items and subitems at various levels inside controls or subcontrols.

FWIW, we could polish this further by changing these from `<prop class="name">[1]</prop>` to `<prop class="label">` which could be more accurate. (In NVD XML it is 'number' which is perhaps

[2018-06-19 21:44] wendellpiez commented on #175
@david-waltermire-nist please also check the ad-hoc `@id` I added to this catalog? (which can be adjusted) it is `NIST_SP-800-53_rev4_catalog.20180619`

[2018-06-19 22:30] brianrufgsa commented on #175
I like the change to label as well.

On Tue, Jun 19, 2018 at 5:39 PM David Waltermire <notifications@github.com>
wrote:

--
Best Regards,
Brian J. Ruf, CISSP, PMP
FedRAMP PMO
703-625-3702 (Direct/Cell)

[2018-06-20 17:31] brianrufgsa commented on #181
Pull request #207 addresses this.
Establishes htts://githib.com/usnistgov/OSCAL/pub for all published files.
Further establishes ./nist.gov and ./fedramp.gov for 800-53 and FedRAMP files respectively.

#Example:
The following would appear in the 800-53 High and FedRAMP High Profiles
`<import href="htts://githib.com/usnistgov/OSCAL/pub/nist.gov/NIST_SP-800-53_rev4_catalog.xml"> `

[2018-06-20 18:31] brianrufgsa opened #208 "FedRAMP Profile Content Enhancements"
# User Story:

As an OSCAL publisher, I would like to differentiate a "guideline" from an added "requirement" using different part @class references, so that users of the OSCAL file can more clearly understand what they must do vs what they are encouraged to do.

I would like to do this for the whole control, a part of a control (ie. a. 1.), and/or an individual parameter.

## Goals:

1. Establish

[2018-06-20 18:56] brianrufgsa commented on #185
Status: Complete
Peter and Brian have modified the Tool and internal data for generating FedRAMP baseline profiles. The profiles are now resolved with respect to the issues listed here.

** JUST NEED TO RE-PUBLISH / MERGE

[2018-06-20 19:55] trevor-vaughan commented on #208
@brianrufgsa Would it be feasible to map these to [RFC-2119](https://www.ietf.org/rfc/rfc2119.txt) for automated ontology processing in the future?

[2018-06-20 20:35] shawndwells commented on #204
Reviewed the metaschema utilities and don't see how they're useful. XML and JSON are output formats, not input.

The example profiles such as FedRAMP High (https://github.com/usnistgov/OSCAL/blob/master/examples/FedRAMP/FedRAMP_HIGH-baseline_profile.xml are 5,000 lines long. Is it really expected people will create 5,000 line profiles from scratch, in XML?

[2018-06-20 20:46] david-waltermire-nist commented on #204
@shawndwells This issue is not about input/output formats. Its about generating schema for supported formats. We should move this conversation to #203, which is about defining alternate editor friendly formats.

The FedRAMP profiles were generated out of a database. They are too large and complex in what they need to do to generated by hand.

FWIW, I agree that editing a complex profile by hand in

[2018-06-20 21:06] wendellpiez commented on #153
@anweiss there is also a "mode" often given on the XSpec context, which indicates a mode of operation to the stylesheet. The mode can also be set on the Saxon CL as IIRC 'initial-mode' or some such. For example, in this case the mode might be "xml2json" (effectively the default mode of this XSLT, but made explicit to facilitate calling this logic from other stylesheets without clashing).

I am not

[2018-06-20 21:16] wendellpiez commented on #200
I would like to start with the barest minimal subset of markdown, leaving out headers and any internal structure such as block quotes other than fenced code blocks, inline elements (bare minimum!) and lists.

This is both for (manifold) practical reasons plus also philosophical reasons: that stuff implies structures that should be expressed in OSCAL (for example by means of nested parts) rather th

[2018-06-20 21:21] wendellpiez commented on #200
@anweiss I have been messing towards a grammar, but I have also (I admit it) been pondering an evil notion of doing the old Perl-style hack-the-tags approach in XSLT. (Basically: sequentially map markdown signals via regex to markup; then try to parse the markup.) If the syntax is small enough this could be effective enough help to stovepipe this issue. (As we already have HTML->md conversion.)

A

[2018-06-20 21:35] anweiss commented on #200
@wendellpiez indeed, let's keep the syntax small. The primary reason I proposed a grammar is to give tool developers a foundation on which to implement our proposed markdown subset. It formalizes it a bit.

[2018-06-20 22:03] wendellpiez commented on #200
@anweiss Agreed 100%. Would love to see a grammar (help wanted?) and even for only part of it, such as the inline level (i.e. w/in `p` or `li` content), leaving the block level parsing to be hacked.

[2018-06-20 22:08] anweiss commented on #200
Happy to help. Can you list out exactly what you have in mind so we can come to a consensus on @JJediny's proposed items?

[2018-06-20 22:15] wendellpiez commented on #193
**Sprint 11 Progress**

With apologies, there has been further "adjustment" in the locations of things. Indeed final locations are not absolutely fixed.

At the moment, markdown versions of documentation for both XML- and JSON-formatted OSCAL are located next to the (generated) schemas. Functionality is reasonably complete. Data (the documentation itself) is coming along (subject to changes due to

[2018-06-20 22:32] wendellpiez commented on #200
@david-waltermire-nist has already produced his take on this. Personally I am agnostic to the b-vs-strong, i-vs-em question, though I guess I'd lean towards the explicitly presentational (rather than putatively-though-not-necessarily-actual "semantic"), so:

* parameter insertion point
* `b` (or `strong`)
* `i` (or `em`)
* my favorite underutilized HTML tag, `q` (very useful)
* `code`
* simple inl

[2018-06-21 13:50] brianrufgsa commented on #208
@trevor-vaughan - that's an interesting idea. I typically align with this terminology in prose for policy and process documentation. The OSCAL classes I suggested here are consistent with classes used in several other areas of OSCAL. Adopting it would mean re-working other OSCAL areas as well. That said, I can certainly raise your suggestion with the larger team, to see if there is interest.

[2018-06-21 13:52] trevor-vaughan commented on #208
@brianrufgsa My biggest concern is that the project would be creating another set of terms that don't match what has been used and expected in industry per the referenced RFC. If there's another NIST document that defines a different set of terms, then that makes sense but, to me, having a new set of terms does not make sense.

[2018-06-21 14:00] brianrufgsa commented on #175
**June 21 Status**: Dave, Brian, and Wendell discussed this on June 19. The final agreement was to just capture the last portion of the label (ie. just "1.", not "AC-1.a.1."). I believe Wendell has already made these changes.

As a follow-up Wendell suggested using `<prop class="**label**">[1]</prop>` instead of `<prop class="**name**">[1]</prop>`
Dave and Brian agreed with that change as well.

[2018-06-21 14:04] brianrufgsa commented on #181
**June 21 Status**: The modification is made and the pull request is pending.
The official location for all _published_ OSCAL files (Profiles, catalogs, and supporting files) is now:
`https://githib.com/usnistgov/OSCAL/pub`

I created a `nist.gov` sub-folder for the NIST SP 800-53 r4 catalog and related profiles.
I also created a `fedramp.gov` sub-folder for the FedRAMP High, Moderate, and Low pro

[2018-06-21 14:09] anweiss commented on #197
**June 21 Status:** PR #195 includes updated examples for 800-53 catalog and profiles. Waiting on #144 before pushing updated FedRAMP profile examples.

[2018-06-21 14:13] anweiss commented on #153
**June 21 Status:** Per previous comments, JSON unit tests are being developed in a feature branch, [`anweiss/json-tests`](https://github.com/anweiss/OSCAL/tree/json-tests). Once #202 is complete, will push a PR with tests.

[2018-06-21 14:19] anweiss commented on #94
**June 21 Status:** No updates on my end.

[2018-06-21 14:23] anweiss commented on #125
**June 21 Status:** The metaschema and its associated tooling is now being used to generate JSON and JSON schema based on the existing "1:1" mapping model; which is not currently the best looking JSON/JSON schema. Work to refine the metaschema such that more structured and condensed JSON/JSON schema is produced will be completed in the next Sprint.

[2018-06-21 15:03] wendellpiez commented on #200
Additional note: to be complete, a markdown syntax must support escaping magic characters, agreed? Also, failure behavior (what happens if markdown fails to conform to the grammar) must be specified. Finally (today?), food for further thought - rather than binding to (reflecting a model for) HTML, maybe a full-fledged OSCAL markdown should bind to OSCAL, or to a subset of OSCAL (such as limiting t

[2018-06-21 16:02] JJediny commented on #200
To support:
[code]
Not supported:
- tables
- references/footnotes
- horizontal rule

@wendellpiez while agree headings should be discouraged, the functionality should still be supported.

[2018-06-21 16:09] anweiss commented on #200
@JJediny can you maybe put the markdown syntax in its own column, and split the `JSON/YAML` column into two, with one showing the encoded markdown in a JSON string, and the other showing encoded markdown in a YAML string? This will just highlight any dependencies on special characters that may need to be properly escaped/quoted in JSON and YAML.

[2018-06-21 17:32] JJediny commented on #199
For discussion only:
the `Component` modularity could adopt the concepts from OASIS TOSCA topology and relationship types:
http://docs.oasis-open.org/tosca/TOSCA-Simple-Profile-YAML/v1.2/TOSCA-Simple-Profile-YAML-v1.2.html

[2018-06-21 18:57] akarmel commented on #183
**6/21/2018 - Sprint 11 Status Report**
- **Goal 3**: Completed updates to OSCAL roadmap - ready for review:  https://github.com/david-waltermire-nist/OSCAL/blob/feature-roadmap/source/roadmap.html.md.

[2018-06-21 19:18] david-waltermire-nist commented on #193
# 6/21/2018 Status

1. The mechanism for generating XML and JSON documentation is close to done and mostly working.
1. The catalog documentation from pages.nist.gov has been merged into the metaschema, with some enhancements. Profile documentation still needs to be merged.
1. Examples still need to be merged. Many new examples are needed.
1. The documentation framework for pages needs to be update

[2018-06-21 19:23] david-waltermire-nist commented on #194
# 6/21/2018 Status

- Need to document this approach as part of the larger JSON/Markdown syntax (#200).
- Consensus is around using the ```{{ param4 }}``` form. Need to document how to use this form and how to escape the "{{" characters when this literal string needs to appear in text.

[2018-06-21 19:25] david-waltermire-nist commented on #175
# 6/21/2018 Status

This issue is complete and is posted as part of PR #201.

[2018-06-21 19:33] wendellpiez opened #209 "Update declarations for SP800-53"
# User Story:

As an OSCAL user and developer, I can see some inconsistency between artifacts and how they are represented. In particular, I notice that since recent changes (Sprint 11), the SP800-53 catalog does not presently validate against its (own) declarations, since its tagging/contents have changed (#175) in detail. (It validates against the Catalog XSD but that is a different matter.)

##

[2018-06-21 19:41] david-waltermire-nist commented on #186
# 6/21/2018 Status

- The README in #201 build/metaschema needs to be updated on how to use the stylesheets for this.
- We also need to document the features of the metaschema.

[2018-06-21 20:09] david-waltermire-nist commented on #190
# 6/21/2018 Status
- Work is mostly done on documenting parameters in the catalog. Some fields remain to be documented.
- Profile documentation for parameters has not been started. This should echo what is documented at the catalog level, but should be applied to set-param.
- @kscarf1, @wendellpiez, @PCrayton , and @david-waltermire-nist need to meet to discuss the way forward.

[2018-06-21 20:17] david-waltermire-nist commented on #181
# 6/21/2018 Status
- Once PR #201 is accepted, a new PR needs to be submitted with these changes. This will ensure all schema references are consistent with the new directory structure.

[2018-06-21 20:18] david-waltermire-nist commented on #185
# 6/21/2018 Status
This is ready to be pushed once PR #201 is accepted.

[2018-06-22 17:48] wendellpiez commented on #191
We addressed this in the working session 2018-06-22. Labels (`label`) are now optional in parameters, with a documented recommendation that they be used always when other information (such as a selection) is not available. An improved copy of SP800-53 is in PR #201.

[2018-06-25 19:50] wendellpiez commented on #193
The transformations now target the markdown usage currently on the pages so things are now as good as I can make them without staging and testing them. @anweiss please remind me where I will find hints? You have helped me with this in the past. (But ideally we would do this somewhere visible to everyone.)

FWIW future iterations of this docs pipeline could deliver HTML/CSS, letting us face the bro

[2018-06-25 19:54] anweiss commented on #193
@wendellpiez you can find the current pages.nist.gov/OSCAL schema reference markdown structure in https://github.com/usnistgov/OSCAL/tree/docs/source/includes/schema. There are some nuances to the way that Slate interprets and parses headers, anchor links, and ordering of elements. You can find the official reference at https://github.com/lord/slate/wiki/Markdown-Syntax.

[2018-06-26 13:06] akarmel opened #211 "OSCAL Documentation Guidelines"
# User Story:

As an OSCAL developer, I have clear guidelines around how I should produce and publish documentation to describe my contribution.

## Goals:

- Ensure clear, consise guidance exists for OSCAL developers on how code should be documented (@david-waltermire-nist)

## Dependencies:

None

## Acceptance Criteria

1. Documentation guidelines have been reviewed by the OSCAL Team
1. Documen

[2018-06-26 13:22] akarmel opened #212 "Update OSCAL Catalog and Profile schema documentation"
# User Story:

As an OSCAL content consumer, I have clear, concise and descriptive documentation describing the Catalog and Profile layers of OSCAL.

## Goals:

1. Develop clear, concise and descriptive documentation describing the OSCAL Catalog with input from the OSCAL Team (@PCrayton with review from @david-waltermire-nist @wendellpiez )
1. Develop clear, concise and descriptive documentation d

[2018-06-26 13:29] akarmel opened #213 "OSCAL Implementation: Core System Metadata"
# User Story:

As an OSCAL system owner and/or administrator, I can capture the core metadata of my system to include contact details, identifying information, and other system characterization details.

## Goals:

Develop a OSCAL Implementation schema that supports the capture of core system metadata

[code]
## Dependencies:

None

## Acceptance Criteria

1. OSCAL Implementation schema has been d

[2018-06-26 13:34] akarmel opened #214 "OSCAL Implementation: System Specification"
# User Story:

As an OSCAL system owner and/or administrator, I am able to use an OSCAL implementation "_System Specification_" (per the diagram below) to define the components of my system. A component is an element of a system that performs a standalone function that implements a specific set of controls or parts of controls. A component can be a technical element, policy, process, or procedure.

[2018-06-26 13:36] akarmel opened #215 "OSCAL Implementation: Component Specification"
# User Story:

As an OSCAL system owner and/or administrator, I am able to use an OSCAL implementation "_Component Specification_" (as per the diagram below) that identifies the specific controls or parts of controls from an OSCAL Profile supported by a component in an OSCAL implementation. These controls will align with the OSCAL Profile selected for the system or capability.

## Goals:

1. Per t

[2018-06-26 13:39] akarmel opened #216 "OSCAL Implementation: Component Definition"
# User Story:

As an OSCAL component owner or provider, I am able to publish an OSCAL "_Component Definition_" (as per the diagram below) that associates a component in an OSCAL implementation with an OSCAL Profile, identifying the specific controls or parts of controls implemented by the component from the Profile. Mappings to multiple Profiles can be handled either through multiple mappings in a

[2018-06-26 13:43] akarmel opened #217 "OSCAL Implementation: Capability Specification"
# User Story:

As an OSCAL system owner and/or administrator, I am able to compose/aggregate a set of defined "_Components_" into a "_Capability_" (as per the diagram below). "_Capabilities_" implement a specific set of controls or parts of controls, which may include controls not addressed completely by an underlying "_Component_".

## Goals:

1. Per the following representative diagram describin

[2018-06-26 14:57] wendellpiez opened #218 "Resolving possible anomalies in SP800-53 catalog"
# User Story:

As an OSCAL user and SP800-53 user, I require confidence that the OSCAL SP800-53 catalog is complete and correct not only with respect to its content but also its structure.

## Goals:

Address some possible remaining (structural) anomalies in the OSCAL version of SP800-53. (These became apparent after data improvements in #175.)

## Dependencies:

Stable models. Clear decision-maki

[2018-06-26 15:54] wendellpiez commented on #209
Since commit 7be48c86daccbcbe96a4a34d54f33a8c8a8f1ac4 the SP800-53 catalog is now valid again to its declarations file. However, this Issue may need to be revisited in view of possible changes to the catalog resulting from #218.

[2018-06-27 14:19] wendellpiez commented on #196
Note that while the model above could also be parts and properties (`part | prop`), reserving a separate element set for document metadata (not any sort of control contents) may make sense here.

Another thing to note is that whatever this is, it could be a utilitarian approach to one of the commonest sets of metadata requirements, namely keywords, index terms, controlled reference vocabularies an

[2018-06-27 16:12] wendellpiez commented on #196
Work is proceeding in a new branch, with a commit here (very much WIP this mockup isn't even valid yet): 0d81459f5c37d2a6278a4ed01767c8dd5517c19f

[2018-06-27 22:53] kscarf1 commented on #190
June 27, 2018 status: Standing by to help when needed.

[2018-06-27 22:53] kscarf1 commented on #193
June 27, 2018 status: Standing by to help when needed.

[2018-06-27 22:53] kscarf1 commented on #212
June 27, 2018 status: Standing by to help when needed.

[2018-06-28 13:55] wendellpiez commented on #209
Since commit 7be48c86daccbcbe96a4a34d54f33a8c8a8f1ac4 the SP800-53 catalog is now valid again to its declarations file. However, this Issue may need to be revisited in view of possible changes to the catalog resulting from #218.

[2018-06-28 14:44] wendellpiez commented on #186
**Sprint 11 Progress Report, June 28 2018**

The readme.md file looks better than it did. Also, there is a new markdown file with an initial cut at some metaschema documentation.

https://github.com/wendellpiez/OSCAL/blob/feature-metaschema/build/metaschema/readme.md
https://github.com/wendellpiez/OSCAL/blob/feature-metaschema/schema/metaschema/design-notes.md

Both are included in PR #201. Howeve

[2018-06-28 14:51] wendellpiez commented on #196
For current WIP, see https://github.com/wendellpiez/OSCAL/tree/feature-metadata-schema/schema/xml especially `metadata-blank.xml` (a sample), and also the file `oscal-metadata-metaschema.xml` in the neighboring `metaschema` directory.

Things are valid, hanging together, and ready to try out on real data.

[2018-06-28 15:04] wendellpiez commented on #190
Likewise. :+1:  This is on tomorrow's agenda as well.

[2018-06-28 15:14] wendellpiez commented on #193
**Sprint 11 Progress Report: June 28 1962**

As far as concerns functional requirements for production of the documentation, all the acceptance criteria have been met, except the implicit one -- actually to complete the merge and move the Pages site to the new metaschema-based docs production model. This is (I believe) the primary agenda item for tomorrow's meeting.

A second agenda item is to con

[2018-06-28 18:23] redhatrises commented on #203
@david-waltermire-nist sorry for the late reply on this, but I would definitely be willing to contribute work on this as well as join the sprint team. Let me know what I need to do.

[2018-06-28 18:32] david-waltermire-nist commented on #203
Send me email. I’ll add you to the meeting invites for our sprint team.

[2018-06-28 18:36] brianrufgsa commented on #196
June 28 Status: As indicated by @wendellpiez above, Wendell, Brian, and Peter met to discuss this on June 26th and reached a proposed draft baseline. Next step is to seek concurrence from Dave.

[2018-06-28 19:14] iMichaela commented on #197
## June 28 Meeting Status Update ##
The issue moved to review.
A user story might be needed to verify the different JSON tools align

[2018-06-28 19:20] iMichaela commented on #194
## June 28 Status Meeting Update ##
This will be discussed again during the June 29 meeting. A decision will be made then.

[2018-06-28 19:21] iMichaela commented on #190
## June 28 Status Meeting Update ##
This will be discussed again during the June 29 meeting. A decision will be made then.

[2018-06-28 19:31] iMichaela commented on #185
## June 28 Status Meeting Update ##
This issue is done as much as possible at this time. Some publication characteristics need to be settled.

[2018-06-28 19:33] iMichaela commented on #181
## June 28 Status Meeting Update ##
Addressed in the PR #201. Will be completed when this PR is addressed.

[2018-06-28 19:34] iMichaela commented on #191
## June 28 Status Meeting Update ##
Addressed in the PR #201. Will be completed when this PR is addressed.

[2018-06-28 19:37] iMichaela commented on #196
## June 28 Status Meeting Update ##
@brianrufgsa , @wendellpiez and @PCrayton worked on it on June 26th - see above

[2018-06-28 19:56] iMichaela commented on #212
# 6/28/2018 Status #
Reviewed the user story to reflect the scenario discussed during the meeting.

[2018-06-28 19:58] iMichaela commented on #211
## 6/28/2018 Status ##
Reviewed the user story to reflect the scenario discussed during the meeting.

[2018-06-28 20:17] iMichaela commented on #214
## 6/28/2018 Status ##
Reviewed the user story to reflect the scenario discussed during the meeting.

[2018-06-28 20:30] iMichaela commented on #215
## 6/28/2018 Status ##
Reviewed the user story to reflect the scenario discussed during the meeting.

[2018-06-28 20:33] iMichaela commented on #216
## 6/28/2018 Status ##
Reviewed the user story to reflect the scenario discussed during the meeting.

[2018-06-28 20:39] iMichaela commented on #217
## 6/28/2018 Status ##
Reviewed the user story to reflect the scenario discussed during the meeting.

[2018-06-28 20:44] shawndwells commented on #216
On 6/28/18 4:33 PM, Michaela Iorga wrote:

Out of curiosity, what meeting? Have been monitoring GitHub and various
mailing lists in hopes of learning if/when OSCAL community calls and
meetings are. Did I miss an announcement/invite?

[2018-06-28 23:03] iMichaela commented on #216
@shawndwells: The meetings mentioned in our comments are NIST-internal meetings. Thank you for your interest in our project. We are very interested in collaborating, in different ways, with other parties. Please let me or @david-waltermire-nist know in which way would you like to support our effort, and we will integrate you.

[2018-07-02 23:08] redhatrises commented on #203
@david-waltermire-nist sent you an email.

[2018-07-13 16:25] anweiss opened #220 "Define a version/revision data element for catalogs and profiles"
# User Story:

As an OSCAL catalog and/or profile producer, I should have a way to include the version/revision of my catalog and/or profile directly within the OSCAL artifact as an appropriate flag/element. Today, the version/revision can only be articulated in the `title` element and/or the artifact file name itself per the naming conventions proposed in `example-naming-conventions.md` in PR #20

[2018-07-18 00:29] anweiss opened #221 "ID conventions for OSCAL document"
# User Story:

As an OSCAL content creator and/or user, I can refer to a set of clear and concise conventions for the use of the `id` attribute in an OSCAL document.

## Goals:

The only constraint on the `id` attribute in an OSCAL document today is that it conforms to the `xsd:ID` type; meaning that it must start with a letter or underscore, and can only contain letters, digits, underscores, hyph

[2018-07-18 17:19] iMichaela commented on #191
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
PR #201 is awaiting review from @david-waltermire-nist and/or @iMichaela

[2018-07-18 17:20] iMichaela commented on #185
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
PR #201 is awaiting review from @david-waltermire-nist and/or @iMichaela

[2018-07-18 17:21] iMichaela commented on #181
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
PR #201 is awaiting review from @david-waltermire-nist and/or @iMichaela

[2018-07-18 17:29] iMichaela commented on #212
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
The issue was not assigned to any member of the team in Sprint 12 and we will push the issue to Sprint 13

[2018-07-18 17:30] iMichaela commented on #213
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
The issue was not assigned to any member of the team in Sprint 12 and we will push the issue to Sprint 13

[2018-07-18 17:30] iMichaela commented on #214
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
The issue was not assigned to any member of the team in Sprint 12 and we will push the issue to Sprint 13

[2018-07-18 17:30] iMichaela commented on #216
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
The issue was not assigned to any member of the team in Sprint 12 and we will push the issue to Sprint 13

[2018-07-18 17:31] iMichaela commented on #217
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
The issue was not assigned to any member of the team in Sprint 12 and we will push the issue to Sprint 13

[2018-07-18 17:31] iMichaela commented on #218
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
The issue was not assigned to any member of the team in Sprint 12 and we will push the issue to Sprint 13

[2018-07-18 17:41] iMichaela commented on #196
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
@wendellpiez has a model that needs review. He will submit shortly a PR.

[2018-07-18 17:45] iMichaela commented on #193
## July 18 Status Update (Sprint 12 Acceptance Meeting) ##
The issue is waiting for review from @david-waltermire-nist and/or @iMichaela

[2018-07-18 17:54] iMichaela commented on #190
July 18 Status Update (Sprint 12 Acceptance Meeting)
The issue depends on #193 which is waiting for a review from @david-waltermire-nist and/or @iMichaela

[2018-07-18 17:58] iMichaela commented on #186
July 18 Status Update (Sprint 12 Acceptance Meeting)
The issue is waiting for a review from @david-waltermire-nist and/or @iMichaela

[2018-07-18 21:43] wendellpiez commented on #196
A schema and demo file for a lightweight tag set for document-level metadata is here in a branch in my repo:

https://github.com/wendellpiez/OSCAL/tree/feature-metadata-schema/schema/xml

In the neighboring `metaschema` directory is a metaschema (valid to current models afaik) describing this schema. (Note that currently, all the schemas live together, as do metaschemas etc. We might wish to chang

[2018-07-26 19:50] iMichaela commented on #181
## 7/25/2018 Status Meeting ##
PR #201 was accepted, @wendellpiez needs to submit a **new PR** with these changes. This will ensure all schema references are consistent with the new directory structure.

[2018-07-31 14:39] iMichaela commented on #175
## 7/25/2018 Status ##
PR #201 was reviewed and merged but this work does not appear to be part of the PR #201. PR #201 has no XML examples at all.

[2018-07-31 14:48] anweiss commented on #175
@iMichaela it looks like the XML examples were moved into the [`content/`](https://github.com/usnistgov/OSCAL/tree/master/content) folder. I opened #222 to do the same for the JSON examples.

[2018-08-02 19:28] #175 closed

[2018-08-02 19:31] anweiss opened #224 "Metaschema supports common text markup across XML and JSON"
# User Story:

As an OSCAL producer, I can include the same text markup that is lossless in its representation across both XML and JSON OSCAL documents.

## Goals:

The metaschema should support lossless text markup conversions between XML and JSON OSCAL documents. It should produce XSD and JSON schema that can validate the same text markup in both XML and JSON.

## Dependencies:

Follow on to #18

[2018-08-02 19:31] david-waltermire-nist commented on #183
Status: Waiting for review.

[2018-08-02 19:32] david-waltermire-nist commented on #193
Completed by PR #201.

[2018-08-02 19:32] #193 closed

[2018-08-02 19:35] david-waltermire-nist commented on #125
This was addressed by PR #201. Follow on work will be addressed by #186 and #202.

[2018-08-02 19:35] #125 closed

[2018-08-02 19:36] #186 closed

[2018-08-02 19:39] david-waltermire-nist commented on #185
@PCrayton and @brianrufgsa will review this issue to verify that the work has been completed. Once verified, we will move this to under review.

[2018-08-02 19:41] david-waltermire-nist commented on #181
The ```examples``` directory has been moved to the ```content``` directory. This will be verified as part of #185.

[2018-08-02 19:43] david-waltermire-nist commented on #191
This was addressed by PR #201. Closing this issue.

[2018-08-02 19:43] #191 closed

[2018-08-02 19:44] david-waltermire-nist commented on #196
# Status Update
This is still a work in progress by @wendellpiez based on feedback from @brianrufgsa.

[2018-08-02 19:55] anweiss commented on #10
@david-waltermire-nist we can probably close this issue

[2018-08-02 19:56] #10 closed

[2018-08-02 19:57] anweiss commented on #19
@david-waltermire-nist this can probably be closed in favor of #186

[2018-08-02 19:58] anweiss commented on #39
@david-waltermire-nist should this be closed in favor of #218?

[2018-08-02 19:59] anweiss commented on #17
@david-waltermire-nist can this be closed as it's being addressed by the metaschema work?

[2018-08-02 20:00] anweiss commented on #77
@david-waltermire-nist should we move/replace this issue?

[2018-08-02 20:00] anweiss commented on #84
@david-waltermire-nist should this be moved/replaced by one of the more recent "implementation" issues created?

[2018-08-09 18:36] PCrayton commented on #212
8/9/18 Status
1. Created a rough draft of the catalog documentation. 40% Complete
2. Created outline of the profile documentation. 20% Complete
Issues: None at this time.

[2018-08-09 19:08] anweiss commented on #139
**August 9 Status:** This is dependent on refinements to the metaschema to clean up JSON schema and documentation outputs per #186 and #202.

[2018-08-09 19:13] anweiss commented on #197
**August 9 Status:** This is still being worked on. Tweaks to the external `oscalkit` tool are being made to account for changes to the schemas merged in #201. At the moment, `oscalkit` creates JSON examples by ingesting the original XML examples. Unlike some of the utility XSLT that's been developmed, `oscalkit` doesn't yet have the capability to take raw data and produce XML or JSON examples.

[2018-08-09 19:15] anweiss commented on #194
**August 9 Status:** No updates. This is still dependent on #224.

[2018-08-09 19:42] david-waltermire-nist commented on #181
This has been addressed in PR #201. Closing this and leaving #185 open related to PR #225.

[2018-08-09 19:42] #181 closed

[2018-08-17 14:38] wendellpiez commented on #221
I will produce a stylesheet to help us scan and validate ID (values and format) against their components (document position, label, and type - which may or may not always align). This will give us some leverage for designing a robust ID assignment protocol, which will reflect all the requirements.

Final resolution of this issue may require some emendation/"correction" of the source data see #218.

[2018-08-17 14:43] wendellpiez commented on #221
NB also @anweiss asks important questions regarding confidence that these IDs can have universal scope not only document scope. To support this, we need *at least* to be able to enforce robust identifiers at the top level as well.

[2018-08-17 15:07] wendellpiez opened #226 "Making links (dependencies) within SP800-53 explicit?"
# User Story:

As an OSCAL user and system builder, I should be able to see how the different parts of SP800-53 catalog relate to one another. And the most important of those relationships should be explicit, consistenly expressed, and machine-processable.

## Goals:

The SP 800-53 catalog is structurally complex, in that Assessments and Objectives are described separately (in an appendix) but str

[2018-08-20 18:43] wendellpiez commented on #196
Planning meeting for Thursday Aug 20 to review and proceed with making examples.

[2018-08-22 14:45] wendellpiez commented on #218
Example of structural weaknesses in the OSCAL SP800-53 (reflecting similar lack of structure in NVD XML):

![image](https://user-images.githubusercontent.com/1588228/44468964-721e6d00-a5f4-11e8-83c5-4145b773510b.png)

There should be two `part` elements for "a" and "b" inside the "objectives" part, like so:

[code]

This better reflects the "intentional" (implicit) hierarchy of the data in the act

[2018-08-23 18:58] PCrayton commented on #212
8/23/18 Status
Worked today with @wendellpiez on the documentation of catalog elements. Will incorporate Wendell's input into the catalog draft and forward it to @david-waltermire-nist for his review
Issues: None at this time.

[2018-08-23 19:33] iMichaela commented on #220
## Status Meeting: 8/23/2018 ##
More discussions are necessary to create a consistent format that generates a unique identifies. The metadata headers will include a uid.

[2018-08-23 19:36] iMichaela commented on #221
## Status Meeting: 8/23/2018 ##
@wendellpiez , @joshualubell and @iMichaela will meet on Tuesday to discuss this issue.

[2018-08-23 19:43] iMichaela commented on #196
## Status Meeting: 8/23/2018 ##
@wendellpiez and @brianrufgsa met today and made more progress.

[2018-08-23 19:47] iMichaela commented on #194
## Status Meeting: 8/23/2018 ##
No updates. This is still dependent on #224

[2018-08-23 19:49] iMichaela commented on #139
## Status Meeting: 8/23/2018 ##
@anweiss  will take a lead in addressing it.

[2018-08-23 19:50] iMichaela commented on #197
## Status Meeting: 8/23/2018 ##
@anweiss will submit a PR

[2018-08-23 19:55] iMichaela commented on #190
## Status Meeting: 8/23/2018 ##
Little progress was made. @PCrayton is working on the documentation and this user story will be part of the documentation.

[2018-08-23 19:58] iMichaela commented on #185
## Status Meeting: 8/23/2018 ##
This user story was addressed in the PR submitted by @brianrufgsa on August 6.

[2018-08-23 19:58] #185 closed

[2018-08-23 20:00] iMichaela commented on #183
## Status Meeting: 8/23/2018 ##
This user story was addressed in #223 which has been reviewed and merged

[2018-08-23 20:00] #183 closed

[2018-08-28 14:18] anweiss opened #230 "OSCAL profile metaschema is missing an href field definition for the import assembly"
The `import` assembly [defined](https://github.com/usnistgov/OSCAL/blob/master/schema/metaschema/oscal-profile-metaschema.xml#L38) in `oscal-profile-metaschema.xml` is missing an `href` (or equivalent) field definition. As a result, the generated `oscal-profile-schema.xsd` and `oscal-profile-schema.json` schemas are missing an `href` (or equivalent) attribute/property.

CC @wendellpiez

Related to

[2018-08-28 14:39] anweiss opened #231 "Publication information metadata missing from schemas"
The FedRAMP profile examples all include a `publication_information` element with various sub-elements. Is this defined anywhere? It seems to be missing from the metaschema and schemas.

CC @brianrufgsa and @wendellpiez

[2018-08-28 14:41] anweiss commented on #231
Disregard. Already an issue for this #196

[2018-08-28 14:41] #231 closed

[2018-08-30 15:38] wendellpiez commented on #221
**Sprint 13 Progress Aug 30 2018**

Meeting with @iMichaela and @joshualubell Tue Aug 28, we confirmed a strategy:

* Source data (SP800-53A NVD XML source representing Appendix A "Objectives") would be enhanced with a pipeline step providing missing structure (cf #218)
* Labels (names) of objectives will be refactored (rewritten) to reflect implicit structure and relations to other elements (stat

[2018-08-30 15:43] brianrufgsa opened #232 "NIST 800-53 and 800-53A Revision 5 Transition"
# User Story:

As an security practitioner responsible for transitioning my system from NIST SP 800-53 Revision 4 to Revision 5, it would be helpful to have the Revision 5 representation in OSCAL format as soon as possible after the official Revision 5 specification is published.

This transition is a great time to promote the use of OSCAL as having the content in machine-readable format would hel

[2018-08-30 15:43] wendellpiez commented on #218
**Sprint 13 Progress Aug 30 2018**

Tue Aug 28 we discussed this in the context also of #221. We agreed the solution would be to include a transformation step in the extraction pipeline to remediate the data where it lacks structure. I have written and tested an XSLT that does this, which is being deployed as part of the solution to #221

So now the dependency is the other way. Before, #221 depend

[2018-08-30 16:00] wendellpiez commented on #220
Addressing this issue fully may requires resolving some outstanding git issues in my repo in order to confirm all work that should be checked in and merged, has been.

Presently (in one or another version) we expect to handle this issue in several ways:

1. Versioning schemas. OSCAL namespaces and even file references can have versioning behind them. OSCAL catalogs and profiles now (may) have `mod

[2018-08-30 18:34] PCrayton commented on #190
8/30 Status:
Working on properly documenting the use of parameters in the catalog and profile documentation as per Issue #212
Issues: None at this time

[2018-08-30 18:35] PCrayton commented on #212
8/30/18 Status
Working on incorporating input from @wendellpiez and properly documenting the usage of parameters as per Issue #190
Issues: None at this time

[2018-08-30 19:02] anweiss commented on #197
This can be closed once #233 is merged.

[2018-08-30 19:33] iMichaela commented on #220
## 8/30/2018 Status Meeting ##
Candidate solution for a unique identifier of the file could leverage NIST beacon service https://beacon.nist.gov/home

[2018-08-30 19:39] anweiss commented on #216
Notes being compiled in https://hackmd.io/x43sK8IvSyOhW3no7fdh2w?both

[2018-08-30 19:40] iMichaela commented on #216
## 8/30/2018  Status Meeting ##
@wendellpiez , @anweiss @JJediny will continue on refining the prototype model and generate data sets to test against this model.

[2018-08-30 19:43] anweiss commented on #216
My current approach has been to analyze Microsoft's plethora of Audit Reports -> https://servicetrust.microsoft.com/Documents/ComplianceReports. There's a lot of great data in there that spans FedRAMP, ISO, HIPAA, etc. I've been trying to identify the "component definition" equivalents in that data and correlating those equivalents to applicable elements of TOSCA that might be useful in our actual

[2018-08-30 19:51] iMichaela commented on #194
Status Meeting: 8/30/2018
No updates. This is still dependent on #224

[2018-08-30 20:00] iMichaela commented on #139
## 8/30/2018 Status Meeting ##
@anweiss suggests we should focus more on the metaschema (new ticket to be created by @anweiss)  to automatically translate the examples from XML to JSON. @anweiss and @wendellpiez and @david-waltermire-nist will continue working on it.

[2018-08-31 19:42] wendellpiez commented on #221
In my repo there is now a file implementing the ID protocol.

It also has links from Objectives to corresponding items in the control statement.

https://github.com/wendellpiez/OSCAL/blob/WIP-sp800-53-improvement/content/nist.gov/SP800-53/rev4/NIST_SP-800-53_rev4_catalog_PROPOSED.xml

FWIW these IDs are extracted by mapping from given labels, so GIGO, meaning if the link integrity holds up that is

[2018-09-04 16:33] wendellpiez commented on #221
The file at the link above has just been committed again. I am continuing to review and to develop tooling to support review.

Note in particular in objectives there are now `link` elements with pointers to corresponding parts of statements.

[2018-09-04 16:38] wendellpiez commented on #221
Oops there is still at least one glitch see e.g. id value `au-10_smt-.2.a`. Please post any other glitches or issues you see @iMichaela @brianrufgsa while I repair this (and continue testing).

[2018-09-04 16:59] wendellpiez commented on #221
At least that has now been corrected to `au-10_smt.2.a`. More review is probably in order (and I will test some more as well).

[2018-09-04 20:56] wendellpiez commented on #221
More review has been performed and more issues found. Please don't merge just yet. :-)

[2018-09-04 21:09] wendellpiez commented on #221
Okay to consider the latest commit (again) of the file cited above. The data set is passing more and more stringent Schematron tests. (Next will be to write up the specification of the rules being enforced.)

[2018-09-05 20:41] wendellpiez commented on #218
** Sprint 13 Progress Report Sep 5 2018 **

As noted last week, nothing more to report: the improvements to the data extraction have been made and will show up with the acceptance of #221.

[2018-09-05 20:41] wendellpiez commented on #221
** Sprint 13 Progress Report Sep 5 2018 **

Much progress including not only IDs and labels but a few other improvements found along the way. Additionally, a Schematron is now given which confirms the structured numbering.

I am hoping this is 90% done now. It requires review.

[2018-09-06 19:49] david-waltermire-nist commented on #196
# 9/6/2018 Status Meeting

We discussed the following as an example of document metadata. https://www.fedramp.gov/assets/resources/documents/CSP_Continuous_Monitoring_Strategy_Guide.pdf

[2018-09-06 19:57] david-waltermire-nist commented on #221
# 9/6/2018 Status Meeting

This is addressed in PR #229.

[2018-09-06 20:03] david-waltermire-nist commented on #218
# 9/6/2018 Status Meeting

This is addressed in PR #229.

[2018-09-06 20:15] PCrayton commented on #190
# 9/6/18 Status
Shared documentation efforts with @david-waltermire-nist and will include his input into the parameter documentation.

[2018-09-06 20:17] PCrayton commented on #212
# 9/6/18 Status
Shared documentation efforts with @david-waltermire-nist and received his input. Will incorporate it and work with @wendellpiez to set up a proper Github pipeline for production.

[2018-09-12 16:52] wendellpiez opened #235 "Making 'href' required on links"
# User Story:

Whether unlinked links, in general, are a feature or a bug is debatable, but in OSCAL they are a bug:  OSCAL data does not represent data that is "wild" or uncontrolled to the point where they should be tolerable. **link** elements in our data should always have 'href' to simplify downstream processing (even if broken links are always a risk).

## Goals:

Make a 'href' a required at

[2018-09-13 15:56] wendellpiez commented on #226
This may have (should have) been addressed by PR #229.

[2018-09-13 18:45] PCrayton commented on #212
# 9/13/18 Status
Worked with @wendellpiez to set up a Github pipeline for production of documentation. Working on incorporating input from @david-waltermire-nist and @wendellpiez on the catalog and profile schemas.

[2018-09-13 18:50] anweiss commented on #40
@wendellpiez we should revisit https://github.com/usnistgov/OSCAL/issues/40#issuecomment-393993014 and make a new issue tied to it ... it would be great to give folks a general understanding as to how one can go from an original data source to OSCAL ... it also helps to open the door for contributors looking to use the metaschema (or those building external tools) to generate XML and JSON examples

[2018-09-14 20:08] wendellpiez commented on #220
Adding to the work item here that we also need (a redundancy of) links from profiles to their catalogs (supporting hashes etc) as well perhaps from any OSCAL instance to its metaschema resources -- if only because users will need a trail to follow regarding what they are looking at. So far the metaschema is the only link back from the instance to the body of work (docs etc) beyond the XSD itself.

[2018-09-20 17:42] wendellpiez commented on #196
** Sprint 13 Progress Sep 20 2018 **

More progress is available in a branch in my repo including rough cut examples.

Integrating the metadata (meta)schema into catalog and profile (meta)schemas should probably wait until outstanding PRs are accepted.

Percent complete: 60%

[2018-09-20 17:48] wendellpiez commented on #220
**Sprint 13 Progress September 20**

The current draft metaschema for metadata headers includes ample hooks for "two-factor" (and three-factor) cross-checking of document artifacts between IDs, file names and addresses/URIs, nominal URIs, hashes, and controlled identifiers of arbitrary kinds. (cf #196)

See examples here: https://github.com/wendellpiez/OSCAL/tree/feature-metadata-schema/schema/met

[2018-09-20 22:56] anweiss opened #238 "OSCAL safety"
# User Story:

For all OSCAL use cases and personas, I should understand the built-in mechanisms and best practices for the development and consumption of safe and validated OSCAL data.

## Goals:

Today, without any integrity checking mechanisms for the OSCAL data itself along with a lack of mature tooling, OSCAL artifacts are prone to a multitude of vulnerabilities. Command injection, XSRF, buff

[2018-09-24 20:18] anweiss opened #239 "Data elements for JSON consolidation"
This issue is meant to track data elements that would allow for potential consolidation of JSON and JSON schema artifacts. The initial list is as follows:

- [x] hoisting array values into objects whose keys are the unique identifiers in the original array (possible for `props`, `params` and `parts`)

   Original XML snippet:

[code]

   Current JSON equivalent:

[code]

   Proposed JSON restructu

[2018-09-27 13:36] wendellpiez commented on #220
**Sprint 13 Progress September 27**

Because the relevant fields are in the document metadata as well as at the top level, this Issue essentially hangs on #196.

Once #196 is resolved, it should be straightforward to consider the acceptance criteria for this one. (Are the relevant fields present and is their use demonstrated and documented.)

However, this does raise the issue of documentation, as

[2018-09-27 13:44] wendellpiez commented on #221
**Sprint 13 Progress September 27 2018**

It becomes clear that there are really two issues here:

1. Validation of ID design and usage in SP800-53 w/ perhaps documentation
1. Documenting ID usage and semantics in OSCAL irrespective of SP800-53

Since #229 has been merged, the first of these can and should proceed, assuming no outstanding PRs touch the SP800-53 catalog and profiles. (The user comm

[2018-09-27 14:09] wendellpiez commented on #216
**Sprint 13 Progress September 27 2018**

Most work this Sprint on this Issue is represented in notes we have exchanged or not as the case may be. :grin:

However we have made progress - so much that I am (now) thinking that the component definition (not the "declaration") might be potentially very small and simple, and most of the work will be done by modeling "capabilities" either/both within th

[2018-09-27 18:12] anweiss commented on #216
## 09/27/2018 ##

Continuing to prototype with the initial "component definition" [mock-up](https://hackmd.io/x43sK8IvSyOhW3no7fdh2w?view#Component-Definition---Vendor-Provided-%E2%80%9CComponent-Definition%E2%80%9D) that was developed a couple weeks ago. Added a few comments to that working doc.

[2018-09-27 18:27] anweiss commented on #139
## 09/27/2018 ##

Discussed metaschema nuances with @wendellpiez. Refactoring `oscalkit` to automatically generate its own types based on the metaschema. This will enable `oscalkit` to generate code examples per the requirements of this issue; in addition to the XSLT being crafted to do the same.

[2018-09-27 18:29] anweiss commented on #194
## 09/27/2018 ##

No updates at this point. This will be addressed by ongoing fine-tuning of the metaschema.

[2018-09-27 18:30] anweiss commented on #94
## 09/27/2018 ##

Discussed metaschema nuances with @wendellpiez. Refactoring oscalkit to automatically generate its own types based on the metaschema. This will enable oscalkit to generate profile documentation per the requirements of this issue; in addition to the XSLT being crafted to do the same.

[2018-09-27 18:35] iMichaela commented on #196
## 9/26/2018 ##
@wendellpiez prototyped at OSCAL/schema/metaschema/nist-sp800-53-catalog-header.xml the newly proposed metadata. @david-waltermire-nist has concerns with the proposed model. A hash of the referenced catalog is suggested as an alternative, but @brianrufgsa finds it risky.
We will break #196 into smaller issues. We will close this issue after breaking it into smaller issues. We will

[2018-09-27 18:35] #196 closed

[2018-09-27 18:40] iMichaela commented on #212
##9/26/2018##
@PCrayton received feedback from @wendellpiez and need just a little more time (low effort) in Sprint 14.

[2018-09-27 18:42] iMichaela commented on #190
## 9/26/2018 ##
@PCrayton received feedback from @wendellpiez and need just a little more time (low effort) in Sprint 14.

[2018-09-27 18:48] iMichaela commented on #220
## 9/26/2018 ##
#196 is being broken in smaller issues that will also incorporate #220.

[2018-09-27 18:50] iMichaela commented on #218
## 9/26/2018 ##
#229 was accepted and merged

[2018-09-27 18:50] #218 closed

[2018-09-27 18:53] iMichaela commented on #216
## 9/26/2018 ##
This work will continue in Sprint 14. See https://hackmd.io/x43sK8IvSyOhW3no7fdh2w?view for progress.

[2018-09-27 18:55] david-waltermire-nist opened #240 "Design a set of user stories that address OSCAL document implementation and maintenance issues"
# User Story:

As an OSCAL developer, I need clear requirements on how to address a number of OSCAL document implementation and maintenance issues. The OSCAL development team needs to collaborate on a generalized solution to the following problems that will work across OSCAL serialization formats:

- How to provide reference integrity for OSCAL documents that reference other OSCAL documents and ex

[2018-09-27 19:06] trevor-vaughan commented on #216
@anweiss Sorry about that, didn't mean to edit the HackMD doc.

Anyway, my comment was:

If something like YAML is proposed for the markup, there really should be a way to 'include' text as well as provide internal cross-references to other components. Otherwise, this is too unweildy for average folks.

This is one of the main issues that I had with OpenControl. The ability to automatically cross-

[2018-09-27 19:10] anweiss commented on #216
@trevor-vaughan no worries at all! the YAML is being used purely to provide a human-readable mock up of some potential data elements to be included in those "implementation" sub-layers. And totally agree in that being able to both cross-reference within the document _and_ include text from external sources is definitely something that should be supported.

[2018-09-27 19:11] iMichaela commented on #240
## 9/26/2018 ##
The team: @david-waltermire-nist @wendellpiez & @brianrufgsa & co will meet on Tu, Oct 2, @ 1:00 - 4:00 PM ET.

[2018-09-27 19:13] trevor-vaughan commented on #216
@anweiss I just realized that a concrete example might be useful.

This is what we currently have for one component of the stack (ssh) https://simp.readthedocs.io/en/master/security_mapping/components/ssh/ssh.html and, as you can see, it auto-links back to the referencing policy under each control.

My hope is to be able to link back not only the prose but the technical implementation in a seamles

[2018-09-28 18:51] anweiss commented on #216
This is helpful, thanks! The linking you've described is likely going to be provided by the "component specification" sub-schema as described at a high-level in the notes.

[2018-10-01 12:59] wendellpiez opened #241 "Producing the JSON samples from XML via metaschema conversions"
# User Story:

We still do not have a complete and comprehensive spec for the XML<->JSON mapping (which is subject to finalization of the metaschema and OSCAL declarations models), but we have demo code that shows such conversions live via scripts produced from a metaschema; these can presumably be applied to make equivalent JSON from any (valid) XML we make or acquire.

To promote consistency and

[2018-10-01 13:31] wendellpiez commented on #241
NB by "JSON examples" here we mean not only the examples given in metaschema docs (see #242) but all the provided JSON variants of published catalogs and profiles (in the `content` directory). Ultimately this script may run broadly over subdirectories of content.

Also - an XSLT 3.0 could do this instead of a shell script, picking up sets of XML and dynamically applying conversions to them per det

[2018-10-01 20:39] anweiss opened #243 "Missing optional "required" attributes in some metaschema elements"
The metaschema's own schema (https://github.com/usnistgov/OSCAL/blob/master/build/metaschema/lib/metaschema.xsd) is missing an optional `required` attribute for the following element definitions:

- [`m:assembly`](https://github.com/usnistgov/OSCAL/blob/master/build/metaschema/lib/metaschema.xsd#L145)
- [`m:assemblies`](https://github.com/usnistgov/OSCAL/blob/master/build/metaschema/lib/metaschema

[2018-10-01 21:31] wendellpiez commented on #243
@anweiss this is so awesome this is the level of shakeout we need.

Actually I left `required` off these three elements on purpose. On the principle of "closest fit" (analogous to least privilege) - that I don't actually want to permit anything but single fields (`m:field`) to be "requirable" or (by the schema) required.

If you can offer a use case for where you might wish multiple fields or asse

[2018-10-01 21:40] anweiss commented on #243
This info is quite helpful, thanks. So thus far, I've interpreted the `required` attribute to mean that the field is optional, which in turn, translates to the respective empty/"0" value for that type in JSON. Otherwise, one has no way of knowing from the assembly's model whether or not the field should be output as its empty value or omitted altogether if no data exists.

[2018-10-02 00:34] wendellpiez commented on #243
Lemme add to this that the XML Way is to Omit The Value When It Does Not Exist. 👌 Emitting an empty value we do only as a stopgap. This is not to say that empty values aren't permitted; there is usually no way to prevent them. (Although they can be found easily enough.) Similarly they are generally ignored (treated as though not even there) when given. Providing empty values only to (for example)

[2018-10-02 16:47] anweiss opened #244 "Comparing JSON examples produced from the metaschema using multiple tools"
In support of #197 and #242, below are JSON examples of a catalog and profile which were both produced from `oscalkit` via the metaschema. These can be compared to the examples produced from the XSLT for validating and fine-tuning the metaschema. Any JSON consolidation constructs embedded into the metaschema as a result of #241, #224 and #202 will also be reflected in future example production run

[2018-10-02 16:57] anweiss commented on #244
FWIW, `oscalkit` automatically generates its own code from the metaschemas in ~200 lines of code. The core Go templating logic is contained at https://github.com/opencontrol/oscalkit/blob/master/metaschema/types.tmpl. It's relatively straightforward to enhance this to generate types from the metaschemas for other programming languages.

[2018-10-02 18:45] brianrufgsa commented on #240
SSP Sample XML Work:
[(https://hackmd.io/dATVzahrQludJILDJH675g)]

[2018-10-03 15:33] david-waltermire-nist opened #245 "Implement Support for using JSON Web Signatures for OSCAL JSON Artifacts"
# User Story:

As an OSCAL JSON content creator, I need to be able to use a JSON Web Signature (JWS) ([RFC7515](https://tools.ietf.org/html/rfc7515) to provide integrity and source authentication over OSCAL artifacts I produce.

## Goals:

1. Document a general approach on how JWS can be used to sign an OSCAL JSON artifact. This documentation will be in markdown and integrated into the OSCAL docum

[2018-10-03 15:37] trevor-vaughan commented on #245
@david-waltermire-nist Can there be a mapping of the tool to the associated 140-2 certification to meet the requirements in the mentioned guidelines?

[2018-10-04 18:59] anweiss commented on #245
There should be a mention of JWE in here as well since both JWS and JWE are often used together. Also, FWIW, the JWS payload doesn't necessarily have to be JSON ... could even be XML ... CC @wendellpiez

[2018-10-04 19:10] anweiss commented on #203
@redhatrises are you thinking of some sort of high-level DSL, so to speak?

[2018-10-04 19:13] david-waltermire-nist commented on #240
# From our Face-2-Face meeting on Tuesday (10/2/2018
---

User Story #1 and #2: Integrity of an OSCAL Document

- Need a user stories for how to sign and OSCAL document using XMLDSig for XML and JSON Web Signatures for JSON.

- See solution A below.

User Story: Ensuring the integrity of a referenced resource

GOAL: There is a need to preserve the underlying information of a reference in a way tha

[2018-10-04 19:39] iMichaela commented on #212
## 10/4/2018 ##
This issue is related to #190 . @PCrayton Peter can wrap it by the end of next week. @david-waltermire-nist will review tomorrow the drafts.

[2018-10-04 19:55] brianrufgsa opened #246 "FedRAMP SSP Modeling and Mock-Up"
# User Story:

As a FedRAMP Cloud Service Provider, I need to submit my FedRAMP-complaint System Security Plan in a machine-readable format that is OSCAL compliant/aligned, as defined by the FedRAMP PMO in cooperation with the NIST OSCAL effort.

## Goals:

The ultimate goal is to enable third-party tool development that CSPs can use to develop FedRAMP-compliant SSPs with the guidance of an "exper

[2018-10-04 19:57] iMichaela commented on #216
## 10/4/2018 ##
This issue is still in the experimentation phase (@anweiss ) @wendellpiez has some ideas/concerns:
1. can create a small component fast and start piloting
1. XML or JSON might not be the interface of choice for the data that a component needs to capture. Can MD, YAML, etc.
@anweiss - we need more consensus on the structure first.
@david-waltermire-nist - we have to start somewhere

[2018-10-04 20:00] wendellpiez commented on #240
For reference, NISO STS examples:

[IETF RFC 8142 in STS XML](https://www.niso-sts.org/downloadables/samples/rfc8142.xml)
[DIN EN ISO 13849-1:2008-12, English version, in STS XML](https://www.niso-sts.org/downloadables/samples/DIN_EN_ISO_13849-1_2008-06.nisosts.xml)

These are non-normative, as linked from https://www.niso-sts.org/Samples.html

Note in particular the `<std-ref>` element, [as docum

[2018-10-04 20:01] iMichaela commented on #240
## 10/4/2018 ##
A meeting took place. There is good clarity on the first 2 bullets. @david-waltermire-nist will create user stories by the end of this sprint.
The final issue will be further discussed on Oct 9, during the meeting (@brianrufgsa @david-waltermire-nist @wendellpiez @iMichaela

[2018-10-04 20:01] brianrufgsa commented on #246
[FedRAMP SSP Data Modeling Work](https://hackmd.io/dATVzahrQludJILDJH675g)
[FedRAMP SSP Example Work](https://hackmd.io/UPEc5ya7Sfmu3wcg2UzGzw)

[2018-10-05 18:10] anweiss commented on #216
Here's some initial mock data based on the "component definition" model from the HackMD notes: https://gist.github.com/anweiss/8afd321b6bf2a9d4e1679657a1b8f2fe ... CC @wendellpiez. I've only included one component and one control for brevity. Some thoughts from my prototyping thus far:

- Both provisioning and validation mechanisms should include some sort of `id` prop so they can be cross-referen

[2018-10-05 20:09] wendellpiez commented on #221
A file documenting ID conventions observed in the SP800-53 catalog is now behind PR #237.

https://github.com/wendellpiez/OSCAL/blob/feature-metaschema/content/nist.gov/SP800-53/rev4/conversion-notes.md

Please take a look @anweiss @iMichaela thanks!

[2018-10-08 17:11] shawndwells commented on #246
Instead of XML, could a different language be used? For example, YAML?

[2018-10-08 17:16] brianrufgsa commented on #246
@shawndwells Please take a look at both links in my above comment. The modeling work is YAML, and the mock-up is XML.

[2018-10-09 18:08] wendellpiez commented on #221
A file describing the catalog including notes on conventions followed in ID assignment is now located here:

https://github.com/usnistgov/OSCAL/blob/master/content/nist.gov/SP800-53/rev4/conversion-notes.md

[2018-10-09 19:05] redhatrises commented on #203
@anweiss could be for sure. More so thinking something like:

[code]

[2018-10-09 19:34] shawndwells commented on #203
@anweiss exactly! Creating SCAP by hand was an incredible inhibitor, so the shorthand to create XCCDF now looks like this:

https://github.com/ComplianceAsCode/content/blob/master/applications/openshift/etcd/etcd_cert_file/rule.yml
[code]

A build system (python scripts) assemble the individual pieces into a SCAP specification-correct datastream. Once this shorthand format was implemented humans c

[2018-10-09 19:50] redhatrises commented on #203
That is one of the outcomes for sure but not the intention of this issue. Understood about the metaschema, but the bigger intention is to facilitate an easier onboarding and development of the schema itself from outside contributors and vendors. Starting to hear more and more from US Gov integrators and others how they would love to contribute and help to define and possibly extend the schema but

[2018-10-09 20:09] anweiss commented on #203
@shawndwells ok cool!

@redhatrises agreed in that the XML-based metaschema may be a hindrance for folks wanting to contribute to and/or extend the schema itself. @wendellpiez I wonder if we can provide equivalent .yaml representations of the metaschemas that are a bit more approachable to the community? The metaschema model itself is pretty simplistic and a .yaml equivalent would be a nice way of

[2018-10-10 02:34] shawndwells commented on #246
yikes - my mistake! thanks for the pointer :)

[2018-10-10 15:12] wendellpiez commented on #221
Since PR #247, this file is now in `master`. As @anweiss has noted, documentation in general is in need of refactoring/reorganization -- during which docs now scattered in the file system (like this one) could be brought together. (User Story needed.)

[2018-10-10 21:14] bsilberberg opened #248 "Requesting more Object_id's"
# User Story:

I love that you guys starting adding more object id's to things, but wanted to have them on the other major elements ( that I am working on right now at least). For example. Assessments, and Assessment objects, Each <p> in my schema is its own sub object. So there would be N number of Objects under Examine, N amount under Interview's and N amount under Tests etc. This allows for eac

[2018-10-10 21:20] bsilberberg commented on #221
Sorry i didn't see this thread, before I posed my ticket. #248.

[2018-10-10 21:49] wendellpiez commented on #216
My repo now has a sample made out of Andrew's example, passed through a "refinement" filter to produce an XML equivalent:

https://github.com/wendellpiez/OSCAL/blob/feature-component-definition-issue216/content/component-sandbox/recast-component-sample.xml

The JSON source data is provided in the same folder, as is the XSLT filter.

[2018-10-11 14:37] brianrufgsa commented on #246
As I work through the modeling in the context of FedRAMP processes, I am seeing a possible need to have flexibility in an OSCAL SSP format that can either include the entire SSP, or delivery of the SSP in pieces that can be assembled down-stream.

For example, the inventory may be highly static for some systems and highly dynamic for others. A CSP should have the option to either include the <syst

[2018-10-11 16:07] david-waltermire-nist opened #249 "Design Support for Using XML Digital Signatures for OSCAL XML Artifacts"
# User Story:

As an OSCAL XML content creator, I need to be able to use [XML Digital Signatures (XMLDSig)](https://www.w3.org/TR/xmldsig-core1/) to provide integrity and source authentication over OSCAL XML artifacts I produce.

## Goals:

1. Document a general approach on how XMLDSig can be used to sign an OSCAL XML artifact. This documentation will be in markdown and integrated into the OSCAL d

[2018-10-11 16:16] anweiss commented on #245
Also, @david-waltermire-nist are JWS and XMLDSIG our only options for signing under consideration? Given the new supply chain risk management guidelines introduced in 800-37 Rev 2., should we not also consider additional frameworks/approaches to signing? Thinking [The Update Framework (TUF)](https://theupdateframework.github.io/) or others? I foresee the process by which OSCAL "implementation" art

[2018-10-11 16:40] david-waltermire-nist opened #250 "Provide for referential integrity of resources referenced within OSCAL artifacts"
# User Story:

As an OSCAL content creator, I can provide a hash of a referenced resource in an OSCAL artifact. As an OSCAL content consumer, I have a means to verify that a retrieved resource is the same resource being referenced.

Building on issues #245 and #249, which focus on artifact/document integrity, we need to provide a mechanism that provides referential integrity of referenced resource

[2018-10-11 16:44] david-waltermire-nist commented on #240
Created issues #245 and #249 for signing of JSON and XML artifacts to provide document-level integrity of OSCAL artifacts. Also created issue #250 which provides for referential integrity.

[2018-10-11 16:54] wendellpiez opened #251 "BUG: Profile XSD shows lapse in XSD production from metaschema"
# User Story:

Some correct profile instance documents (XML) cannot be validated against the Profile XSD while its model does not permit `choice` inside `select`. This lapse is happening because the declaration is not being imported correctly into the profile metaschema (from the catalog metaschema) when the XSD is generated.

## Goals:

Correct the schema so that the profile schema matches the ca

[2018-10-11 16:59] david-waltermire-nist opened #252 "Method of documenting organizations and individuals producing OSCAL Artifacts"
# User Story:

As an OSCAL content creator, I have a means to document what organizations and/or individuals have a role in producing, reviewing, publishing, and maintaining an OSCAL artifact. As an OSCAL content consumer, I can identify what organizations and/or individuals had a role in producing, reviewing, publishing, and maintaining an OSCAL artifact.

## Goals:

1. Define a generalized mecha

[2018-10-11 17:00] david-waltermire-nist commented on #240
Created issue #252 to address the documentation of organizational and individual artifact production metadata.

[2018-10-11 17:08] redhatrises commented on #203
Here's a draft sample of a possible yaml representation of a catalog that could be used:

[code]

[2018-10-11 17:24] redhatrises opened #253 "Provide a method for portion marking"
# User Story:

As an OSCAL catalog and profile creator, maintainer, and user, I need the ability to portion mark my
material to the appropriate classification level for pages, paragraphs, titles, descriptions, etc.

## Goals:

DoD/IC communities need to be able to portion mark their documents e.g `PII`, `FOUO`, `Proprietary Level 1`, etc. Obviously this can be done in strings, but I wonder if it w

[2018-10-11 18:41] brianrufgsa commented on #246
This is about 90% complete, but not quite wrapped up. My goal is to have it ready for review by COB Friday, Oct 12.

[2018-10-11 18:44] david-waltermire-nist opened #254 "Identification of OSCAL Artifacts"
# User Story:

As an OSCAL content consumer, I need to be able to identify:
1. Individual OSCAL artifacts by a unique artifact-specific identifier.
1. That two OSCAL artifacts represent minor revisions of the same data set (e.g., SP 800-53 rev4 published today vs SP 800-53 rev4 published tomorrow with minor bug fixes)
1. That two OSCAL artifacts represent different distinct data sets (e.g., SP 800

[2018-10-11 18:44] david-waltermire-nist commented on #240
Created issue #254 to address the differentiation of OSCAL artifacts.

[2018-10-11 19:18] david-waltermire-nist commented on #212
# 10/11/18 Status
---
@PCrayton Will open a PR with the completed catalog and profile documentation in their respective metamodels. @wendellpiez and @david-waltermire-nist will review this.

[2018-10-11 19:19] david-waltermire-nist commented on #190
# 10/11/18 Status
---
Will be addressed by the same PR as #212.

[2018-10-11 20:50] bsilberberg opened #256 "BUG: Wrong data set for link rel when "incorporated-into", for OSCAL Catalog"
Found some bugs, when I was ingesting the data i found some oddities.
[The Catalog](https://github.com/usnistgov/OSCAL/blob/master/content/nist.gov/SP800-53/rev4/NIST_SP-800-53_rev4_catalog.xml)
[code]
what is Chapter 3?

[code]
What is AR-2 or Appendix J?  I dont think these should be set there.

[2018-10-11 21:26] #102 closed, assigned to nobody

[2018-10-12 14:43] anweiss commented on #245
@david-waltermire-nist here's another interesting approach that aims to address a number of JOSE's shortcomings -> https://github.com/paragonie/paseto (https://paseto.io/). Here's the IETF I-D as well -> https://tools.ietf.org/html/draft-paragon-paseto-rfc-00

[2018-10-12 14:52] oscalbuilder commented on #203
@redhatrises How do you envision controls, subcontrols, and parameters to be included in this?

[2018-10-12 15:06] redhatrises commented on #203
This is only a sample of the catalog, but it would be similar to the `references` key. I am toying with a couple of different implementations at the moment and will report back with something more concrete.

[2018-10-12 18:52] anweiss commented on #250
Here's an interesting framework that might be able to address this -> https://github.com/in-toto/in-toto (https://in-toto.github.io/) ...

[2018-10-12 19:59] iMichaela commented on #256
@wendellpiez , @brianrufgsa and @david-waltermire-nist : It looks like the "withdrawn' bug we identified earlier and was supposed to be fixed in the current code is still here. Please note: CP-10(1) is withdrawn and not CP-10(3) as the snapshot above indicates. Also, Chapter 3 is not the one where the control is described. The control is described in Appendix F - see page F-73. However, the inform

[2018-10-12 21:09] wendellpiez commented on #216
@anweiss please look at my branch: I'm looking forward to hearing what you think. I have not taken it past the bare sketch but the sample is XSD valid. (This will also be a good chance for us to shake everything down again.)

The "component" metaschema has no docs in it to speak of just placeholder text, so the generated docs are sketchy.

[2018-10-12 21:58] wendellpiez commented on #216
Regarding @anweiss concerns as expressed in #102 ... I wonder how much of the contents of this component model can be produced by system queries or transformations in a back end, vs having to be written always by hand ... another way to put the question is, whether there is any redundancy here we can collapse or factor out.

[2018-10-12 22:28] wendellpiez commented on #253
@redhatrises how about using a profile to patch control info with the enhancements, as `prop` values for example?

This isn't quite strings since you can mark them and indeed constrain and validate their values using a declaration in the OSCAL declarations layer. (Admittedly we have only tested the declarations-based validation on catalogs, not on resolved profiles. But the same logic would apply.

[2018-10-13 01:02] brianrufgsa commented on #256
I had called these to Wendell's attention a few months ago, as my ingest scripts also flagged these. When we discussed and explored them, we found they were more quirks in the actual document, rather than the data.

In the case of CP-10(3), it is a reference to Chapter 3 of the 800-53 r4 document itself; however, that content is not modeled in OSCAL, so the only href we could use is a pointer to t

[2018-10-13 01:12] brianrufgsa commented on #246
**Consider both the modeling and mock-up at 100% draft and ready to begin peer review.**

For the sake of schedule I am deferring the mock-up for Attachment 4(b) - Privacy Impact Analysis. It still appears in the data modeling. Since this is only required based on the responses in 4(a), and is a separate artifact, it could be treated as an attachment for now, and modeled in OSCAL later with low im

[2018-10-13 04:16] iMichaela commented on #256
I would like to revisit these issues because CP-10(3) is **not** withdrawn as OSCAL version indicates -  only CP-10(1) is withdrawn.  So this is an error.

[2018-10-13 17:11] wendellpiez commented on #256
I am afraid we will need to go back to the NVD XML source data to confirm that the issues are not upstream of the extraction pipeline. There are already a few issues in the NVD sources which are provided for by patching in the mapping logic. We can do the same for any other problems we find. Errors like this can be due either to incorrect logic in the extraction, or incorrect/incomplete source dat

[2018-10-14 21:20] anweiss commented on #216
@wendellpiez ideally external tools or the systems themselves will be producing this data, rather than being handwritten. I'm already seeing some redundancy in the `implementsProfiles` element, namely when two or more profiles select the same control from the underlying catalog and make no modifications to it. This is even demonstrated by our simple example with parameter `ac-10_prm_2`. But I also

[2018-10-15 13:41] wendellpiez commented on #216
@anweiss fantastic, cool. Redundancy does have a sometimes-useful feature: it can provide for cross-checking. Conflicting claims ought to be readily discoverable, and as such may sometimes be "informative". In the context of a pipeline where tooling is available at both ends (which is to say, this stuff will not all always be hand-authored), redundancy troubles me less for this reason among others

[2018-10-15 13:51] bsilberberg commented on #216
Just wanted to clarify, in my head I think as a component as a Service, Software, or Hardware. Also I think there should be a ComponentType concept, so you can group components by type for example, Hardware/Software/service, then under hardware, you could have networking, computer, etc.

Also a Component can be a child of another component correct?

[2018-10-15 13:57] anweiss commented on #216
@wendellpiez good points. And yea, flagging with a `role`, of sorts, might work. I think this warrants further discussion.

@bsilberberg spot on! I think we're also looking to model non-technical elements as components as well (e.g. policies, process, procedure, etc), but haven't dug into this yet. CC @david-waltermire-nist. And the `relationships` key is what can be used to define component relat

[2018-10-15 20:45] anweiss commented on #216
also, any thoughts on a standard format for component definition IDs? maybe SCAP CPEs or some sort of reverse DNS notation for any technical components?

[2018-10-16 18:53] wendellpiez commented on #253
A profile could use patches (`modify` elements) to add this information to controls, subcontrols or control components -- basically anywhere a `prop` element is permitted in a catalog. This might be what you mean by "done with strings". :-)

What sort of enhancement to the spec would you have in mind (and which spec)? Maybe this could be documented as a good example for the kind of enhancement to